<aou-deposit-repeatable-fields [labelSectionToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, depositFormRuleHelper.pathCollection)"
                               [fieldsTemplate]="fieldsTemplate"
                               [formGroupFactory]="formGroupFactory"
                               [formArray]="formArray"
                               [readonly]="readonly"
                               [listFormDefinitions]="listFormDefinitions"
                               [isPanelCollapsable]="true"
                               typePanel="secondary"
></aou-deposit-repeatable-fields>

<ng-template #fieldsTemplate
             let-formGroup="formGroup"
>
  <div class="container">
    <ng-container *ngIf="depositFormRuleHelper.pathCollectionName as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <mat-form-field *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.name) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.depositCollectionName"
                        [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
          <input [formControl]="fd"
                 [required]="formValidationHelper.hasRequiredField(fd)"
                 [solidifyValidation]="errors"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathCollectionNumber as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <mat-form-field *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.number) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.depositCollectionNumber"
                        [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
          <input [formControl]="fd"
                 [required]="formValidationHelper.hasRequiredField(fd)"
                 [solidifyValidation]="errors"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </ng-template>
    </ng-container>
  </div>
</ng-template>
