<h2>{{titleToTranslate | translate}}</h2>

<aou-shared-language-select [listAllLanguages]="listAllLanguages"
                            [listOtherLanguages]="listOtherLanguages"
                            [currentLanguage]="current?.lang"
                            (languageChange)="switchToLanguage($event)"
                            class="languages"
></aou-shared-language-select>

<div class="text">
  <a *ngIf="withUrl; else normal"
     [href]="$any(current).url"
     target="_blank"
     solidifyTooltipOnEllipsis
  >
    <ng-template [ngTemplateOutlet]="text"></ng-template>
  </a>

  <ng-template #normal>
    <ng-template [ngTemplateOutlet]="text"></ng-template>
  </ng-template>
</div>

<!--Template below-->

<ng-template #text>
  <ng-template [ngIf]="current?.text | isNonEmptyString">
    <ng-template [ngIf]="isInnerHtml"
                 [ngIfElse]="noInnerHtml"
    >
      <span [innerHTML]="current.text"></span>
    </ng-template>
    <ng-template #noInnerHtml>
      <span>{{current.text}}</span>
    </ng-template>
  </ng-template>
</ng-template>
