@import "solidify-frontend/lib/core/components/presentationals/abstract-form/abstract-form.presentational";

:host {
  display: block;
  position: relative;

  .language {
    ::ng-deep {
      .current-language {
        border-radius: 0 6px 0 0;
      }
    }
  }
}
