<solidify-empty-container *ngIf="((isEditObs | async) | isFalse) || ((isEditObs | async) | isNullOrUndefined)"
                          solidifyShortCuts
                          [solidifyFocusFirstElement]="false"
                          (onEscape)="backToList()"
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  [mode]="'detail'"
                                  [currentModel]="currentObs | async"
                                  [deleteAvailable]="isDeleteAvailable(currentObs | async)"
                                  [typeButtonDelete]="deleteButtonType"
                                  [colorButtonDelete]="deleteButtonColor"
                                  [listExtraButtons]="listExtraButtons"
                                  (deleteChange)="delete()"
                                  [historyAvailable]="true"
                                  (showHistoryChange)="showHistory()"
  >
  </solidify-button-toolbar-detail>

  <div class="wrapper"
       [solidifySpinner]="isLoadingObs | async"
  >
    <aou-deposit-potential-duplicates *ngIf="(errorDuplicateObs | async) as errorMessage"
                                      [errorMessage]="errorMessage"
    ></aou-deposit-potential-duplicates>

    <aou-deposit-validation-panel *ngIf="(validationErrorObs | async) as listValidationError"
                                  [isValidationMode]="isValidationMode"
                                  [isEditAvailable]="isEditAvailable(currentObs | async)"
                                  [listValidationError]="listValidationError"
                                  [subType]="(currentObs | async)?.subtype?.resId"
                                  [depositId]="(currentObs | async)?.resId"
                                  (navigateChange)="navigate($event)"
    ></aou-deposit-validation-panel>

    <ng-container *ngIf="(metadataDifferencesObs | async) as listDifferences">
      <aou-deposit-metadata-differences-panel *ngIf="listDifferences | isNotNullNorUndefinedNorEmptyObject"
                                              [listDifferences]="listDifferences"
      ></aou-deposit-metadata-differences-panel>
    </ng-container>

    <aou-deposit-summary #depositSummaryPresentational
                         [depositFormModel]="depositFormModelObs | async"
                         [depositId]="depositId"
                         [creator]="(currentObs | async)?.creator"
                         [lastEditor]="(currentObs | async)?.lastEditor"
                         [isValidationMode]="isValidationMode"
                         [listCurrentStatus]="listCurrentStatusObs | async"
                         [romeo]="romeoObs | async"
                         [depositStatus]="(currentObs | async)?.status"
                         [listUserRoleEnum]="listUserRoleEnumObs | async"
                         (navigateChange)="navigate($event)"
                         (navigateToStepChange)="navigateToStep($event)"
                         (refreshValidationErrorChange)="refreshValidationError()"
    ></aou-deposit-summary>

    <aou-deposit-comments-container #depositCommentsContainer
                                    [depositResId]="depositId"
                                    [isValidationMode]="isValidationMode"
    ></aou-deposit-comments-container>
  </div>
</solidify-empty-container>

<router-outlet></router-outlet>
