<aou-deposit-repeatable-fields [labelSectionToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, depositFormRuleHelper.pathFunder)"
                               [headerTemplate]="headerTemplate"
                               [fieldsTemplate]="fieldsTemplate"
                               [formGroupFactory]="formGroupFactory"
                               [formArray]="formArray"
                               [readonly]="readonly"
                               [listFormDefinitions]="listFormDefinitions"
                               [isPanelCollapsable]="true"
                               [canAdd]="false"
                               [canDeleteFirst]="true"
                               [dragCssClass]="'funding'"
                               typePanel="main"
></aou-deposit-repeatable-fields>

<ng-template #headerTemplate>
  <div class="header">
    <mat-form-field *ngIf="formControlOpenAirSearch as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    class="mat-form-field search-field"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.projectFundingInOpenAire | translate}}</mat-label>
      <input #inputElementRef
             [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
             [attr.maxlength]="formControlOpenAirSearchBy.value === KEY_SEARCH_BY_CODE ? INPUT_MAX_LENGTH_CODE : undefined"
             [matAutocomplete]="auto"
      >
      <mat-autocomplete autoActiveFirstOption
                        #auto="matAutocomplete"
                        (optionsScroll)="loadNextChunkOpenAir()"
                        (optionSelected)="openAirProjectSelected($event)"
                        class="autocomplete-open-air-panel"
      >
        <mat-option *ngFor="let option of (openAirProjectObs | async)"
                    [value]="option"
                    class="autocomplete-open-air-option"
        >
                <span solidifyTooltipOnEllipsis
                      class="title"
                >{{option.title}}</span>
          <span solidifyTooltipOnEllipsis
                class="subtitle"
          >{{option.acronym}} [{{option.code}}]</span>
        </mat-option>
      </mat-autocomplete>
      <div *ngIf="((openAirProjectIsLoadingObs | async) || (openAirProjectIsLoadingChunkObs | async)) as isLoading"
           class="spinner-box"
      >
        <div [solidifySpinner]="isLoading"
             [solidifySpinnerStrokeWidth]="2"
             [solidifySpinnerDiameter]="24"
             class="spinner-wrapper"
        ></div>
      </div>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-radio-group *ngIf="formControlOpenAirSearchBy as fd"
                     [formControl]="fd"
                     color="primary"
                     class="radio-field"
    >
      <mat-radio-button [value]="KEY_SEARCH_BY_CODE">
        {{labelTranslateEnum.projectGrantNumber | translate}}
      </mat-radio-button>
      <mat-radio-button [value]="KEY_SEARCH_BY_ACRONYM">
        {{labelTranslateEnum.projectAcronym | translate}}
      </mat-radio-button>
      <mat-radio-button [value]="KEY_SEARCH_BY_NAME">
        {{labelTranslateEnum.projectName | translate}}
      </mat-radio-button>
    </mat-radio-group>

    <button solidifyShortCuts
            (click)="searchOpenAirJournal()"
            (onEnter)="searchOpenAirJournal()"
            aria-label="search open air"
            mat-button
            [disabled]="formControlOpenAirSearch?.value | isNullOrUndefinedOrWhiteString"
            color="primary"
            type="button"
            class="search"
    >
      <solidify-icon [iconName]="iconNameEnum.search"
                     class="size-18 icon"
      ></solidify-icon>
      {{labelTranslateEnum.searchButton | translate}}
    </button>
  </div>
</ng-template>

<ng-template #fieldsTemplate
             let-formGroup="formGroup"
>
  <div class="container">
    <ng-container *ngIf="depositFormRuleHelper.pathFunderFunder as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <mat-form-field *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.funder) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.depositFunderFunder"
                        [class.mat-form-field-invalid]="formValidationHelper.getFormControl(formGroup, formDefinition.funder).value | isNullOrUndefinedOrWhiteString"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
          <input [formControl]="fd"
                 [required]="formValidationHelper.hasRequiredField(fd)"
                 [solidifyValidation]="errors"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathFunderProjectName as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <mat-form-field *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.name) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.depositFunderProjectName"
                        [class.mat-form-field-invalid]="formValidationHelper.getFormControl(formGroup, formDefinition.funder).value | isNullOrUndefinedOrWhiteString"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
          <input [formControl]="fd"
                 [required]="formValidationHelper.hasRequiredField(fd)"
                 [solidifyValidation]="errors"
                 matInput
          >
          <button *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.funder)?.value === environment.fundingSnsfName"
                  (onEnter)="navigateToSnsf(formGroup)"
                  (click)="navigateToSnsf(formGroup)"
                  mat-icon-button
                  matSuffix
                  solidifyShortCuts
          >
            <solidify-icon [iconName]="iconNameEnum.externalLink"
                           matSuffix
                           class="size-16"
            ></solidify-icon>
          </button>
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathFunderProjectCode as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <mat-form-field *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.code) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.depositFunderProjectCode"
                        [class.mat-form-field-invalid]="formValidationHelper.getFormControl(formGroup, formDefinition.funder).value | isNullOrUndefinedOrWhiteString"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
          <input [formControl]="fd"
                 [required]="formValidationHelper.hasRequiredField(fd)"
                 [solidifyValidation]="errors"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathFunderProjectAcronym as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <mat-form-field *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.acronym) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.depositFunderProjectAcronym"
                        [class.mat-form-field-invalid]="formValidationHelper.getFormControl(formGroup, formDefinition.funder).value | isNullOrUndefinedOrWhiteString"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
          <input [formControl]="fd"
                 [required]="formValidationHelper.hasRequiredField(fd)"
                 [solidifyValidation]="errors"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathFunderProjectProgram as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <mat-form-field *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.program) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.depositFunderProjectProgram"
                        [class.mat-form-field-invalid]="formValidationHelper.getFormControl(formGroup, formDefinition.funder).value | isNullOrUndefinedOrWhiteString"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
          <input [formControl]="fd"
                 [required]="formValidationHelper.hasRequiredField(fd)"
                 [solidifyValidation]="errors"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </ng-template>
    </ng-container>
  </div>
</ng-template>
