@import "../deposit-abstract-form-list/deposit-abstract-form-list.presentational";

@mixin funding-line-style {
  .container {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  }
}

:host {
  .header {
    display: grid;
    grid-template-columns: 250px max-content max-content;
    grid-gap: 0 20px;
    align-items: center;
    width: 75%;

    @include respond-to-smaller-than-breakpoint('sm') {
      grid-template-columns: 1fr;
      width: 100%;
    }

    .radio-field {
      display: grid;
      grid-template-columns: max-content max-content max-content;
      grid-gap: 10px;
      margin-bottom: 20px;

      @include respond-to-smaller-than-breakpoint('md') {
        grid-template-columns: max-content;
      }

      @include respond-to-smaller-than-breakpoint('sm') {
        order: -1;
      }
    }

    .mat-form-field {
      .spinner-box {
        display: none;
      }

      &.mat-focused {
        position: relative;

        .spinner-box {
          position: absolute;
          right: 0;
          top: 18px;
          display: block;
          width: 25px;
          height: 25px;
        }
      }
    }

    .search {
      margin-bottom: 20px;
    }
  }

  @include funding-line-style;
}

::ng-deep {
  .cdk-drag-preview.funding {
    @include funding-line-style;
  }

  .autocomplete-open-air-panel {
    .autocomplete-open-air-option {
      line-height: 20px;

      .mat-option-text {
        display: grid;

        .title {
          @include truncate-with-ellipsis;
        }

        .subtitle {
          @include truncate-with-ellipsis;
          font-size: 12px;
          color: $dark-grey;
        }
      }
    }
  }
}

