@use "@angular/material" as mat;
@import "../override/material-override";
@import "../override/dark-mode-override";
@import "../override/light-mode-override";
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$mat-pink-ao: (
    50: #fce4ec,
    100: #f8bbd0,
    200: #f48fb1,
    300: #f06292,
    400: #ec407a,
    500: #e91e63,
    600: #cf0063,
    700: #c2185b,
    800: #ad1457,
    900: #880e4f,
    A100: #ff80ab,
    A200: #ff4081,
    A400: #f50057,
    A700: #c51162,
    contrast: (
        50: $black,
        100: $black,
        200: $black,
        300: $black,
        400: $black,
        500: $white,
        600: $white,
        700: $white,
        800: $white,
        900: $white,
        A100: $black,
        A200: $white,
        A400: $white,
        A700: $white,
    )
);

$primary: mat.m2-define-palette($mat-pink-ao, 800);
$accent: mat.m2-define-palette(mat.$m2-teal-palette, 300, A100, A400);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$aou-theme: mat.m2-define-light-theme(
        $primary,
        $accent,
        $warn
);


$primary-dark: $primary;
$accent-dark: $accent;

$aou-dark-theme: mat.m2-define-dark-theme(
        $primary-dark,
        $accent-dark,
        $warn
);

@include isInTheme($theme-name-aou, true) {
  --primary-main-color: #{map-get($primary, 600)};
  --primary-color: #{map-get($primary, 600)};
  --primary-color-lighter: #f48fb1;
  --accent-color: #{map-get($accent, 600)};
  --accent-main-color: #{map-get($accent, 600)};
  --text-color-in-primary: #ffffff;

  @include mat.all-component-themes($aou-theme);

  &:not([dark-mode='true']) {
    @include aou-material-override;
    @include aou-light-mode-override;
  }

  &[dark-mode='true'] {
    --primary-color: #{map-get($primary-dark, 600)};
    --primary-color-lighter: #f48fb1;
    --accent-color: #{map-get($accent-dark, 600)};
    --text-color-in-primary: #ffffff;
    @include mat.all-component-colors($aou-dark-theme);
    @include aou-material-override;
    @include aou-dark-mode-override;
  }
}
