<solidify-empty-container (keydown.escape)="back()"
                          [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
>
  <div class="button-toolbar"
       [class.with-archive-navigator]="((listObs | async) | isNonEmptyArray) && (queryParametersDetailObs | async)"
  >
    <div class="left-part">
      <button (click)="back()"
              (onEnter)="back()"
              color="primary"
              mat-button
              solidifyShortCuts
      >
        <solidify-icon [iconName]="iconNameEnum.back"></solidify-icon>
        {{getMessageBackButtonToTranslate() | translate}}
      </button>
    </div>

    <div *ngIf="((listObs | async) | isNonEmptyArray) && (queryParametersDetailObs | async)"
         class="archive-navigator"
    >
      <ng-container *ngIf="(queryParametersDetailObs | async) as queryParameters">
        <button (click)="previousPublication()"
                (onEnter)="previousPublication()"
                [title]="labelTranslateEnum.previousResultXOfX | translate :{index: queryParameters.paging.pageIndex, total: queryParameters.paging.length}"
                [class.hide]="queryParameters.paging.pageIndex <= 0"
                color="primary"
                mat-icon-button
                solidifyShortCuts
        >
          <solidify-icon [iconName]="iconNameEnum.back"></solidify-icon>
        </button>

        <div *ngIf="(currentObs | async) as archive"
             class="archive-id"
             solidifyTooltipOnEllipsis
        >{{
                labelTranslateEnum.resultXOfX | translate: {index: queryParameters.paging.pageIndex + 1, total: queryParameters.paging.length}
          }}
        </div>

        <button (click)="nextPublication()"
                (onEnter)="nextPublication()"
                [title]="labelTranslateEnum.nextResultXOfX | translate :{index: (queryParameters.paging.pageIndex + 2), total: queryParameters.paging.length}"
                [class.hide]="queryParameters.paging.pageIndex + 1 >= queryParameters.paging.length"
                color="primary"
                mat-icon-button
                solidifyShortCuts
        >
          <solidify-icon [iconName]="iconNameEnum.next"></solidify-icon>
        </button>
      </ng-container>
    </div>
  </div>

  <div [solidifySpinner]="(isLoadingObs | async)"
       class="wrapper"
  >
    <aou-home-published-deposit-detail *ngIf="(currentObs | async) | isNotNullNorUndefined"
                                       [publishedDeposit]="currentObs | async"
                                       [isLoadingPrepareDownload]="isLoadingPrepareDownloadObs | async"
                                       [relativePublishedDeposit]="listRelativePublishedDepositObs | async"
                                       [publicationStatistics]="statisticsObs | async"
                                       [isLoggedIn]="isLoggedInObs | async"
                                       [listUserRoleEnum]="listUserRoleEnumObs | async"
                                       [isUserUnigeOrHug]="isUserUnigeOrHugObs | async"
                                       [listCitations]="citationsObs | async"
                                       (contactContributorChange)="contactContributor($event)"
                                       (askCorrectionChange)="askCorrection($event)"
                                       (downloadChange)="download($event)"
                                       (previewChange)="showPreview($event)"
                                       (navigateChange)="navigate($event)"
                                       (loginChange)="login($event)"
                                       (showArchiveChange)="showPublishedDeposit($event)"
                                       (updateChange)="update($event)"
                                       (sendToOrcidChange)="sendToOrcid($event)"
    ></aou-home-published-deposit-detail>

    <!--      [listCitations]="citationsObs | async"-->
    <!--      [listBibliographies]="bibliographiesObs | async"-->

  </div>
</solidify-empty-container>

<router-outlet></router-outlet>
