@import "abstracts/abstracts";

@include content();
@include button-toolbar();
@include spinner-wrapper();


:host {
  .button-toolbar {
    display: grid;
    justify-content: space-between;
    grid-template-columns: max-content max-content;
    align-items: center;

    &.with-archive-navigator {
      grid-template-columns: max-content max-content max-content;
    }

    button {
      margin-right: 0;
    }

    .left-part {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 10px;
      align-items: center;
    }

    .archive-navigator {
      display: grid;
      grid-auto-flow: column;
      grid-gap: 10px;
      align-items: center;

      .archive-id {
        max-width: 100px;
        @include truncate-with-ellipsis;
      }
    }
  }

  .hide {
    visibility: hidden;
  }
}
