<solidify-empty-container [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
                          (onEscape)="backToList()"
></solidify-empty-container>
<solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                [mode]="'create'"
                                [formPresentational]="formPresentational"
>
</solidify-button-toolbar-detail>

<div class="wrapper"
     [solidifySpinner]="isLoadingWithDependencyObs | async"
>
  <aou-admin-role-form #formPresentational
                       [solidifyFocusFirstElement]="true"
                       *ngIf="isReadyToBeDisplayedInCreateModeObs | async"
                       (submitChange)="create($event)"
                       (checkAvailableChange)="checkAvailable($event)"
                       (dirtyChange)="updateCanDeactivate($event)"
  ></aou-admin-role-form>
</div>
