<aou-deposit-repeatable-fields [labelSectionToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, depositFormRuleHelper.pathDatasets)"
                               [fieldsTemplate]="fieldsTemplate"
                               [formGroupFactory]="formGroupFactory"
                               [formArray]="formArray"
                               [readonly]="readonly"
                               [listFormDefinitions]="listFormDefinitions"
                               [isPanelCollapsable]="false"
                               typePanel="secondary"
></aou-deposit-repeatable-fields>


<ng-template #fieldsTemplate
             let-formGroup="formGroup"
>
  <ng-container *ngIf="depositFormRuleHelper.pathDatasetsUrl as fieldPath">
    <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
      <solidify-url-input-navigator *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.url) as fd"
                                    [formControl]="fd"
                                    [positionLabel]="positionLabelInputMaterial"
                                    [appearance]="appearanceInputMaterial"
                                    [placeholderToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath)"
                                    [solidifyTooltip]="tooltipTranslateEnum.depositDatasetsUrl"
      >
      </solidify-url-input-navigator>
    </ng-template>
  </ng-container>
</ng-template>
