<div class="host"
     [solidifyFocusFirstElement]="true"
     solidifyShortCuts
     (keydown.escape)="back()"
>
  <solidify-button-toolbar-list [backToListNavigate]="backNavigate()"
                                [isLoading]="isLoadingObs | async"
                                [createAvailable]="options.canCreate | solidifyAsync"
                                [backAvailable]="options.canGoBack"
                                [keyCreateButtonToTranslate]="KEY_CREATE_BUTTON"
                                [keyBackButtonToTranslate]="KEY_BACK_BUTTON"
                                [listExtraButtons]="options?.listExtraButtons"
                                (createChange)="create($event)"
                                (navigateChange)="navigateNavigate($event)"
  ></solidify-button-toolbar-list>

  <div class="wrapper"
       [class.no-data]="(listObs | async)?.length === 0"
       [solidifySpinner]="isLoadingObs | async"
  >
    <ng-template [ngIf]="isLoadingObs | async | isFalse">
      <aou-shared-structure-tree *ngIf="(listObs | async)?.length > 0; else noData"
                                 [listStructure]="listObs | async"
                                 [canDelete]="true"
                                 [canEdit]="true"
                                 (selectChange)="openDetail($event)"
                                 (deleteStructure)="delete($event)"
                                 (editStructure)="goToEdit($event)"
      ></aou-shared-structure-tree>

      <ng-template #noData>
        <span class="no-data-text">{{labelTranslateEnum.noStructure | translate}}</span>
      </ng-template>
    </ng-template>

  </div>
</div>
