@import "solidify-frontend/lib/application/components/routables/abstract-list/abstract-list.routable.scss";

:host {
  .wrapper {
    padding-top: 30px;

    &.no-data {
      display: flex;
      justify-content: center;
      align-items: center;

      .no-data-text {
        text-align: center;
      }
    }
  }
}
