<div class="button-toolbar">
  <button (click)="backToPinboard()"
          (onEnter)="backToPinboard()"
          color="primary"
          mat-button
          solidifyShortCuts
  >
    <solidify-icon [iconName]="iconNameEnum.back"></solidify-icon>
    {{labelTranslateEnum.backToPinboard | translate}}
  </button>
</div>

<div class="selected-data-section">
  <h2>{{labelTranslateEnum.selectedElements | translate}}</h2>

  <div *ngIf="listAdvancedSearch.length > 0">
    <h3>{{labelTranslateEnum.advancedSearch | translate}}</h3>
    <ul>
      <li *ngFor="let advancedSearch of listAdvancedSearch; let i = index; trackBy: trackByFnAdvancedSearch">
        <a class="data"
           [routerLink]="'/' + listAdvancedSearchNavigate[i].path"
           [queryParams]="listAdvancedSearchNavigate[i].queryParams"
        >{{advancedSearch.name}}</a>
      </li>
    </ul>
  </div>

  <div *ngIf="listPinned.length > 0">
    <h3>{{labelTranslateEnum.publications | translate}}</h3>
    <ul>
      <li *ngFor="let deposit of listPinned; let i = index; trackBy: trackByFnPinned">
        <a class="data"
           [routerLink]="'/' + listPinnedUrl[i]"
           [innerHTML]="deposit.title"
        ></a>
      </li>
    </ul>
  </div>

  <div *ngIf="contributor | isNotNullNorUndefined">
    <h3>{{labelTranslateEnum.contributor | translate}}</h3>
    <p>{{contributor.displayName}}</p>
  </div>

</div>

<div *ngIf="form | isNotNullNorUndefined"
     class="setting-section"
>
  <h2>{{labelTranslateEnum.settings | translate}}</h2>

  <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.settings | translate"
                             [isOpen]="true"
                             [isOutline]="true"
                             class="panel-setting"
  >
    <mat-form-field *ngIf="getFormControl(formDefinition.lang) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    solidifyTooltipOnEllipsis
                    class="language"
    >
      <mat-label>{{labelTranslateEnum.language | translate}}</mat-label>
      <mat-select [formControl]="fd"
                  [solidifyValidation]="errors"
      >
        <mat-option *ngFor="let language of listLanguages"
                    [value]="language"
                    solidifyTooltipOnEllipsis
        >
          {{enumUtil.getLabel(languageEnumTranslate, language) | translate}}
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.format) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    solidifyTooltipOnEllipsis
                    class="format-input"
    >
      <mat-label>{{labelTranslateEnum.format | translate}}</mat-label>
      <mat-select [formControl]="fd"
                  [solidifyValidation]="errors"
      >
        <mat-option *ngFor="let format of (listBibliographyFormatObs | async)"
                    [value]="format.name"
                    solidifyTooltipOnEllipsis
        >
          {{format.labels | backtranslate}}
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.sort) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.sort | translate}}</mat-label>
      <mat-select [formControl]="fd"
                  [solidifyValidation]="errors"
      >
        <mat-option *ngFor="let sortType of sortTypeEnumTranslate"
                    [value]="sortType.key"
                    solidifyTooltipOnEllipsis
        >
          {{sortType.value | translate}}
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    @if (getFormControl(formDefinition.sort)?.value !== sortTypeEnum.VALIDATION_DATE) {
      <ng-container *ngIf="getFormControl(formDefinition.group) as fd">

        <mat-form-field [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{labelTranslateEnum.group | translate}}</mat-label>
          <mat-select [formControl]="fd"
                      [solidifyValidation]="errors"
                      (selectionChange)="manageGroupBySubtypeValue()"
          >
            <mat-option *ngFor="let group of groupEnumTranslate"
                        [value]="group.key"
                        solidifyTooltipOnEllipsis
            >
              {{group.value | translate}}
            </mat-option>
          </mat-select>
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>

        @if (fd.value === groupEnum.DOCUMENT_TYPE || fd.value === groupEnum.YEAR_AND_DOCUMENT_TYPE) {
          <mat-checkbox *ngIf="getFormControl(formDefinition.groupBySubtype) as fds"
                        [formControl]="fds"
                        color="primary"
                        class="cb-align-center"
          >{{labelTranslateEnum.groupBySubtype | translate}}
          </mat-checkbox>
        }
      </ng-container>
    }

    <mat-form-field *ngIf="getFormControl(formDefinition.limit) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.maximumNumberOfDocumentsToShow | translate}}</mat-label>
      <input [formControl]="fd"
             [solidifyValidation]="errors"
             [min]="LIMIT_MIN_VALUE"
             type="number"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

  </solidify-panel-expandable>

  <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.anteriority | translate"
                             [isOpen]="true"
                             [isOutline]="true"
                             class="panel-anteriority"
  >

    <mat-radio-group *ngIf="getFormControl(formDefinition.anteriority) as fdAnteriority"
                     [formControl]="fdAnteriority"
                     class="radio-group"
                     color="primary"
    >
      <mat-radio-button [value]="anteriorityEnum.all">
        {{"bibliography.anteriority.allTheYears" | translate}}
      </mat-radio-button>

      <mat-radio-button [value]="anteriorityEnum.between">
        {{"bibliography.anteriority.betweenTheYears" | translate}}

        <mat-form-field *ngIf="getFormControl(formDefinition.fromYear) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        solidifyTooltipOnEllipsis
                        class="no-padding-input"
        >
          <input [formControl]="fd"
                 [solidifyValidation]="errors"
                 (focus)="selectAnteriorityIfNot(anteriorityEnum.between)"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>

        {{"bibliography.anteriority.betweenTheYearsAnd" | translate}}

        <mat-form-field *ngIf="getFormControl(formDefinition.toYear) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        solidifyTooltipOnEllipsis
                        class="no-padding-input"
        >
          <input [formControl]="fd"
                 [solidifyValidation]="errors"
                 (focus)="selectAnteriorityIfNot(anteriorityEnum.between)"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>

        {{"bibliography.anteriority.betweenTheYearsIncluded" | translate}}
      </mat-radio-button>

      <mat-radio-button [value]="anteriorityEnum.since">
        {{"bibliography.anteriority.sinceTheYear" | translate}}

        <mat-form-field *ngIf="getFormControl(formDefinition.sinceYear) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        solidifyTooltipOnEllipsis
                        class="no-padding-input"
        >
          <input [formControl]="fd"
                 [solidifyValidation]="errors"
                 (focus)="selectAnteriorityIfNot(anteriorityEnum.since)"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>

        {{"bibliography.anteriority.sinceTheYearIncluded" | translate}}
      </mat-radio-button>

      <mat-radio-button [value]="anteriorityEnum.lastYear">
        <mat-form-field *ngIf="getFormControl(formDefinition.years) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        solidifyTooltipOnEllipsis
                        class="no-padding-input"
        >
          <input [formControl]="fd"
                 [solidifyValidation]="errors"
                 (focus)="selectAnteriorityIfNot(anteriorityEnum.lastYear)"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>

        {{"bibliography.anteriority.lastYears" | translate}}
      </mat-radio-button>

    </mat-radio-group>


  </solidify-panel-expandable>

  <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.links | translate"
                             [isOpen]="true"
                             [isOutline]="true"
                             class="panel-link"
  >

    <mat-checkbox *ngIf="getFormControl(formDefinition.linkOnAllText) as fd"
                  [formControl]="fd"
                  color="primary"
    >{{labelTranslateEnum.createTheLinkOnTheWholeText | translate}}
    </mat-checkbox>

    <mat-checkbox *ngIf="getFormControl(formDefinition.linkTargetBlank) as fd"
                  [formControl]="fd"
                  color="primary"
    >{{labelTranslateEnum.openLinksInANewWindow | translate}}
    </mat-checkbox>

  </solidify-panel-expandable>

  <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.miscellaneous | translate"
                             [isOpen]="true"
                             [isOutline]="true"
                             class="panel-other"
  >
    <mat-checkbox *ngIf="getFormControl(formDefinition.withAbstract) as fd"
                  [formControl]="fd"
                  color="primary"
    >{{labelTranslateEnum.includeAbstract | translate}}
    </mat-checkbox>

    <mat-checkbox *ngIf="getFormControl(formDefinition.withThumbnail) as fd"
                  [formControl]="fd"
                  color="primary"
    >{{labelTranslateEnum.includeThumbnail | translate}}
    </mat-checkbox>

    <mat-checkbox *ngIf="getFormControl(formDefinition.withAccessLevel) as fd"
                  [formControl]="fd"
                  color="primary"
    >{{labelTranslateEnum.includeTheLevelOfDiffusion | translate}}
    </mat-checkbox>

  </solidify-panel-expandable>
</div>

<ng-template [ngIf]="scriptCode">
  <div class="html-section">
    <span>{{labelTranslateEnum.htmlCodeToIncludeInYourWebPage | translate}}</span>
    <div class="code-content">
      <div class="left script-wrapper">
        <code *ngIf="ssrUtil.isBrowser"
              [matTooltip]="labelTranslateEnum.copyToClipboard | translate"
              (click)="copyToClipboard()"
              [highlight]="scriptCode"
              [language]="'html'"
        >
        </code>
      </div>
      <div class="right">
        <button (click)="copyToClipboard()"
                (onEnter)="copyToClipboard()"
                [matTooltipPosition]="'above'"
                [matTooltip]="labelTranslateEnum.copyToClipboard | translate"
                class="copy-button"
                mat-icon-button
                solidifyShortCuts
        >
          <solidify-icon [iconName]="iconNameEnum.copyToClipboard"></solidify-icon>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="(listObs | async) | isNonEmptyArray"
       class="result-section"
  >
    <h3>{{labelTranslateEnum.resultOfTheIntegration | translate}}</h3>
    <div [solidifySpinner]="bibliographyLoading"
         [solidifySpinnerHeight]="50"
         class="result-injected"
    >
      <div #divScriptInject
           [id]="divPrefix + divUid"
      ></div>
    </div>
  </div>
</ng-template>
