@import "solidify-frontend/lib/application/components/routables/abstract-resource/abstract-resource.routable";
@import "abstracts/abstracts";

:host {
  display: grid;
  grid-gap: 30px;

  h2 {
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 10px;
  }

  .title {
    margin-bottom: 10px;
  }

  .selected-data-section {
    display: grid;
    grid-gap: 20px;

    h2 {
      margin-bottom: 0;
    }

    ul {
      li {
        border-left: 3px solid $primary-color;
        padding: 4px 10px;
        cursor: pointer;
        margin-bottom: 10px;

        .data {
          display: inline-block;

          &:hover {
            color: $primary-color;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .data-source {
    display: grid;
    grid-gap: 40px;

    .pinned {
      .list {
        > li {
          cursor: pointer;
        }
      }
    }
  }


  .data-result {
    margin-top: 40px;
  }

  .panel-setting {
    .format-input {
      width: 400px;
    }

    .cb-align-center {
      margin-top: 25px;
    }

    ::ng-deep {
      .content {
        padding-top: 20px !important;
        padding-bottom: 0px !important;
      }

      .mat-form-field-wrapper {
        padding-bottom: 5px !important;
      }
    }
  }

  .panel-setting,
  .panel-link,
  .panel-other {
    ::ng-deep {
      .content {
        display: flex;
        gap: 5px 20px;
        flex-wrap: wrap;
      }
    }
  }

  .panel-anteriority {
    ::ng-deep {
      .content {
        padding-top: 10px !important;
      }
    }

    .radio-group {
      display: flex;
      flex-direction: column;

      .mat-radio-button {
        min-height: 40px;
        display: flex;
        align-items: center;
      }

      ::ng-deep {
        .mat-radio-label-content {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }

      .no-padding-input {
        @include remove-padding-mat-form-field;
        width: 68px;

        ::ng-deep {
          .mat-mdc-form-field-infix {
            min-height: 35px;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
          }
        }
      }
    }
  }

  .script-wrapper {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid $outline;
    cursor: pointer;

    code {
      white-space: break-spaces;
    }
  }

  .code-content {
    display: flex;
  }

  .left,
  .right {
    padding: 0.5rem;
    flex-grow: 1;
  }

  .result-injected {
    border: 1px solid $outline;
    border-radius: 5px;
    padding: 10px;

    ::ng-deep {
      h3 {
        font-size: 1.1em;
        margin: 10px 0;
        font-weight: bold;
      }

      h4 {
        font-size: 1em;
        margin: 10px 0;
        font-weight: bold;
      }

      h5 {
        font-size: 0.9em;
        margin: 10px 0;
        font-weight: bold;
      }

      ul {
        padding: 5px;
        margin: 0 0 0 30px;

        li {
          list-style-type: disc !important;
        }
      }
    }
  }
}

@include isInDarkMode {
  .script-wrapper {
    background-color: #0d1117;
    border-color: $grey;
  }
}
