<aou-shared-file-version [fileVersion]="documentFile.documentFileType?.value"
                         [size]="'size-30'"
></aou-shared-file-version>
<div>
  <span>{{label}}</span>
  <span *ngIf="documentFile.label | isNonEmptyString"> - {{documentFile.label}}</span>
</div>
