@import "abstracts/abstracts";

:host {
  .form-wrapper {
    display: grid;

    .sender-name,
    .sender-email {
      width: 300px;

      @include respond-to-smaller-than-breakpoint('md') {
        width: 100%;
      }
    }

    .message {

    }
  }

  .footer {
    justify-content: flex-end;
    align-items: center;
  }
}
