<div *ngIf="data | isNotNullNorUndefined" @overlay class="overlay">
  <div class="avatar-wrapper">
    <solidify-avatar [userInfo]="user"
                    [mode]="imageDisplayModeEnum.IN_OVERLAY"
                    [photoUser]="avatarUrl"
                    class="avatar"
    ></solidify-avatar>
  </div>

  <div class="informations">
    <div class="fullname" solidifyTooltipOnEllipsis>
      {{firstName}}  {{lastName}}
      <div *ngIf="orcid | isNotNullNorUndefinedNorWhiteString"
          (click)="orcidPresentational.navigateToOrcid()">
        <solidify-button-orcid #orcidPresentational
                              [orcid]="data.orcid"
                              [isImageClickable]="false"
                              class="image-orcid"
        ></solidify-button-orcid>
      </div>
    </div>


    @if (contributor) {
      <div *ngIf="(contributor.structures | isNonEmptyArray) || (contributor.researchGroups | isNonEmptyArray)"
            class="associations">
        <aou-home-structure-list-container [structures]="contributor.structures"
                                            class="structures"
        ></aou-home-structure-list-container>

        <aou-home-research-group-list-container [researchGroups]="contributor.researchGroups"
                                                class="research-groups"
        ></aou-home-research-group-list-container>
      </div>
    }

    <div class="links-shortcut">
      <div *ngIf="searchLink | isNotNullNorUndefined" class="search">
        <solidify-icon [iconName]="iconNameEnum.search"
                        class="icon">
        </solidify-icon>
        <a [routerLink]="'/' + searchLink.path"
            [queryParams]="searchLink.queryParams">
          {{labelTranslateEnum.searchContributorsPublications | translate}}
        </a>
      </div>
      <div *ngIf="contributor | isNotNullNorUndefined" class="see-contributor-page">
        <solidify-icon [iconName]="iconNameEnum.contributor"
                        class="icon">
        </solidify-icon>
        <a *ngIf="contributorPageLink"
            [routerLink]="'/' + contributorPageLink.path"
            [queryParams]="contributorPageLink.queryParams">
          {{labelTranslateEnum.seeContributorPage | translate}}
        </a>
      </div>
    </div>
  </div>
</div>
