@import "../../../../../shared/components/presentationals/shared-resource-logo-overlay/shared-resource-logo-overlay.presentational";


:host {
  .overlay {
    .informations {
      display: grid;
      align-items: center;
      grid-template-rows: max-content max-content;
      grid-gap: 8px;

      .fullname {
        font-weight: bold;
        font-size: 20px;
        display: grid;
        grid-template-columns: max-content max-content;
        grid-gap: 5px;
        align-items: center;
        cursor: pointer;
      }

      .orcid-wrapper {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-gap: 5px;
        align-items: center;
        cursor: pointer;

        .logo {

        }

        .orcid {
          font-size: 12px;
        }
      }

      .associations {
        display: grid;
        grid-gap: 5px;

        ::ng-deep {
          font-size: 12px;
        }
      }

      .links-shortcut {
        .search,
        .see-contributor-page {
          display: grid;
          align-items: center;
          grid-template-columns: 24px max-content;
          grid-gap: 5px;
          font-size: 13px;

          .icon {
            color: $text-color;
          }

          a {
            width: fit-content;
          }
        }
      }
    }
  }
}


:host {
  @include isInDarkMode {
    .overlay {
      .informations {
        .links-shortcut {
          .search,
          .see-contributor-page {
            .icon {
              color: $dark-mode-text-color;
            }
          }
        }
      }
    }
  }
}
