@import "abstracts/abstracts";

:host {
  display: block;
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: $z-index-deposit-step-header;
  padding-bottom: 20px;

  .steps-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $extra-light-grey;

    @include respond-to-smaller-than-breakpoint('md') {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }

    .step-header {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-gap: 10px;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      color: $text-color;

      &.is-clickable {
        cursor: pointer;
      }

      &.with-icon {
        grid-template-columns: 30px 1fr;
      }

      .icon {
        padding-right: 5px;
      }

      @include respond-to-smaller-than-breakpoint('md') {
        padding: 8px;
        grid-template-columns: 1fr;
        text-align: center;
      }

      .number {
        $size: 22px;
        width: $size;
        height: $size;
        border-radius: $size;
        background-color: rgba(0, 0, 0, 0.54);
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond-to-smaller-than-breakpoint('md') {
          justify-self: center;
        }
      }

      .label {
        .short {
          display: none;
        }

        @include respond-to-smaller-than-breakpoint('md') {
          @include truncate-with-ellipsis;

          .long {
            display: none;
          }
          .short {
            display: initial;
          }
        }
      }

      &.is-active {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;

        .number {
          background-color: $primary-color;
        }
      }

      &.is-in-error {
        color: $error;

        .number {
          background-color: $error;
        }
      }

      ::ng-deep {
        .mat-badge-content {
          background-color: $error;
        }
      }
    }
  }
}

@include isInDarkMode {
  :host {
    background-color: $dark-mode-background;

    .steps-header-container {
      border-color: $dark-mode-line;

      .step-header {
        color: $dark-mode-text-color;

        &.is-active {
          color: $primary-color;
        }

        &.is-in-error {
          color: $error;
        }
      }
    }
  }
}
