<ul class="steps-header-container">
  <li *ngFor="let step of steps; let i = index; trackBy: trackByFn"
      (click)="desireGoTo(step)"
      (onEnter)="desireGoTo(step)"
      [class.is-in-error]="(step.numberErrors | isNotNullNorUndefined) && (step.numberErrors() | solidifyAsync) > 0"
      [class.is-active]="i <= currentStepIndex"
      [class.is-clickable]="(i < currentStepIndex || i === currentStepIndex + 1) && currentStepValid"
      [matRippleDisabled]="i > currentStepIndex + 1 || i === currentStepIndex || !currentStepValid"
      [solidifyDataTest]="step.dataTest"
      [tabIndex]="0"
      class="step-header step-{{step.id | lowercase}}"
      id="step-{{step.id | lowercase}}"
      matRipple
      solidifyShortCuts
  >
    <span class="number">
      {{i + 1}}
    </span>
    <span [matBadgeHidden]="(step.numberErrors | isNullOrUndefined) || (step.numberErrors() | solidifyAsync) === 0"
          [matBadge]="$any((step.numberErrors | isNullOrUndefined) || (step.numberErrors() | solidifyAsync))"
          class="label"
          matBadgeColor="primary"
          matBadgeOverlap="false"
          matBadgeSize="small"
    >
      <span class="long">
        {{step.titleToTranslate | translate}}
      </span>
      <span class="short">
        {{step.titleShortToTranslate | translate}}
      </span>
    </span>
  </li>
</ul>
