<div *ngIf="formGroup && display"
     class="form-one-columns"
>
  <div *ngIf="!displayMainInformationEditable"
       class="deposit-main-information-readonly"
       [class.with-languages]="getFormArray(depositFormRuleHelper.pathLanguages)?.value | isNonEmptyArray"
  >
    <div class="left-part">
      <h1 class="title"
          [innerHTML]="model.title"
      ></h1>
      <h2 *ngIf="depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathOriginalTitle) &&
      (getFormControl(depositFormRuleHelper.pathOriginalTitleText)?.value | isNonEmptyString)"
          class="original-title"
      >{{getFormControl(depositFormRuleHelper.pathOriginalTitleText)?.value}}</h2>
      <h3 class="subtitle">{{model.subtype?.name}}
        <ng-template [ngIf]="model.subSubtype?.name"> - {{model.subSubtype.name}}</ng-template>
      </h3>

      @if (isDepositNotBeingUpdated) {
        <div *ngIf="
      (
        (getFormControl(depositFormRuleHelper.pathDoctorAddress)?.value | isNonEmptyString)
        ||
        (getFormControl(depositFormRuleHelper.pathDoctorEmail)?.value | isNonEmptyString)
      )
      &&
      (
        (depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathDoctorAddress)
        ||
        depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathDoctorEmail))
        && !depositFormRuleHelper.isThesisBefore2010OrAuthorBeforeUnige(mainFormGroup)
      )"
             class="doctor-contact"
        >
          <div class="label">{{labelTranslateEnum.doctorContact | translate}} :</div>
          <div class="wrapper">
            <ng-container *ngIf="getFormControl(depositFormRuleHelper.pathDoctorAddress)?.value as address">
              <div *ngIf="(address | isNonEmptyString) && depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathDoctorAddress)"
                   class="address"
              >{{address}}
              </div>
            </ng-container>

            <ng-container *ngIf="getFormControl(depositFormRuleHelper.pathDoctorEmail)?.value as mail">
              <div *ngIf="(mail | isNonEmptyString) && depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathDoctorEmail) ">
                <a class="no-link"
                   [href]="'mailto:'+mail"
                >{{mail}}</a>
              </div>
            </ng-container>
          </div>
        </div>
      }
    </div>

    <div class="right-part">
      <button mat-button
              class="button-edit"
              color="primary"
              solidifyShortCuts
              (click)="displayMainInformationInEditionMode()"
              (onEnter)="displayMainInformationInEditionMode()"
      >
        <solidify-icon [iconName]="iconNameEnum.edit"></solidify-icon>
        {{labelTranslateEnum.edit | translate}}
      </button>
    </div>

    <div *ngIf="getFormArray(depositFormRuleHelper.pathLanguages)?.value as languages"
         class="corner-info general-lang"
    >
      {{formatLanguages(languages)}}
    </div>
  </div>

  <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.mainInformationOfDeposit"
                             [isOpen]="true"
                             [tooltip]="tooltipTranslateEnum.depositPanelMainInformationOfDeposit"
                             class="panel deposit-main-info-editable main-panel"
                             [class.is-hide]="!displayMainInformationEditable"
  >
    <ng-container *ngIf="depositFormRuleHelper.pathTitle as fieldPath">
      <div *ngIf="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)"
           class="deposit-title"
           [class.with-fix-button]="(mainFormGroup.get(depositFormRuleHelper.pathTitleText)?.value | isNonWhiteString) && isValidationMode"
      >
        <aou-deposit-form-description-text-language *ngIf="getFormGroup(fieldPath) as fd"
                                                    [formGroup]="fd"
                                                    [labelToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath)"
                                                    [listLanguages]="listLanguages"
                                                    [isMandatoryLanguage]="true"
                                                    [mainFormGroup]="mainFormGroup"
                                                    [path]="fieldPath"
                                                    [hideLanguage]="!(depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath + '.' +
                                                    formDefinitionText.lang))"
                                                    [solidifyTooltip]="tooltipTranslateEnum.depositTitle"
                                                    [tooltipText]="tooltipTranslateEnum.depositTitleText"
                                                    [tooltipLanguage]="tooltipTranslateEnum.depositTitleLanguage"
                                                    [displayInitialText]="isValidationMode"
                                                    [isTextarea]="true"
                                                    [isRichText]="true"
                                                    [isLinkAllowed]="false"
                                                    [isBoldAllowed]="false"
                                                    [textareaMaxRows]="3"
                                                    [textareaMinRows]="1"
                                                    [solidifyFormControlElementRef]="fd"
        ></aou-deposit-form-description-text-language>

        <div *ngIf="(getFormControl(depositFormRuleHelper.pathTitleText)?.value | isNonWhiteString) && isValidationMode"
             class="button-wrapper"
        >
          <button (click)="fixTitle(getFormControl(fieldPath))"
                  (onEnter)="fixTitle(getFormControl(fieldPath))"
                  solidifyShortCuts
                  mat-button
                  class="button-fix"
                  color="accent"
          >
            <solidify-icon [iconName]="iconNameEnum.autoFix"></solidify-icon>
            {{labelTranslateEnum.fix | translate}}
          </button>
        </div>

        <div *ngIf="!displayOriginalTitle && !(getFormControl(depositFormRuleHelper.pathOriginalTitleText)?.value | isNonEmptyString) &&
      depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathOriginalTitle)"
             class="button-wrapper"
        >
          <button mat-button
                  class="button-add"
                  color="primary"
                  solidifyShortCuts
                  (click)="addOriginalTitle()"
                  (onEnter)="addOriginalTitle()"
                  [disabled]="getFormGroup(fieldPath)?.value | isNonEmptyString"
          >
            <solidify-icon [iconName]="iconNameEnum.add"
                           class="icon"
            ></solidify-icon>
            {{labelTranslateEnum.otherTitle | translate}}
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathLanguages as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <aou-deposit-form-description-language *ngIf="getFormArray(fieldPath) as fd"
                                               #depositDescriptionLanguagePresentational
                                               [formArray]="fd"
                                               [listLanguages]="listLanguages"
                                               [mainFormGroup]="mainFormGroup"
                                               [solidifyTooltip]="tooltipTranslateEnum.depositLanguages"
                                               [solidifyFormControlElementRef]="fd"
        ></aou-deposit-form-description-language>
      </ng-template>
    </ng-container>

    <ng-template [ngIf]="(getFormControl(depositFormRuleHelper.pathOriginalTitleText)?.value | isNonEmptyString) || displayOriginalTitle">
      <ng-container *ngIf="depositFormRuleHelper.pathOriginalTitle as fieldPath">
        <div *ngIf="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)"
             class="deposit-original-title"
             [class.with-fix-button]="(getFormControl(depositFormRuleHelper.pathOriginalTitleText)?.value | isNonWhiteString) && isValidationMode"
        >
          <aou-deposit-form-description-text-language *ngIf="getFormGroup(fieldPath) as fd"
                                                      #originalTitleTextLanguage
                                                      [formGroup]="fd"
                                                      [isMandatoryLanguage]="true"
                                                      [labelToTranslate]="labelTranslateEnum.otherTitle"
                                                      [listLanguages]="listLanguages"
                                                      [path]="fieldPath"
                                                      [mainFormGroup]="mainFormGroup"
                                                      [solidifyTooltip]="tooltipTranslateEnum.depositOriginalTitle"
                                                      [tooltipText]="tooltipTranslateEnum.depositOriginalTitleText"
                                                      [tooltipLanguage]="tooltipTranslateEnum.depositOriginalTitleLanguage"
                                                      [displayInitialText]="isValidationMode"
                                                      [isTextarea]="true"
                                                      [textareaMaxRows]="3"
                                                      [textareaMinRows]="1"
                                                      [solidifyFormControlElementRef]="fd"
          ></aou-deposit-form-description-text-language>

          <div *ngIf="(getFormControl(depositFormRuleHelper.pathOriginalTitleText)?.value | isNonWhiteString) && isValidationMode"
               class="button-wrapper"
          >
            <button (click)="fixTitle(getFormControl(fieldPath))"
                    (onEnter)="fixTitle(getFormControl(fieldPath))"
                    solidifyShortCuts
                    mat-button
                    class="button-fix"
                    color="accent"
            >
              <solidify-icon [iconName]="iconNameEnum.autoFix"></solidify-icon>
              {{labelTranslateEnum.fix | translate}}
            </button>
          </div>
        </div>
      </ng-container>
    </ng-template>

    <aou-deposit-form-type-subtype [formGroup]="formGroup"
                                   [mainFormGroup]="mainFormGroup"
                                   [disabled]="disabled"
                                   [listDepositSubSubtype]="listDepositSubSubtype"
                                   [listDepositSubtype]="listDepositSubtype"
                                   [readonly]="readonly"
                                   (subtypeChange)="subtypeChange($event)"
                                   class="subtype"
    ></aou-deposit-form-type-subtype>

    <div *ngIf="isDepositNotBeingUpdated"
         class="two-columns doctor-infos"
    >
      <ng-container *ngIf="depositFormRuleHelper.pathDoctorEmail as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath) &&
          !depositFormRuleHelper.isThesisBefore2010OrAuthorBeforeUnige(mainFormGroup)"
        >
          <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                          [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          [solidifyTooltip]="tooltipTranslateEnum.depositDoctorEmail"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString) || fd.invalid)
                          && !isUpdatingDeposit(model)"
                          solidifyTooltipOnEllipsis
                          class="doctor-email"
          >
            <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
            <input [formControl]="fd"
                   [required]="formValidationHelper.hasRequiredField(fd)"
                   [solidifyValidation]="errors"
                   matInput
                   type="email"
            >
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="depositFormRuleHelper.pathDoctorAddress as fieldPath">
        <ng-template
            [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath) &&
            !depositFormRuleHelper.isThesisBefore2010OrAuthorBeforeUnige(mainFormGroup)"
        >
          <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                          [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          [solidifyTooltip]="tooltipTranslateEnum.depositDoctorAddress"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString) || fd.invalid)
                          && !isUpdatingDeposit(model)"
                          solidifyTooltipOnEllipsis
                          class="doctor-address"
          >
            <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
            <textarea [formControl]="fd"
                      [required]="formValidationHelper.hasRequiredField(fd)"
                      [solidifyValidation]="errors"
                      cdkAutosizeMaxRows="10"
                      cdkAutosizeMinRows="3"
                      cdkTextareaAutosize
                      matInput
            >
            </textarea>
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>
    </div>
  </solidify-panel-expandable>

  <solidify-panel-expandable [titleToTranslate]="isPublicationHost ? labelTranslateEnum.hostDeposit : labelTranslateEnum.bibliographicInformation"
                             [isOpen]="true"
                             [tooltip]="isPublicationHost ? tooltipTranslateEnum.depositPanelHostDeposit :
                             tooltipTranslateEnum.depositPanelBibliographicInformation"
                             class="panel deposit-link-panel main-panel"
  >
    <div *ngIf="depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathContainerTitle) || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierIssn)"
         class="two-columns ratio-1-max-content container-title-issn-wrapper"
         [class.with-search]="displayButtonSearchContainerTitleOrIdentifier"
    >

      <ng-container *ngIf="depositFormRuleHelper.pathContainerTitle as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
          <div class="container-title-wrapper"
               [class.with-checkbox]="displayExtendedSearchCheckbox"
          >
            <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                            [appearance]="appearanceInputMaterial"
                            [floatLabel]="positionLabelInputMaterial"
                            [solidifyTooltip]="tooltipTranslateEnum.depositContainerTitle"
                            [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                            class="mat-form-field"
                            solidifyTooltipOnEllipsis
            >
              <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
              <input #inputContainerTitle
                     [formControl]="fd"
                     [required]="formValidationHelper.hasRequiredField(fd)"
                     [solidifyValidation]="errors"
                     [matAutocomplete]="auto"
                     (focus)="searchDataJournal(KEY_CONTAINER_TITLE, fd.value)"
                     matInput
              >
              <mat-autocomplete autoActiveFirstOption
                                #auto="matAutocomplete"
                                (optionsScroll)="loadNextChunkContainerTitle()"
                                (optionSelected)="journalTitleDataSelected($event)"
                                class="autocomplete-journal-panel"
              >
                <mat-option *ngFor="let option of (containerTitleFilteredOptionsObs | async)"
                            class="autocomplete-journal-option"
                            [value]="option"
                >
                <span solidifyTooltipOnEllipsis
                      class="title"
                >{{containerTitleFilteredOptionsCallback(option)}}</span>
                  <span solidifyTooltipOnEllipsis
                        class="subtitle"
                  >{{option.publisher}}</span>
                </mat-option>
              </mat-autocomplete>
              <div *ngIf="((containerTitleFilteredOptionsIsLoadingObs | async) || (containerTitleFilteredOptionsIsLoadingChunkObs | async)) as isLoading"
                   class="spinner-box"
              >
                <div [solidifySpinner]="isLoading"
                     [solidifySpinnerStrokeWidth]="2"
                     [solidifySpinnerDiameter]="24"
                     class="spinner-wrapper"
                ></div>
              </div>
              <mat-error #errors
                         solidifyTooltipOnEllipsis
              ></mat-error>
            </mat-form-field>

            <mat-checkbox *ngIf="displayExtendedSearchCheckbox"
                          [formControl]="formControlContainerTitleExtendedSearch"
                          color="primary"
                          class="checkbox"
                          [solidifyTooltip]="labelTranslateEnum.includePaperDocumentsInTheSearchResult"
            >{{labelTranslateEnum.searchWithExtendedSearch | translate}}
            </mat-checkbox>
          </div>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="depositFormRuleHelper.pathIdentifierIssn as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
          <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                          [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          [solidifyTooltip]="tooltipTranslateEnum.depositIdentifierIssn"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                          class="mat-form-field"
                          solidifyTooltipOnEllipsis
          >
            <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
            <input #inputContainerIdentifierIssn
                   [formControl]="fd"
                   [required]="formValidationHelper.hasRequiredField(fd)"
                   [solidifyValidation]="errors"
                   [matAutocomplete]="auto"
                   (focus)="searchDataJournal(KEY_CONTAINER_ISSN, fd.value)"
                   matInput
                   maxlength="9"
            >
            <mat-autocomplete autoActiveFirstOption
                              #auto="matAutocomplete"
                              (optionsScroll)="loadNextChunkContainerTitle()"
                              (optionSelected)="issnDataSelected($event)"
                              class="autocomplete-journal-panel"
            >
              <mat-option *ngFor="let option of (containerTitleFilteredOptionsObs | async)"
                          class="autocomplete-journal-option"
                          [value]="option"
              >
              <span solidifyTooltipOnEllipsis
                    class="title"
              >{{containerTitleFilteredOptionsCallback(option)}}</span>
                <span solidifyTooltipOnEllipsis
                      class="subtitle"
                >{{option.publisher}}</span>
              </mat-option>
            </mat-autocomplete>
            <div *ngIf="((containerTitleFilteredOptionsIsLoadingObs | async) || (containerTitleFilteredOptionsIsLoadingChunkObs | async)) as isLoading"
                 class="spinner-box"
            >
              <div [solidifySpinner]="isLoading"
                   [solidifySpinnerStrokeWidth]="2"
                   [solidifySpinnerDiameter]="24"
                   class="spinner-wrapper"
              ></div>
            </div>
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>

      <button *ngIf="displayButtonSearchContainerTitleOrIdentifier"
              solidifyShortCuts
              (click)="focusContainerTitleOrIdentifierIssn()"
              (onEnter)="focusContainerTitleOrIdentifierIssn()"
              aria-label="Search ISSN"
              mat-button
              color="primary"
              type="button"
              class="search"
      >
        <solidify-icon [iconName]="iconNameEnum.search"
                       class="size-18 icon"
        ></solidify-icon>
        {{labelTranslateEnum.searchButton | translate}}
      </button>
    </div>

    <ng-container *ngIf="depositFormRuleHelper.pathPublisher as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <aou-deposit-form-description-publisher *ngIf="getFormGroup(fieldPath) as fd"
                                                [formGroup]="fd"
                                                [mainFormGroup]="mainFormGroup"
                                                [solidifyTooltip]="tooltipTranslateEnum.depositPublisher"
                                                [solidifyFormControlElementRef]="fd"
        ></aou-deposit-form-description-publisher>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathDates as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <aou-deposit-form-description-date *ngIf="getFormGroup(fieldPath) as fd"
                                           #depositFormDescriptionDatePresentational
                                           [formGroup]="fd"
                                           [mainFormGroup]="mainFormGroup"
                                           [solidifyTooltip]="tooltipTranslateEnum.depositDates"
                                           [solidifyFormControlElementRef]="fd"
                                           (datesChange)="datesChange()"
        >
        </aou-deposit-form-description-date>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathContainer as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <aou-deposit-form-description-container *ngIf="getFormGroup(fieldPath) as fd"
                                                [formGroup]="fd"
                                                [listLanguages]="listLanguages"
                                                [mainFormGroup]="mainFormGroup"
                                                [solidifyTooltip]="tooltipTranslateEnum.depositContainer"
                                                [solidifyFormControlElementRef]="fd"
        ></aou-deposit-form-description-container>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathPages as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <aou-deposit-form-description-page *ngIf="getFormGroup(fieldPath) as fd"
                                           [formGroup]="fd"
                                           [mainFormGroup]="mainFormGroup"
                                           [solidifyTooltip]="tooltipTranslateEnum.depositPages"
                                           [isValidationMode]="isValidationMode"
                                           [solidifyFormControlElementRef]="fd"
        ></aou-deposit-form-description-page>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathMandatedBy as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.depositMandatedBy"
                        [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
          <input [formControl]="fd"
                 [required]="formValidationHelper.hasRequiredField(fd)"
                 [solidifyValidation]="errors"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </ng-template>
    </ng-container>

    <div class="two-columns edition-isbn">
      <ng-container *ngIf="depositFormRuleHelper.pathEdition as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
          <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                          [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          [solidifyTooltip]="tooltipTranslateEnum.depositEdition"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                          class="edition"
                          solidifyTooltipOnEllipsis
          >
            <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
            <input [formControl]="fd"
                   [required]="formValidationHelper.hasRequiredField(fd)"
                   [solidifyValidation]="errors"
                   matInput
            >
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="depositFormRuleHelper.pathIdentifierIsbn as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
          <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                          [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          [solidifyTooltip]="tooltipTranslateEnum.depositIdentifierIsbn"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                          class="isbn"
                          solidifyTooltipOnEllipsis
          >
            <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
            <input [formControl]="fd"
                   [required]="formValidationHelper.hasRequiredField(fd)"
                   [solidifyValidation]="errors"
                   matInput
            >
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>
    </div>

    <ng-container *ngIf="depositFormRuleHelper.pathCollection as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <aou-deposit-form-description-collection *ngIf="getFormArray(fieldPath) as fd"
                                                 [formArray]="fd"
                                                 [mainFormGroup]="mainFormGroup"
                                                 [solidifyTooltip]="tooltipTranslateEnum.depositCollection"
                                                 [solidifyFormControlElementRef]="fd"
        ></aou-deposit-form-description-collection>
      </ng-template>
    </ng-container>
  </solidify-panel-expandable>

  <solidify-panel-expandable *ngIf="(depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifier)
                                  && (depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierDoi)
                                  || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierPmid)
                                  || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierPmcid)
                                  || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierArXiv)
                                  || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierDblp)
                                  || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierRepEc)
                                  || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierMmsid)
                                  || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierUrn)))
                                  || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierLocalNumber)
                                  || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathDiscipline)"
                             [titleToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, depositFormRuleHelper.pathIdentifier) | translate"
                             [isOpen]="true"
                             [tooltip]="tooltipTranslateEnum.depositPanelIdentifiers"
                             class="panel main-panel deposit-link-panel"
  >
    <ng-container *ngIf="depositFormRuleHelper.pathIdentifier as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierDoi)
                        || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierPmid)
                        || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierPmcid)
                        || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierArXiv)
                        || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierDblp)
                        || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierRepEc)
                        || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierMmsid)
                        || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathIdentifierUrn)"
      >
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
          <aou-deposit-form-description-publication-identifier *ngIf="getFormGroup(fieldPath) as fd"
                                                               [formGroup]="fd"
                                                               [mainFormGroup]="mainFormGroup"
                                                               [solidifyTooltip]="tooltipTranslateEnum.depositIdentifier"
                                                               [solidifyFormControlElementRef]="fd"
          ></aou-deposit-form-description-publication-identifier>
        </ng-template>
      </ng-template>
    </ng-container>

    <div class="two-columns local-number-discipline">
      <ng-container *ngIf="depositFormRuleHelper.pathIdentifierLocalNumber as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
          <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                          [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          [solidifyTooltip]="tooltipTranslateEnum.depositIdentifierLocalNumber"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                          class="local-number"
                          solidifyTooltipOnEllipsis
          >
            <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
            <input [formControl]="fd"
                   [required]="formValidationHelper.hasRequiredField(fd)"
                   [solidifyValidation]="errors"
                   [placeholder]="depositFormRuleHelper.getPlaceholder(mainFormGroup, fieldPath) | translate"
                   matInput
            >
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="depositFormRuleHelper.pathDiscipline as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
          <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                          [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          [solidifyTooltip]="tooltipTranslateEnum.depositDiscipline"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                          class="discipline"
                          solidifyTooltipOnEllipsis
          >
            <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
            <input [formControl]="fd"
                   [required]="formValidationHelper.hasRequiredField(fd)"
                   [solidifyValidation]="errors"
                   matInput
            >
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>
    </div>
  </solidify-panel-expandable>

  <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.complementaryDescription"
                             [isOpen]="true"
                             [tooltip]="tooltipTranslateEnum.depositPanelComplementaryDescription"
                             class="panel deposit-link-panel main-panel"
  >
    <ng-container *ngIf="depositFormRuleHelper.pathAbstract as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <aou-deposit-form-description-text-language-list *ngIf="getFormArray(fieldPath) as fd"
                                                         [formArray]="fd"
                                                         [isTextarea]="true"
                                                         [isRichText]="true"
                                                         [isLinkAllowed]="true"
                                                         [isBoldAllowed]="true"
                                                         [labelTextToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, (fieldPath +
                                                         '.' + formDefinitionText.text))"
                                                         [listLanguages]="listLanguages"
                                                         [path]="fieldPath"
                                                         [mainFormGroup]="mainFormGroup"
                                                         [solidifyTooltip]="tooltipTranslateEnum.depositAbstract"
                                                         [tooltipText]="tooltipTranslateEnum.depositAbstractText"
                                                         [tooltipLanguage]="tooltipTranslateEnum.depositAbstractLanguage"
                                                         [hintTextToTranslate]="hintTranslateEnum.depositAbstractText"
                                                         [withoutPanel]="true"
                                                         [withWordCounter]="true"
                                                         [withFixButton]="true"
                                                         [isValidationMode]="isValidationMode"
                                                         [textareaMaxSize]="textAreaMaxSize"
                                                         [solidifyFormControlElementRef]="fd"
                                                         (fixChange)="fixDescription($event)"
        ></aou-deposit-form-description-text-language-list>
        <mat-hint
            *ngIf="hintTranslateEnum.depositAbstractGeneral | isNotNullNorUndefinedNorWhiteString"
            class="hint-abstract"
        >{{hintTranslateEnum.depositAbstractGeneral | translate}}
        </mat-hint>
      </ng-template>
    </ng-container>

    <div class="thumbnail-keyword-note-wrapper">
      <solidify-image-upload-wrapper-container [isEditable]="true"
                                               [resId]="model?.resId"
                                               [resourceFileNameSpace]="depositActionNameSpace"
                                               [resourceFileState]="depositState"
                                               [defaultImage]="defaultImage"
      ></solidify-image-upload-wrapper-container>

      <div class="right-part">
        <ng-container *ngIf="depositFormRuleHelper.pathKeywords as fieldPath">
          <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
            <div *ngIf="getFormControl(fieldPath) as fd"
                 [class.with-fix-button]="(fd?.value | isNotNullNorUndefined) && fd?.value?.length > 0 && isValidationMode"
                 class="keyword-wrapper"
            >
              <solidify-keyword-input [formControl]="fd"
                                      [placeholderToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath)"
                                      [spaceDelimiter]="false"
                                      [appearance]="appearanceInputMaterial"
                                      [positionLabel]="positionLabelInputMaterial"
                                      [separatorKeys]="separatorKeys"
                                      [solidifyTooltip]="tooltipTranslateEnum.depositKeywords"
                                      class="keywords"
              >
              </solidify-keyword-input>

              <div *ngIf="(fd?.value | isNotNullNorUndefined) && fd?.value?.length > 0 && isValidationMode"
                   class="button-wrapper"
              >
                <button (click)="fixKeyword(fd)"
                        (onEnter)="fixKeyword(fd)"
                        solidifyShortCuts
                        mat-button
                        class="button-fix"
                        color="accent"
                >
                  <solidify-icon [iconName]="iconNameEnum.autoFix"></solidify-icon>
                  {{labelTranslateEnum.fix | translate}}
                </button>
              </div>
            </div>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="depositFormRuleHelper.pathNote as fieldPath">
          <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
            <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                            [appearance]="appearanceInputMaterial"
                            [floatLabel]="positionLabelInputMaterial"
                            [solidifyTooltip]="tooltipTranslateEnum.depositNote"
                            [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                            solidifyTooltipOnEllipsis
            >
              <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
              <input [formControl]="fd"
                     [required]="formValidationHelper.hasRequiredField(fd)"
                     [solidifyValidation]="errors"
                     matInput
              >
              <mat-error #errors
                         solidifyTooltipOnEllipsis
              ></mat-error>
            </mat-form-field>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="depositFormRuleHelper.pathJel as fieldPath">
          <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
            <solidify-keyword-input *ngIf="getFormControl(fieldPath) as fd"
                                    [formControl]="fd"
                                    [placeholderToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath)"
                                    [spaceDelimiter]="false"
                                    [appearance]="appearanceInputMaterial"
                                    [positionLabel]="positionLabelInputMaterial"
                                    [separatorKeys]="separatorKeys"
                                    [solidifyTooltip]="tooltipTranslateEnum.depositJel"
                                    class="jel"
            >
            </solidify-keyword-input>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </solidify-panel-expandable>

  <ng-container *ngIf="depositFormRuleHelper.pathFunder as fieldName">
    <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldName)">
      <aou-deposit-form-description-funding *ngIf="getFormArray(fieldName) as fd"
                                            [formArray]="fd"
                                            [mainFormGroup]="mainFormGroup"
                                            [solidifyTooltip]="tooltipTranslateEnum.depositFunder"
                                            [solidifyFormControlElementRef]="fd"
      ></aou-deposit-form-description-funding>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathCommercialUrl )
                    || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathDatasets)
                    || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathLinks)
                    || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathAward)
                    || depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathAouInternalCollection)"
  >

    <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.links"
                               [isOpen]="true"
                               [tooltip]="tooltipTranslateEnum.depositPanelLinks"
                               class="panel deposit-link-panel main-panel"
    >
      <ng-container *ngIf="depositFormRuleHelper.pathCommercialUrl as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
          <solidify-url-input-navigator *ngIf="getFormControl(fieldPath) as fd"
                                        [formControl]="fd"
                                        [positionLabel]="positionLabelInputMaterial"
                                        [appearance]="appearanceInputMaterial"
                                        [placeholderToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath)"
                                        [solidifyTooltip]="tooltipTranslateEnum.depositCommercialUrl"
          >
          </solidify-url-input-navigator>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="depositFormRuleHelper.pathDatasets as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
          <aou-deposit-form-description-dataset *ngIf="getFormArray(fieldPath) as fd"
                                                [formArray]="fd"
                                                [mainFormGroup]="mainFormGroup"
                                                [solidifyTooltip]="tooltipTranslateEnum.depositDatasets"
                                                [solidifyFormControlElementRef]="fd"
          ></aou-deposit-form-description-dataset>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="depositFormRuleHelper.pathLinks as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
          <aou-deposit-form-description-link *ngIf="getFormArray(fieldPath) as fd"
                                             [formArray]="fd"
                                             [listLanguages]="listLanguages"
                                             [mainFormGroup]="mainFormGroup"
                                             [solidifyTooltip]="tooltipTranslateEnum.depositLinks"
                                             [solidifyFormControlElementRef]="fd"
          ></aou-deposit-form-description-link>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="depositFormRuleHelper.pathAward as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
          <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                          [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          [solidifyTooltip]="tooltipTranslateEnum.depositAward"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                          solidifyTooltipOnEllipsis
          >
            <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
            <input [formControl]="fd"
                   [required]="formValidationHelper.hasRequiredField(fd)"
                   [solidifyValidation]="errors"
                   matInput
            >
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="depositFormRuleHelper.pathAouInternalCollection as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
          <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                          [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          [solidifyTooltip]="tooltipTranslateEnum.depositAouInternalCollection"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                          solidifyTooltipOnEllipsis
          >
            <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
            <input [formControl]="fd"
                   [required]="formValidationHelper.hasRequiredField(fd)"
                   [solidifyValidation]="errors"
                   matInput
            >
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>
    </solidify-panel-expandable>

  </ng-container>

  <ng-container *ngIf="depositFormRuleHelper.pathCorrections as fieldPath">
    <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
      <aou-deposit-form-description-correction *ngIf="getFormArray(fieldPath) as fd"
                                               [formArray]="fd"
                                               [mainFormGroup]="mainFormGroup"
                                               [isPanelOpenByDefault]="isCorrigendumFilePresent"
                                               [solidifyTooltip]="tooltipTranslateEnum.depositCorrections"
                                               [solidifyFormControlElementRef]="fd"
      ></aou-deposit-form-description-correction>
    </ng-template>
  </ng-container>
</div>
