@import "abstracts/abstracts";

:host {
  .form-one-columns {
    display: grid;
  }

  .deposit-main-information-readonly {
    position: relative;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
    border: 1px solid $light-grey;
    background-color: $panel-background;
    border-radius: 5px;
    margin-bottom: 35px;


    &.with-languages {
      .left-part {
        margin-top: 25px;
      }
    }

    .title {
      margin: 0;
    }

    .subtitle {
      margin: 0;
    }

    .corner-info {
      min-height: 20px;
      min-width: 30px;
      position: absolute;
      top: -1px;
      right: -1px;
      background: $primary-color;
      color: $white;
      width: fit-content;
      padding: 2px 10px;
      border-top-right-radius: 4px;
    }

    .doctor-contact {
      .label {
        font-weight: bold;
      }

      .wrapper {
        display: grid;
        grid-template-columns: max-content max-content;
        grid-gap: 100px;

        .address {
          white-space: pre-line;
        }
      }
    }
  }

  .deposit-main-info-editable {
    .deposit-title {
      display: grid;
      grid-template-columns: 1fr min-content;
      align-items: center;

      &.with-fix-button {
        grid-template-columns: 1fr min-content min-content;
      }

      .button-wrapper {
        margin-left: 10px;

        .button-fix,
        .button-add {
          margin-bottom: 20px;
        }
      }
    }

    .deposit-original-title {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;

      &.with-fix-button {
        grid-template-columns: 1fr min-content;
      }

      .button-wrapper {
        margin-left: 10px;

        .button-fix {
          margin-bottom: 20px;
        }
      }
    }
  }

  .panel {
    &.is-hide {
      display: none;
    }

    &::ng-deep {
      > .content {
        display: grid;
      }
    }
  }

  .two-columns {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: max-content max-content;

    &.ratio-1-1 {
      grid-template-columns: 1fr 2fr;
    }

    &.ratio-1-2 {
      grid-template-columns: 1fr 2fr;
    }

    &.ratio-2-1 {
      grid-template-columns: 2fr 1fr;
    }

    &.ratio-1-max-content {
      grid-template-columns: 1fr max-content;
    }
  }

  .container-title-issn-wrapper {
    align-items: center;

    .container-title-wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr;
      grid-gap: 15px;

      &.with-checkbox {
        grid-template-columns: 1fr min-content;
      }

      .checkbox {
        margin-bottom: 20px;
      }
    }

    &.with-search {
      grid-template-columns: 1fr max-content min-content;
    }

    .search {
      margin-bottom: 20px;
    }
  }

  .doctor-infos {
    .doctor-email {
      width: $width-field-medium;

      @include respond-to-smaller-than-breakpoint('md') {
        width: 50%;
      }
    }

    .doctor-address {
      width: $width-field-large;

      @include respond-to-smaller-than-breakpoint('md') {
        width: 50%;
      }
    }
  }

  .edition-isbn {
    .edition {
      width: $width-field-large;

      @include respond-to-smaller-than-breakpoint('md') {
        width: 100%;
      }
    }

    .isbn {
      width: $width-field-small;
    }


  }

  .local-number-discipline {
    .local-number {
      width: $width-field-small;

      @include respond-to-smaller-than-breakpoint('md') {

      }
    }

    .discipline {
      width: $width-field-extra-large;

      @include respond-to-smaller-than-breakpoint('md') {
        width: 100%;
      }
    }
  }

  .mat-form-field {
    .spinner-box {
      display: none;
    }

    &.mat-focused {
      position: relative;

      .spinner-box {
        position: absolute;
        right: 0;
        top: 18px;
        display: block;
        width: 25px;
        height: 25px;
      }
    }
  }

  .thumbnail-keyword-note-wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 20px;

    .right-part {
      > * {
        width: 100%;
      }

      .keyword-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;

        &.with-fix-button {
          grid-template-columns: 1fr min-content;
        }

        .button-wrapper {
          margin-left: 10px;

          .button-fix {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .hint-abstract {
    margin-bottom: 25px;
  }
}

::ng-deep {
  .autocomplete-journal-panel {
    .autocomplete-journal-option {
      line-height: 20px;

      .mat-option-text {
        display: grid;

        .title {
          @include truncate-with-ellipsis;
        }

        .subtitle {
          @include truncate-with-ellipsis;
          font-size: 12px;
          color: $dark-grey;
        }
      }
    }
  }
}

@include isInDarkMode {
  .deposit-main-information-readonly {
    border-color: $dark-mode-line;
    background-color: $dark-mode-panel-background;
  }
}
