@import "abstracts/abstracts";

:host {
  .panel {
    &::ng-deep {
      > .content {
        display: grid;
        grid-template-columns: $width-field-medium $width-field-medium;
        grid-gap: 0 20px;
        align-items: center;

        .container {
          > * {
            width: 100%;
          }
        }
      }
    }
  }
}

:host(.is-invalid) {
  .panel {
    &::ng-deep {
      .title {
        color: $error;
      }
    }
  }
}
