<solidify-panel-expandable [titleToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, depositFormRuleHelper.pathDates)"
                           [isOpen]="true"
                           [isRequired]="true"
                           [suffixToTranslate]="(isMoreThanOneDate ? (isFirstOnlinePresent ? PANEL_LABEL_SUFFIX_FIRST_ONLINE_PRIVILEGED : PANEL_LABEL_SUFFIX)
                           : undefined) | translate"
                           [isPanelCollapsable]="false"
                           class="panel secondary-panel"
>
  @for (fieldPath of listDatePath; track fieldPath) {
    <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
      <div class="container">
        <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
          <input [formControl]="fd"
                 matInput
                 type="text"
                 [placeholder]="labelTranslateEnum.dateFormatYearOrFullDate | translate"
                 [solidifyValidation]="errors"
                 [required]="formValidationHelper.hasRequiredField(fd)"
                 (blur)="removeErrorInSecondDateIfNecessary(fd)"
                 (keyup)="verifyDate(fd.value)"
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </div>
    </ng-template>
  }
</solidify-panel-expandable>
