@import "abstracts/abstracts";

:host {
  padding-top: 10px;

  .header {
    .top {
      .title {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 4px;
      }

      .subtitle {
        margin-bottom: 20px;
      }
    }

    .header-information {
      margin-bottom: 20px;
      display: grid;
      grid-gap: 15px;

      > li {
        display: grid;
        grid-template-columns: 120px max-content;
        grid-gap: 0 15px;

        @include respond-to-smaller-than-breakpoint('sm') {
          grid-template-columns: 1fr;
        }

        > * {
          @include truncate-with-ellipsis;
        }

        .field-name {
          font-weight: bold;
        }

        .title-wrapper {
          display: grid;
          grid-template-columns: max-content max-content;
          grid-gap: 8px;
        }
      }
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
    padding-bottom: 10px;

    thead {
      background-color: $medium-light-grey;
      color: $white;

      tr > th {
        padding: 4px 8px;
        text-align: left;

        &.version {
          min-width: 120px;
        }

        &.license {
          min-width: 120px;
        }

        &.embargo {
          min-width: 120px;
        }

        &.conditions {
          min-width: 300px;
        }
      }
    }

    tbody {
      tr {
        background-color: $white;

        &.grey {
          background-color: $background-grey;
        }

        > td {
          padding: 10px 5px;
          color: #444444;

          &.version {
            border-right: 1px solid $intermediate-grey;
          }

          &.separator {
            border-top: 1px solid $intermediate-grey;
          }

          &.distribution {
            .distribution-wrapper {
              display: grid;
              grid-template-columns: max-content 1fr;
              align-items: center;
              grid-gap: 10px;
              min-height: 50px;

              .icon {
                &.red {
                  color: $error;
                }

                &.blue {
                  color: $info;
                }

                &.green {
                  color: $success;
                }
              }
            }
          }

          .list {
            display: grid;
            grid-gap: 8px;
          }
        }
      }
    }
  }

  .no-item {
    padding-top: 10px;
    text-align: center;
    color: $light-grey;
    font-size: 16px;
  }

}

:host(.darker-pyjama) {
  table {
    tbody {
      tr {
        &.grey {
          background-color: #efefef;
        }
      }
    }
  }
}

@include isInDarkMode {
  :host {
    color: $text-color;
  }
}
