<ng-template [ngIf]="(romeo.errors | isNullOrUndefined) || (romeo.errors | isEmptyArray)"
             [ngIfElse]="romeoError"
>
  <div class="header">
    <div class="top">
      <p class="title">
        {{"romeo.title" | translate}}
      </p>
      <p class="subtitle">
        {{"romeo.subtitle" | translate}}
      </p>
    </div>
    <ul class="header-information">
      <li>
        <span class="field-name">{{labelTranslateEnum.journal | translate}}</span>
        <span class="title-wrapper"><span class="title">{{romeo.title}}</span> <span *ngIf="romeo.issn | isNonEmptyString">[{{romeo.issn}}]</span></span>
      </li>
      <li>
        <span class="field-name">{{labelTranslateEnum.typeOfJournal | translate}}</span>
        <span>{{getJournalType(romeo.journalType) | translate}}</span>
      </li>
    </ul>
  </div>

  <table aria-describedby="Romeo rules base on the type of the publication">
    <thead>
    <tr>
      <th class="version">{{labelTranslateEnum.versionOfTheArticle | translate}}</th>
      <th class="distribution">{{labelTranslateEnum.openAccessDistribution | translate}}</th>
      <th class="license">{{labelTranslateEnum.license | translate}}</th>
      <th class="embargo">{{labelTranslateEnum.embargo | translate}}</th>
      <th class="conditions">{{labelTranslateEnum.conditions | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of data; let indexData = index">
      <tr *ngFor="let policy of item.policies; let indexPolicies = index"
          [class.grey]="indexData % 2 === 0"
      >
        <td *ngIf="indexPolicies === 0"
            class="version"
            [attr.rowspan]="item.policies.length"
        >
          {{getVersionToTranslate(item.version) | translate}}
        </td>
        <td class="distribution"
            [class.separator]="indexPolicies > 0"
        >
          <div class="distribution-wrapper">
            <solidify-icon *ngIf="getDistributionIcon(policy.oaDiffusion?.icon) as icon"
                           [iconName]="icon"
                           class="icon"
                           [class.red]="policy.oaDiffusion?.icon === KEY_ICON_NOT_AUTHORIZED"
                           [class.blue]="policy.oaDiffusion?.icon === KEY_ICON_QUESTION"
                           [class.green]="policy.oaDiffusion?.icon === KEY_ICON_AUTHORIZED"
            ></solidify-icon>
            <span [innerHTML]="getDistributionText(policy.oaDiffusion?.text) | translate"></span>
          </div>
        </td>
        <td class="license"
            [class.separator]="indexPolicies > 0"
        >
          <ul class="list">
            <li *ngFor="let license of policy.licences">{{license}}</li>
          </ul>
        </td>
        <td class="embargo"
            [class.separator]="indexPolicies > 0"
        >
          {{policy.embargo}}
        </td>
        <td class="conditions"
            [class.separator]="indexPolicies > 0"
        >
          <ul class="list">
            <li *ngFor="let condition of policy.conditions">{{condition}}</li>
          </ul>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <div class="footer">
    <ul *ngFor="let item of romeo.footer">
      <li [innerHTML]="computeLink(getFooter(item) | translate: {sherpaRomeoUrl: romeo.sherpaRomeoUrl})"></li>
    </ul>
  </div>
</ng-template>

<ng-template #romeoError>
  <div *ngIf="isErrorNoInformation"
       class="error"
  >
    {{"romeo.error.noData" | translate}}
  </div>
</ng-template>
