<solidify-base-action-dialog [titleToTranslate]="labelTranslateEnum.contactAuthor | translate">
  <div class="form-wrapper">
    <mat-form-field *ngIf="getFormControl(formDefinition.recipientCnIndividu) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
                    class="recipient"
    >
      <mat-label>{{labelTranslateEnum.recipient | translate}}</mat-label>
      <mat-select [formControl]="fd"
                  [required]="formValidationHelper.hasRequiredField(fd)"
                  [solidifyValidation]="errors"
      >
        <mat-option *ngFor="let contributor of data.listContactableContributor"
                    [value]="contributor.cnIndividu"
        >
          {{contributor.lastName}}, {{contributor.firstName}}
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.senderName) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
                    class="sender-name"
    >
      <mat-label>{{labelTranslateEnum.yourName | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.senderEmail) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
                    class="sender-email"
    >
      <mat-label>{{labelTranslateEnum.yourEmail | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             type="email"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.messageContent) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
                    class="message"
    >
      <mat-label>{{labelTranslateEnum.yourMessage | translate}}</mat-label>
      <textarea [formControl]="fd"
                [required]="formValidationHelper.hasRequiredField(fd)"
                [solidifyValidation]="errors"
                matInput
                cdkAutosizeMaxRows="10"
                cdkAutosizeMinRows="5"
                cdkTextareaAutosize
      ></textarea>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>
  </div>
</solidify-base-action-dialog>
<div mat-dialog-actions
     class="footer"
>
  <button mat-button
          color="primary"
          (click)="close()"
  >{{labelTranslateEnum.close | translate}}
  </button>
  <button mat-flat-button
          color="primary"
          [disabled]="form.invalid"
          [solidifyButtonSpinner]="isLoading"
          (click)="submit()"
  >{{labelTranslateEnum.send | translate}}
  </button>
</div>
