<aou-deposit-repeatable-fields [labelSectionToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, depositFormRuleHelper.pathLinks)"
                               [fieldsTemplate]="fieldsTemplate"
                               [formGroupFactory]="formGroupFactory"
                               [formArray]="formArray"
                               [readonly]="readonly"
                               [listFormDefinitions]="listFormDefinitions"
                               [isPanelCollapsable]="false"
                               typePanel="secondary"
></aou-deposit-repeatable-fields>

<ng-template #fieldsTemplate
             let-formGroup="formGroup"
>
  <div class="container">
    <ng-container *ngIf="depositFormRuleHelper.pathLinksTarget as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <solidify-url-input-navigator *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.target) as fd"
                                      [formControl]="fd"
                                      [positionLabel]="positionLabelInputMaterial"
                                      [appearance]="appearanceInputMaterial"
                                      [placeholderToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath)"
                                      [solidifyTooltip]="tooltipTranslateEnum.depositLinksTarget"
        >
        </solidify-url-input-navigator>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathLinksDescription as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <aou-deposit-form-description-text-language *ngIf="formValidationHelper.getFormGroup(formGroup, formDefinition.description) as fd"
                                                    [formGroup]="fd"
                                                    [labelToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath)"
                                                    [listLanguages]="listLanguages"
                                                    [hideLanguage]="true"
                                                    [mainFormGroup]="mainFormGroup"
                                                    [path]="fieldPath"
                                                    [solidifyTooltip]="tooltipTranslateEnum.depositLinksDescription"
                                                    [tooltipText]="tooltipTranslateEnum.depositLinksDescriptionText"
                                                    [tooltipLanguage]="tooltipTranslateEnum.depositLinksDescriptionLanguage"
                                                    [solidifyFormControlElementRef]="fd"
        ></aou-deposit-form-description-text-language>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathLinksType as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <mat-form-field *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.type) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.depositLinksType"
                        [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                        aria-label="type link"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
          <mat-select [formControl]="fd"
                      [solidifyValidation]="errors"
          >
            <mat-option *ngFor="let linkType of linkTypesEnumValues"
                        [value]="linkType.key"
            >
              {{linkType.value | translate}}
            </mat-option>
          </mat-select>
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </ng-template>
    </ng-container>
  </div>
</ng-template>
