<solidify-empty-container (onEnter)="selectedDepositResearchGroup ? submit(selectedDepositResearchGroup) : ''"
                          solidifyShortCuts
>
  <solidify-base-action-dialog [titleToTranslate]="'deposit.popup.createResearchGroup.alternative.title' | translate">
    <div class="explanation">{{'deposit.popup.createResearchGroup.alternative.explanation' | translate}}</div>
    <div class="warning">{{'deposit.popup.createResearchGroup.alternative.warning' | translate}}</div>

    <mat-list class="list">
      <h3 mat-subheader>{{'deposit.popup.createResearchGroup.alternative.subtitle.yourInput' | translate}}</h3>
      <mat-list-item (click)="select(data.newResearchGroup, true)"
                     (onEnter)="select(data.newResearchGroup, true)"
                     [class.is-active]="isSelected(data.newResearchGroup)"
                     [tabIndex]="0"
                     solidifyShortCuts
      >
        <solidify-icon [iconName]="iconNameEnum.add"
                       class="icon"
        ></solidify-icon>
        <ng-template [ngTemplateOutlet]="line"
                     [ngTemplateOutletContext]="{researchGroup: data.newResearchGroup}"
        ></ng-template>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>{{'deposit.popup.createResearchGroup.alternative.subtitle.matchingResearchGroups' | translate}}</h3>
      <mat-list-item (click)="select(researchGroup, false)"
                     (onEnter)="select(researchGroup, true)"
                     *ngFor="let researchGroup of data.listExistingResearchGroup"
                     [class.is-active]="isSelected(researchGroup)"
                     [tabIndex]="0"
                     class="item-list"
                     solidifyShortCuts
      >
        <solidify-icon [iconName]="iconNameEnum.researchGroup"
                       class="icon icon-research-group"
        ></solidify-icon>
        <ng-template [ngTemplateOutlet]="line"
                     [ngTemplateOutletContext]="{researchGroup: researchGroup}"
        ></ng-template>
      </mat-list-item>
    </mat-list>
  </solidify-base-action-dialog>
  <div mat-dialog-actions>
    <button [mat-dialog-close]=""
            [solidifyAutoFocus]="true"
            mat-button
    >{{labelTranslateEnum.close | translate}}</button>
    <button (click)="submit(selectedDepositResearchGroup)"
            [disabled]="selectedDepositResearchGroup | isNullOrUndefined"
            color="primary"
            mat-flat-button
    >{{labelTranslateEnum.add | translate}}
    </button>
  </div>
</solidify-empty-container>


<ng-template #line
             let-researchGroup="researchGroup"
>
  <span *ngIf="typeIntoResearchGroup(researchGroup) as researchGroup"
        mat-line
        [class.inactive]="researchGroup.active | isFalse"
  >
    <span class="name">
      <ng-template [ngIf]="researchGroup.active | isFalse">[{{labelTranslateEnum.inactive | translate}}] </ng-template>
      {{researchGroup.name}}
    </span>
    <span *ngIf="researchGroup.acronym as acronym"
          class="acronym"
    > [{{acronym}}]
          </span>
    <span *ngIf="researchGroup.code as code"
          class="code"
    > ({{code}})
    </span>
  </span>
</ng-template>
