@import "abstracts/abstracts";

:host {
  ::ng-deep {
    .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
      height: initial !important;
      min-height: 38px !important;
      display: grid !important;
      grid-gap: 10px !important;
      grid-template-columns: max-content 1fr !important;
      align-items: center;
      padding: 5px 0 !important;
    }
  }

  .explanation {
    padding-bottom: 10px;
    white-space: pre-line;
  }

  .warning {
    color: $warning;
    padding-bottom: 20px;
  }

  ::ng-deep .mat-list-item {
    cursor: pointer;

    &:nth-child(even) {
      background-color: $extra-ultra-light-grey;
    }

    &.is-active {
      background-color: $extra-light-grey;
    }

    &:focus {
      background-color: $extra-light-grey;
    }
  }

  .list {
    .inactive {
      font-style: italic;
      color: $light-grey;
    }

    .code, .acronym {
      font-style: italic;
      padding-right: 6px;
    }

    .icon {
      padding: 0;

      &.icon-research-group {

      }
    }

    &::ng-deep {
      .mat-list-item-content {
        grid-gap: 10px;
      }
    }
  }
}

@include isInDarkMode {
  ::ng-deep .mat-list-item {
    &:nth-child(even) {
      background-color: $dark-mode-panel-background;
    }

    &.is-active {
      background-color: $dark-mode-line;
    }

    &:focus {
      background-color: $dark-mode-line;
    }
  }
}


