@import "solidify-frontend/lib/core/scss/abstracts/mixins";

@mixin deposit-list() {
  .table ::ng-deep {
    .status {
      font-size: 12px;
      white-space: inherit;
      padding: 2px 0;
    }

    tbody {
      td {
        &[data-field="structures"] {
          &.is-highlighting-cell {
            font-style: italic;
          }
        }

        &[data-field="title"] > span {
          max-width: 180px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
        }
      }
    }
  }
}
