@import "solidify-frontend/lib/core/scss/abstracts/variables";

// ------------
// COLOR
// ------------

// Color
$green-sweet: #18bb9c;
$panel-background: #f7f7f7;
$pink-light: #f8dbe9;
$pink-light-grey: #f2d0dd;
$orange-extra-light: #FFF1DC;

$dark-mode-panel-background: #363636;

// ------------
// SETTINGS
// ------------

$grid-width: 1600px;
$toolbar-width: 60px;
$main-toolbar-height: 80px;
$header-mobile-toolbar: 54px;
$breadcrumb-height: 38px;
$footer-height: 40px;
$footer-height-mobile: 60px;

$width-field-small: 200px;
$width-field-medium: 300px;
$width-field-large: 400px;
$width-field-extra-large: 800px;

// ------------
// THEMES
// ------------
$theme-name-aou: 'aou';
