<div *ngIf="formGroup"
     class="form"
     [class.two-columns]="isCreation && !isImported && formValidationHelper.getFormControl(formGroupRetrieveReferences, formDefinitionRetrieveReferences.importMode)?.value ===
  importMethodEnum.manual"
>
  <div *ngIf="isCreation && !isImported"
       class="left-part"
  >
    <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.creationMode"
                               [isOpen]="true"
                               [isPanelCollapsable]="false"
                               class="panel main-panel"
    >
      <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.sourceOfMetadata"
                                 [isOpen]="true"
                                 [isOutline]="true"
                                 class="panel"
      >
        <div class="is-manual-retrieve">
          <mat-radio-group *ngIf="formValidationHelper.getFormControl(formGroupRetrieveReferences, formDefinitionRetrieveReferences.importMode) as fd"
                           [formControl]="fd"
                           class="radio-group"
                           color="primary"
          >
            <mat-radio-button [value]="importMethodEnum.manual"
            >{{labelTranslateEnum.makingAManualDeposit | translate}}
            </mat-radio-button>
            <mat-radio-button *ngFor="let service of listUngroupedService"
                              [value]="service.name"
            >{{service.labelRadioOption | translate}}
            </mat-radio-button>
            <mat-radio-button *ngIf="listGroupedService | isNonEmptyArray"
                              [value]="importMethodEnum.other"
            >{{labelTranslateEnum.otherKindOfImport | translate}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </solidify-panel-expandable>

      <ng-template [ngIf]="formValidationHelper.getFormControl(formGroupRetrieveReferences, formDefinitionRetrieveReferences.importMode).value ===
    importMethodEnum.other"
      >

        <mat-form-field *ngIf="formValidationHelper.getFormControl(formGroupRetrieveReferences, formDefinitionRetrieveReferences.service) as fd"
                        [appearance]="appearanceInputMaterial"
                        [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{labelTranslateEnum.externalService | translate}}</mat-label>
          <mat-select [formControl]="fd"
                      [required]="formValidationHelper.hasRequiredField(fd)"
                      [solidifyValidation]="errors"
          >
            <mat-option *ngFor="let service of listGroupedService"
                        [matTooltipShowDelay]="TIME_BEFORE_DISPLAY_TOOLTIP"
                        [matTooltip]="(labelTranslateEnum.example | translate) + ': ' + service.exampleIdentifier"
                        [value]="service.name"
            >
              {{service.name}}
            </mat-option>
          </mat-select>
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </ng-template>

      <ng-container *ngIf="formValidationHelper.getFormControl(formGroupRetrieveReferences, formDefinitionRetrieveReferences.identifier) as fd">
        <div *ngIf="((selectedService | isNotNullNorUndefined) || (fd.value | isNotNullNorUndefinedNorWhiteString)) && formValidationHelper.getFormControl(formGroupRetrieveReferences, formDefinitionRetrieveReferences.importMode)?.value !==
      importMethodEnum.manual"
             class="import-identifier-wrapper"
        >
          <mat-form-field [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          solidifyTooltipOnEllipsis
                          solidifyShortCuts
                          (paste)="trimWhenPasteIdentifier($event)"
                          (onEnter)="getMetadataFromService()"
          >
            <mat-label>{{labelTranslateEnum.identifier | translate}}</mat-label>
            <input [formControl]="fd"
                   [placeholder]="selectedService ? (((selectedService.exampleIdentifierSuffix | isNonEmptyString) ? selectedService.exampleIdentifierSuffix +
                 ' - ' : '') +
                 (labelTranslateEnum.example | translate) + ': ' + selectedService.exampleIdentifier) : ''"
                   [required]="formValidationHelper.hasRequiredField(fd)"
                   [solidifyValidation]="errors"
                   matInput
            >
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>

          <div class="button-wrapper">
            <button mat-flat-button
                    class="button-confirm"
                    color="primary"
                    solidifyShortCuts
                    (click)="getMetadataFromService()"
                    (onEnter)="getMetadataFromService()"
                    [disabled]="(!fd?.value | isNonEmptyString) || (selectedService | isNullOrUndefined)"
            >{{labelTranslateEnum.validate | translate}}
            </button>
          </div>
        </div>
      </ng-container>
    </solidify-panel-expandable>

    <button color="primary"
            class="multiple-import"
            mat-button
            (click)="openMultipleImport()"
    >
      <solidify-icon [iconName]="iconNameEnum.multiImport"></solidify-icon>
      {{labelTranslateEnum.importMultipleDeposits | translate}}
    </button>
  </div>

  <solidify-panel-expandable *ngIf="displayForm"
                             [titleToTranslate]="labelTranslateEnum.newDeposit"
                             [isOpen]="true"
                             [isPanelCollapsable]="false"
                             class="right-part main-panel"
  >
    <ng-container *ngIf="depositFormRuleHelper.pathTitle as fieldPath">
      <div *ngIf="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)"
           class="deposit-title"
      >
        <aou-deposit-form-description-text-language *ngIf="getFormGroup(fieldPath) as fd"
                                                    [formGroup]="fd"
                                                    [labelToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath)"
                                                    [listLanguages]="listLanguages"
                                                    [isMandatoryLanguage]="true"
                                                    [mainFormGroup]="mainFormGroup"
                                                    [path]="fieldPath"
                                                    [hideLanguage]="!(depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath + '.' +
                                                    formDefinitionTextLanguage.lang))"
                                                    [solidifyTooltip]="tooltipTranslateEnum.depositTitle"
                                                    [tooltipText]="tooltipTranslateEnum.depositTitleText"
                                                    [tooltipLanguage]="tooltipTranslateEnum.depositTitleLanguage"
                                                    [displayInitialText]="false"
                                                    [isTextarea]="true"
                                                    [isRichText]="true"
                                                    [isLinkAllowed]="false"
                                                    [isBoldAllowed]="false"
                                                    [textareaMaxRows]="3"
                                                    [textareaMinRows]="1"
                                                    [solidifyFormControlElementRef]="fd"
        ></aou-deposit-form-description-text-language>

        <div *ngIf="!displayOriginalTitle && !(getFormControl(depositFormRuleHelper.pathOriginalTitleText)?.value | isNonEmptyString) &&
      depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathOriginalTitle)"
             class="button-wrapper"
        >
          <button mat-button
                  class="button-add alternative-square-button"
                  color="primary"
                  solidifyShortCuts
                  (click)="addOriginalTitle()"
                  (onEnter)="addOriginalTitle()"
                  [disabled]="getFormGroup(fieldPath)?.value | isNonEmptyString"
          >
            <solidify-icon [iconName]="iconNameEnum.add"
                           class="icon"
            ></solidify-icon>
            {{labelTranslateEnum.otherTitle | translate}}
          </button>
        </div>
      </div>
    </ng-container>

    <ng-template [ngIf]="(getFormControl(depositFormRuleHelper.pathOriginalTitleText)?.value | isNonEmptyString) || displayOriginalTitle">
      <ng-container *ngIf="depositFormRuleHelper.pathOriginalTitle as fieldPath">
        <div *ngIf="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)"
             class="deposit-original-title"
             [class.with-fix-button]="(getFormControl(depositFormRuleHelper.pathOriginalTitleText)?.value | isNonWhiteString)"
        >
          <aou-deposit-form-description-text-language *ngIf="getFormGroup(fieldPath) as fd"
                                                      #originalTitleTextLanguage
                                                      [formGroup]="fd"
                                                      [isMandatoryLanguage]="true"
                                                      [labelToTranslate]="labelTranslateEnum.otherTitle"
                                                      [listLanguages]="listLanguages"
                                                      [path]="fieldPath"
                                                      [mainFormGroup]="mainFormGroup"
                                                      [solidifyTooltip]="tooltipTranslateEnum.depositOriginalTitle"
                                                      [tooltipText]="tooltipTranslateEnum.depositOriginalTitleText"
                                                      [tooltipLanguage]="tooltipTranslateEnum.depositOriginalTitleLanguage"
                                                      [displayInitialText]="false"
                                                      [isTextarea]="true"
                                                      [textareaMaxRows]="3"
                                                      [textareaMinRows]="1"
                                                      [solidifyFormControlElementRef]="fd"
          ></aou-deposit-form-description-text-language>
        </div>
      </ng-container>
    </ng-template>

    <ng-container *ngIf="depositFormRuleHelper.pathLanguages as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <aou-deposit-form-description-language *ngIf="getFormArray(fieldPath) as fd"
                                               [formArray]="fd"
                                               [listLanguages]="listLanguages"
                                               [mainFormGroup]="mainFormGroup"
                                               [solidifyTooltip]="tooltipTranslateEnum.depositLanguages"
                                               [tooltipText]="tooltipTranslateEnum.depositLanguagesLanguage"
                                               [solidifyFormControlElementRef]="fd"
                                               class="languages"
        ></aou-deposit-form-description-language>
      </ng-template>
    </ng-container>

    <aou-deposit-form-type-subtype [formGroup]="formGroup"
                                   [mainFormGroup]="mainFormGroup"
                                   [disabled]="disabled"
                                   [listDepositSubSubtype]="listDepositSubSubtype"
                                   [listDepositSubtype]="listDepositSubtype"
                                   [readonly]="readonly"
                                   [solidifyFormControlElementRef]="formGroup"
                                   (subtypeChange)="subtypeChange($event)"
    ></aou-deposit-form-type-subtype>

    <div class="two-columns before-unige">
      <ng-container *ngIf="depositFormRuleHelper.pathDates && depositFormRuleHelper.isThesisOrDoctoralThesis(mainFormGroup)">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathDates)">
          <mat-form-field *ngIf="getFormControl(formDefinitionDateThesis.date) as fd"
                          [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString) ||
                              fd.invalid) && (getFormControl(depositFormRuleHelper.pathContributorsIsBeforeUnige).value | isFalse)"
                          solidifyTooltipOnEllipsis
          >
            <mat-label>{{labelTranslateEnum.yearDefenseOrImprimatur | translate}}</mat-label>
            <input [formControl]="fd"
                   matInput
                   type="number"
                   [min]="minYearThesis"
                   [max]="maxYearThesis"
                   [placeholder]="labelTranslateEnum.dateFormatYear | translate"
                   [solidifyValidation]="errors"
                   (keyup)="verifyDate(getFormControl(formDefinitionDateThesis.date).value)"
                   [required]="getFormControl(depositFormRuleHelper.pathContributorsIsBeforeUnige).value | isFalse"
            >
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>
    </div>
    <ng-container *ngIf="depositFormRuleHelper.pathContributorsIsBeforeUnige && depositFormRuleHelper.isThesisOrDoctoralThesis(mainFormGroup)">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, depositFormRuleHelper.pathContributorsIsBeforeUnige)">
        <div>
          <mat-checkbox *ngIf="getFormControl(depositFormRuleHelper.pathContributorsIsBeforeUnige) as fd"
                        [formControl]="fd"
                        color="primary"
                        (change)="verifyDate(undefined)"
          >{{labelTranslateEnum.publicationIsBeforeUnige | translate}}
          </mat-checkbox>
        </div>
      </ng-template>
    </ng-container>

    <div class="two-columns doctor-info">
      <ng-container *ngIf="depositFormRuleHelper.pathDoctorEmail as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath) &&
          !isThesisBefore2010OrAuthorBeforeUnige"
        >
          <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                          [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          [solidifyTooltip]="tooltipTranslateEnum.depositDoctorEmail"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                          solidifyTooltipOnEllipsis
          >
            <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
            <input [formControl]="fd"
                   [required]="formValidationHelper.hasRequiredField(fd)"
                   [solidifyValidation]="errors"
                   matInput
                   type="email"
            >
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>

      <ng-container *ngIf="depositFormRuleHelper.pathDoctorAddress as fieldPath">
        <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath) &&
          !isThesisBefore2010OrAuthorBeforeUnige"
        >
          <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                          [appearance]="appearanceInputMaterial"
                          [floatLabel]="positionLabelInputMaterial"
                          [solidifyTooltip]="tooltipTranslateEnum.depositDoctorAddress"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                          solidifyTooltipOnEllipsis
          >
            <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
            <textarea [formControl]="fd"
                      [required]="formValidationHelper.hasRequiredField(fd)"
                      [solidifyValidation]="errors"
                      cdkAutosizeMaxRows="10"
                      cdkAutosizeMinRows="3"
                      cdkTextareaAutosize
                      matInput
            >
            </textarea>
            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>
        </ng-template>
      </ng-container>
    </div>

  </solidify-panel-expandable>
</div>

