@import "abstracts/abstracts";

:host {
  .form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: max-content;
    justify-content: center;
    align-items: start;

    &.two-columns {
      grid-template-columns: 1fr 2fr;

      @include respond-to-smaller-than-breakpoint('md') {
        grid-template-columns: 1fr;
      }
    }

    &:not(.two-columns) {
      .left-part {
        min-width: 460px;
      }
    }

    @include respond-to-smaller-than-breakpoint('md') {
      grid-template-columns: 1fr;
    }
  }

  .is-manual-retrieve {
    .radio-group {
      display: grid;
    }
  }

  .left-part {
    margin-bottom: 50px;

    .import-identifier-wrapper {
      display: grid;
      grid-template-columns: 1fr max-content;
      grid-gap: 10px;
      align-items: center;

      .button-wrapper {
        .button-confirm {
          margin-bottom: 20px;
        }
      }
    }

    .multiple-import {
      margin-top: 75px;
    }
  }

  .right-part {
    display: grid;

    ::ng-deep {
      > .content {
        padding-top: 20px !important;
      }
    }

    @include respond-to-breakpoint-and-bigger('md') {
      .languages {
        ::ng-deep {
          .container {
            max-width: 50%;
          }
        }
      }
    }

    .two-columns {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr;
    }

    .doctor-info > * {
      margin-top: 15px;
      display: block;
    }

    .deposit-title {
      display: grid;
      grid-template-columns: 1fr max-content;
      align-items: center;

      .button-wrapper {
        margin-left: 10px;

        .button-fix,
        .button-add {
          margin-bottom: 20px;
        }
      }
    }
  }
}
