@import "../../../../../../sass/abstracts/abstracts";

:host {
  //.panel {
  //  &::ng-deep {
  //    > .header {
  //      .title {
  //        font-size: 12px;
  //      }
  //    }
  //    > .content {
  //      display: grid;
  //      grid-template-columns: 1fr 1fr;
  //      grid-gap: 20px;
  //    }
  //  }
  //}
}
