<ng-template [ngIf]="withoutPanel"
             [ngIfElse]="withPanel"
>
  <ng-template [ngTemplateOutlet]="content"></ng-template>
</ng-template>

<ng-template #withPanel>
  <solidify-panel-expandable [titleToTranslate]="labelSectionToTranslate"
                             [isOpen]="isPanelOpenByDefault"
                             [isPanelCollapsable]="isPanelCollapsable"
                             [class]="cssClass"
  >
    <ng-template [ngTemplateOutlet]="content"></ng-template>
  </solidify-panel-expandable>
</ng-template>

<ng-template #content>
  <ng-container [ngTemplateOutlet]="headerTemplate"></ng-container>

  <div cdkDropList
       [class.is-dragging]="isDragging"
       (cdkDropListDropped)="dropToSort($event)"
       class="drop-list"
  >
    <div *cdkDragPreview></div>

    <div *ngFor="let f of getFormArrayControl; let i = index; trackBy: trackByFn"
         [class.grey]="i % 2 !== 0"
         [solidifyFormControlElementRef]="f"
         (cdkDragEnded)="endDragging()"
         (cdkDragExited)="endDragging()"
         [class]="((dragCssClass | isNotNullNorUndefinedNorWhiteString) ? dragCssClass : '') + ' line'"
         [cdkDragDisabled]="!canDrag"
         cdkDrag
    >
      <div *cdkDragPlaceholder
           class="drag-placeholder"
      ></div>

      <div class="form-group-wrapper">
        <ng-container [ngTemplateOutlet]="fieldsTemplate"
                      [ngTemplateOutletContext]="{formGroup: f}"
        ></ng-container>
      </div>

      <div class="buttons-wrapper">
        <div *ngIf="canDrag"
             [class.fix-alignment]="fixAlignmentDeleteButton"
             cdkDragHandle
             (mousedown)="startDragging()"
             (mouseup)="endDragging()"
             (touchstart)="startDragging()"
             (touchend)="endDragging()"
             class="sort-cell"
        >
          <div class="sortable-icon">
            <solidify-icon [iconName]="iconNameEnum.dragToSort"></solidify-icon>
          </div>
        </div>

        <button *ngIf="!readonly && (getFormArrayControl.length > 1 || canDeleteFirst)"
                [class.fix-alignment]="fixAlignmentDeleteButton"
                solidifyShortCuts
                class="button-delete"
                type="button"
                (onEnter)="remove(i)"
                (click)="remove(i)"
                mat-icon-button
                aria-label="delete"
                [matTooltip]="labelTranslateEnum.delete | translate"
        >
          <solidify-icon [iconName]="iconNameEnum.delete"
                         class="size-18 icon"
          ></solidify-icon>
        </button>

        <button *ngIf="!readonly && isValidationMode && withFixButton"
                [class.fix-alignment]="fixAlignmentDeleteButton"
                solidifyShortCuts
                class="button-fix"
                type="button"
                color="accent"
                (onEnter)="fix(i)"
                (click)="fix(i)"
                mat-icon-button
                aria-label="fix"
                [matTooltip]="labelTranslateEnum.fix | translate"
        >
          <solidify-icon [iconName]="iconNameEnum.autoFix"
                         class="size-18 icon"
          ></solidify-icon>
        </button>

        <button *ngIf="canAdd && !readonly && !formArray.disabled"
                solidifyShortCuts
                mat-button
                [class.hide]="getFormArrayControl.length - 1 !== i"
                [matTooltip]="labelTranslateEnum.add | translate"
                [class.fix-alignment]="fixAlignmentAddButton"
                (onEnter)="add()"
                (click)="add()"
                class="button-add"
                type="button"
                color="primary"
                aria-label="add"
        >
          <solidify-icon [iconName]="iconNameEnum.add"
                         class="icon"
          ></solidify-icon>
          {{labelTranslateEnum.add | translate}}
        </button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="formArray.errors?.[ERROR_FROM_BACKEND] as errors">
    <div *ngIf="errors | isNotNullNorUndefinedNorEmptyArray"
         class="errors"
    >
      <mat-error *ngFor="let error of errors"
                 solidifyTooltipOnEllipsis
      >{{error}}
      </mat-error>
    </div>
  </ng-container>
</ng-template>
