@import "abstracts/abstracts";

@mixin line-style {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-gap: 0 10px;
  align-items: center;
  background-color: $panel-background;
  padding: 4px;

  .buttons-wrapper {
    display: flex;
    grid-gap: 0 10px;
    align-items: center;

    .sort-cell {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }

      .sortable-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        color: $medium-light-grey;
      }
    }

    .button-add {
      &.hide {
        visibility: hidden;
      }
    }

    .sort-cell,
    .button-delete,
    .button-fix,
    .button-add {
      &.fix-alignment {
        margin-bottom: 20px;
      }
    }
  }
}

:host {
  .drop-list {
    background-color: $medium-light-grey;

    .line {
      @include line-style;

      &.grey {
        background-color: $extra-light-grey;
      }

      &:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }

  .cdk-drag-placeholder {
    height: 4px;
  }

  .errors {
    margin-bottom: 10px;
  }
}

::ng-deep {
  .cdk-drag-preview {
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px $outline;
    @include line-style;
  }

  @include isInDarkMode(true) {
    .cdk-drag-preview {
      background-color: $dark-mode-panel-background;
    }
  }
}

@include isInDarkMode {
  .drop-list {
    background-color: $dark-mode-line;

    .line {
      background-color: $dark-mode-panel-background;

      &.grey {
        background-color: $dark-mode-background;
      }
    }
  }
}