<solidify-empty-container solidifyShortCuts
                          (onEscape)=" isEdit ? backToDetail() : backToList()"
                          [solidifyFocusFirstElement]="true"
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  [mode]="isEdit ? 'edit' : 'detail'"
                                  [formPresentational]="formPresentational"
                                  [currentModel]="currentObs | async"
                                  (editChange)="edit()"
                                  (deleteChange)="delete()"
                                  (backToDetailChange)="backToDetail()"
  >
  </solidify-button-toolbar-detail>

  <div class="wrapper"
       [solidifySpinner]="isLoadingWithDependencyObs | async"
  >
    <aou-admin-role-form #formPresentational
                         *ngIf="isReadyToBeDisplayedObs | async"
                         [model]="currentObs | async"
                         [readonly]="!isEdit"
                         [editAvailable]="editAvailable"
                         (submitChange)="update($event)"
                         (checkAvailableChange)="checkAvailable($event)"
                         (dirtyChange)="updateCanDeactivate($event)"
                         (editChange)="edit()"
    >
    </aou-admin-role-form>
  </div>
</solidify-empty-container>
