<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
>
  <solidify-detail-presentation [centerTemplate]="centerTemplate"
                                [iconName]="iconNameEnum.structures"
                                [rightTemplate]="rightTemplate"
  ></solidify-detail-presentation>

  <ng-template #centerTemplate>
    <mat-form-field *ngIf="getFormControl(formDefinition.name) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.nameLabel | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.cnStructC) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.cnStructC | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.cStruct) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.code | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.dewey) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.dewey | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <solidify-searchable-single-select *ngIf="getFormControl(formDefinition.parentStructure) as fd"
                                       [formControl]="fd"
                                       [labelCallback]="structureLabel"
                                       [labelKey]="'name'"
                                       [placeholder]="labelTranslateEnum.parent | translate"
                                       [readonly]="readonly"
                                       [required]="formValidationHelper.hasRequiredField(fd)"
                                       [positionLabel]="positionLabelInputMaterial"
                                       [resourceNameSpace]="sharedStructureNameSpace"
                                       [sort]="sharedStructureSort"
                                       [state]="sharedStructureState"
                                       [valueKey]="'resId'"
                                       solidifyValidation
    >
    </solidify-searchable-single-select>

  </ng-template>

  <ng-template #rightTemplate>

    <mat-form-field *ngIf="getFormControl(formDefinition.status) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.status | translate}}</mat-label>
      <mat-select [formControl]="fd"
                  [required]="formValidationHelper.hasRequiredField(fd)"
                  [solidifyValidation]="errors"
      >
        <mat-option *ngFor="let status of structureStatusEnum"
                    [value]="status.key"
        >
          {{status.value | translate}}
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.acronym) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.acronym | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field (click)="publicationDateDatepicker.open()"
                    *ngIf="getFormControl(formDefinition.validUntil) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.validUntil | translate}}</mat-label>
      <input [formControl]="fd"
             [matDatepicker]="publicationDateDatepicker"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-datepicker-toggle [for]="publicationDateDatepicker"
                             matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #publicationDateDatepicker
                      [touchUi]="breakpointService.isSmallerThanMd()"
      ></mat-datepicker>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.sortValue) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.sort | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

  </ng-template>

  <aou-shared-additional-information-panel-container *ngIf="model | isNotNullNorUndefined"
                                                     [resource]="model"
  >
  </aou-shared-additional-information-panel-container>
</form>
