@import "abstracts/abstracts";

:host {
  .form {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;

    @include respond-to-smaller-than-breakpoint('md') {
      grid-template-columns: 1fr;
    }
  }
}
