<solidify-base-action-dialog [titleToTranslate]="'deposit.popup.validateResearchGroup.title' | translate">
  <div [solidifySpinner]="isLoadingResearchGroupObs | async"
       class="wrapper"
  >
    <form [formGroup]="form"
          class="form"
    >
      <mat-form-field *ngIf="getFormControl(formDefinition.name) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateEnum.nameLabel | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="getFormControl(formDefinition.acronym) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateEnum.acronym | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="getFormControl(formDefinition.code) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateEnum.code | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </form>
  </div>
</solidify-base-action-dialog>
<div mat-dialog-actions>
  <button [mat-dialog-close]=""
          [solidifyAutoFocus]="true"
          mat-button
  >{{labelTranslateEnum.close | translate}}</button>
  <button color="primary"
          mat-flat-button
          (click)="validateResearchGroup()"
          [disabled]="form.invalid"
  >{{labelTranslateEnum.validate | translate}}
  </button>
</div>
