<a (click)="toggleAdvancedSearch()">{{displayAdvancedSearch ? '-' : '+'}} {{labelTranslateEnum.refineYourSearch | translate}} ({{numberCriteria}})</a>

<div *ngIf="displayAdvancedSearch"
     class="advanced-search"
>
  <ng-template [ngIf]="listCriteriasWithoutCombined | isNonEmptyArray">
    <ul class="list-criterias">
      <li *ngFor="let f of getFormArrayControl; let i = index; trackBy: trackByFn"
          class="criteria"
      >
        <aou-home-add-or-exclude-button *ngIf="getFormControl(f, formDefinition.match) as fd"
                                        [isExcluded]="fd.value"
                                        (click)="toggleMatchMode(fd)"
        ></aou-home-add-or-exclude-button>

        <mat-form-field *ngIf="getFormControl(f, formDefinition.alias) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [class.mat-form-field-invalid]="(hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                        class="type-field"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{labelTranslateEnum.searchCriteria | translate}}</mat-label>
          <mat-select [formControl]="fd"
                      [required]="hasRequiredField(fd)"
                      [solidifyValidation]="errors"
          >
            <mat-option *ngFor="let criteria of listCriteriasWithoutCombined"
                        [value]="getAliasOfCriteriaOrChildCriteria(criteria, f)"
            >
              {{criteria.labels | backtranslate}}
            </mat-option>
          </mat-select>
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>

        <div class="value-wrapper">
          <ng-container *ngIf="getRootCriteriaFromFormGroup(f) as criteria">
            <ng-container [ngSwitch]="criteria.type">

              <ng-container *ngSwitchCase="criteria.type === typeCriteria.FREE_TEXT_TERM || criteria.type === typeCriteria.FREE_TEXT_MATCH
               || criteria.type === typeCriteria.FREE_TEXT_WILDCARD ? criteria.type : ''">
                <mat-form-field *ngIf="getFormControl(f, formDefinition.values) as fd"
                                [appearance]="appearanceInputMaterial"
                                [floatLabel]="positionLabelInputMaterial"
                                [class.mat-form-field-invalid]="(hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                                class="value-field"
                                solidifyTooltipOnEllipsis
                >
                  <mat-label>{{labelTranslateEnum.value | translate}}</mat-label>
                  <input [formControl]="fd"
                         [required]="hasRequiredField(fd)"
                         [solidifyValidation]="errors"
                         matInput
                  >
                  <mat-error #errors
                             solidifyTooltipOnEllipsis
                  ></mat-error>
                </mat-form-field>
                <ng-container *ngIf="criteria.type === typeCriteria.FREE_TEXT_WILDCARD">
                  <div class="info">
                  {{ labelTranslateEnum.canUseWildcardCharacters | translate }}
                  </div>
                </ng-container>
              </ng-container>

              <ng-template [ngSwitchCase]="typeCriteria.ENUM_SINGLE">
                <mat-form-field *ngIf="getFormControl(f, formDefinition.values) as fd"
                                [appearance]="appearanceInputMaterial"
                                [floatLabel]="positionLabelInputMaterial"
                                [class.mat-form-field-invalid]="(hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                                class="value-field"
                                solidifyTooltipOnEllipsis
                >
                  <mat-label>{{labelTranslateEnum.value | translate}}</mat-label>
                  <mat-select [formControl]="fd"
                              [required]="hasRequiredField(fd)"
                              [solidifyValidation]="errors"
                  >
                    <mat-option *ngFor="let enumValue of criteria.selectableValues"
                                [value]="enumValue.value"
                    >
                      {{enumValue.labels | backtranslate}}
                    </mat-option>
                  </mat-select>
                  <mat-error #errors
                             solidifyTooltipOnEllipsis
                  ></mat-error>
                </mat-form-field>

              </ng-template>

              <ng-template [ngSwitchCase]="typeCriteria.ENUM_MULTIPLE">
                <solidify-multi-select *ngIf="getFormControl(f, formDefinition.values) as fd"
                                       [formControl]="fd"
                                       [isWithLink]="false"
                                       [labelCallback]="enumLabelCallback"
                                       [list]="criteria.selectableValues"
                                       [title]="labelTranslateEnum.value | translate"
                                       [placeholder]="labelTranslateEnum.clickHereToAddAValue | translate"
                                       [valueKey]="'value'"
                                       [appearance]="appearanceInputMaterial"
                                       [closeAfterValueSelected]="true"
                                       [required]="false"
                                       solidifyValidation
                                       class="value-field"
                >
                </solidify-multi-select>

              </ng-template>

              <ng-template [ngSwitchCase]="typeCriteria.INTERVAL_YEAR">

                <div class="year-inputs">
                  <mat-form-field *ngIf="getFormControl(f, formDefinition.valueFromRange) as fd"
                                  [appearance]="appearanceInputMaterial"
                                  [floatLabel]="positionLabelInputMaterial"
                                  [class.mat-form-field-invalid]="(hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                                  class="value-field"
                                  solidifyTooltipOnEllipsis
                  >
                    <mat-label>{{labelTranslateEnum.from | translate}}</mat-label>
                    <input [formControl]="fd"
                           [required]="hasRequiredField(fd)"
                           [solidifyValidation]="errors"
                           type="number"
                           matInput
                    >
                    <mat-error #errors
                               solidifyTooltipOnEllipsis
                    ></mat-error>
                  </mat-form-field>

                  <mat-form-field *ngIf="getFormControl(f, formDefinition.valueToRange) as fd"
                                  [appearance]="appearanceInputMaterial"
                                  [floatLabel]="positionLabelInputMaterial"
                                  [class.mat-form-field-invalid]="(hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                                  class="value-field"
                                  solidifyTooltipOnEllipsis
                  >
                    <mat-label>{{labelTranslateEnum.to | translate}}</mat-label>
                    <input [formControl]="fd"
                           [required]="hasRequiredField(fd)"
                           [solidifyValidation]="errors"
                           type="number"
                           matInput
                    >
                    <mat-error #errors
                               solidifyTooltipOnEllipsis
                    ></mat-error>
                  </mat-form-field>
                </div>

              </ng-template>

              <ng-template [ngSwitchCase]="typeCriteria.STRUCTURE_COMBINED">
                <aou-shared-structure-input *ngIf="getFormControl(f, formDefinition.values) as fd"
                                            [formControl]="fd"
                                            class="structure value-field"
                >
                </aou-shared-structure-input>
                <div class="checkbox-wrapper">
                  <mat-checkbox *ngIf="getFormControl(f, formDefinition.checked) as fd"
                                [formControl]="fd"
                                color="primary"
                  >{{labelTranslateEnum.includeSubStructures | translate}}
                  </mat-checkbox>
                </div>
              </ng-template>

              <ng-template [ngSwitchCase]="typeCriteria.RESEARCH_GROUP">

                <solidify-searchable-multi-select *ngIf="getFormControl(f, formDefinition.values) as fd"
                                                  [appearance]="appearanceInputMaterial"
                                                  [formControl]="getFormControl(f, formDefinition.values)"
                                                  [isWithLink]="false"
                                                  [labelKey]="KEY_RESEARCH_GROUP_SEARCH_NAME"
                                                  [placeholder]="labelTranslateEnum.clickHereToAddAResearchGroup | translate"
                                                  [required]="hasRequiredField(fd)"
                                                  [resourceNameSpace]="sharedResearchGroupActionNameSpace"
                                                  [sort]="sharedResearchGroupSort"
                                                  [state]="sharedResearchGroupState"
                                                  [title]="labelTranslateEnum.researchGroups | translate"
                                                  [valueKey]="'resId'"
                                                  [labelCallback]="researchGroupLabel"
                                                  [defaultValueLabel]="labelTranslateEnum.defaultValueAccordingToYourProfile"
                                                  [solidifyTooltip]="tooltipTranslateEnum.depositGroup"
                                                  [overlayPosition]="overlayPositionEnum.top"
                                                  [closeAfterValueSelected]="true"
                                                  [extraSearchQueryParam]="researchGroupQueryParam"
                                                  [preTreatmentHighlightText]="researchGroupPreTreatmentHighlightText"
                                                  [postTreatmentHighlightText]="researchGroupPostTreatmentHighlightText"
                                                  aria-label="research group"
                                                  solidifyValidation
                                                  class="group value-field"
                >
                </solidify-searchable-multi-select>

              </ng-template>

              <ng-container *ngSwitchCase="typeCriteria.CONTRIBUTOR_UNIGE">
                <!-- FOR DIRECTOR -->
                <solidify-searchable-multi-select *ngIf="getFormControl(f, formDefinition.values) as fd"
                                                  [appearance]="appearanceInputMaterial"
                                                  [formControl]="getFormControl(f, formDefinition.values)"
                                                  [isWithLink]="false"
                                                  [labelKey]="KEY_CONTRIBUTOR_SEARCH_FIELD"
                                                  [placeholder]="labelTranslateEnum.clickHereToAddAContributor | translate"
                                                  [required]="hasRequiredField(fd)"
                                                  [resourceNameSpace]="sharedContributorActionNameSpace"
                                                  [extraSearchQueryParam]="contributorUnigeExtraSearchParameterSource"
                                                  [sort]="sharedContributorSort"
                                                  [state]="sharedContributorState"
                                                  [title]="labelTranslateEnum.contributors | translate"
                                                  [valueKey]="KEY_CONTRIBUTOR_ATTRIBUTE_CN_INDIVIDU"
                                                  [getByListId]="getByListIdCnIndividu"
                                                  [searchKey]="KEY_CONTRIBUTOR_SEARCH_FIELD"
                                                  [labelCallback]="contributorLabel"
                                                  [closeAfterValueSelected]="false"
                                                  [preTreatmentHighlightText]=""
                                                  [extraInfoSecondLineLabelCallback]="contributorExtraInfoSecondLineLabelCallback"
                                                  [colorHexaForLineCallback]="allContributorColorHexaForLineCallback"
                                                  [extraInfoDisplayOnContent]="false"
                                                  [extraInfoImage]="iconNameEnum.orcid"
                                                  [extraInfoLabelKey]="'orcid'"
                                                  [extraInfoImageOverrideMethod]="true"
                                                  (extraInfoCallback)="extraInfoCallback($event)"
                                                  [overlayComponent]="$any(contributorOverlayComponent)"
                                                  aria-label="contributors"
                                                  solidifyValidation
                                                  class="contributors value-field"
                >
                </solidify-searchable-multi-select>
              </ng-container>

              <ng-container *ngSwitchCase="typeCriteria.CONTRIBUTOR_COMBINED">
                <!-- FOR CONTRIBUTOR -->
                <ng-container *ngIf="getFormControl(f, formDefinition.checked) as fdChecked">
                  <ng-template [ngIf]="fdChecked.value | isNotNullNorUndefined">
                    <solidify-searchable-multi-select *ngIf="getFormControl(f, formDefinition.values) as fd"
                                                      [appearance]="appearanceInputMaterial"
                                                      [formControl]="getFormControl(f, formDefinition.values)"
                                                      [isWithLink]="false"
                                                      [labelKey]="KEY_CONTRIBUTOR_SEARCH_FIELD"
                                                      [placeholder]="labelTranslateEnum.clickHereToAddAContributor | translate"
                                                      [required]="hasRequiredField(fd)"
                                                      [resourceNameSpace]="sharedContributorActionNameSpace"
                                                      [extraSearchQueryParam]="fdChecked.value ?
                                                  contributorUnigeExtraSearchParameterSource : contributorNonUnigeExtraSearchParameterSource"
                                                      [sort]="sharedContributorSort"
                                                      [state]="sharedContributorState"
                                                      [title]="labelTranslateEnum.contributors | translate"
                                                      [valueKey]="fdChecked.value ? KEY_CONTRIBUTOR_ATTRIBUTE_CN_INDIVIDU :
                                                  KEY_CONTRIBUTOR_ATTRIBUTE_FULL_NAME"
                                                      [getByListId]="fdChecked.value ? getByListIdCnIndividu : getByListIdFullName"
                                                      [searchKey]="KEY_CONTRIBUTOR_SEARCH_FIELD"
                                                      [labelCallback]="contributorLabel"
                                                      [closeAfterValueSelected]="false"
                                                      [preTreatmentHighlightText]=""
                                                      [extraInfoSecondLineLabelCallback]="contributorExtraInfoSecondLineLabelCallback"
                                                      [colorHexaForLineCallback]="allContributorColorHexaForLineCallback"
                                                      [extraInfoDisplayOnContent]="false"
                                                      [extraInfoImage]="iconNameEnum.orcid"
                                                      [extraInfoLabelKey]="'orcid'"
                                                      [extraInfoImageOverrideMethod]="true"
                                                      [overlayComponent]="$any(contributorOverlayComponent)"
                                                      (extraInfoCallback)="extraInfoCallback($event)"
                                                      aria-label="contributors"
                                                      solidifyValidation
                                                      class="contributors value-field"
                    >
                    </solidify-searchable-multi-select>
                  </ng-template>
                  <div class="checkbox-wrapper">
                    <mat-checkbox [formControl]="fdChecked"
                                  color="primary"
                    >{{labelTranslateEnum.onlyUnigePeople | translate}}
                    </mat-checkbox>
                  </div>
                </ng-container>

              </ng-container>

            </ng-container>
          </ng-container>
        </div>

        <div>
          <button class="delete-button"
                  [class.is-visible]="canDelete"
                  mat-icon-button
                  (click)="deleteCriteria(i)"
                  [matTooltip]="labelTranslateEnum.delete | translate"
          >
            <solidify-icon [iconName]="iconNameEnum.delete"
                           class="size-18"
            ></solidify-icon>
          </button>
        </div>
      </li>
    </ul>
  </ng-template>

  <a (click)="addCriteria()">+ {{labelTranslateEnum.addACriteria | translate}}</a>
</div>

