@import "abstracts/abstracts";

:host {
  display: block;

  .advanced-search {
    margin-top: 9px;
    border-radius: 4px;
    padding: 20px 20px;
    background-color: $background-grey;

    .list-criterias {
      display: grid;
      grid-gap: 10px;
      margin-bottom: 10px;

      .criteria {
        display: grid;
        grid-template-columns: max-content max-content 1fr max-content;
        align-items: start;
        grid-gap: 10px;

        .value-wrapper {
          display: grid;

          .year-inputs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px;
          }

          .info {
            color: $light-grey;
            font-style: italic;
            margin-bottom: 5px;
          }
        }

        .type-field,
        .value-field {
          ::ng-deep {
            .mat-mdc-form-field-subscript-wrapper {
              display: none;
            }
          }
        }

        .delete-button {
          &:not(.is-visible) {
            visibility: hidden;
          }
        }
      }
    }
  }
}

@include isInDarkMode {
  :host {
    .advanced-search {
      background-color: $dark-mode-toolbar;
    }
  }
}
