<solidify-avatar [userInfo]="contributor"
                 [mode]="imageDisplayModeEnum.IN_CONTRIBUTOR"
                 [photoUser]="avatarUrl"
                 class="avatar"
></solidify-avatar>

<div class="info">
  <div class="personal-info">
    <h1 class="name">{{contributor.lastName}}, {{contributor.firstName}}</h1>
    <solidify-icon *ngIf="contributor.orcid as orcid"
                   [iconName]="iconNameEnum.orcid"
                   [title]="orcid"
                   (click)="goToOrcid(orcid)"
                   class="size-24 orcid"
    >
    </solidify-icon>
  </div>

  <div class="link-wrapper">
    <solidify-icon [iconName]="iconNameEnum.generateBibliography"
                   class="icon"
    ></solidify-icon>
    <a *ngIf="generateBibliographyLink"
       [routerLink]="environment.baseHref + generateBibliographyLink.path"
       [queryParams]="generateBibliographyLink.queryParams"
       class="link"
    >
      {{labelTranslateEnum.generateTheContributorBibliography | translate}}
    </a>
  </div>

  <div class="link-wrapper">
    <solidify-icon [iconName]="iconNameEnum.search"
                   class="icon"
    ></solidify-icon>
    <a *ngIf="searchContributorsPublicationsLink"
       [routerLink]="environment.baseHref + searchContributorsPublicationsLink.path"
       [queryParams]="searchContributorsPublicationsLink.queryParams"
       class="link"
    >
      {{labelTranslateEnum.searchContributorsPublications | translate}}
    </a>
  </div>

  <div *ngIf="contributor.hasEmail | isTrue"
       class="link-wrapper"
  >
    <solidify-icon [iconName]="iconNameEnum.mail"
                   class="icon"
    ></solidify-icon>
    <a (click)="contact()"
       class="link"
    >
      {{labelTranslateEnum.contactThisContributor | translate}}
    </a>
  </div>

  <div *ngIf="(contributor.structures | isNonEmptyArray) || (contributor.researchGroups | isNonEmptyArray)"
       class="associations"
  >
    <aou-home-structure-list-container [structures]="contributor.structures"></aou-home-structure-list-container>
    <aou-home-research-group-list-container [researchGroups]="contributor.researchGroups"></aou-home-research-group-list-container>
  </div>
</div>