@import "../../../../../../sass/abstracts/abstracts";

:host {
  display: grid;
  justify-content: center;
  grid-gap: 10px 30px;
  text-align: center;
  grid-auto-flow: column;
  align-items: center;

  @include respond-to-smaller-than-breakpoint('md') {
    grid-auto-flow: row;
  }

  .avatar {
    justify-self: center;

    ::ng-deep {
      .avatar {
        font-size: 45px;
      }
    }
  }

  .info {
    text-align: left;

    @include respond-to-smaller-than-breakpoint('md') {
      text-align: center;
    }

    .link-wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: 24px max-content;
      grid-gap: 5px;
      font-size: 13px;

      .icon {
        color: $text-color;
        justify-self: center;
      }

      a {
        width: fit-content;
      }
    }

    .personal-info {
      display: flex;
      align-items: center;

      @include respond-to-smaller-than-breakpoint('md') {
        justify-content: center;
      }

      .name {
        font-weight: bold;
        font-size: 20px;
        margin: 0;
      }

      .orcid {
        cursor: pointer;
        margin-left: 10px;
      }
    }
  }

  .associations {
    display: grid;
    grid-gap: 15px;
    margin-top: 20px;
  }
}

@include isInDarkMode {
  .info {
    .link-wrapper {
      .icon {
        color: $dark-mode-text-color;
      }
    }
  }
}
