<div *ngIf="displayCircle"
     class="round"
     [style.background]="backgroundColor"
     [style.border-color]="borderColor"
     [matTooltip]="labelToTranslate | translate"
     [matTooltipDisabled]="!withTooltip"
></div>
<solidify-icon *ngIf="accessLevelIconName"
               [iconName]="accessLevelIconName"
               [class]="size"
               [matTooltip]="labelToTranslate | translate"
               [matTooltipDisabled]="!withTooltip"
></solidify-icon>