@if (structures | isNonEmptyArray) {
  <h3 *ngIf="displayTitle"
      class="title"
  >
    <solidify-icon [iconName]="iconNameEnum.structures"></solidify-icon>
    {{labelTranslateEnum.structures | translate}}
  </h3>

  <ul class="structures">
    <li *ngFor="let structureGroup of structures; let i = index">
      <ng-template [ngIf]="structureGroup | isNonEmptyArray">
        <ng-container *ngFor="let structure of structureGroup; let j = index; trackBy: trackByFnWithResId">
          <a *ngIf="(structureLinks | isNonEmptyArray) && (structureLinks[i][j] | isNotNullNorUndefined); else noLink"
             [routerLink]="'/' + structureLinks[i][j].path"
             [queryParams]="structureLinks[i][j].queryParams"
          >
            {{structure.name}}
          </a>
          <ng-template #noLink>
            {{structure.name}}
          </ng-template>
          <span *ngIf="j < structureGroup.length - 1"> / </span>
        </ng-container>

      </ng-template>
    </li>
  </ul>
}