@import "abstracts/abstracts";

:host {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .icon {
    margin-bottom: 20px;
    color: $light-grey;
  }
}
