<solidify-icon class="icon size-80"
               [iconName]="iconNameEnum.notFound"
></solidify-icon>
<h1>{{'app.notFound.title' | translate}}</h1>
<button type="button"
        mat-button
        color="primary"
        solidifyShortCuts
        (onEnter)="backToHome()"
        (click)="backToHome()"
>
  <solidify-icon [iconName]="iconNameEnum.home"></solidify-icon>
  {{labelTranslateEnum.backToHomePage | translate}}
</button>
