@import "solidify-frontend/lib/application/components/routables/abstract-resource/abstract-resource.routable";
@import "abstracts/abstracts";

:host {
  .button-toolbar {
    margin-bottom: 10px;
  }

  .explanations {
    white-space: pre-line;
    margin: 20px 0;
  }

  .tabs-container {
    .hide {
      display: none;
    }
  }

  .no-result {
    text-align: center;
    max-width: 500px;
    white-space: pre-line;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px 0;
  }

  .list-pinned {
    &:not(.hide) {
      display: block;
      margin-top: 25px;
    }

    ::ng-deep {
      .header-button-and-pagination {
        display: none !important;
      }
    }
  }

  .list-search-wrapper {

    .list-search {
      margin-top: 20px;
      display: grid;
      grid-gap: 10px;

      > li {
        border-left: 3px solid $primary-color;
        padding: 0 10px;
        cursor: pointer;
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        align-items: center;
        grid-gap: 10px;

        &:hover {
          background-color: $extra-ultra-light-grey;

          .title {
            color: $primary-color;
          }
        }

        .checkbox {
          padding: 10px;
        }

        .title {

        }

        .title-bibliography {
          font-style: italic;
          text-decoration: underline;
        }

        .buttons {
          display: grid;
          grid-auto-flow: column;
          grid-gap: 5px;
          align-items: center;
        }
      }
    }
  }

}

@include isInDarkMode {
  :host {
    .list-search-wrapper {
      .list-search {
        > li {
          &:hover {
            background-color: $dark-mode-menu-active;
          }
        }
      }
    }
  }
}
