<solidify-empty-container (keydown.escape)="backToHome()"
                          [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
>
  <div class="button-toolbar">
    <button (click)="generateBibliography()"
            (onEnter)="generateBibliography()"
            [disabled]="numberSelectedElements === 0"
            color="primary"
            mat-button
            solidifyShortCuts
    >
      <solidify-icon [iconName]="iconNameEnum.generateBibliography"></solidify-icon>
      @if (numberSelectedElements === 0) {
        {{labelTranslateEnum.generateBibliography | translate}}
      } @else if (numberSelectedElements > 0) {
        {{
              labelTranslateEnum.generateBibliographyX | translate: {
                  pinned: listPinnedSelected.length,
                  search: listStoredSearchSelected.length
              }
        }}
      }
    </button>
    <aou-home-generate-bibliography-button-container [pinnedPublications]="listPinnedSelected"
                                                     [storedSearches]="listStoredSearchSelected"
    >
    </aou-home-generate-bibliography-button-container>
  </div>


  <div class="explanations"
       [innerHTML]="'pinboard.explanations' | translate"
  ></div>
  <solidify-tabs-container #tabsContainer
                           class="tabs-container"
                           [tabs]="listTabs"
                           [isLoading]="(isLoadingStoredSearchesObs | async) || (isLoadingPinObs | async)"
                           [suffixUrlMatcher]="suffixUrlMatcher"
  >
    <div *ngIf="tabsContainer.currentTab?.id === pinboardListTabEnum.pinnedPublications && (listPinnedObs | async)?.length === 0"
         class="no-result"
    >{{"pinboard.pinned.noResult" | translate}}
    </div>

    <solidify-data-table [class.hide]="tabsContainer.currentTab?.id !== pinboardListTabEnum.pinnedPublications || (listPinnedObs | async)?.length === 0"
                         [actions]="actions"
                         [columns]="columns"
                         [data]="listPinnedObs | async"
                         [solidifyDataTest]="dataTestEnum.homePinboardDataTablePinned"
                         [focusFirstElement]="false"
                         [isLoading]="isLoadingPinObs | async"
                         [queryParameters]="queryParameters"
                         [skipInitialQuery]="true"
                         [isMultiSelectable]="true"
                         [stickyTopPosition]="0"
                         [displayActionCopyIdToClipboard]="true"
                         (queryParametersChange)="onQueryParametersEvent($event)"
                         (selectChange)="showDetail($event)"
                         (multiSelectionChange)="multiSelectionPinboard($event)"
                         class="list-pinned"
    ></solidify-data-table>

    <div [class.hide]="tabsContainer.currentTab?.id !== pinboardListTabEnum.storedSearches"
         class="list-search-wrapper"
    >
      <div *ngIf="(listStoredSearchObs | async)?.length === 0; else listStoredSearch"
           class="no-result"
      >{{"pinboard.search.noResult" | translate}}
      </div>

      <ng-template #listStoredSearch>
        <ul class="list-search">
          <li *ngFor="let search of (listStoredSearchObs | async); let i = index; trackBy: trackByFn"
              (click)="navigateToSearchPage(search)"
              matRipple
          >
            <mat-checkbox color="primary"
                          (change)="selectSearch(search, $event)"
                          (click)="preventClick($event)"
                          class="checkbox"
            >
            </mat-checkbox>
            <span *ngIf="search.usedForBibliography | isTrue"
                  class="title-bibliography"
            >
              <solidify-icon [iconName]="iconNameEnum.exportBibliography"
                             class="size-16"
              ></solidify-icon>
              {{search.name}}
            </span>
            <span *ngIf="search.usedForBibliography | isFalse"
                  class="title"
            >{{search.name}}</span>
            <div class="buttons">
              <aou-home-generate-bibliography-button-container [pinnedPublications]="listPinnedSelected"
                                                               [storedSearches]="listStoredSearchSelected"
                                                               [iconMode]="true"
              >
              </aou-home-generate-bibliography-button-container>
              <button [matTooltipPosition]="'left'"
                      [matTooltip]="labelTranslateEnum.share | translate"
                      (click)="share(search, $event)"
                      class="share"
                      mat-icon-button
              >
                <solidify-icon [iconName]="iconNameEnum.share"
                               class="size-18"
                ></solidify-icon>
              </button>
              <button [matTooltipPosition]="'left'"
                      [matTooltip]="labelTranslateEnum.rename | translate"
                      (click)="editSearchName(search, $event)"
                      class="about"
                      mat-icon-button
              >
                <solidify-icon [iconName]="iconNameEnum.edit"
                               class="size-18"
                ></solidify-icon>
              </button>
              <button [matTooltipPosition]="'left'"
                      [matTooltip]="labelTranslateEnum.delete | translate"
                      (click)="deleteSearch(search, $event)"
                      class="about"
                      mat-icon-button
              >
                <solidify-icon [iconName]="iconNameEnum.delete"
                               class="size-18"
                ></solidify-icon>
              </button>
            </div>
          </li>
        </ul>
      </ng-template>
    </div>

  </solidify-tabs-container>
</solidify-empty-container>
