<mat-radio-group #matRadioGroup
                 [value]="selectedContributor?.cnIndividu"
                 (change)="select($event.value)"
                 (scroll)="onScroll($event, matRadioGroup)"
                 (wheel)="preventScrollIfLoadingNextChunk($event)"
                 class="list-result"
                 color="primary"
>
  <mat-radio-button *ngFor="let contributor of list"
                    [value]="contributor.cnIndividu"
  >
    <div class="result-wrapper">
      <span class="fullname">{{contributor.lastname}} {{contributor.firstname}}</span>
      <span class="structure">{{contributor.structure}}</span>
      <span class="function">{{contributor.function}}</span>
      <span *ngIf="contributor.yearOfBirth"
            class="year"
      >{{contributor.yearOfBirth}}</span>
    </div>
  </mat-radio-button>
</mat-radio-group>

<div [solidifySpinnerDiameter]="24"
     [solidifySpinnerStrokeWidth]="2"
     [solidifySpinner]="isLoadingNextChunk"
     class="spinner-loader-chunk"
></div>

<div *ngIf="(isLoading | isFalse) && (totalItems > 0)"
     class="pagination"
>
  {{labelTranslateEnum.xOfXItemsDisplayed | translate:{elements: list?.length, total: totalItems} }}
</div>

<div *ngIf="(isLoading | isFalse) && (totalItems === 0)"
     class="no-result"
>
  {{labelTranslateEnum.noContributorsFoundPleaseRefineYourSearch | translate}}
</div>

<div *ngIf="(totalItems | isNotNullNorUndefined) && (totalItems > 0)"
     class="button-wrapper"
>
  <button (click)="cancel()"
          (onEnter)="cancel()"
          mat-button
          solidifyShortCuts
  >{{labelTranslateEnum.cancel | translate}}</button>
  <button (click)="confirm()"
          (onEnter)="confirm()"
          [disabled]="selectedContributor | isNullOrUndefined"
          color="primary"
          mat-flat-button
          solidifyShortCuts
  >{{labelTranslateEnum.confirm | translate}}
  </button>
</div>
