@import "abstracts/abstracts";

:host {
  .list-result {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 220px;
    overflow-y: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .result-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .fullname {
      line-height: 24px;
    }

    .structure,
    .function,
    .year {
      line-height: 13px;
      font-size: 12px;
      color: $light-grey;
    }
  }

  .pagination {
    padding-top: 10px;
  }

  .no-result {
    color: $red;
  }

  .button-wrapper {
    padding: 10px 0;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
  }
}
