@import "abstracts/abstracts";

:host {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  align-items: center;

  @include respond-to-smaller-than-breakpoint('md') {
    grid-template-columns: 1fr;
  }

  .buttons-wrapper {
    background-color: $white;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 13px -13px $light-grey;

    @include respond-to-smaller-than-breakpoint('md') {
      grid-template-columns: 1fr;
    }

    .button {
      padding: 25px 45px;
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-gap: 10px;
      align-items: start;
      justify-content: space-between;
      border-right: 1px solid $intermediate-grey;
      cursor: pointer;

      @include respond-to-smaller-than-breakpoint('md') {
        border-right: none;
        border-bottom: 1px solid $intermediate-grey;
      }

      &.disabled {
        cursor: initial;
        opacity: 0.4;
      }

      &:last-child {
        border-right: none;

        @include respond-to-smaller-than-breakpoint('md') {
          border-bottom: none;
        }
      }

      .icon {
        color: $primary-color;
        font-size: 25px;
      }

      .text {
        display: grid;
        grid-gap: 4px;

        .main {
          font-weight: bold;
          font-size: 17px;
        }

        .secondary {
          font-weight: lighter;
        }
      }
    }
  }
}

@include isInDarkMode {
  :host {
    .buttons-wrapper {
      background: $dark-mode-background;
      box-shadow: 0 8px 13px -13px $dark-grey;

      .button {
        border-color: $dark-mode-line;
      }
    }
  }
}
