<div class="buttons-wrapper">
  <div class="button"
       matRipple
       [matRippleAnimation]="rippleAnimation"
       (click)="navigateToSearch()"
  >
    <div class="icon">
      +
    </div>
    <div class="text">
    <span class="main">
      {{labelTranslateEnum.consult | translate}}
    </span>
      <span class="secondary">
      {{labelTranslateEnum.allPublications | translate}}
    </span>
    </div>
  </div>

  <div *ngIf="(logged | isFalse) || isUserMemberAuthorizedInstitutions"
       class="button"
       matRipple
       [matRippleAnimation]="rippleAnimation"
       (click)="goToDeposit()"
  >
    <div class="icon">
      +
    </div>
    <div class="text">
    <span class="main">
      {{labelTranslateEnum.drop | translate}}
    </span>
      <span class="secondary">
      {{labelTranslateEnum.aPublication | translate}}
    </span>
    </div>
  </div>

  <div class="button"
       matRipple
       [matRippleAnimation]="rippleAnimation"
       (click)="navigateToBibliographie()"
  >
    <div class="icon">
      +
    </div>
    <div class="text">
    <span class="main">
      {{labelTranslateEnum.generate | translate}}
    </span>
      <span class="secondary">
      {{labelTranslateEnum.aBibliography | translate}}
    </span>
    </div>
  </div>
</div>
