@import "abstracts/abstracts";

:host {
  .warning {
    text-align: center;
    color: $warning;
    padding-bottom: 20px;
  }

  .wrapper {
    min-height: 150px;
  }

  .form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;

    @include respond-to-smaller-than-breakpoint('md') {
      grid-template-columns: 1fr;
    }
  }
}
