<h1 id="admin-home-title">{{labelTranslateEnum.administration | translate}}</h1>

<div class="toolbar">
  <solidify-search-input class="search-bar"
                         [searchAutoFocus]="true"
                         (valueChange)="search($event)"
                         [appearance]="appearanceInputMaterial"
  >
  </solidify-search-input>
</div>

<div class="cards-container">
  <mat-card *ngFor="let tile of visibleTiles"
            class="card"
            solidifyShortCuts
            [tabIndex]="0"
            [solidifyDataTest]="tile.dataTest"
            (click)="navigate(tile.path)"
            (onEnter)="navigate(tile.path)"
            id="tile-card-{{tile.avatarIcon}}"
  >
    <mat-card-header class="card-header">
      <div class="avatar"
           mat-card-avatar
      >
        <solidify-icon [iconName]="tile.avatarIcon"
                       class="size-30"
        ></solidify-icon>
      </div>
      <mat-card-title>{{tile.titleToTranslate | translate}}</mat-card-title>
      <mat-card-subtitle>{{tile.subtitleToTranslate | translate}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

</div>
