<aou-main-toolbar-desktop-horizontal class="horizontal-toolbar"
                                     [isValidationRight]="isValidationRight"
                                     [isInTourMode]="isInTourMode"
                                     [logged]="logged"
                                     [currentPath]="currentPath"
                                     [language]="language"
                                     [theme]="theme"
                                     [darkMode]="darkMode"
                                     [numberPublicationPinned]="numberPublicationPinned"
                                     [numberPendingRequestNotifications]="numberPendingRequestNotifications"
                                     [userRoles]="userRoles"
                                     [userAuthorizedForDepositActions]="userAuthorizedForDepositActions"
                                     [user]="user"
                                     [photoUser]="photoUser"
                                     [logo]="logo"
                                     [listStaticPages]="listStaticPages"
                                     [showSearchInput]="showSearchInput"
                                     (languageChange)="changeLanguage($event)"
                                     (navigateChange)="changeNavigate($event)"
                                     (logoutChange)="logout()"
                                     (themeChange)="changeTheme($event)"
                                     (darkModeChange)="changeDarkMode($event)"
                                     (userGuideOpen)="openUserGuide()"
                                     (validatorGuideOpen)="openValidatorGuide()"
                                     (searchChange)="search($event)"
>
</aou-main-toolbar-desktop-horizontal>

<aou-main-toolbar-mobile class="mobile-toolbar"
                         [isValidationRight]="isValidationRight"
                         [isInTourMode]="isInTourMode"
                         [logged]="logged"
                         [currentPath]="currentPath"
                         [language]="language"
                         [theme]="theme"
                         [darkMode]="darkMode"
                         [numberPublicationPinned]="numberPublicationPinned"
                         [numberPendingRequestNotifications]="numberPendingRequestNotifications"
                         [userRoles]="userRoles"
                         [userAuthorizedForDepositActions]="userAuthorizedForDepositActions"
                         [frontendVersion]="frontendVersion"
                         [user]="user"
                         [listStaticPages]="listStaticPages"
                         (languageChange)="changeLanguage($event)"
                         (navigateChange)="changeNavigate($event)"
                         (logoutChange)="logout()"
                         (themeChange)="changeTheme($event)"
                         (darkModeChange)="changeDarkMode($event)"
                         (userGuideOpen)="openUserGuide()"
>
</aou-main-toolbar-mobile>
