<div *ngIf="formGroup"
     class="form-one-columns"
>
  <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.contributors | translate"
                             [tooltip]="tooltipTranslateEnum.depositPanelContributors"
                             [isOpen]="true"
                             class="main-panel"
  >
    <aou-deposit-table-contributor-container *ngIf="getFormArrayInCurrentFormGroup(formDefinition.contributorMembersFrontend) as fd"
                                             #contributorMembersFrontendContainer
                                             [formArray]="fd"
                                             [mode]="modeTableContributorEnum.contributors"
                                             [checkAtLeastOneDirector]="isThesisOrMasterDegreeOrOfAdvancedStudies"
                                             [checkAtLeastOneAuthor]="isThesisOrMasterDegreeOrOfAdvancedStudies"
                                             [defaultContributorRole]="defaultContributorRole"
                                             [userConnected]="userConnected"
                                             [solidifyFormControlElementRef]="fd"
                                             [notifyContributorsFromExternalSource]="notifyContributorsFromExternalSource"
                                             (moveToCollaborators)="changeAllContributorIntoCollaborator()"
    >
    </aou-deposit-table-contributor-container>

    <div class="collaboration-member-section"
         [class.is-checked]="getFormControl(depositFormRuleHelper.pathContributorsIsCollaboration)?.value | isTrue"
    >
      <div *ngIf="getFormControl(depositFormRuleHelper.pathContributorsIsCollaboration) as fd"
           class="is-collaboration"
           [class.is-checked]="fd.value | isTrue"
      >
        <mat-checkbox [formControl]="fd"
                      color="primary"
                      [solidifyTooltip]="tooltipTranslateEnum.depositContributorsIsCollaboration"
        >
          {{labelTranslateEnum.enteringMembersOfTheCollaboration | translate}}
        </mat-checkbox>
      </div>

      <solidify-panel-expandable *ngIf="getFormControl(depositFormRuleHelper.pathContributorsIsCollaboration)?.value | isTrue"
                                 [titleToTranslate]="labelTranslateEnum.membersOfACollaboration | translate"
                                 [tooltip]="tooltipTranslateEnum.depositPanelMembersOfACollaboration"
                                 [isOpen]="true"
                                 class="collaboration-member main-panel"
      >

        <aou-deposit-table-contributor-container *ngIf="getFormArrayInCurrentFormGroup(formDefinition.collaborationMembersFrontend) as fd"
                                                 #collaborationMembersFrontendContainer
                                                 [formArray]="fd"
                                                 [mode]="modeTableContributorEnum.collaborationMembers"
                                                 [defaultContributorRole]="defaultContributorRole"
                                                 [userConnected]="userConnected"
                                                 [solidifyFormControlElementRef]="fd"
        >
        </aou-deposit-table-contributor-container>

      </solidify-panel-expandable>
    </div>
  </solidify-panel-expandable>

  <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.structures | translate"
                             [isOpen]="true"
                             class="main-panel"
  >
    <ng-container *ngIf="depositFormRuleHelper.pathStructure as fieldName">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldName)">
        <button type="button"
                class="auto-complete-button"
                mat-button
                solidifyShortCuts
                color="primary"
                [disabled]="disableStructure"
                (onEnter)="autocompleteStructure()"
                (click)="autocompleteStructure()"
        >
          {{labelTranslateEnum.autocompleteStructuresFromTheListOfContributors | translate}}
        </button>
        <ng-container *ngIf="getFormControl(fieldName) as fd">
          <aou-shared-structure-input *ngIf="displayStructure"
                                      [formControl]="fd"
                                      [listDefaultStructure]="listDefaultStructure"
                                      [solidifyTooltip]="tooltipTranslateEnum.depositStructure"
                                      [readonly]="disableStructure"
          ></aou-shared-structure-input>
          <div>
            <mat-checkbox *ngIf="getFormControl(depositFormRuleHelper.pathContributorsIsBeforeUnige) as fd"
                          [formControl]="fd"
                          color="primary"
            >{{labelTranslateEnum.publicationIsBeforeUnige | translate}}
            </mat-checkbox>
          </div>
        </ng-container>
      </ng-template>
    </ng-container>
  </solidify-panel-expandable>

  <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.researchGroups | translate"
                             [isOpen]="true"
                             class="main-panel"
  >
    <ng-container *ngIf="depositFormRuleHelper.pathGroup as fieldName">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldName)">

        <button type="button"
                class="auto-complete-button"
                mat-button
                solidifyShortCuts
                color="primary"
                (onEnter)="autocompleteResearchGroup()"
                (click)="autocompleteResearchGroup()"
        >
          {{labelTranslateEnum.autocompleteResearchGroupsFromTheListOfContributors | translate}}
        </button>

        <div *ngIf="getFormControl(fieldName) as fd"
             class="research-group-wrapper"
        >
          <solidify-searchable-multi-select *ngIf="displayResearchGroup"
                                            [appearance]="appearanceInputMaterial"
                                            [formControl]="fd"
                                            [isWithLink]="false"
                                            [labelKey]="KEY_RESEARCH_GROUP_SEARCH_NAME"
                                            [placeholder]="labelTranslateEnum.clickHereToAddAResearchGroup | translate"
                                            [required]="formValidationHelper.hasRequiredField(fd)"
                                            [resourceNameSpace]="sharedResearchGroupActionNameSpace"
                                            [sort]="sharedResearchGroupSort"
                                            [state]="sharedResearchGroupState"
                                            [title]="labelTranslateEnum.researchGroups | translate"
                                            [valueKey]="'resId'"
                                            [labelCallback]="researchGroupLabel"
                                            [defaultValueToHighlight]="listDefaultGroup"
                                            [defaultValueLabel]="labelTranslateEnum.defaultValueAccordingToYourProfile"
                                            [solidifyTooltip]="tooltipTranslateEnum.depositGroup"
                                            [overlayPosition]="overlayPositionEnum.top"
                                            [closeAfterValueSelected]="true"
                                            [preTreatmentHighlightText]="researchGroupPreTreatmentHighlightText"
                                            [postTreatmentHighlightText]="researchGroupPostTreatmentHighlightText"
                                            aria-label="research group"
                                            solidifyValidation
                                            class="group"
          >
          </solidify-searchable-multi-select>
          <div class="research-group-extra-buttons">
            <button (click)="addResearchGroup()"
                    (onEnter)="addResearchGroup()"
                    *ngIf="!readonly"
                    [disabled]="readonly"
                    [matTooltipPosition]="'above'"
                    [matTooltip]="labelTranslateEnum.createNewResearchGroup | translate"
                    aria-label="Add missing research group"
                    mat-icon-button
                    solidifyShortCuts
                    type="button"
            >
              <solidify-icon [iconName]="iconNameEnum.add"></solidify-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </solidify-panel-expandable>
</div>
