@import "../sass/abstracts/abstracts";

:host {
  .is-collaboration {
    margin-top: 20px;
    padding: 0 10px;

    &.is-checked {
      padding: 10px;
    }

    .label {
      display: block;
      margin-bottom: 10px;
    }

    .radio-vertical {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 6px;
    }

    .hint {
      margin-top: 8px;
      display: block;
      margin-bottom: 10px;
    }
  }

  .collaboration-member-section {
    &.is-checked {
      padding-left: 50px;
    }

    .collaboration-member {
      margin-bottom: 0;
    }
  }

  .auto-complete-button {
    margin-bottom: 10px;
  }

  .research-group-wrapper {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 10px;

    .author-extra-buttons {
      display: grid;
      justify-content: center;
    }
  }
}
