<solidify-base-action-dialog [titleToTranslate]="data.titleToTranslate | translate | translatePlural:data.numberDeposit"
                             [solidifyFocusFirstElement]="false"
>
  <p>{{data.messageToTranslate | translate:{number: data.numberDeposit} | translatePlural:data.numberDeposit}}</p>
  <ng-container *ngIf="(listLanguageObs | async) as listLanguage">
    <mat-form-field *ngIf="getFormControl(formDefinition.languageId) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
                    class="language"
    >
      <mat-label>{{labelTranslateEnum.language | translate}}</mat-label>
      <mat-select [formControl]="fd"
                  [required]="formValidationHelper.hasRequiredField(fd)"
                  [solidifyValidation]="errors"
      >
        <mat-option *ngFor="let language of listLanguage"
                    [value]="language.resId"
                    solidifyTooltipOnEllipsis
        >
          {{language.labels | backtranslate}}
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>
  </ng-container>
</solidify-base-action-dialog>
<div [solidifyFocusFirstElement]="true"
     cdkTrapFocus
     mat-dialog-actions
>
  <button [color]="'primary'"
          (click)="close()"
          mat-button
  >{{labelTranslateEnum.cancel | translate}}</button>
  <button [disabled]="form.invalid"
          [color]="'primary'"
          (click)="confirm()"
          mat-flat-button
  >{{labelTranslateEnum.confirm | translate}}</button>
</div>
