’<ul>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_logo.png"
               width="130px"
               style="padding-right:20px;"
               alt="Logo AoU"
          >
        </td>
        <td>
          <h1>Welcome to Archive ouverte UNIGE</h1>
          <p>Archive ouverte UNIGE is the digital repository of the scientific patrimony of the University of Geneva. It has been created to harvest, conserve and give the largest possible access to the publications of the researchers of the institution, following the recommendations of <a href="https://www.unige.ch/biblio/en/openaccess/understand/benefits/" target="_blank" title="Page Open Access UNIGE">Open Access</a>.</p>
          <p>All the documentation (user guide, guidelines, FAQ) is available from the <em>Documentation</em> menu in the top banner of this page. A team of correspondents has been set up to respond to all requests. Do not hesitate to <a href="https://www.unige.ch/biblio/aou/en/about/info/contact/" target="_blank">contact</a> them.</p>
        </td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_ORCID.png"
               width="130px"
               style="padding-right:20px;"
               alt=""
          >
        </td>
        <td>
          <h1>Synchronisation with your ORCID profile</h1>
          <p>It is possible to automate synchronisation between your Archive ouverte account and your ORCID profile, in one direction or the other.</p>
          <ul>
            <li>•	If a publisher mentions your latest article on ORCID, or if you add a work to your profile, Archive ouverte can create a new "In progress" deposit and you can complete/send it for validation.</li>
            <li>•	Conversely, when a new publication is validated in Archive ouverte, it can be included in your ORCID profile.</li>
          </ul>
        </td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_fonctionnalites.png"
               width="130px"
               style="padding-right:20px;"
               alt="Fonctionnalités après connexion"
          >
        </td>
        <td>
          <h1>Content and features available after login</h1>
          <p>Some features are only available to people who have identified themselves. Depending on their affiliation, they have the possibility to:</p>
          <p><strong>UNIGE members only</strong><br/>• find their publications submitted by others</p>
          <p><strong>UNIGE members or HUG members</strong><br/>• download restricted access publications<br/>• download their closed access publications<br/>• find the publications they have deposited<br/>• view notifications about their deposits<br/>• update publications that they deposited or those they contributed to.</p>
          <p><strong>UNIGE/HUG members or people with a <a href="https://www.switch.ch/edu-id/" target="blank" title="Compte SWITCH edu-ID">SWITCH edu-ID account</a></strong><br/>• manage their favorite publications and saved searches<br/>• generate bibliographies.</p>
        </td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_espace_perso.png"
               width="130px"
               style="padding-right:20px;"
               alt="Espace personnel pour chaque auteur-e et déposant-e"
          >
        </td>
        <td>
          <h1>Personal profile</h1>
          <p>When you log in for the first time, a profile in your name is created in the deposit interface, which will allow you to:</p>
          <ul>
            <li>• add your ORCID identifier and set up the synchronisation parameters</li>
            <li>• specify your affiliation entities as well as your possible research groups so that they are proposed by default during your next submissions, thus avoiding their manual entry</li>
            <li>• (un)subscribe to the various notifications that are sent by e-mail to depositors and/or authors.</li>
          </ul>
        </td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_consultation.png"
               width="130px"
               style="padding-right:20px;"
               alt="Consultation des publications"
          >
        </td>
        <td>
          <h1>Search in over 111’111 publications</h1>
          <p>Find the ones you are interested in using a simple or advanced search or by using the facets. Depending on the case, access to the fulltext of the publication can be:</p>
          <ul>
            <li>• <strong>public</strong> (downloadable by anyone)</li>
            <li>• <strong>restricted</strong> (download for UNIGE/HUG members only)</li>
            <li>• <strong>closed</strong> (download reserved to the authors of the publication and to the person who made the deposit).</li>
          </ul>
        </td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_bibliographies.png"
               width="130px"
               style="padding-right:20px;"
               alt="Génération d'une bibliographie"
          >
        </td>
        <td>
          <h1>Format a bibliography and embed it on the website of your choice!</h1>
          <p>From any saved search, or from your favorite publications, you can generate a bibliography. A wide choice of parameters is offered to you concerning the citation style, the sorting order, grouping, etc.</p>
          <p>Once you have set your preferences, preview the result, then use the displayed HTML code to embed this list of publications on any web page. It will be updated automatically each time a publications to be included is added to Archive ouverte.</p>
        </td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_depot_lot.png"
               width="130px"
               style="padding-right:20px;"
               alt="Ajout de publications"
          >
        </td>
        <td>
          <h1>Submit your publications, one by one or in batches</h1>
          <p>The deposit is done in 4 steps (title and type of publication, files, authors, bibliographic description).</p>
          <p>Initiating the deposit with a unique identifier (DOI, PMID, ISBN, arXiv...) saves a lot of time:</p>
          <ul>
            <li>• the system tells you if the publication has already been deposited</li>
            <li>• the information (title, authors, description) is automatically retrieved</li>
            <li>• in some cases, the fulltext is retrieved and attached to the repository without the need to add it manually.</li>
          </ul>
          <p><br/><strong>If you need to deposit a whole series of publications</strong>, copy the list of relevant DOIs or PMIDs and start a bulk import. A deposit will be prepared in the background for each publication. You can then easily review them, complete them if needed, and then transfer them for validation.</p>
        </td>
      </tr>
    </table>
  </li>
</ul>
