<ul>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_logo.png"
               width="130px"
               style="padding-right:20px;"
               alt="Logo AoU"
          >
        </td>
        <td>
          <h1>Bienvenue sur l'Archive ouverte UNIGE</h1>
          <p>L'Archive ouverte UNIGE est le dépôt numérique du patrimoine scientifique de l'Université de Genève. Elle a été créée afin de récolter, conserver et rendre accessibles le plus largement possible les publications des chercheurs/euses de l'institution, en suivant les principes de l'<a href="https://www.unige.ch/biblio/fr/openaccess/comprendre/avantages/" target="_blank" title="Page Open Access UNIGE">Open Access</a>.</p>
          <p>Toute la documentation (guide d’utilisation, directives, FAQ) est disponible dans le menu <em>Documentation</em> dans le bandeau du haut de la page. Une équipe de correspondant-es a été constituée afin de répondre à toutes les demandes. N'hésitez pas à les <a href="https://www.unige.ch/biblio/aou/fr/apropos/info/contact/" target="_blank">contacter</a>.</p>
        </td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_ORCID.png"
               width="130px"
               style="padding-right:20px;"
               alt=""
          >
        </td>
        <td>
          <h1>Synchronisation avec votre profil ORCID</h1>
          <p>Il est possible d’automatiser la synchronisation entre votre compte Archive ouverte et votre profil ORCID, dans un sens et/ou dans l’autre.</p>
          <ul>
            <li>• Si un éditeur mentionne votre dernier article sur ORCID, ou si vous ajoutez un travail à votre profil, l’Archive ouverte pourra créer un nouveau dépôt « En cours » et vous pourrez le compléter/envoyer en validation.</li>
            <li>• A l’inverse, lorsqu’une nouvelle publication est validée dans l’Archive ouverte, elle pourra être reprise dans votre profil ORCID.</li>
          </ul>
        </td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_fonctionnalites.png"
               width="130px"
               style="padding-right:20px;"
               alt="Fonctionnalités après connexion"
          >
        </td>
        <td>
          <h1>Contenus et fonctionnalités disponibles après connexion</h1>
          <p>Certaines fonctionnalités ne sont disponibles qu'aux personnes qui se sont identifiées. En fonction de leur rattachement, elles bénéficient de la possibilité de :</p>
          <p><strong>Membres UNIGE uniquement</strong><br/>• retrouver leurs publications déposées par d'autres</p>
          <p><strong>Membres UNIGE et membres HUG</strong><br/>• télécharger les publications en accès restreint<br/>• télécharger leurs publications en accès fermé<br/>• retrouver les publications qu'elles ont déposées<br/>• consulter les notifications relatives à leurs dépôts<br/>• modifier les publications qu'elles ont déposées ou dont elles sont contributrices</p>
          <p><strong>Membres UNIGE/HUG ou personnes en possession d’un <a href="https://www.switch.ch/edu-id/" target="blank" title="Compte SWITCH edu-ID">compte SWITCH edu-ID</a></strong><br/>• gérer leurs publications favorites et recherches enregistrées<br/>• générer des bibliographies</p>
        </td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_espace_perso.png"
               width="130px"
               style="padding-right:20px;"
               alt="Espace personnel pour chaque auteur-e et déposant-e"
          >
        </td>
        <td>
          <h1>Profil personnel</h1>
          <p>Lors de votre première connexion, un profil à votre nom est créé dans l’interface de dépôt, ce qui vous permettra notamment de :</p>
          <ul>
            <li>• ajouter votre identifiant ORCID et paramétrer le mode de synchronisation</li>
            <li>• préciser vos structures d’affiliation ainsi que vos éventuels groupes de recherche pour qu’ils soient proposés par défaut lors de vos prochains dépôts et sur vos publications déposées par quelqu'un d'autre</li>
            <li>• vous (dés)abonner aux différentes notifications qui sont envoyées par e-mail aux déposant-es et/ou aux auteur-es.</li>
          </ul>
        </td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_consultation.png"
               width="130px"
               style="padding-right:20px;"
               alt="Consultation des publications"
          >
        </td>
        <td>
          <h1>Recherchez dans plus de 111’111 publications</h1>
          <p>Retrouvez celles qui vous intéressent à l’aide d’une recherche simple, avancée ou en utilisant les facettes. Selon les cas, l’accès au texte intégral de la publication peut être :</p>
          <ul>
            <li>• <strong>public</strong> (téléchargeable par n’importe qui)</li>
            <li>• <strong>restreint</strong> (téléchargement réservé aux membres UNIGE/HUG)</li>
            <li>• <strong>fermé</strong> (téléchargement réservé aux auteur-es de la publication et à la personne ayant effectué le dépôt).</li>
          </ul>
        </td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_bibliographies.png"
               width="130px"
               style="padding-right:20px;"
               alt="Génération d'une bibliographie"
          >
        </td>
        <td>
          <h1>Formatez une bibliographie et intégrez-la sur le site web de votre choix !</h1>
          <p>Depuis n’importe quelle recherche enregistrée, ou à partir de vos publications favorites, vous pouvez générer une bibliographie. Un large choix de paramètres vous est offert concernant le style de citation, l’ordre de tri, de regroupement, etc.</p>
          <p>Une fois vos préférences indiquées, prévisualisez le résultat, puis utilisez le code HTML affiché pour intégrer cette liste de publications sur n’importe quelle page web. Elle sera mise à jour automatiquement chaque fois qu'une publication devant y figurer sera ajoutée à l'Archive ouverte.</p>
        </td>
      </tr>
    </table>
  </li>
  <li>
    <table>
      <tr>
        <td>
          <img src="assets/themes/aou/carousel/Image_AoU_depot_lot.png"
               width="130px"
               style="padding-right:20px;"
               alt="Ajout de publications"
          >
        </td>
        <td>
          <h1>Déposez vos publications, une à une ou en lot</h1>
          <p>Le dépôt se fait en 4 étapes (titre et type de publication, fichiers, auteur-es, description bibliographique).</p>
          <p>Initier le dépôt avec un identifiant unique (DOI, PMID, ISBN, arXiv…) permet de gagner beaucoup de temps :</p>
          <ul>
            <li>• le système vous indique si la publication a déjà été déposée</li>
            <li>• les informations (titre, auteur-es, description) sont automatiquement récupérées</li>
            <li>• dans certains cas, le texte intégral est récupéré et joint au dépôt sans qu’il ne soit nécessaire de l’ajouter manuellement.</li>
          </ul>
          <p><br/><strong>Si vous devez déposer toute une série de publications</strong>, copiez la liste des DOI ou des PMID concernés et lancez une importation groupée. Un dépôt sera préparé en arrière-plan pour chaque publication. Vous pourrez ensuite facilement les réviser, les compléter si besoin, puis les transférer pour validation.</p>
        </td>
      </tr>
    </table>
  </li>
</ul>
