<mat-menu #menu="matMenu">
  <button *ngFor="let menu of listMenu"
          mat-menu-item
          solidifyShortCuts
          (onEnter)="runTour(menu)"
          (click)="runTour(menu)"
  >
    <span>{{menu.titleToTranslate | translate}}</span>
  </button>
</mat-menu>

