@import "../../../../sass/abstracts/variables";

.is-active {
  background-color: $extra-light-grey !important;
}

.image {
  max-width: 30px;
  padding-top: 9px;
  padding-left: 26px;
  max-height: 30px;
}