<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
>
  <solidify-detail-presentation [centerTemplate]="centerTemplate"
                                [iconName]="iconNameEnum.globalBanners"
                                [rightTemplate]="rightTemplate"
  ></solidify-detail-presentation>

  <ng-template #centerTemplate>
    <mat-form-field *ngIf="getFormControl(formDefinition.name) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.nameLabel | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             (blur)="checkAvailable(formDefinition.name, fd)"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.type) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.type | translate}}</mat-label>
      <mat-select [formControl]="fd"
                  [required]="formValidationHelper.hasRequiredField(fd)"
                  [solidifyValidation]="errors"
      >
        <mat-option *ngFor="let type of typeEnumTranslate"
                    [value]="type.key"
        >
          {{type.value | translate}}
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <solidify-rich-text-editor [formControl]="getFormControl(formDefinition.titleLabelsFr)"
                               [label]="(labelTranslateEnum.title | translate) + ': FR'"
                               [withWordCounter]="false"
    >
    </solidify-rich-text-editor>

    <solidify-rich-text-editor [formControl]="getFormControl(formDefinition.titleLabelsEn)"
                               [label]="(labelTranslateEnum.title | translate) + ': EN'"
                               [withWordCounter]="false"
    >
    </solidify-rich-text-editor>

    <div class="checkbox-wrapper">
      <mat-checkbox [formControlName]="formDefinition.withDescription"
                    color="primary"
      >{{labelTranslateEnum.isWithDescription | translate }}</mat-checkbox>
    </div>

    <ng-template [ngIf]="getFormControl(formDefinition.withDescription)?.value | isTrue">
      <solidify-rich-text-editor [formControl]="getFormControl(formDefinition.descriptionLabelsFr)"
                                 [label]="(labelTranslateEnum.description | translate) + ': FR'"
                                 [withWordCounter]="false"
      >
      </solidify-rich-text-editor>

      <solidify-rich-text-editor [formControl]="getFormControl(formDefinition.descriptionLabelsEn)"
                                 [label]="(labelTranslateEnum.description | translate) + ': EN'"
                                 [withWordCounter]="false"
      >
      </solidify-rich-text-editor>
    </ng-template>

  </ng-template>

  <ng-template #rightTemplate>

    <div class="checkbox-wrapper">
      <mat-checkbox [formControlName]="formDefinition.enabled"
                    color="primary"
      >{{labelTranslateEnum.enabled | translate }}</mat-checkbox>
    </div>

    <mat-form-field (click)="publicationDateDatepicker.open()"
                    *ngIf="getFormControl(formDefinition.startDate) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.startDate | translate}}</mat-label>
      <input [formControl]="fd"
             [matDatepicker]="publicationDateDatepicker"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-datepicker-toggle [for]="publicationDateDatepicker"
                             matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #publicationDateDatepicker
                      [touchUi]="breakpointService.isSmallerThanMd()"
      ></mat-datepicker>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.startTime) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.startHour | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             [value]="fd.value"
             matInput
             type="time"
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field (click)="publicationDateDatepicker.open()"
                    *ngIf="getFormControl(formDefinition.endDate) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.endDate | translate}}</mat-label>
      <input [formControl]="fd"
             [matDatepicker]="publicationDateDatepicker"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-datepicker-toggle [for]="publicationDateDatepicker"
                             matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #publicationDateDatepicker
                      [touchUi]="breakpointService.isSmallerThanMd()"
      ></mat-datepicker>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.endTime) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="formValidationHelper.displayInvalidWhenRequired(fd, displayEmptyRequiredFieldInError)"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.endHour | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             [value]="fd.value"
             matInput
             type="time"
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

  </ng-template>

  <aou-shared-additional-information-panel-container *ngIf="model | isNotNullNorUndefined"
                                                     [resource]="model"
  >
  </aou-shared-additional-information-panel-container>
</form>
