@import "solidify-frontend/lib/core/components/presentationals/abstract-form/abstract-form.presentational.scss";

:host {
  .is-visible {
    margin-bottom: 20px;
  }

  .checkbox-wrapper {
    margin-bottom: 20px;
  }
}
