<solidify-empty-container [solidifyFocusFirstElement]="false"
                          solidifyShortCuts
                          (onEscape)="backToList()"
></solidify-empty-container>

<div class="wrapper"
     [solidifySpinner]="(isLoadingWithDependencyObs | async) || (depositMode === depositModeEnum.create && (isLoadingGetMetadataServiceObs | async))"
>
  <aou-deposit-form #formPresentational
                    *ngIf="(depositMode === depositModeEnum.create) || (depositMode === depositModeEnum.edit && (currentObs | async)?.resId === resId)"
                    [listCurrentStatus]="listCurrentStatusObs | async"
                    [defaultData]="defaultDataObs | async"
                    [solidifyFocusFirstElement]="true"
                    [listDepositSubtype]="listDepositSubtypeObs | async"
                    [listDepositSubSubtype]="listDepositSubSubtypeObs | async"
                    [listStructure]="listStructureObs | async"
                    [listLanguages]="listLanguagesObs | async"
                    [isLoadingStructure]="isLoadingStructureObs | async"
                    [isFilePresent]="isFilePresentObs | async"
                    [isValidationMode]="isValidationMode"
                    [step]="currentStep"
                    [depositMode]="depositMode"
                    [model]="currentObs | async"
                    [romeo]="romeoObs | async"
                    [defaultContributorRole]="defaultContributorRole"
                    (createChange)="create($event)"
                    (updateChange)="update($event)"
                    (issnChange)="retrieveRomeo($event)"
                    (submitChange)="submitForValidation($event)"
                    (exitChange)="backToList()"
                    (navigateChange)="navigate($event)"
                    (navigateToStepChange)="navigateToStep($event)"
                    (subtypeChange)="subtypeChange($event)"
                    (titleChange)="titleChange($event)"
                    (getMetadataFromServiceChange)="getMetadataFromServiceChange($event)"
                    (refreshValidationErrorChange)="refreshValidationError()"
                    (formLoaded)="scrollToFieldIfDefined($event)"
                    [userConnected]="userConnectedObs | async"
                    [listDifferences]="metadataDifferencesObs | async"
  ></aou-deposit-form>
</div>
