@import "abstracts/abstracts";

:host {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 10px;
  align-items: center;
  border: 3px solid $info;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;

  .icon-wrapper {
    color: $info;
    display: grid;
    align-items: center;
  }

  .differences {
    border: none !important;
    margin: 0;
    padding: 0;

    &::ng-deep {
      .header {
        border-color: $info;
      }
    }

    .list {

      > li {
        list-style-type: disc;
        margin-left: 16px;

        .top-level-field {
          font-weight: bold;
        }
      }

      .sublist {
        list-style: none;

        .with-tab {
          margin-left: 16px;
          tab-size: 2;
        }

        li {
          display: block;
          margin-left: 20px;

          .new-line::before {
            content: "\A";
            white-space: pre;
          }

          .new-line {
            margin-left: 16px;
            tab-size: 2;
          }
        }
      }
    }

    .old-value {
      opacity: 0.6;
    }

    .arrow {
      font-size: 24px;
    }
  }
}
