<div class="icon-wrapper">
  <solidify-icon [iconName]="iconNameEnum.information"
                 class="size-50"
  ></solidify-icon>
</div>
<solidify-panel-expandable *ngIf="mappingObjectUtil.size(listDifferences) > 0"
                           [isPanelCollapsable]="false"
                           [isOpen]="true"
                           [titleToTranslate]="labelTranslateEnum.metadataDifferences | translate"
                           class="container-panel differences"
>

  <ul class="list">
    <li *ngFor="let differenceMap of mappingObjectUtil.keys(listDifferences), let i = index">
     <span class="top-level-field">
       [
       {{differenceMap}}
       ] {{" : "}}
     </span>
      <ul class="sublist">
        <ng-template [ngIf]="isKeyEqualsInBothMaps(i, differenceMap)"
                     [ngIfElse]="keysDifferent"
        >
          <li *ngFor="let difference of mappingObjectUtil.values(getSubMapMetadataDifference(differenceMap))[0]">
              <span *ngIf="difference.fieldName !== null"> {{difference.fieldName}} {{" : "}}
                <span class="old-value">{{getNoValueIfPropertyIsNullOrEmpty(difference.oldValue) | translate}}</span>
                <span class="arrow"> &rarr; </span>
                <span class="new-value">{{getNoValueIfPropertyIsNullOrEmpty(difference.newValue) | translate}}</span>
              </span>
            <span *ngIf="difference.fieldName === null"
                  class="no-new-line"
            >
              <span class="old-value">{{getNoValueIfPropertyIsNullOrEmpty(difference.oldValue) | translate}}</span>
              <span class="arrow"> &rarr; </span>
              <span class="new-value">{{getNoValueIfPropertyIsNullOrEmpty(difference.newValue) | translate}}</span>
            </span>
          </li>
        </ng-template>
        <ng-template #keysDifferent>
          <ng-template [ngIf]="isFieldNameNull(i, differenceMap)"
                       [ngIfElse]="subGroup"
          >
             <span class="with-tab">
               {{mappingObjectUtil.keys(getSubMapMetadataDifference(differenceMap))[0]}}
           </span>
          </ng-template>
        </ng-template>
        <ng-template #subGroup>
          <li *ngFor="let differenceSubMap of mappingObjectUtil.keys(getSubMapMetadataDifference(differenceMap)), let j = index">
            <span class="second-level-field">
              [
              {{differenceSubMap}}
              ] {{" : "}}
           </span>
            <ul>
              <li *ngFor="let difference of mappingObjectUtil.values(getSubMapMetadataDifference(differenceMap))[j]">
              <span *ngIf="difference.fieldName !== null"> {{difference.fieldName}} {{" : "}}
                <span class="old-value">{{getNoValueIfPropertyIsNullOrEmpty(difference.oldValue) | translate}}</span>
                <span class="arrow"> &rarr; </span>
                <span class="new-value">{{getNoValueIfPropertyIsNullOrEmpty(difference.newValue) | translate}}</span>
              </span>
                <span *ngIf="difference.fieldName === null"
                      class="no-new-line"
                >
                  <span class="old-value">{{getNoValueIfPropertyIsNullOrEmpty(difference.oldValue) | translate}}</span>
                  <span class="arrow"> &rarr; </span>
                  <span class="new-value">{{getNoValueIfPropertyIsNullOrEmpty(difference.newValue) | translate}}</span>
              </span>
              </li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </li>
  </ul>
</solidify-panel-expandable>
