<solidify-empty-container solidifyShortCuts
                          [solidifyFocusFirstElement]="true"
                          (onEscape)="isEdit ? backToDetail() : backToList()"
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  [mode]="isEdit ? 'edit' : 'detail'"
                                  [formPresentational]="formPresentational"
                                  [currentModel]="currentObs | async"
                                  [deleteAvailable]="deleteAvailable"
                                  [editAvailable]="editAvailable"
                                  (editChange)="edit()"
                                  (deleteChange)="delete()"
                                  (backToDetailChange)="backToDetail()"
  >
  </solidify-button-toolbar-detail>

  <div class="wrapper"
       [solidifySpinner]="isLoadingWithDependencyObs | async"
  >
    <aou-admin-application-event-form #formPresentational
                                      *ngIf="isReadyToBeDisplayedObs | async"
                                      [model]="currentObs | async"
                                      [readonly]="!isEdit"
                                      [editAvailable]="editAvailable"
                                      (submitChange)="update($event)"
                                      (checkAvailableChange)="checkAvailable($event)"
                                      (navigate)="navigate($event)"
                                      (dirtyChange)="updateCanDeactivate($event)"
                                      (editChange)="edit()"
    ></aou-admin-application-event-form>
  </div>
</solidify-empty-container>
