@import "abstracts/abstracts";

:host {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  grid-gap: 10px;

  .image-file {
    color: $black;
    display: grid;
    align-self: start;

    @include respond-to-smaller-than-breakpoint('lg') {
      align-self: baseline;
      padding-top: 3px;
    }
  }

  .infos {
    display: grid;

    .license-access {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
      align-items: center;

      @include respond-to-smaller-than-breakpoint('lg') {
        grid-template-columns: 1fr;
      }

      .license {
        @include truncate-with-ellipsis;
        cursor: pointer;
        color: $light-grey;
        font-size: 11px;
        line-height: 10px;
        margin-top: 1px;
      }

      .access-level {
        &::ng-deep {
          grid-gap: 0;
          overflow: hidden;

          .date {
            font-size: 11px;
            line-height: 11px;
            color: $light-grey;
            @include truncate-with-ellipsis;
          }
        }
      }
    }
  }

  .button-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    align-self: start;
    grid-gap: 5px;

    .button-preview {
      color: $primary-color;

      &.hide {
        visibility: hidden;
      }
    }

    .button-download {
      line-height: 25px;
      padding: 0 10px;

      .button-text {
        font-size: 11px;
      }
    }
  }
}

@include isInDarkMode {
  .image-file {
    color: $dark-mode-text-color;
  }
}
