<div class="image-file"
     [title]="file.name + ' - ' + (file.size | filesize)"
>
  <solidify-icon [iconName]="icon"
                 class="size-20"
  ></solidify-icon>
</div>
<div class="infos">
  <div class="type"
       solidifyTooltipOnEllipsis
  >
    {{file.type}} <span *ngIf="file.label | isNotNullNorUndefined"> - {{file.label}} </span>
  </div>
  <div class="license-access">
    <aou-shared-access-level-with-embargo [accessLevel]="file.finalAccessLevel ? file.finalAccessLevel : file.accessLevel"
                                          [embargoAccessLevel]="file.embargoAccessLevel"
                                          [embargoEndDate]="dateUtil.convertStringToDate(file.embargoEndDate, 'YYYY-MM-DD')"
                                          [size]="'size-18'"
                                          [withTooltip]="true"
                                          class="access-level"
    ></aou-shared-access-level-with-embargo>
    <a *ngIf="file.license | isNotNullNorUndefinedNorWhiteString"
       class="license no-hover-animation"
       solidifyTooltipOnEllipsis
       [title]="file.licenseTitle"
       [href]="file.licenseUrl"
       target="_blank"
    >
      {{file.license}}
    </a>
  </div>
</div>
<div class="button-wrapper">
  <button (click)="preview()"
          (onEnter)="preview()"
          [class.hide]="downloadMode !== downloadModeEnum.allowed || (canPreview | isFalse)"
          [solidifyButtonSpinner]="isLoadingPrepareDownload"
          class="button-preview"
          mat-icon-button
          solidifyShortCuts
  >
    <solidify-icon [iconName]="iconNameEnum.preview"
                   class="size-16"
    ></solidify-icon>
  </button>
  <div class="button-download-wrapper"
       [matTooltip]="tooltip | translate"
  >
    <button (click)="downloadMode === downloadModeEnum.loginRequired ? login() : download()"
            (onEnter)="downloadMode === downloadModeEnum.loginRequired ? login() : download()"
            [disabled]="downloadMode === downloadModeEnum.forbidden"
            [solidifyButtonSpinner]="isLoadingPrepareDownload"
            color="primary"
            class="button-download"
            mat-button
            [solidifyMatButtonTheme]="downloadMode === downloadModeEnum.loginRequired ? buttonThemeEnum.button : buttonThemeEnum.flatButton"
            solidifyShortCuts
    >
      <ng-template [ngIf]="downloadMode === downloadModeEnum.allowed">
        <solidify-icon [iconName]="iconNameEnum.download"
                       class="size-16"
        ></solidify-icon>
        <span class="button-text">{{labelTranslateEnum.download | translate}}</span>
      </ng-template>

      <ng-template [ngIf]="downloadMode === downloadModeEnum.loginRequired">
        <solidify-icon [iconName]="iconNameEnum.downloadLoginNeeded"
                       class="size-16"
        ></solidify-icon>
        <span class="button-text">{{labelTranslateEnum.loginNeeded | translate}}</span>
      </ng-template>

      <ng-template [ngIf]="downloadMode === downloadModeEnum.forbidden">
        <solidify-icon [iconName]="iconNameEnum.downloadNotAllowed"
                       class="size-16"
        ></solidify-icon>
        <span class="button-text">{{labelTranslateEnum.notAllowed | translate}}</span>
      </ng-template>
    </button>
  </div>
</div>
