@import "../../../../../sass/abstracts/abstracts";

:host {
  .dialog-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

    @include respond-to-smaller-than-breakpoint('md') {
      grid-template-columns: 1fr;
    }

    .title {
      font-size: 17px;
      color: $light-grey;
      border-bottom: 1px solid $medium-light-grey;
      margin-bottom: 35px;
      padding-bottom: 10px;
      font-weight: initial;
    }

    .wrapper {
      min-height: 300px;
      max-height: 70vh;
    }

    .form ::ng-deep form > * {
      width: 100%;
    }

  }
}
