<solidify-base-action-dialog [titleToTranslate]="labelTranslateEnum.structure | translate">
  <div class="wrapper"
       [class.no-data]="listStructure.length === 0"
       [solidifySpinner]="isLoading"
  >
    <ng-template [ngIf]="isLoading | isFalse">
      <aou-shared-structure-tree *ngIf="listStructure.length > 0; else noData"
                                 [listStructure]="listStructure"
                                 [canDelete]="false"
                                 [canEdit]="false"
                                 [isMultiSelectable]="data.isMultiSelectable"
                                 [multiSelect]="$any(structuresSelected)"
                                 (multiSelectChange)="multiSelectChange($event)"
                                 (selectChange)="singleSelectChange($event)"
      ></aou-shared-structure-tree>

      <ng-template #noData>
        <span class="no-data-text">{{labelTranslateEnum.noStructure | translate}}</span>
      </ng-template>
    </ng-template>
  </div>
</solidify-base-action-dialog>
<div mat-dialog-actions>
  <button mat-button
          color="primary"
          [mat-dialog-close]=""
  >{{labelTranslateEnum.close | translate}}</button>
  <button mat-flat-button
          color="primary"
          solidifyShortCuts
          (onEnter)="confirm()"
          (click)="confirm()"
  >{{labelTranslateEnum.validate | translate}}
  </button>
</div>
