<div class="grid">
  <div class="image-container">
    <solidify-image-display [image]="imageArchive"
                            class="image-wrapper"
                            [mode]="imageDisplayModeEnum.IN_TILE"
    ></solidify-image-display>

    <div class="button-wrapper">
      <div *ngIf="!isNotLogged"
           [matTooltip]="labelTranslateEnum.addToPinboard | translate"
      >
        <aou-home-pin-button-container class="pin-button"
                                       [publishedDepositId]="publishedDeposit.resId"
        ></aou-home-pin-button-container>
      </div>
    </div>
  </div>
  <div class="title-wrapper">
    <span class="title"
          solidifyTooltipOnEllipsis
          [innerHTML]="publishedDeposit.title"
    ></span>
  </div>
</div>
