@import "abstracts/abstracts";

$icon-width: 24px;
$label-width: 190px;

:host {
  .info-wrapper {
    .info {
      padding: 5px 0;
      display: grid;
      grid-gap: 10px;
      align-items: start;
      grid-template-columns: $icon-width 1fr;
      overflow: hidden;

      .icon-wrapper {
        width: $icon-width;
        height: $icon-width;
        display: grid;
        justify-content: center;
        align-items: center;
      }

      .label-value-wrapper {
        display: grid;
        grid-template-columns: $label-width 1fr;
        align-items: baseline;
        grid-gap: 0 10px;

        &.label-above-value {
          grid-template-columns: 1fr;
        }

        .label {
          color: $light-grey;
        }

        .value {
          padding-top: 2px;
          padding-bottom: 2px;

          &.truncate {
            @include truncate-with-ellipsis
          }
        }

        .list-value {
          @include truncate-with-ellipsis
        }
      }

      &.no-icon {
        grid-template-columns: 1fr;

        .label-value-wrapper {
          .value {
            padding-top: 0;
          }
        }
      }
    }

    .button-show-more-wrapper {
      text-align: left;

      .button-show-more {
        font-size: 12px;
      }
    }
  }
}

@include isInDarkMode {
  :host {

  }
}
