<div *ngIf="(value | isNotNullNorUndefined)"
     class="info-wrapper"
>
  <div class="info"
       [style.max-height]="(!showMore && displayButtonShowMore && limitHeightShowPx) ? limitHeightShowPx - limitHeightMinusShowPx + 'px' : undefined"
       [class.no-icon]="icon | isNullOrUndefined"
  >
    <div *ngIf="icon"
         class="icon-wrapper"
    >
      <solidify-icon [iconName]="icon"
                     class="icon size-20"
      ></solidify-icon>
    </div>
    <div #labelValueWrapper
         class="label-value-wrapper"
         [class.label-above-value]="isLabelAboveValue | isTrue"
    >
    <span *ngIf="labelToTranslate | isNotNullNorUndefinedNorWhiteString"
          class="label"
          solidifyTooltipOnEllipsis
    >{{labelToTranslate | translate}}</span>
      <span class="value"
            [class.truncate]="truncateValue"
            solidifyTooltipOnEllipsis
      >
      <ng-template [ngIf]="(value | isString) && isInnerHtml">
        <div [innerHTML]="valueSafeHtml"></div>
      </ng-template>
      <ng-template [ngIf]="(value | isString) && !isInnerHtml">
        <ng-template [ngIf]="isLink"
                     [ngIfElse]="noLink"
        >
          <a [href]="value"
             target="_blank"
          >{{value}}</a>
        </ng-template>
        <ng-template #noLink>{{value}}</ng-template>
      </ng-template>

      <ul *ngIf="value | isArray">
        <li *ngFor="let v of $any(value)"
            class="list-value"
            solidifyTooltipOnEllipsis
        >
          <ng-template [ngIf]="isLink"
                       [ngIfElse]="noLink"
          >
          <a [href]="v"
             target="_blank"
          >{{v}}</a>
        </ng-template>
        <ng-template #noLink>{{v}}</ng-template>
        </li>
      </ul>

      <ng-template [ngIf]="!(value | isString) && !(value | isArray)">
        <ng-container [ngTemplateOutlet]="$any(value)"></ng-container>
      </ng-template>
    </span>

    </div>
  </div>
  <div *ngIf="displayButtonShowMore && !showMore && (labelValueWrapper.offsetHeight > this.limitHeightShowPx)"
       class="button-show-more-wrapper"
  >
    (...)
    <a class="button-show-more no-hover-animation"
       (click)="toggleShowMore()"
    >
      <ng-template [ngIf]="showMoreButtonLabelWithNumberToTranslate | isNotNullNorUndefinedNorWhiteString"
                   [ngIfElse]="simpleShowMore"
      >
        {{
              showMoreButtonLabelWithNumberToTranslate | translate :{total: ($any(value).length)}
        }}
      </ng-template>
      <ng-template #simpleShowMore>{{labelTranslateEnum.show | translate}}</ng-template>
    </a>
  </div>
</div>
