<aou-deposit-repeatable-fields [labelSectionToTranslate]="labelSectionToTranslate"
                               [fieldsTemplate]="fieldsTemplate"
                               [formGroupFactory]="formGroupFactory"
                               [formArray]="formArray"
                               [readonly]="readonly"
                               [listFormDefinitions]="listFormDefinitions"
                               [withoutPanel]="withoutPanel"
                               [isPanelCollapsable]="false"
                               [withFixButton]="withFixButton"
                               [isValidationMode]="isValidationMode"
                               [dragCssClass]="'text-language'"
                               (fixChange)="fix($event)"
                               typePanel="secondary"
></aou-deposit-repeatable-fields>

<ng-template #fieldsTemplate
             let-formGroup="formGroup"
>
  <div class="container">
    <aou-deposit-form-description-text-language [formGroup]="formGroup"
                                                [labelToTranslate]="labelTextToTranslate"
                                                [isRichText]="isRichText"
                                                [isLinkAllowed]="isLinkAllowed"
                                                [isBoldAllowed]="isBoldAllowed"
                                                [isTextarea]="isTextarea"
                                                [listLanguages]="listLanguages"
                                                [path]="path"
                                                [mainFormGroup]="mainFormGroup"
                                                [tooltipText]="tooltipText"
                                                [tooltipLanguage]="tooltipLanguage"
                                                [hintTextToTranslate]="hintTextToTranslate"
                                                [withWordCounter]="withWordCounter"
                                                [textareaMaxSize]="textareaMaxSize"
                                                [solidifyFormControlElementRef]="formGroup"
    ></aou-deposit-form-description-text-language>
  </div>
</ng-template>
