@import "../deposit-abstract-form-list/deposit-abstract-form-list.presentational";

@mixin text-language-line-style {
  .container {
    grid-template-columns: 1fr;
  }
}

:host {
  @include text-language-line-style;
}

::ng-deep {
  .cdk-drag-preview.text-language {
    @include text-language-line-style;
  }
}
