<ng-container *ngIf="depositFormRuleHelper.pathLanguagesLanguage as fieldPath">
  <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
    <solidify-multi-select *ngIf="formControl as fd"
                           [formControl]="fd"
                           [isWithLink]="false"
                           [labelKey]="'code'"
                           [labelCallback]="languageCallback"
                           [list]="listLanguages"
                           [placeholder]="labelTranslateEnum.clickHereToAddLanguage | translate"
                           [valueKey]="'resId'"
                           [appearance]="appearanceInputMaterial"
                           [title]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate"
                           [closeAfterValueSelected]="true"
                           [required]="formValidationHelper.hasRequiredField(fd)"
                           solidifyValidation
    >
    </solidify-multi-select>
  </ng-template>
</ng-container>
