@import "../../../../../../sass/abstracts/abstracts";

:host {
  .file-result {
    margin-bottom: 20px;

    mat-expansion-panel {

      mat-panel-title {
        align-items: center;

        .is-in-error {
          color: $red;
        }
      }

      mat-panel-description {
        justify-content: flex-end;
      }

      ul {
        padding: 0;

        li {
          .label {
            font-weight: bold;
            padding-right: 5px;

            &:after {
              content: ' :';
            }
          }
        }
      }
    }


    .error-message {
      color: $red;
      margin-top: 20px;
    }
  }


  .form {
    > mat-form-field {
      width: 100%;
    }

    .panel ::ng-deep {
      .header {
        top: -6px;

        &:before {
          top: 6px;
        }
      }

      .content {
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;

        > * {
          width: 100%;
        }
      }
    }

    .file-version-wrapper,
    .access-level-wrapper {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-gap: 10px;
      align-items: center;

      .icon {
        position: relative;
        top: -8px;
      }
    }

    .label-field {
      margin-top: 20px;
    }

    .is-embargo {
      display: block;
      margin-bottom: 15px;
    }

    .embargo-duration-date {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      grid-gap: 0 20px;

      > * {
        min-width: 60px;
      }

      &.with-duration {
        grid-template-columns: 1fr 1fr;
        @include respond-to-smaller-than-breakpoint('sm') {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  .footer {
    justify-content: flex-end;
    align-items: center;
  }
}
