@import "solidify-frontend/lib/application/components/routables/abstract-detail-edit-common/abstract-detail-edit-common.routable.scss";
@import "../../../../../../../sass/abstracts/mixins";

:host {
  .title-deposits {
    margin-top: 20px;
    margin-bottom: 0;
  }

  @include deposit-list;
}
