<solidify-empty-container solidifyShortCuts
                          [solidifyFocusFirstElement]="true"
                          (onEscape)="isEdit ? backToDetail() : backToList()"
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  [mode]="isEdit ? 'edit' : 'detail'"
                                  [formPresentational]="formPresentational"
                                  [listExtraButtons]="listExtraButtons"
                                  [currentModel]="currentObs | async"
                                  (editChange)="edit()"
                                  (deleteChange)="delete()"
                                  (backToDetailChange)="backToDetail()"
  >
  </solidify-button-toolbar-detail>

  <div class="wrapper"
       [solidifySpinner]="isLoadingWithDependencyObs | async"
  >
    <aou-admin-research-group-form #formPresentational
                                   *ngIf="isReadyToBeDisplayedObs | async"
                                   [model]="currentObs | async"
                                   [readonly]="!isEdit"
                                   [editAvailable]="editAvailable"
                                   (submitChange)="update($event)"
                                   (checkAvailableChange)="checkAvailable($event)"
                                   (dirtyChange)="updateCanDeactivate($event)"
                                   (editChange)="edit()"
    ></aou-admin-research-group-form>

    <h2 class="title-deposits">{{labelTranslateEnum.relativeDeposits | translate}}</h2>
    <solidify-data-table *ngIf="!isEdit"
                         #dataTablePresentational
                         [columns]="columns"
                         [actions]="actions"
                         [isLoading]="isLoadingObs | async"
                         [displaySpinnerWhenLoading]="true"
                         [data]="listDepositObs | async"
                         [skipInitialQuery]="true"
                         [queryParameters]="queryParametersDepositObs | async"
                         [isMultiSelectable]="false"
                         [stickyTopPosition]="0"
                         (queryParametersChange)="onQueryParametersEvent($event)"
                         [alwaysDisplayButtonActionsWrapped]="true"
                         (selectChange)="showDetail($event)"
                         class="table"
    >
    </solidify-data-table>
  </div>
</solidify-empty-container>
