@import "abstracts/abstracts";

:host {
  .checkbox-list {
    display: grid;
    grid-gap: 4px 0;

    ::ng-deep {
      .mdc-label {
        line-height: 18px;
        font-size: 15px;
      }
    }
  }

  .mandatory-section {
    margin-bottom: 20px;

    .footer {
      margin-top: 5px;
      font-style: italic;
    }
  }
}


