<div class="optional-section">
  <h1>{{"notificationInput.optional.title" | translate}}</h1>
  <div class="checkbox-list">
    <mat-checkbox *ngFor="let notification of listNotificationTypeFiltered"
                  [checked]="isEnable(notification.key)"
                  (change)="change(notification.key, $event.checked)"
                  color="primary"
    >
      <ng-template [ngIf]="notification.key === notificationTypeEnum.PUBLICATION_FORGOTTEN_TO_VALIDATE
          || notification.key === notificationTypeEnum.PUBLICATION_FORGOTTEN_IN_PROGRESS"
                   [ngIfElse]="otherIf"
      >
        {{notification.value | translate: {delay: delaySinceLastCheck} }}
      </ng-template>
      <ng-template #otherIf>
        {{notification.value | translate}}
      </ng-template>
    </mat-checkbox>
  </div>
</div>
<div class="mandatory-section">
  <h1>{{"notificationInput.mandatory.title" | translate}}</h1>
  <div class="checkbox-list">
    <mat-checkbox *ngFor="let notification of listNotificationTypeMandatory"
                  [disabled]="true"
                  [checked]="true"
                  color="primary"
    >
      <ng-template [ngIf]="notification.key === notificationTypeEnum.PUBLICATION_FORGOTTEN_TO_VALIDATE
          || notification.key === notificationTypeEnum.PUBLICATION_FORGOTTEN_IN_PROGRESS"
                   [ngIfElse]="otherIf"
      >
        {{notification.value | translate: {delay: delaySinceLastCheck} }}
      </ng-template>
      <ng-template #otherIf>
        {{notification.value | translate}}
      </ng-template>
    </mat-checkbox>
  </div>
  <div class="footer">{{"notificationInput.mandatory.footer" | translate}}</div>
</div>