<aou-deposit-repeatable-fields [labelSectionToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, depositFormRuleHelper.pathCorrections)"
                               [fieldsTemplate]="fieldsTemplate"
                               [formGroupFactory]="formGroupFactory"
                               [formArray]="formArray"
                               [readonly]="readonly"
                               [listFormDefinitions]="listFormDefinitions"
                               [isPanelCollapsable]="true"
                               [isPanelOpenByDefault]="isPanelOpenByDefault"
                               typePanel="main"
></aou-deposit-repeatable-fields>

<ng-template #fieldsTemplate
             let-formGroup="formGroup"
>
  <div class="container">

    <ng-container *ngIf="depositFormRuleHelper.pathCorrectionsNote as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <mat-form-field *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.note) as fd"
                        [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.depositCorrectionsNote"
                        [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
          <textarea [formControl]="fd"
                    [required]="formValidationHelper.hasRequiredField(fd)"
                    [solidifyValidation]="errors"
                    matInput
                    cdkAutosizeMaxRows="10"
                    cdkAutosizeMinRows="5"
                    cdkTextareaAutosize
          ></textarea>
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathCorrectionsDoi as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <solidify-url-input-navigator *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.doi) as fd"
                                      [formControl]="fd"
                                      [positionLabel]="positionLabelInputMaterial"
                                      [appearance]="appearanceInputMaterial"
                                      [placeholderToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath)"
                                      [solidifyTooltip]="tooltipTranslateEnum.depositCorrectionsDoi"
                                      [prefixUrl]="prefixDoi"
        >
        </solidify-url-input-navigator>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="depositFormRuleHelper.pathCorrectionsPmid as fieldPath">
      <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
        <solidify-url-input-navigator *ngIf="formValidationHelper.getFormControl(formGroup, formDefinition.pmid) as fd"
                                      [formControl]="fd"
                                      [positionLabel]="positionLabelInputMaterial"
                                      [appearance]="appearanceInputMaterial"
                                      [placeholderToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath)"
                                      [solidifyTooltip]="tooltipTranslateEnum.depositCorrectionsPmid"
                                      [prefixUrl]="prefixPmid"
        >
        </solidify-url-input-navigator>
      </ng-template>
    </ng-container>
  </div>
</ng-template>
