<button [matTooltip]="(isPinned ? labelTranslateEnum.removeToPinboard : labelTranslateEnum.addToPinboard) | translate"
        (onEnter)="isPinned ? removeToPinboard() : addToPinboard()"
        (click)="isPinned ? removeToPinboard($event) : addToPinboard($event)"
        solidifyShortCuts
        mat-icon-button
        class="pin-button"
>
  <solidify-icon [iconName]="isPinned ? iconNameEnum.removeToPinboard : iconNameEnum.addToPinboard"
                 class="size-24"
  ></solidify-icon>
</button>
