@import "abstracts/abstracts";

:host {
  .current-language {
    position: absolute;
    top: 0;
    right: 0;
    background: $primary-color;
    color: $white;
    width: fit-content;
    padding: 2px 10px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    .lang {
      top: 1px;
      position: relative;
      text-transform: uppercase;

      &.is-current {
        font-weight: bold;
      }

      &:not(.is-last) {
        padding-right: 15px;

        &:after {
          content: "|";
          position: absolute;
          right: 5px;
          top: -2px;
          font-weight: initial;
        }
      }
    }

    .down-arrow {
      margin-left: 5px;
    }

    &.is-clickable {
      cursor: pointer;
    }

    &:not(.is-clickable) {
      pointer-events: none;

      .lang {
        font-weight: initial;
      }
    }
  }

  .language-menu {
    text-transform: uppercase;
  }
}
