<div *ngIf="listAllLanguages?.length > 0"
     class="current-language"
     matRipple
     [class.is-clickable]="listOtherLanguages.length > 1"
     [matRippleDisabled]="listOtherLanguages.length === 0"
     [matMenuTriggerFor]="menu"
     (click)="stopPropagation($event)"
>
  <span *ngFor="let lang of listAllLanguages; let i = index"
        class="lang"
        [class.is-current]="lang === currentLanguage"
        [class.is-last]="listAllLanguages.length === i + 1"
  >{{lang}}</span>
  <solidify-icon *ngIf="listOtherLanguages?.length > 1"
                 [iconName]="iconNameEnum.downArrow"
                 class="size-16 down-arrow"
  ></solidify-icon>
</div>
<mat-menu #menu="matMenu"
          class="language-menu"
>
  <button *ngFor="let lang of listOtherLanguages"
          (click)="switchToLanguage(lang)"
          mat-menu-item
  >
    <span class="lang">{{lang}}</span>
  </button>
</mat-menu>
