<label class="label">{{labelTranslateEnum.validationRights | translate}}</label>
<table aria-describedby="Validation rules between person, structures and subtypes">
  <thead>
  <tr>
    <th class="object">{{labelTranslateEnum.structure | translate}}</th>
    <th class="sub-type">{{labelTranslateEnum.subtype | translate}}</th>
    <th *ngIf="!readonly"
        class="add-all"
    ></th>
    <th *ngIf="!readonly"
        class="action"
    ></th>
  </tr>
  </thead>
  <tbody *ngIf="listSubtype | isNonEmptyArray">
  <tr *ngFor="let f of formArray.controls; let i = index">
    <td class="object">
      <solidify-resource-name-container *ngIf="getFormControl(f, formDefinition.id) as fd"
                                        [id]="fd.value"
                                        [labelKey]="'name'"
                                        [inline]="true"
                                        [state]="sharedStructureState"
                                        [action]="sharedStructureActionNameSpace"
      ></solidify-resource-name-container>
    </td>
    <td class="sub-type">
      <solidify-multi-select *ngIf="getFormControl(f, formDefinition.listId) as fd"
                             [formControl]="fd"
                             [isWithLink]="false"
                             [labelKey]="'name'"
                             [list]="listSubtype"
                             [placeholder]="labelTranslateEnum.clickHereToAddASubtype | translate"
                             [valueKey]="'resId'"
                             [title]="labelTranslateEnum.subtype | translate"
                             [appearance]="appearanceInputMaterial"
                             [closeAfterValueSelected]="true"
                             [required]="false"
                             aria-label="sub type"
                             solidifyValidation
                             class="sub-type"
      >
      </solidify-multi-select>
    </td>
    <td *ngIf="!readonly">
      <button (click)="addAll(i)"
              (onEnter)="addAll(i)"
              [disabled]="formArray.disabled"
              [matTooltipPosition]="'left'"
              [matTooltip]="labelTranslateEnum.addAllSubType | translate"
              [class.hide]="getFormControl(f, formDefinition.listId)?.value.length === listSubtype?.length"
              class="trash"
              mat-icon-button
              solidifyShortCuts
              type="button"
      >
        <solidify-icon [iconName]="iconNameEnum.addAll"></solidify-icon>
      </button>
    </td>
    <td *ngIf="!readonly">
      <button (click)="delete(i)"
              (onEnter)="delete(i)"
              [disabled]="formArray.disabled"
              [matTooltipPosition]="'left'"
              [matTooltip]="labelTranslateEnum.delete | translate"
              class="trash"
              mat-icon-button
              solidifyShortCuts
              type="button"
      >
        <solidify-icon [iconName]="iconNameEnum.delete"></solidify-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<p *ngIf="formArray?.controls?.length === 0"
   class="no-item"
>{{"shared.structure-subtype.noItem" | translate}}</p>

<button *ngIf="!readonly"
        (click)="add()"
        (onEnter)="add()"
        [disabled]="formArray.disabled || (listSubtype | isNullOrUndefinedOrEmptyArray)"
        color="primary"
        mat-button
        solidifyShortCuts
        type="button"
>
  <solidify-icon [iconName]="iconNameEnum.add"></solidify-icon>
  {{labelTranslateEnum.add | translate}}
</button>
