@import "abstracts/abstracts";

:host(.disabled) {
  .no-item {
    color: $value-disable;
  }
}

:host {
  padding-top: 10px;

  .label {
    display: block;
    margin-bottom: 8px;
    color: $label;
  }

  table {
    width: 100%;
    border-spacing: 0;
    padding-bottom: 10px;

    thead {
      background-color: $primary-color;
      color: $white;

      tr > th {
        padding: 4px 0;

        &.object {
          max-width: 250px;
          width: 35%;
        }

        &.action {
          width: 40px;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: $background-grey;
        }

        > td {
          &.object {
            padding: 5px;
          }

          .sub-type ::ng-deep {

            .mat-form-field-wrapper {
              margin-right: 5px;
              padding: 0;

              .mat-form-field-flex {
                align-items: center;
              }

              .mat-form-field-infix {
                padding: 0;
                padding-bottom: 8px;
              }
            }

            .mat-mdc-form-field-subscript-wrapper {
              display: none;
            }
          }

          .trash {
            &.hide {
              visibility: hidden;
            }
          }
        }
      }
    }
  }

  .no-item {
    padding-top: 10px;
    text-align: center;
    color: $light-grey;
    font-size: 16px;
  }
}

@include isInDarkMode {
  :host {
    .label {
      color: $dark-mode-text-color;
    }

    table {
      tbody {
        tr {
          &:nth-child(odd) {
            background-color: $dark-mode-menu-active;
          }
        }
      }
    }
  }
}
