<ng-template [ngIf]="depositFormModel | isNotNullNorUndefined">
  <div class="header"
       [class.with-image]="isWithPhotoObs | async"
  >
    <solidify-image-upload-wrapper-container *ngIf="depositId"
                                             [isEditable]="false"
                                             [resId]="depositId"
                                             [resourceFileNameSpace]="depositActionNameSpace"
                                             [resourceFileState]="depositState"
                                             class="thumbnail"
    ></solidify-image-upload-wrapper-container>

    <div class="container main-infos">
      <div *ngIf="getMostPreciseType as typeInfo"
           class="corner-info type"
           [class.is-clickable]="shortcutIsClickable(typeInfo)"
           (click)="redirectToShortcutStep(depositStepEnum.DESCRIPTION, depositFormRuleHelper.pathType)"
      >
        <ng-container *ngTemplateOutlet="retrieveModelForTranslate; context: {info: typeInfo}"></ng-container>
      </div>

      <div *ngIf="depositFormModel?.description?.languages as languages"
           class="corner-info general-lang"
           [class.is-clickable]="shortcutIsClickable()"
           (click)="redirectToShortcutStep(depositStepEnum.DESCRIPTION, depositFormRuleHelper.pathLanguages)"
      >
        {{formatLanguages(languages)}}
      </div>

      <div class="title-wrapper">
        <h1 class="title"
            solidifyTooltipOnEllipsis
            [innerHTML]="depositFormModel?.type?.title?.text"
            [class.need-check]="needToCheckTitle(depositFormModel?.type?.title?.text)"
            [class.is-clickable]="shortcutIsClickable()"
            (click)="redirectToShortcutStep(depositStepEnum.DESCRIPTION, depositFormRuleHelper.pathTitle)"
        ></h1>

        <h2 class="subtitle"
            *ngIf="depositFormModel?.description?.originalTitle?.text | isNotNullNorUndefinedNorWhiteString"
            [class.is-clickable]="shortcutIsClickable()"
            (click)="redirectToShortcutStep(depositStepEnum.DESCRIPTION, depositFormRuleHelper.pathOriginalTitle)"
            solidifyTooltipOnEllipsis
        >{{depositFormModel?.description?.originalTitle?.text}}
          <span *ngIf="depositFormModel?.description?.originalTitle.lang | isNotNullNorUndefinedNorWhiteString">
          ({{depositFormModel?.description?.originalTitle.lang}})</span>
        </h2>

        <ng-container *ngIf="depositFormModel?.type?.title?.lang as lang">
          <div *ngIf="lang | isNonEmptyString"
               class="corner-info title-lang"
               [class.is-clickable]="shortcutIsClickable()"
               (click)="redirectToShortcutStep(depositStepEnum.DESCRIPTION, depositFormRuleHelper.pathTitleLanguage)"
          >
            {{lang}}
          </div>
        </ng-container>
      </div>

      <h3 *ngIf="contributors | isNonEmptyArray"
          class="contributor"
          [class.is-clickable]="shortcutIsClickable()"
          (click)="redirectToShortcutStep(depositStepEnum.CONTRIBUTORS, depositFormRuleHelper.pathContributorsContributors)"
      >
        <span class="label">{{labelTranslateEnum.contributors | translate}}: </span>
        <span *ngFor="let person of contributors; let isLast=last">
          <span [class.is-unige]="person.isUnige">
            {{person.lastname}}<span *ngIf="person.firstname | isNotNullNorUndefinedNorWhiteString">, {{person.firstname}}</span>
          </span>
          <span *ngIf="person.displayRole && (person.roleToTranslate | isNotNullNorUndefined)"> ({{person.roleToTranslate.labels | backtranslate}})</span>
          {{isLast ? '' : ' | '}}
        </span>
      </h3>

      <h3 *ngIf="collaborationMember | isNonEmptyArray"
          class="collaboration-member"
          [class.is-clickable]="shortcutIsClickable()"
          (click)="redirectToShortcutStep(depositStepEnum.CONTRIBUTORS)"
      >
        <span class="label">{{labelTranslateEnum.membersOfACollaboration | translate}}: </span>
        <span *ngFor="let person of collaborationMember; let isLast=last">
          <span [class.is-unige]="person.isUnige">{{person.lastname}}, {{person.firstname}}</span>
          {{isLast ? '' : ' | '}}
        </span>
      </h3>

      <!--      <h3 *ngIf="getCollaborationMembers() | isNotNullNorUndefined">-->
      <!--          <span *ngFor="let person of authors.valuesPerson; let isLast=last">-->
      <!--            <span [class.is-unige]="person.isUnige"-->
      <!--            >{{person.lastname}}, {{person.firstname}}</span>-->
      <!--            {{isLast ? '' : ' | '}}-->
      <!--          </span>-->
      <!--      </h3>-->

      <aou-deposit-container *ngIf="abstracts | isNotNullNorUndefined"
                             [depositFormText]="abstracts"
                             [titleToTranslate]="labelTranslateEnum.abstract"
                             [isInnerHtml]="true"
                             class="container with-padding-top"
                             [class.is-clickable]="shortcutIsClickable()"
                             (click)="redirectToShortcutStep(depositStepEnum.DESCRIPTION, depositFormRuleHelper.pathAbstract, $event)"
      ></aou-deposit-container>

      <div *ngIf="(longKeywordDetected | isTrue) && (isValidationMode | isTrue)"
           class="form-error"
           [class.is-clickable]="shortcutIsClickable()"
           (click)="redirectToShortcutStep(depositStepEnum.DESCRIPTION, depositFormRuleHelper.pathKeywords)"
      >
        {{
              labelTranslateEnum.thereIsAtLeastOneKeywordThatIsLongerThanXCharacters | translate: {number: keywordCharLimitForWarning}
        }}
      </div>

      <div *ngIf="(creator | isNotNullNorUndefined) || (lastEditor | isNotNullNorUndefined)"
           class="submitted-by"
      >
        <span *ngIf="creator | isNotNullNorUndefined">
          {{labelTranslateEnum.submittedBy | translate}}
          <ng-template [ngIf]="mailToCreatorUrl | isNotNullNorUndefinedNorWhiteString"
                       [ngIfElse]="noMailCreator"
          >
            <a [href]="mailToCreatorUrl">{{creator.fullName}}</a>
          </ng-template>
          <ng-template #noMailCreator>
            {{creator.fullName}}
          </ng-template>
        </span>
        <span *ngIf="(lastEditor | isNotNullNorUndefined) && creator?.email !== lastEditor?.email">
          , {{labelTranslateEnum.lastEditedBy | translate}}
          <ng-template [ngIf]="mailToLastEditorUrl | isNotNullNorUndefinedNorWhiteString"
                       [ngIfElse]="noMailEditor"
          >
            <a [href]="mailToLastEditorUrl">{{lastEditor.fullName}}</a>
          </ng-template>
          <ng-template #noMailEditor>
            {{lastEditor.fullName}}
          </ng-template>
        </span>
      </div>

    </div>
  </div>

  <solidify-panel-expandable [titleToTranslate]="labelTranslateEnum.filesAndDistributionConditions | translate"
                             class="container-panel document-file-wrapper"
                             [isPanelCollapsable]="false"
                             [isOpen]="true"
                             [isTitleClickable]="shortcutIsClickable()"
                             (clickOnTitle)="redirectToShortcutStep(depositStepEnum.FILES)"
  >
    <aou-deposit-document-file *ngIf="depositId | isNotNullNorUndefined"
                               [canEdit]="false"
                               [depositId]="depositId"
                               [isReadonly]="true"
                               [isValidationMode]="isValidationMode"
                               [listUserRoleEnum]="listUserRoleEnum"
                               [listCurrentStatus]="listCurrentStatus"
                               class="document-file"
    ></aou-deposit-document-file>

    <ul class="form-error">
      <li *ngIf="documentFileUploadHelper.numberFilesInError(listCurrentStatus) > 0">
        <a class="link"
           (click)="navigateToStep(depositStepEnum.FILES)"
        >
          {{labelTranslateEnum.filesAreInErrorAndPreventSubmission | translate}}
        </a>
      </li>
      <li *ngIf="documentFileUploadHelper.numberFilesPending(listCurrentStatus) > 0">
        <a class="link"
           (click)="navigateToStep(depositStepEnum.FILES)"
        >
          {{labelTranslateEnum.filesAreNotReadyAndPreventSubmission | translate}}
        </a>
      </li>
      <li *ngIf="documentFileUploadHelper.numberFilesToBeConfirmed(listCurrentStatus) > 0">
        <a class="link"
           (click)="navigateToStep(depositStepEnum.FILES)"
        >
          {{labelTranslateEnum.filesNeedToBeConfirmed | translate}}
        </a>
      </li>
    </ul>

    <solidify-panel-expandable *ngIf="romeo"
                               [titleToTranslate]="labelTranslateEnum.myPublishersPolicy"
                               [isOpen]="isValidationMode"
                               [isPanelCollapsable]="true"
                               class="container-panel romeo-panel"
    >
      <aou-deposit-form-romeo [romeo]="romeo"
                              class="romeo"
      ></aou-deposit-form-romeo>
    </solidify-panel-expandable>
  </solidify-panel-expandable>

  <ng-container *ngTemplateOutlet="listInfos; context: {list: listInfoMains}"></ng-container>

  <solidify-panel-expandable *ngIf="cleanedAttributes?.length > 0 && isValidationMode"
                             [isPanelCollapsable]="false"
                             [isOpen]="true"
                             [titleToTranslate]="labelTranslateEnum.itemsIgnored | translate"
                             class="container-panel cleaned-attributes-wrapper"
  >
    <div class="base-info-list">
      <dl *ngFor="let attr of cleanedAttributes">
        <dt class="label"
            [matTooltip]="attr.key"
        >{{depositFormRuleHelper.getLabelDependingOfSubType(depositFormModelCleanToSubmit?.type?.subtype, attr.key) | translate}}
        </dt>
        <dd class="value">{{attr.value}}</dd>
      </dl>
    </div>
  </solidify-panel-expandable>
</ng-template>

<!--TEMPLATE BELOW-->

<ng-template #listInfos
             let-list="list"
>
  <ul class="base-info-list">
    <ng-container *ngFor="let info of list; trackBy: trackByFn">

      <ng-container *ngIf="typeIntoInfo(info) as info">
        <ng-container [ngSwitch]="info.type">

          <ng-container *ngSwitchCase="typeInfoEnum.value">
            <dl *ngIf="info.value | isNonEmptyString">
              <ng-container *ngTemplateOutlet="label; context: {info: info}"></ng-container>
              <dd [class.wrap]="info.wrap"
                  class="value"
                  solidifyTooltipOnEllipsis
                  [class.need-check]="info.needCheck"
              >{{info.value}}
              </dd>
            </dl>
          </ng-container>

          <ng-container *ngSwitchCase="typeInfoEnum.translate">
            <dl *ngIf="info.value | isNonEmptyString">
              <ng-container *ngTemplateOutlet="label; context: {info: info}"></ng-container>
              <dd class="value"
                  solidifyTooltipOnEllipsis
                  [class.need-check]="info.needCheck"
              >

                <ng-template [ngIfElse]="normalTranslate"
                             [ngIf]="(info.state | isNotNullNorUndefined) && (info.action | isNotNullNorUndefined) && ((info.label |
                             isNotNullNorUndefined) || (info.labelCallback | isFunction))"
                >
                  <ng-container *ngTemplateOutlet="retrieveModelForTranslate; context: {info: info}"></ng-container>
                </ng-template>

                <ng-template #normalTranslate>
                  <span [innerHTML]="$any(info).value | translate"></span>
                </ng-template>

              </dd>
            </dl>
          </ng-container>

          <ng-container *ngSwitchCase="typeInfoEnum.link">
            <dl *ngIf="info.link | isNotNullNorUndefined">
              <ng-container *ngTemplateOutlet="label; context: {info: info}"></ng-container>
              <dd class="value"
                  [class.need-check]="info.needCheck"
              ><a [href]="info.link.url"
                  solidifyTooltipOnEllipsis
                  target="_blank"
              >
                {{info.link.text}}
              </a>
              </dd>
            </dl>
          </ng-container>

          <ng-container *ngSwitchCase="typeInfoEnum.list">
            <dl *ngIf="info.values | isNonEmptyArray">
              <ng-container *ngTemplateOutlet="label; context: {info: info}"></ng-container>
              <dd [class.is-textarea]="info.isTextarea"
                  class="value"
              >
                <ul class="list-values"
                    [class.inline-list]="info.isListInline"
                >
                  <li *ngFor="let v of info.values; let i = index"
                      [class.need-check]="(info.needCheckByElement | isFunction) && info.needCheckByElement(i)"
                      solidifyTooltipOnEllipsis
                  >{{v}}
                  </li>
                </ul>
              </dd>
            </dl>
          </ng-container>

          <ng-container *ngSwitchCase="typeInfoEnum.listPerson">
            <dl *ngIf="info.valuesPerson | isNonEmptyArray">
              <ng-container *ngTemplateOutlet="label; context: {info: info}"></ng-container>
              <dd class="value">
              <span *ngFor="let person of info.valuesPerson; let isLast=last">
                <span [class.is-unige]="person.isUnige"
                >{{person.lastname}}, {{person.firstname}}</span>
                {{isLast ? '' : ' | '}}
              </span>
              </dd>
            </dl>
          </ng-container>

          <ng-container *ngSwitchCase="typeInfoEnum.listLanguage">
            <aou-deposit-container *ngIf="info.valuesLanguage | isNonEmptyArray"
                                   [depositFormText]="info.valuesLanguage"
                                   [titleToTranslate]="info.label"
                                   class="container with-padding-top"
            ></aou-deposit-container>
          </ng-container>

          <ng-container *ngSwitchCase="typeInfoEnum.listLink">
            <dl *ngIf="info.links | isNonEmptyArray">
              <ng-container *ngTemplateOutlet="label; context: {info: info}"></ng-container>
              <dd class="value">
                <ul class="list-values">
                  <li *ngFor="let link of info.links"
                      solidifyTooltipOnEllipsis
                  >
                    <a [href]="link.url"
                       solidifyTooltipOnEllipsis
                       target="_blank"
                    >
                      {{link.text}}
                    </a>
                  </li>
                </ul>
              </dd>
            </dl>
          </ng-container>

          <ng-container *ngSwitchCase="typeInfoEnum.listInfo">
            <solidify-panel-expandable *ngIf="info.valuesInfo | isNonEmptyArray"
                                       [isPanelCollapsable]="false"
                                       [isOpen]="true"
                                       [titleToTranslate]="info.label"
                                       class="container-panel"
                                       [class.need-check]="info.needCheck"
                                       [isTitleClickable]="shortcutIsClickable(info)"
                                       (clickOnTitle)="redirectToShortcut(info)"
            >
              <ng-container *ngTemplateOutlet="listInfos; context: {list: info.valuesInfo}"></ng-container>
            </solidify-panel-expandable>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <dl *ngIf="info.value | isNonEmptyString">
              <ng-container *ngTemplateOutlet="label; context: {info: info}"></ng-container>
              <dd [class.is-textarea]="info.isTextarea"
                  [class.need-check]="info.needCheck || ((info.needCheckByElement | isFunction) && info.needCheckByElement(info.value))"
                  class="value"
                  solidifyTooltipOnEllipsis
              >{{info.value}}
              </dd>
            </dl>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
</ng-template>

<ng-template #label
             let-info="info"
>
  <ng-container *ngIf="typeIntoInfo(info) as info">
    <dt class="label"
        solidifyTooltipOnEllipsis
        [class.is-clickable]="shortcutIsClickable(info)"
        (click)="redirectToShortcut(info)"
    >
      <ng-template [ngIfElse]="labelTranslated"
                   [ngIf]="info.translateLabel | isFalse"
      >
        {{info.label}}
      </ng-template>
      <ng-template #labelTranslated>
        <ng-template [ngIfElse]="simpleLabelTranslated"
                     [ngIf]="info.labelListEnumTranslation | isNonEmptyArray"
        >
          {{enumUtil.getLabel(info.labelListEnumTranslation, info.label) | translate}}
        </ng-template>
        <ng-template #simpleLabelTranslated>
          {{info.label | translate}}
        </ng-template>
      </ng-template>
      <ng-container *ngTemplateOutlet="languageSpan; context: {language: info.lang}"></ng-container>
    </dt>
  </ng-container>
</ng-template>

<ng-template #languageSpan
             let-language="language"
>
  <ng-template [ngIf]="language | isNonEmptyString">
    <span class="language"> ({{language}})</span>
  </ng-template>
</ng-template>

<ng-template #retrieveModelForTranslate
             let-info="info"
>
  <ng-container *ngIf="typeIntoInfo(info) as info">
    <solidify-resource-name-container *ngIf="(info | isNotNullNorUndefined) && (info.value | isNonEmptyString)"
                                      [action]="info.action"
                                      [backTranslate]="info.isBackTranslate"
                                      [id]="$any(info).value"
                                      [labelKey]="info.labelKey"
                                      [labelCallback]="info.labelCallback"
                                      [state]="info.state"
                                      [callbackOnRetrieve]="info.callbackOnRetrieveTranslateBack"
                                      [callbackOnClick]="info.callbackOnClickTranslateBack"
    ></solidify-resource-name-container>
  </ng-container>
</ng-template>

