@import "solidify-frontend/lib/core/components/presentationals/abstract-form/abstract-form.presentational";
@import "abstracts/abstracts";

:host {
  padding-top: 20px;
  display: block;
  $border-radius: 6px;

  .is-unige {
    color: $primary-color;
  }

  ::ng-deep {
    .inactive {
      font-style: italic;
      color: $light-grey;
    }

    .need-check {
      font-style: initial;
      color: $red;

      .resource-name-wrapper {
        cursor: pointer;
      }
    }
  }

  .container-panel {
    ::ng-deep {
      .header {
        .title {
          &.is-clickable {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .container {
    position: relative;
    padding: 10px;
    border: 1px solid $light-grey;
    border-radius: $border-radius;
    margin: 5px 0;

    &.with-padding-top {
      padding-top: 30px;
    }

    &.is-closed ::ng-deep {
      .header {
        border: none;
      }
    }

    .corner-info {
      min-height: 20px;
      min-width: 30px;
      position: absolute;
      top: 0;
      background: $primary-color;
      color: $white;
      width: fit-content;
      padding: 2px 10px;
    }

    .type {
      left: 0;
      border-radius: $border-radius 0 0 0;
      padding: 0;

      ::ng-deep {
        .resource-name-wrapper {
          padding: 2px 10px;
          min-height: 20px;
        }
      }
    }

    .general-lang {
      right: 0;
      border-radius: 0 $border-radius 0 0;
    }

    .title-wrapper {
      position: relative;
      padding-right: 50px;
      display: grid;

      .title {
        word-break: break-word;
      }

      .title-lang {
        right: 0;
      }
    }

    .contributor,
    .collaboration-member {
      .label {
        color: $light-grey;
      }
    }
  }

  .romeo-panel {
    background-color: $orange-extra-light;
    border: none;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;

    .thumbnail {
      display: none;
    }

    &.with-image {
      grid-template-columns: max-content 1fr;

      @include respond-to-smaller-than-breakpoint("md") {
        grid-template-columns: 1fr;
      }

      .thumbnail {
        display: initial;
      }
    }

    .main-infos {
      margin: 0;
      padding-top: 40px;

      .line {
        padding: 5px 0;

        .label {
          font-weight: bold;
        }
      }

      .submitted-by {
        text-align: right;

        .orcid {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .form-error {
    display: grid;
    grid-gap: 10px;
    text-align: center;
    padding: 15px 0;
    color: $error;
    font-size: 14px;

    .link {
      color: $error;
      font-size: 14px;
    }
  }

  .document-file-wrapper {
    margin-top: 15px;
    margin-bottom: 20px;

    .document-file ::ng-deep {
      .wrapper {
        min-height: initial;
      }
    }
  }

  .cleaned-attributes-wrapper {
    margin-top: 15px;
  }

  .base-info-list {
    display: grid;
    grid-gap: 6px;

    @include respond-to-breakpoint-and-bigger('lg') {
      //grid-template-columns: 1fr 1fr;
      //grid-gap: 6px 40px;
    }

    > dl {
      margin: 0;
      display: grid;
      grid-template-columns: minmax(0, 240px) 1fr;
      align-items: baseline;
      grid-gap: 0 10px;

      @include respond-to-smaller-than-breakpoint('sm') {
        grid-template-columns: 1fr;
      }

      @include respond-to-breakpoint('xs') {
        flex-direction: column;
      }

      .label {
        color: $light-grey;
        @include truncate-with-ellipsis;
      }

      .value {
        @include truncate-with-ellipsis;
        margin-left: 20px;

        @include respond-to-smaller-than-breakpoint('lg') {
          margin-left: 0;
        }

        &.wrap {
          white-space: break-spaces;
        }
      }

      .list-values {
        display: grid;
        grid-gap: 5px;

        &.inline-list {
          display: block;
          white-space: initial;

          > li {
            display: inline;

            &:not(:first-child) {
              margin-left: 10px;

              &:before {
                content: "|";
                left: -5px;
                position: relative;
                color: $text-color;
              }
            }
          }
        }
      }
    }
  }

  .is-clickable {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
