@import "solidify-frontend/lib/core/components/presentationals/abstract-form/abstract-form.presentational.scss";

:host {
  .image-orcid {
    padding-right: 5px;
    height: 15px;
    position: relative;
    top: 3px;
  }

  .role {
    &::ng-deep {
      .mat-select-disabled {
        .mat-select-arrow-wrapper {
          visibility: hidden;
        }
      }
    }
  }

  .validation-right {
    border-top: 1px solid $intermediate-grey;
    margin-top: 10px;
    padding-top: 20px;
  }

  .left-part {
    .notification {
      margin-bottom: 25px;
    }

    .slide-toggle-wrapper {
      cursor: pointer;
      display: grid;
      margin-bottom: 15px;

      &.slide-toggle-now {
        margin-top: 5px;
        margin-left: 29px;
      }

      .slide-toggle {
        &.block {
          pointer-events: none;
        }
      }
    }
  }

  .right-part {
    .structures {
      margin-bottom: 20px;
    }

    ::ng-deep {
      .mat-mdc-form-field-hint {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  .orcid-wrapper {
    display: grid;

    &.with-sync-options {
      &::ng-deep {
        .mat-mdc-form-field-subscript-wrapper {
          display: none;
        }
      }
    }

    .orcid-checkbox-list {
      margin-bottom: 24px;
    }

    .checkbox-error {
      white-space: normal;

      &.hide {
        display: none;
      }
    }
  }
}

@include isInDarkMode {
  .validation-right {
    border-color: $dark-mode-line;
  }
}
