<form [formGroup]="form"
      class="form-two-columns"
>
  <div class="two-columns-wrapper">

    <div class="left-part">

      <mat-form-field *ngIf="getFormControlUser(formDefinition.firstName) as fd"
                      solidifyTooltipOnEllipsis
                      [appearance]="appearanceInputMaterial"
                      [solidifyTooltip]="tooltipTranslateEnum.profileFirstName"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
      >
        <mat-label>{{labelTranslateEnum.firstName | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="getFormControlUser(formDefinition.lastName) as fd"
                      solidifyTooltipOnEllipsis
                      [appearance]="appearanceInputMaterial"
                      [solidifyTooltip]="tooltipTranslateEnum.profileLastName"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
      >
        <mat-label>{{labelTranslateEnum.lastName | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      @if (model?.verifiedOrcid | isTrue) {
        <div class="orcid-wrapper"
             [class.with-sync-options]="model?.verifiedOrcid && isUnigeOrHugUser"
        >
          <mat-form-field *ngIf="getFormControl(formDefinition.orcid) as fd"
                          solidifyTooltipOnEllipsis
                          [appearance]="appearanceInputMaterial"
                          [solidifyTooltip]="tooltipTranslateEnum.profileOrcid"
                          [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
          >
            <mat-label>{{labelTranslateEnum.orcid | translate}}</mat-label>
            <input [formControl]="fd"
                   [required]="formValidationHelper.hasRequiredField(fd)"
                   [solidifyValidation]="errors"
                   matInput
            >
            <solidify-button-orcid [orcid]="fd?.value"
                                   [isVerifiedOrcid]="(model?.verifiedOrcid | isTrue)"
                                   [isButton]="true"
                                   [isPristineForm]="fd.pristine"
                                   class="orcid-button"
                                   matSuffix
            ></solidify-button-orcid>

            <button [matTooltipPosition]="'right'"
                    [matTooltip]="labelTranslateEnum.getAnAuthenticatedOrcid | translate "
                    (click)="orcidService.startOrcidAuth()"
                    class="navigate-to-url"
                    mat-icon-button
                    matSuffix
                    solidifyShortCuts
            >
              <solidify-icon [iconName]="iconNameEnum.externalLink"
                             matSuffix
                             class="size-16"
              ></solidify-icon>
            </button>

            <mat-error #errors
                       solidifyTooltipOnEllipsis
            ></mat-error>
          </mat-form-field>

          <div *ngIf="model?.verifiedOrcid && isUnigeOrHugUser"
               class="orcid-checkbox-list"
          >
            <div *ngIf="getFormControl(formDefinition.syncFromOrcidProfile) as fd"
                 class="checkbox-wrapper"
            >
              <mat-checkbox [formControl]="fd"
                            color="primary"
                            [solidifyValidation]="errors"
              >{{labelTranslateEnum.automaticallySynchronizeFromOrcid | translate}}
              </mat-checkbox>
              <mat-error #errors
                         class="checkbox-error"
                         [class.hide]="fd.valid"
                         solidifyTooltipOnEllipsis
              ></mat-error>
            </div>

            <div *ngIf="(getFormControl(formDefinition.syncFromOrcidProfile)?.value | isTrue) && (allowSyncFromOrcidProfileNow | isTrue)"
                 class="slide-toggle-wrapper slide-toggle-now"
            >
              <mat-slide-toggle *ngIf="getFormControl(formDefinition.syncFromOrcidProfileNow) as fd"
                                [formControl]="fd"
                                color="primary"
                                class="slide-toggle"
              >
                {{labelTranslateEnum.importAllHistoryToo | translate}}
              </mat-slide-toggle>
            </div>

            <div *ngIf="getFormControl(formDefinition.syncToOrcidProfile) as fd"
                 class="checkbox-wrapper"
            >
              <mat-checkbox [formControl]="fd"
                            color="primary"
                            [solidifyValidation]="errors"
              >{{labelTranslateEnum.automaticallySynchronizeToOrcid | translate}}
              </mat-checkbox>
              <mat-error #errors
                         class="checkbox-error"
                         [class.hide]="fd.valid"
                         solidifyTooltipOnEllipsis
              ></mat-error>
            </div>

            <div *ngIf="(getFormControl(formDefinition.syncToOrcidProfile)?.value | isTrue) && (allowSyncToOrcidProfileNow | isTrue)"
                 class="slide-toggle-wrapper slide-toggle-now"
            >
              <mat-slide-toggle *ngIf="getFormControl(formDefinition.syncToOrcidProfileNow) as fd"
                                [formControl]="fd"
                                color="primary"
                                class="slide-toggle"
              >
                {{labelTranslateEnum.exportAllHistoryToo | translate}}
              </mat-slide-toggle>
            </div>
          </div>
        </div>
      } @else {
        <solidify-orcid-sign-in-button *ngIf="model?.verifiedOrcid | isFalse"
                                       (clickChange)="orcidService.startOrcidAuth(personWithEmail)"
        ></solidify-orcid-sign-in-button>
      }

      <mat-form-field *ngIf="getFormControlUser(formDefinitionUser.email) as fd"
                      solidifyTooltipOnEllipsis
                      [appearance]="appearanceInputMaterial"
                      [solidifyTooltip]="tooltipTranslateEnum.profileEmail"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
      >
        <mat-label>{{labelTranslateEnum.email | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <div (click)="notifyPublicationWithRestrictedAccessMastersFeatureNeedToBeAuthorized()"
           class="slide-toggle-wrapper"
      >
        <mat-slide-toggle #slideToggleWithRestrictedAccessMasters
                          [formControl]="formControlNonPublicMaster"
                          [class.block]="!isPublicationWithRestrictedAccessMastersFeatureAuthorized"
                          color="primary"
                          class="slide-toggle"
        >
          {{labelTranslateEnum.displayPublicationsWithRestrictedAccessMasters | translate}}
        </mat-slide-toggle>
      </div>

      <ng-template [ngIf]="displayExtraProfileInformation">

        <mat-form-field *ngIf="getFormControlUser(formDefinitionUser.email) as fd"
                        solidifyTooltipOnEllipsis
                        [appearance]="appearanceInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.profileEmail"
                        [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
        >
          <mat-label>{{labelTranslateEnum.email | translate}}</mat-label>
          <input [formControl]="fd"
                 [required]="formValidationHelper.hasRequiredField(fd)"
                 [solidifyValidation]="errors"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="getFormControlUser(formDefinitionUser.homeOrganization) as fd"
                        solidifyTooltipOnEllipsis
                        [appearance]="appearanceInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.profileHomeOrganization"
                        [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
        >
          <mat-label>{{labelTranslateEnum.homeOrganization | translate}}</mat-label>
          <input [formControl]="fd"
                 [required]="formValidationHelper.hasRequiredField(fd)"
                 [solidifyValidation]="errors"
                 matInput
          >
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="getFormControlUser(formDefinitionUser.applicationRole) as fd"
                        solidifyTooltipOnEllipsis
                        [appearance]="appearanceInputMaterial"
                        [solidifyTooltip]="tooltipTranslateEnum.profileApplicationRole"
                        [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                        class="role"
        >
          <mat-label>{{labelTranslateEnum.role | translate}}</mat-label>
          <mat-select [formControl]="fd"
                      [required]="formValidationHelper.hasRequiredField(fd)"
                      [solidifyValidation]="errors"
          >
            <mat-option *ngFor="let role of roles"
                        [value]="role.key"
            >
              {{role.value | translate}}
            </mat-option>
          </mat-select>
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
        </mat-form-field>
      </ng-template>

      <ng-template [ngIf]="userAuthorizedForDepositActions">
        <aou-shared-notification-input *ngIf="getFormControl(formDefinition.notificationTypes) as fd"
                                       [formControl]="fd"
                                       [haveValidationRight]="selectedValidationRight | isNonEmptyArray"
                                       class="notification"
        >
        </aou-shared-notification-input>
      </ng-template>

    </div>

    <div *ngIf="userAuthorizedForDepositActions"
         class="right-part"
    >

      <aou-shared-structure-input *ngIf="getFormControl(formDefinition.structures) as fd"
                                  [formControl]="fd"
                                  [solidifyTooltip]="tooltipTranslateEnum.profileStructure"
                                  [hintToTranslate]="hintTranslateEnum.profileStructures"
                                  class="structures"
      >
      </aou-shared-structure-input>

      <solidify-searchable-multi-select (navigate)="navigateToResearchGroup($event)"
                                        *ngIf="getFormControl(formDefinition.researchGroups) as fd"
                                        [appearance]="appearanceInputMaterial"
                                        [formControl]="fd"
                                        [isWithLink]="securityService.isRootOrAdmin()"
                                        [labelKey]="'name'"
                                        [placeholder]="labelTranslateEnum.clickHereToAddAResearchGroup | translate"
                                        [required]="formValidationHelper.hasRequiredField(fd)"
                                        [resourceNameSpace]="sharedResearchGroupActionNameSpace"
                                        [sort]="sharedResearchGroupSort"
                                        [state]="sharedResearchGroupState"
                                        [title]="labelTranslateEnum.researchGroups | translate"
                                        [tooltipNavigateToTranslate]="labelTranslateEnum.seeResearchGroupDetail | translate"
                                        [labelCallback]="researchGroupLabel"
                                        [valueKey]="'resId'"
                                        [closeAfterValueSelected]="true"
                                        aria-label="research group"
                                        solidifyValidation
                                        [solidifyTooltip]="tooltipTranslateEnum.profileResearchGroups"
                                        [hintToTranslate]="hintTranslateEnum.profileResearchGroups"
                                        [showEmptyRequiredFieldInError]="true"
                                        [extraSearchQueryParam]="researchGroupQueryParam"
                                        [preTreatmentHighlightText]="researchGroupPreTreatmentHighlightText"
                                        [postTreatmentHighlightText]="researchGroupPostTreatmentHighlightText"
      >
      </solidify-searchable-multi-select>

      <ng-container *ngIf="getFormArray(formDefinition.validationRight) as fd">
        <aou-shared-table-person-structure-sub-type-container *ngIf="fd.value | isNonEmptyArray"
                                                              [formArray]="fd"
                                                              [readonly]="true"
                                                              class="validation-right"
                                                              [solidifyTooltip]="tooltipTranslateEnum.profileValidationRight"
        >
        </aou-shared-table-person-structure-sub-type-container>
      </ng-container>

    </div>

  </div>
</form>
