<solidify-panel-expandable [titleToTranslate]="isValidator ? labelTranslateEnum.commentsBetweenValidators : labelTranslateEnum.comments"
                           [isOpen]="isOpen"
                           (closeChange)="isOpen = false"
                           (openChange)="isOpen = true"
                           class="panel container-panel"
>
  <ng-template #noComments>
    <div *ngIf="!showCommentForm"
         class="no-comment"
    >
      <span
          class="text"
      >{{
              (isValidator ? labelTranslateEnum.thereAreNoValidatorsCommentsForTheMoment : labelTranslateEnum.thereAreNoCommentsForTheMoment) |
                  translate
        }}</span>
    </div>
  </ng-template>

  <ul *ngIf="(listComments | isNonEmptyArray) else noComments"
      class="list"
  >
    <li *ngFor="let comment of listComments; trackBy: trackByFn"
        [class.is-edited]="comment.resId === idCommentEdited"
        class="comment"
    >
      <div class="infos">
        <div *ngIf="comment.resId !== idCommentEdited"
             class="comment-text"
        >
          {{comment.text}}
        </div>
        <span class="user">{{(comment.system | isTrue) ? (labelTranslateEnum.system | translate) : comment.person.fullName}}</span>
        <span class="date">{{$any(comment.creation.when) | datetime}}</span>
        <span *ngIf="comment.lastUpdate && comment.lastUpdate.when !== comment.creation.when"
              class="date"
        >({{labelTranslateEnum.lastEdit | translate}}: {{$any(comment.lastUpdate.when) | datetime}})</span>
      </div>
      <div class="buttons-wrapper">
        @if (!readonly && (comment.system | isFalse)) {
          <button (click)="editComment(comment)"
                  *ngIf="!showCommentForm && isCurrentUserComment(comment)"
                  [matTooltip]="'general.button.editComment' | translate"
                  aria-label="edit comment"
                  mat-icon-button
                  type="button"
          >
            <solidify-icon [iconName]="iconNameEnum.edit"
                           class="size-18 icon"
            ></solidify-icon>
          </button>
          <button (click)="deleteComment(comment)"
                  *ngIf="!showCommentForm && isCurrentUserComment(comment)"
                  [matTooltip]="'general.button.deleteComment' | translate"
                  aria-label="delete comment"
                  mat-icon-button
                  type="button"
          >
            <solidify-icon [iconName]="iconNameEnum.delete"
                           class="size-18 icon"
            ></solidify-icon>
          </button>
        }
      </div>

      <ng-template [ngIf]="showCommentForm && idCommentEdited === comment.resId">
        <ng-template [ngTemplateOutlet]="commentInput"></ng-template>
      </ng-template>

    </li>
  </ul>

  <ng-template [ngIf]="showCommentForm && (idCommentEdited | isNullOrUndefined)">
    <ng-template [ngTemplateOutlet]="commentInput"></ng-template>
  </ng-template>

  <div *ngIf="!readonly"
       class="add-comment-wrapper"
  >
    <button *ngIf="!showCommentForm"
            (click)="openCommentForm()"
            color="primary"
            mat-button
            type="button"
            class="add-comment alternative-square-button"
    >
      {{(isValidator ? labelTranslateEnum.addCommentForOtherValidator : labelTranslateEnum.addAComment) | translate}}
    </button>
  </div>
</solidify-panel-expandable>

<!--TEMPLATE BELOW-->

<ng-template #commentInput>
  <form [formGroup]="form"
        class="form"
  >
    <mat-form-field *ngIf="getFormControl(formDefinition.text) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    class="textarea"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.comment | translate}}</mat-label>
      <textarea #textAreaElement
                [formControl]="fd"
                [maxlength]="MAX_NUMBER_CHARACTER"
                [placeholder]="labelTranslateEnum.writeYourCommentHere | translate"
                [required]="formValidationHelper.hasRequiredField(fd)"
                [solidifyValidation]="errors"
                cdkAutosizeMaxRows="20"
                cdkAutosizeMinRows="3"
                cdkTextareaAutosize
                matInput
      >
      </textarea>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
      <mat-hint>{{labelTranslateEnum.characters | translate}} : {{getFormControl(formDefinition.text).value.length}} / {{MAX_NUMBER_CHARACTER}}</mat-hint>
    </mat-form-field>

    <div class="right-part">
      <div class="buttons-wrapper">
        <button (click)="submit()"
                [disabled]="!getFormControl(formDefinition.text)?.valid"
                color="primary"
                mat-button
                mat-flat-button
                type="button"
        >
          {{labelTranslateEnum.save | translate}}
        </button>
        <button (click)="cancel()"
                mat-button
                color="primary"
                class="alternative-square-button"
                type="button"
        >
          {{labelTranslateEnum.cancel | translate}}
        </button>
      </div>
    </div>

  </form>

</ng-template>
