@import "abstracts/abstracts";

:host {
  display: block;

  .panel {
    border: 1px solid $light-grey;
    background-color: $panel-background;
    margin: 20px 0;

    &.is-closed ::ng-deep {
      .header {
        border: none;
      }
    }

    &::ng-deep {
      > .content {

        display: grid;
        grid-gap: 10px;
        padding-bottom: 10px;

        .no-comment {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 0;

          .text {
            padding: 10px;
            text-align: center;
          }
        }

        .list {

          .comment {
            border-bottom: 1px solid $extra-light-grey;
            padding: 2px 10px;
            display: grid;
            grid-template-columns: 1fr max-content;
            grid-gap: 10px;

            &.is-edited {
              background-color: #f6d4ed;
            }

            .infos {
              margin-top: auto;
              margin-bottom: auto;
              padding: 10px 0;

              .comment-text {
                white-space: pre-line;
                word-break: break-word;
                padding-bottom: 10px;
              }

              .user {
                color: $primary-color;
              }

              .date {
                padding: 0 5px;
                color: $light-grey;
              }
            }

            .buttons-wrapper {
              height: 40px;
              display: grid;
              grid-auto-flow: column;
            }
          }
        }

        .form {
          display: grid;
          grid-template-columns: 1fr min-content;
          grid-gap: 15px;

          .right-part {
            padding-top: 4px;

            .buttons-wrapper {
              display: grid;
              grid-template-columns: min-content min-content;
              grid-gap: 10px;
            }
          }
        }

        .add-comment-wrapper {
          padding-left: 10px;
        }

      }
    }
  }
}

:host(.without-panel) {
  .panel {
    &::ng-deep {
      .header {
        display: none;
      }
    }
  }
}

:host(.internal-comment) {
  .panel {
    background-color: $orange-extra-light;
    border: none;

    &::ng-deep {
      > .content {
        .list {
          .comment {
            border-color: $medium-light-grey;
          }
        }
      }
    }
  }
}

@include isInDarkMode {
  :host {
    .panel {
      background-color: $dark-mode-panel-background;

      &::ng-deep {
        > .content {
          .list {
            .comment {
              border-color: $dark-mode-line;
            }
          }
        }
      }
    }
  }

  :host(.internal-comment) {
    .panel {
      background-color: $orange-extra-light;
      border: none;

      &::ng-deep {
        > .content {
          .no-comment {
            color: $text-color;
          }

          .list {
            .comment {
              border-color: $medium-light-grey;
              color: $text-color;
            }
          }
        }
      }

      .form {
        color: $text-color;

        ::ng-deep {
          .mat-form-field {
            &:not(.mat-form-field-disabled) {
              .mat-form-field-outline {
                background-color: $orange-extra-light;
              }
            }
          }

          .mat-form-field-appearance-outline:not(.mat-form-field-invalid) .mat-form-field-outline {
            color: rgba(107, 107, 107, 0.3);
          }

          .mat-input-element {
            color: $text-color;
          }

          .mat-form-field-label {
            color: $text-color;
          }

          .mat-mdc-form-field-hint {
            color: $text-color;
          }
        }
      }

      button.mat-button:not(.mat-button-disabled):not(.mat-icon-button):not(.mat-flat-button) {
        background-color: $orange-extra-light;
      }
    }
  }
}
