@import "abstracts/abstracts";

:host {
  padding-top: 20px;
  display: grid;

  .progression {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 10px;
    align-items: center;
    padding-bottom: 10px;

    .progress-bar-wrapper {
      position: relative;

      .progress-bar-error {

        &::ng-deep {
          .mat-progress-bar-background,
          .mat-progress-bar-buffer {
            display: none;
          }
        }

        position: absolute;
        top: 0;
      }
    }

    .progress-counter {
      font-size: 15px;
      font-weight: bold;
    }
  }

  .finish-message {
    text-align: center;
    font-size: 16px;
    color: $success;

    &.warn {
      color: $warning;
    }
  }

  .textarea {
    resize: none;
  }

  ::ng-deep {
    .panel {
      .header {
        display: none !important;
      }

      .content {
        padding-top: 0;
      }
    }

    .container {
      border-bottom: 1px solid $medium-light-grey;
      margin-top: 20px;
    }
  }
}
