<div *ngIf="isImportLaunched; else inputPaste"
     class="progression"
>
  <div class="progress-bar-wrapper">
    <mat-progress-bar class="progress-bar"
                      mode="determinate"
                      [color]="'accent'"
                      [value]="percentageImportCompletion"
    >
    </mat-progress-bar>
    <mat-progress-bar class="progress-bar-error"
                      mode="determinate"
                      [color]="'warn'"
                      [value]="percentageImportErrorCompletion"
    >
    </mat-progress-bar>
  </div>
  <span class="progress-counter">({{numberPublicationFinished}}/{{numberTotalPublication}})</span>
</div>

<div *ngIf="numberPublicationFinished >= numberTotalPublication"
     class="finish-message"
     [class.warn]="numberPublicationFinishedInError > 0"
>
  <ng-template [ngIf]="numberPublicationFinishedInError > 0">
    {{
          "deposit.multiImport.importFinishedWithXError" | translate :{number: numberPublicationFinishedInError}
    }}
  </ng-template>
  <ng-template #messageFullySuccess>
    {{"deposit.multiImport.importFinishedSuccessfully" | translate}}
  </ng-template>
</div>

<ng-template #inputPaste>
  <mat-form-field class="form-field"
                  solidifyTooltipOnEllipsis
                  [appearance]="appearanceInputMaterial"
                  [floatLabel]="'always'"
                  [solidifyTooltip]="tooltipTranslateEnum.depositMultiImportInputPasteIdentifiers"
  >
    <mat-label>{{labelTranslateEnum.identifiers | translate}}</mat-label>
    <textarea #input
              [autocomplete]="'off'"
              [placeholder]="labelTranslateEnum.pasteTheListOfIdentifiersHere | translate"
              [solidifyAutoFocus]="true"
              rows="3"
              class="textarea"
              (paste)="paste($event)"
              (keypress)="keypress($event)"
              matInput
    ></textarea>
    <mat-hint>{{labelTranslateEnum.theFollowingSeparatorsAreSupportedCommaSpaceLineBreak | translate}}</mat-hint>
  </mat-form-field>
</ng-template>

<aou-deposit-repeatable-fields #depositRepeatableFieldsPresentational
                               [labelSectionToTranslate]="labelTranslateEnum.importMultipleDeposits"
                               [fieldsTemplate]="fieldsTemplate"
                               [formGroupFactory]="formGroupFactory"
                               [formArray]="formArray"
                               [readonly]="isImportLaunched"
                               [canSort]="false"
                               [canDeleteFirst]="true"
                               [listFormDefinitions]="listFormDefinitions"
                               [fixAlignmentDeleteButton]="false"
                               [fixAlignmentAddButton]="false"
></aou-deposit-repeatable-fields>

<div *ngIf="formArray.length === 0">
  <button solidifyShortCuts
          mat-button
          [matTooltip]="labelTranslateEnum.add | translate"
          (onEnter)="add()"
          (click)="add()"
          class="button-add"
          type="button"
          color="primary"
          aria-label="add"
  >
    <solidify-icon [iconName]="iconNameEnum.add"
                   class="icon"
    ></solidify-icon>
    {{labelTranslateEnum.add | translate}}
  </button>
</div>

<ng-template #fieldsTemplate
             let-formGroup="formGroup"
>
  <aou-deposit-import-row [formGroup]="formGroup"
                          [readonly]="isImportLaunched"
                          [result]="getResult(formGroup)"
                          (openDeposit)="openDeposit($event)"
  ></aou-deposit-import-row>
</ng-template>
