<ng-template [ngIf]="embargoAccessLevel | isNotNullNorUndefined">
  <aou-shared-access-level [accessLevel]="embargoAccessLevel"
                           [withTooltip]="withTooltip"
                           [size]="size"
  ></aou-shared-access-level>
  <solidify-icon [iconName]="iconNameEnum.next"
                 class="size-12"
  ></solidify-icon>
</ng-template>

<aou-shared-access-level [accessLevel]="accessLevel"
                         [withTooltip]="withTooltip"
                         [size]="size"
></aou-shared-access-level>

<span *ngIf="(embargoAccessLevel | isNotNullNorUndefined) && (embargoEndDate | isNotNullNorUndefined)"
      class="date"
      solidifyTooltipOnEllipsis
>
  {{dateUtil.convertDateToDateString(embargoEndDate)}}
</span>
