<solidify-base-action-dialog [titleToTranslate]="labelTranslateEnum.commentsOnDepositX | translate: {title: data.deposit.title | cleanHtml}">
  <aou-deposit-comment-form [listComments]="listCommentsObs | async"
                            [readonly]="true"
                            [withoutPanel]="true"
                            [solidifySpinner]="isLoadingObs | async"
  ></aou-deposit-comment-form>
</solidify-base-action-dialog>
<div mat-dialog-actions
     class="footer"
>
  <button mat-button
          color="primary"
          [mat-dialog-close]=""
          [solidifyAutoFocus]="true"
  >{{labelTranslateEnum.close | translate}}
  </button>
</div>
