<solidify-base-action-dialog [titleToTranslate]="labelTranslateEnum.typesOfPastedIdentifiers | translate">
  <ul class="list">
    <li *ngFor="let identifier of data.listPastedIdentifier">
      {{identifier}}
    </li>
  </ul>
  <mat-radio-group *ngIf="formControl as fd"
                   [formControl]="fd"
                   class="radio-group"
                   color="primary"
  >
    <mat-radio-button *ngFor="let importMethod of listImportMethods"
                      [value]="importMethod.key"
    >{{importMethod.value}}</mat-radio-button>
  </mat-radio-group>
</solidify-base-action-dialog>
<div mat-dialog-actions
     class="footer"
>
  <button mat-button
          color="primary"
          [mat-dialog-close]=""
          [solidifyAutoFocus]="true"
  >{{labelTranslateEnum.close | translate}}
  </button>
  <button mat-button
          mat-flat-button
          color="primary"
          [disabled]="formControl.invalid"
          (click)="confirm()"
  >{{labelTranslateEnum.confirm | translate}}
  </button>
</div>
