@import "abstracts/abstracts";

:host {
  .list {
    padding-left: 15px;

    > li {
      list-style-type: disc;
    }
  }

  .radio-group {
    display: grid;
    margin-top: 20px;
    grid-gap: 10px;
  }

  .footer {
    justify-content: flex-end;
    align-items: center;
  }
}
