@import "abstracts/abstracts";

:host {
  .title {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    grid-gap: 5px;
    margin-bottom: 5px;

    @include respond-to-smaller-than-breakpoint("md") {
      grid-template-columns: max-content max-content;
      justify-content: center;
    }
  }
}
