@import "abstracts/abstracts";

:host {
  .first-line {
    display: grid;
    grid-template-columns: max-content;
    grid-gap: 0 20px;

    > * {
      width: $width-field-large;
    }
  }

  .second-line {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    grid-gap: 0 20px;

    > * {
      width: $width-field-small;
    }

    .conference-title,
    .special-issue {
      width: $width-field-large;
    }
  }
}
