<div class="first-line">
  <ng-container *ngIf="depositFormRuleHelper.pathContainerEditor as fieldPath">
    <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
      <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [solidifyTooltip]="tooltipTranslateEnum.depositContainerEditor"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-template>
  </ng-container>
</div>

<div class="second-line">
  <ng-container *ngIf="depositFormRuleHelper.pathContainerConferenceSubtitle as fieldPath">
    <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
      <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [solidifyTooltip]="tooltipTranslateEnum.depositContainerConferenceTitle"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      class="conference-title"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="depositFormRuleHelper.pathContainerConferencePlace as fieldPath">
    <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
      <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [solidifyTooltip]="tooltipTranslateEnum.depositContainerConferencePlace"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="depositFormRuleHelper.pathContainerConferenceDate as fieldPath">
    <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
      <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [solidifyTooltip]="tooltipTranslateEnum.depositContainerConferenceDate"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="depositFormRuleHelper.pathContainerVolume as fieldPath">
    <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
      <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [solidifyTooltip]="tooltipTranslateEnum.depositContainerVolume"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="depositFormRuleHelper.pathContainerIssue as fieldPath">
    <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
      <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [solidifyTooltip]="tooltipTranslateEnum.depositContainerIssue"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="depositFormRuleHelper.pathContainerSpecialIssue as fieldPath">
    <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
      <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [solidifyTooltip]="tooltipTranslateEnum.depositContainerSpecialIssue"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
                      class="special-issue"
      >
        <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-template>
  </ng-container>
</div>
