<solidify-empty-container (keydown.escape)="isEdit ? backToDetail() : backToList()"
                          [solidifyFocusFirstElement]="true"
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  [mode]="isEdit ? 'edit' : 'detail'"
                                  [currentModel]="currentObs | async"
                                  [formPresentational]="formPresentational"
                                  (backToDetailChange)="backToDetail()"
                                  (deleteChange)="delete()"
                                  (editChange)="edit()"
  >
  </solidify-button-toolbar-detail>

  <div [solidifySpinner]="isLoadingWithDependencyObs | async"
       class="wrapper"
  >
    <aou-admin-index-field-alias-form #formPresentational
                                      *ngIf="isReadyToBeDisplayedObs | async"
                                      [editAvailable]="editAvailable"
                                      [model]="currentObs | async"
                                      [readonly]="!isEdit"
                                      (checkAvailableChange)="checkAvailable($event)"
                                      (dirtyChange)="updateCanDeactivate($event)"
                                      (editChange)="edit()"
                                      (navigate)="navigate($event)"
                                      (submitChange)="update($event)"
    >
    </aou-admin-index-field-alias-form>
  </div>
</solidify-empty-container>
