@import "../sass/abstracts/mixins";
@import "../sass/abstracts/variables";

:host {
  .warning {
    white-space: pre;
  }

  .message-alert {
    color: $error;
  }

  .summary {
    ul {
      padding-top: 10px;

      li {
        list-style-type: initial;
        margin-left: 15px;
      }
    }

    padding: 10px 0;
  }
}
