<solidify-base-action-dialog [titleToTranslate]="'admin.user.dialog.mergeUser.title' | translate">

  <solidify-searchable-single-select *ngIf="formControl as fd"
                                     [formControl]="fd"
                                     [labelCallback]="userLabel"
                                     [labelKey]="'lastName'"
                                     [placeholder]="labelTranslateEnum.userToMerge | translate"
                                     [required]="formValidationHelper.hasRequiredField(fd)"
                                     [positionLabel]="positionLabelInputMaterial"
                                     [resourceNameSpace]="sharedUserNameSpace"
                                     [sort]="sharedUserSort"
                                     [state]="sharedUserState"
                                     [valueKey]="'resId'"
                                     solidifyValidation
  >
  </solidify-searchable-single-select>

</solidify-base-action-dialog>
<div mat-dialog-actions>
  <button mat-button
          color="primary"
          [mat-dialog-close]=""
          [solidifyFocusFirstElement]="true"
  >{{labelTranslateEnum.cancel | translate}}</button>
  <button mat-button
          mat-flat-button
          color="warn"
          solidifyShortCuts
          [disabled]="formControl.invalid"
          (onEnter)="confirm()"
          (click)="confirm()"
  >{{labelTranslateEnum.mergeUser | translate}}</button>
</div>
