@import "abstracts/abstracts";

:host {
  display: flex;
  justify-content: center;
  align-items: center;

  .round {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    border: 2px solid $grey;
    background-color: $grey;
  }
}