<solidify-ribbon></solidify-ribbon>

<div *ngIf="isMaintenanceModeActive"
     class="maintenance-mode"
>
  {{labelTranslateEnum.maintenanceInProgress | translate}}
</div>

<ng-template [ngIf]="(isServerOfflineObs | async) || (isUnableToLoadAppObs | async)">
  <router-outlet></router-outlet>
</ng-template>

<div class="app-wrapper">
  <div class="header">
    @if (ssrUtil.isBrowser) {
      <solidify-global-banner *ngIf="(globalBannerObs | async) as globalBanner"
                              [globalBanner]="globalBanner"
                              [isSameLanguage]="labelUtil.isSameLanguage"
      ></solidify-global-banner>
    }

    <aou-main-toolbar [logged]="isLoggedObs | async"
                      [isValidationRight]="isValidationRightObs | async"
                      [isInTourMode]="isInTourModeObs | async"
                      [currentPath]="currentModule"
                      [language]="appLanguageObs | async"
                      [theme]="themeObs | async"
                      [numberPendingRequestNotifications]="sessionStorageHelper.getListItem(sessionStorageEnum.notificationInboxPending).length"
                      [numberPublicationPinned]="numberPublicationPinnedObs | async"
                      [userRoles]="userRolesObs | async"
                      [userAuthorizedForDepositActions]="userAuthorizedForDepositActionsObs | async"
                      [user]="$any(currentUserObs | async)"
                      [photoUser]="currentPhotoUserObs | async"
                      [logo]="logo"
                      [frontendVersion]="frontendVersionObs | async"
                      [darkMode]="darkModeObs | async"
                      [showSearchInput]="showSearchInputInMainToolbar"
                      [listStaticPages]="listStaticPagesObs | async"
                      (languageChange)="languageChange($event)"
                      (navigateChange)="navigate($event)"
                      (logoutChange)="logout()"
                      (themeChange)="themeChange($event)"
                      (userGuideOpen)="openUserGuideSidebar()"
                      (validatorGuideOpen)="openValidatorGuideSidebar()"
                      (searchChange)="search($event)"
                      (darkModeChange)="darkThemeChange($event)"
    >
    </aou-main-toolbar>

    <div class="breadcrumb-banner-wrapper"
         [class.hide]="isHomePage"
    >
      <solidify-breadcrumb *ngIf="displayBreadcrumb | isTrue"
                           (navigateChange)="navigate($event)"
                           class="breadcrumb"
      ></solidify-breadcrumb>
      <solidify-banner [messageToTranslate]="messageBannerObs | async"
                       [conditionToDisplay]="displayBannerObs | async"
                       [parameters]="parametersObs | async"
                       [class]="colorBannerObs | async"
      ></solidify-banner>
    </div>
  </div>

  <div #main
       class="body"
       (scroll)="scrollHandler($event)"
  >
    <main class="content mat-typography"
          cdkTrapFocus
    >
      <div class="router-outlet-wrapper"
           [tourAnchor]="tourEnum.commonContent"
           [solidifyFocusFirstElement]="true"
           [class.ignore-grid]="ignoreGrid"
      >
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>

  <aou-footer-container class="footer"
                        [updateVersion]="appStatusService.updateAvailable | async"
                        (updateChange)="appStatusService.reloadApp()"
  ></aou-footer-container>
</div>

<solidify-cookie-consent-banner-container *ngIf="ssrUtil.isBrowser"></solidify-cookie-consent-banner-container>
<solidify-cookie-consent-sidebar-container></solidify-cookie-consent-sidebar-container>

<aou-shared-user-guide-sidebar-container></aou-shared-user-guide-sidebar-container>
<aou-shared-validator-guide-sidebar-container></aou-shared-validator-guide-sidebar-container>

<tour-step-template>
  <ng-template let-step="step">
    <solidify-tour-step [step]="step"
                        [tourService]="tourService"
    ></solidify-tour-step>
  </ng-template>
</tour-step-template>
