<solidify-base-info-dialog [titleToTranslate]="'deposit.file.warning.unableToDownloadFile.title' | translate">
  <p>{{"deposit.file.warning.unableToDownloadFile.message" | translate}}</p>
  <ul class="list">
    <li *ngFor="let file of data.listFileUnableToImport">
      <a [href]="file.sourceData"
         target="_blank"
      >{{file.fileName}}</a>
    </li>
  </ul>
</solidify-base-info-dialog>
<div mat-dialog-actions
     class="footer"
>
  <button mat-button
          mat-flat-button
          color="primary"
          [solidifyAutoFocus]="true"
          (click)="confirm()"
  >{{labelTranslateEnum.okayIUnderstand | translate}}
  </button>
</div>
