@if (iconMode) {
  <div>
    <button [matMenuTriggerFor]="menu"
            [matTooltipPosition]="'left'"
            [matTooltip]="labelTranslateEnum.export | translate"
            [disabled]="numberSelectedElements === 0"
            (click)="preventExportClick($event)"
            class="share"
            mat-icon-button
    >
      <solidify-icon [iconName]="iconNameEnum.exportBibliography"
                     class="size-18"
      ></solidify-icon>
    </button>
  </div>
} @else {
  <button [matMenuTriggerFor]="menu"
          [disabled]="numberSelectedElements === 0"
          color="primary"
          mat-button
          solidifyShortCuts
  >
    <solidify-icon [iconName]="iconNameEnum.exportBibliography"></solidify-icon>
    <ng-template [ngIf]="numberSelectedElements === 0">
      {{labelTranslateEnum.exportBibliography | translate}}
    </ng-template>
    <ng-template [ngIf]="numberSelectedElements > 0">
      {{
            labelTranslateEnum.exportBibliographyX | translate: {
                pinned: pinnedPublications.length,
                search: storedSearches.length
            }
      }}
    </ng-template>
  </button>
}

<mat-menu #menu="matMenu"
          [classList]="'bibliography-container-panel'"
>
  <button (click)="exportBibliography(exportFormat.TSV)"
          mat-menu-item
  >
    <span>CSV</span>
  </button>
  <button (click)="exportBibliography(exportFormat.JSON)"
          mat-menu-item
  >
    <span>JSON</span>
  </button>
  <button (click)="exportBibliography(exportFormat.XML)"
          mat-menu-item
  >
    <span>XML</span>
  </button>
  <button (click)="exportBibliography(exportFormat.BIBTEX)"
          mat-menu-item
  >
    <span>BibTex</span>
  </button>
</mat-menu>


