@import "abstracts/abstracts";

:host {
  .open-button {
    color: $white;

    .icon {
      font-size: 20px;
    }
  }
}

::ng-deep {
  .bibliography-container-panel {
    .title-section {
      padding: 0 10px;
      margin: 8px 0;
    }
  }
}
