<div class="container">
  <h1 class="title">{{labelTranslateEnum.publishedDepositNotFound | translate }}</h1>

  <p class="not-present">{{labelTranslateEnum.publishedDepositWithIdDoesNotExist | translate:{id: publishedDepositId} }}</p>

  <div class="button-wrapper">
    <button (click)="back()"
            (onEnter)="back()"
            class="back-button"
            color="primary"
            mat-flat-button
            solidifyShortCuts
    >{{labelTranslateEnum.backToSearch | translate}}
    </button>
  </div>
</div>
