<solidify-empty-container solidifyShortCuts
                          [solidifyFocusFirstElement]="true"
                          (onEscape)="isEdit ? backToDetail() : backToList()"
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  [mode]="isEdit ? 'edit' : 'detail'"
                                  [formPresentational]="formPresentational"
                                  [editAvailable]="editAvailable"
                                  [deleteAvailable]="deleteAvailable"
                                  [currentModel]="currentObs | async"
                                  [listExtraButtons]="listExtraButtons"
                                  (editChange)="edit()"
                                  (deleteChange)="delete()"
                                  (backToDetailChange)="backToDetail()"
  >
  </solidify-button-toolbar-detail>

  <div class="wrapper"
       [solidifySpinner]="isLoadingWithDependencyObs | async"
  >
    <aou-notification-form #formPresentational
                           *ngIf="isReadyToBeDisplayedObs | async"
                           [model]="currentObs | async"
                           [readonly]="!isEdit"
                           [editAvailable]="editAvailable"
                           (submitChange)="update($event)"
                           (checkAvailableChange)="checkAvailable($event)"
                           (dirtyChange)="updateCanDeactivate($event)"
                           (navigate)="navigate($event)"
                           (editChange)="edit()"
    ></aou-notification-form>
  </div>
</solidify-empty-container>
