<div class="left">
  <button (click)="openCommentOrQuestion()"
          class="comment-or-question"
          mat-button
  >
    <solidify-icon [iconName]="iconNameEnum.commentOrQuestion"
                   class="size-20"
    ></solidify-icon>
    {{labelTranslateEnum.contactUs | translate}}
  </button>
  <button (click)="openCommentOrQuestion()"
          class="comment-or-question-icon"
          mat-icon-button
          [matTooltip]="labelTranslateEnum.contactUs | translate"
  >
    <solidify-icon [iconName]="iconNameEnum.commentOrQuestion"
                   class="size-20"
    ></solidify-icon>
  </button>
  <div *ngIf="updateVersion"
       class="update-version"
       [matTooltip]="'app.status.newVersionAvailable' | translate"
       (click)="update()"
  >
    <solidify-icon [iconName]="iconNameEnum.update"
                   class="size-20"
    >

    </solidify-icon>
  </div>
  <button (click)="openCookieConsentSideBar()"
          [matTooltip]="labelTranslateEnum.privacy | translate"
          class="privacy"
          mat-icon-button
  >
    <solidify-icon [iconName]="iconNameEnum.privacy"
                   class="size-20"
    ></solidify-icon>
  </button>
</div>

<div class="copyrights">
  All rights reserved by <a href="https://www.unige.ch/biblio/fr/services/archive-ouverte"
                            target="_blank"
>Archive ouverte UNIGE</a> and the <a href="https://www.unige.ch/"
                                      target="_blank"
>University
 of Geneva</a>
  <solidify-icon [iconName]="(darkModeObs | async) ? iconNameEnum.unigeWhite : iconNameEnum.unigeBlack"
                 class="size-20 unige"
  ></solidify-icon>
</div>

<div class="right">
  <aou-shared-toc class="toc"
                  [isLoading]="isLoadingDocObs | async"
                  [integrationGuide]="integrationGuideObs | async"
                  [toolsGuide]="toolsGuideObs | async"
                  [apis]="apisObs | async"
                  (aboutChange)="navigateToAbout()"
  ></aou-shared-toc>
  <button (click)="navigateToAbout()"
          [matTooltipPosition]="'left'"
          [matTooltip]="labelTranslateEnum.about | translate"
          class="about"
          mat-icon-button
  >
    <solidify-icon [iconName]="iconNameEnum.about"
                   class="size-18"
    ></solidify-icon>
  </button>
</div>
