@import "abstracts/abstracts";

solidify-panel-expandable {
  .required-marker {
    font-size: 18px;
    position: relative;
    top: 3px;
  }

  &.is-outline {
    .required-marker {
      top: 5px;
    }

    .content {
      background-color: $white;

      // TODO UPDATE SOLIDIFY TO ALLOW TO MASK ONLY LINE BORDER
    }
  }

  &.main-panel {
    border: 1px solid $light-grey;
    background-color: $panel-background;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 35px;

    &.is-closed {
      padding-bottom: 0;
    }

    > .header {
      border-bottom: none !important;

      .title {
        font-size: 20px !important;
      }
    }

    .mat-form-field-infix {
      width: unset;
    }
  }

  &.secondary-panel {
    padding: 0;

    > .header {
      border-bottom: none !important;
    }
  }

  &.container-panel {
    padding: 10px;
    border: 1px solid $light-grey;
    border-radius: 6px;
    margin: 5px 0;

    &.is-closed {
      .header {
        border: none;
      }
    }
  }
}

solidify-data-table {
  .data-table.have-no-data {
    thead {
      opacity: 0.5;
    }
  }
}

solidify-confirm-dialog {
  .mat-dialog-content {
    p {
      white-space: pre-wrap;
    }
  }
}

.mat-snack-bar-container {
  max-width: 100vw !important;
  min-width: 100vw !important;
  margin: 0 !important;
  border-radius: 0 !important;
  display: grid !important;
  min-height: 60px !important;

  .icon-and-message {
    .icon {
      font-size: 30px !important;
      height: 30px !important;
      line-height: 30px !important;
      width: 30px !important;
    }

    .message {
      font-size: 17px !important;
    }
  }
}

solidify-searchable-multi-select {
  .mat-chip {
    .label {
      max-width: 300px !important;
    }
  }
}

solidify-banner {
  .banner {
    display: grid;
    justify-content: center;

    .text {
      max-width: 800px;
      display: block;
      @include truncate-with-ellipsis;
    }
  }
}

solidify-searchable-multi-select-content,
solidify-searchable-single-select-content {
  height: 500px !important;
}

solidify-searchable-multi-select {
  .mat-chip {
    .inactive {
      font-style: italic;
      color: $light-grey;
    }
  }
}

solidify-searchable-single-select-content,
solidify-searchable-multi-select-content {
  .result {
    .inactive {
      font-style: italic;
      color: $light-grey;
    }
  }
}

solidify-searchable-tree-single-select-content,
solidify-searchable-tree-multi-select-content {
  .result {
    .is-historical {
      font-style: italic;
      opacity: 0.5;
    }

    .is-obsolete {
      font-style: italic;
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}


solidify-tabs-container {
  $color-line: $intermediate-grey;

  .tabs-header-container {
    gap: 2px;
    border-bottom-color: $color-line !important;

    .tab-header {
      border: 1px solid $color-line;
      border-radius: 5px 5px 0 0;
      border-bottom: none;

      &.is-active {
        background-color: $color-line;
        border-bottom: none !important;

        &::after {
          content: ' ';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 4px;
          background-color: $primary-color;
        }
      }
    }
  }
}

button.alternative-square-button.mat-mdc-button:not(.mat-mdc-button-disabled):not(.mat-mdc-icon-button):not(.mat-flat-button) {
  background-color: $white;
}
