@import "solidify-frontend/lib/core/scss/override/dark-mode-override";
@import "abstracts/abstracts";

@mixin aou-dark-mode-override {
  @include solidify-dark-mode-override-rules;

  aou-deposit-create-edit-routable,
  aou-deposit-comment-form {
    .mat-mdc-form-field {
      &:not(.mat-form-field-disabled) {
        .mat-form-field-outline {
          background-color: $dark-mode-background;
        }
      }
    }
  }

  solidify-panel-expandable {
    &.is-outline {
      color: $dark-mode-text-color;

      .content {
        background-color: $dark-mode-background;
        border-color: $dark-mode-line;
      }
    }

    &.main-panel {
      border: 1px solid $dark-mode-line;
      background-color: $dark-mode-panel-background;
    }

    &.container-panel {
      border: 1px solid $dark-mode-line;
    }
  }

  solidify-tabs-container {
    $color-line: $dark-mode-line;

    .tabs-header-container {
      border-bottom-color: $color-line !important;

      .tab-header {
        border-color: $color-line;

        &.is-active {
          background-color: $color-line;
        }
      }
    }
  }

  button.alternative-square-button.mat-mdc-button:not(.mat-button-disabled):not(.mat-icon-button):not(.mat-flat-button) {
    background-color: $dark-mode-background;
  }

  aou-deposit-create-edit-routable,
  aou-deposit-comment-form, {
    .mat-mdc-form-field {
      &:not(.mat-form-field-disabled) {
        .mat-mdc-text-field-wrapper {
          background-color: $dark-mode-background;
        }
      }
    }
  }
}
