@import "solidify-frontend/lib/core/scss/override/material-override";
@import "abstracts/abstracts";

@mixin aou-material-override {
  @include solidify-material-override;

  .mat-form-field-suffix {
    .button-suffix {
      bottom: 7px;
    }
  }

  .mat-mdc-button:not(.mat-flat-button):not(.mat-mdc-icon-button):not([disabled="true"]) {
    border: 1px solid;
  }

  .mdc-button--unelevated {
    padding: 0 8px;
  }

  aou-deposit-create-edit-routable,
  aou-deposit-comment-form, {
    .mat-mdc-form-field {
      &:not(.mat-form-field-disabled) {
        .mat-mdc-text-field-wrapper {
          background-color: $white;
          border-radius: 4px;
        }
      }
    }
  }

  .mat-mdc-form-field {
    .mat-mdc-floating-label {
      .mat-mdc-form-field-required-marker {
        //TODO FIX AFTER MDC MIGRATION
        //font-size: 26px;
        //position: absolute;
        //padding-left: 4px;
      }
    }
  }

  .mdc-checkbox {
    margin-top: -6px;
    margin-bottom: -6px;
    margin-right: -5px;
    margin-left: -11px;
  }

  .mdc-radio {
    margin: -5px;
    margin-left: -10px;
  }
}
