<h3 *ngIf="chart.title | isNotNullNorUndefinedNorWhiteString"
    [innerHTML]="chart.title | translate:chart.titleParams"
    class="title"
></h3>
<canvas *ngIf="display"
        baseChart
        [datasets]="chartDatasets"
        [labels]="chartLabels"
        [options]="chartOptions"
        [plugins]="chartPlugins"
        [legend]="chartLegend"
        [type]="$any(chartType)"
        class="canvas"
>
</canvas>
