@import "abstracts/abstracts";

:host {
  display: grid;
  width: 45px;
  margin-top: 17px;

  .match {
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    color: $primary-color;
    background-color: $extra-light-grey;
    padding: 4px 0;
    text-align: center;
    cursor: pointer;
  }
}

@include isInDarkMode {
  :host {
    .match {
      background-color: $dark-mode-line;
    }
  }
}
