@import "abstracts/abstracts";

:host {
  .files {
    display: grid;
    border: 2px dashed $intermediate-grey;
    border-radius: 10px;
    margin-bottom: 10px;

    .header {
      padding: 0 10px;
      cursor: pointer;
      display: grid;
      grid-template-columns: 1fr max-content max-content;
      align-items: center;

      .label {
        color: $light-grey;
        text-align: left;
        transition: color 0.2s ease-in-out 0s;
      }

      .icon-help-button {
        &.hide {
          display: none;
        }

        .icon-help {
          color: $primary-color;
        }
      }

      &:hover {
        .label {
          color: $grey;
        }
      }

      .toggle-button {
        &.is-open {
          transform: rotate(180deg);
        }
      }
    }

    .content {
      display: grid;
      grid-gap: 15px;
      padding: 10px;
      padding-top: 0;
    }
  }
}

@include isInDarkMode {
  :host {
    .files {
      border-color: $dark-mode-line;

      .header {
        .label {
          color: $dark-mode-text-color;
        }
      }
    }
  }
}
