<div *ngIf="listFiles | isNonEmptyArray"
     class="files"
>
  <div class="header"
       (click)="toggleIsOpen()"
  >
    <span class="label">{{labelToTranslate | translate}} ({{listFiles.length}})</span>
    <button [class.hide]="!displayHelp"
            (click)="openHelp($event)"
            [matTooltip]="labelTranslateEnum.help | translate"
            [matTooltipPosition]="'above'"
            class="icon-help-button"
            mat-icon-button
            type="button"
    >
      <solidify-icon [iconName]="iconNameEnum.help"
                     class="icon-help size-18"
      ></solidify-icon>
    </button>
    <button [class.is-open]="isOpen"
            class="toggle-button"
            mat-icon-button
            type="button"
    >
      <solidify-icon [iconName]="iconNameEnum.down"></solidify-icon>
    </button>
  </div>
  <div *ngIf="isOpen"
       class="content"
  >
    <aou-home-file-info *ngFor="let file of listFiles; trackBy: trackByFn"
                        [file]="file"
                        [isUserUnigeOrHug]="isUserUnigeOrHug"
                        [listUserRoleEnum]="listUserRoleEnum"
                        [isLoggedIn]="isLoggedIn"
                        (downloadChange)="download($event)"
                        (loginChange)="login($event)"
                        (previewChange)="preview($event)"
    ></aou-home-file-info>
  </div>
</div>
