@import "abstracts/abstracts";

:host {
  .form > * {
    width: 100%;
  }

  .tree-wrapper {
    min-height: 80px;
  }

  button.mat-success:not(.mat-button-disabled) {
    background-color: $green !important;
    color: $white !important;
  }
}
