<solidify-base-action-dialog [titleToTranslate]="data.titleToTranslate | translate">
  <p>{{data.messageToTranslate | translate}}</p>
  <div [solidifySpinner]="isLoading"
       class="tree-wrapper"
  >
    <ng-template [ngIf]="isLoading | isFalse">
      <aou-shared-structure-tree *ngIf="listStructure?.length > 0; else noData"
                                 [listStructure]="listStructure"
                                 [canDelete]="false"
                                 [canEdit]="false"
                                 [isMultiSelectable]="false"
                                 (selectChange)="selectStructure($event)"
      ></aou-shared-structure-tree>
      <ng-template #noData>
        {{labelTranslateEnum.noStructureSelected | translate}}
      </ng-template>
    </ng-template>
  </div>
</solidify-base-action-dialog>
<div [solidifyFocusFirstElement]="true"
     cdkTrapFocus
     mat-dialog-actions
>
  <button [mat-dialog-close]=""
          color="primary"
          mat-button
  >{{labelTranslateEnum.cancel | translate}}</button>
  <button (click)="confirm()"
          [disabled]="form.invalid"
          [color]="colorConfirm"
          [solidifyMatButtonTheme]=""
          mat-flat-button
  >{{labelTranslateEnum.confirm | translate}}</button>
</div>
