@import "abstracts/abstracts";

:host {
  display: grid;
  grid-gap: 20px;
  background-color: $extra-ultra-light-grey;
  border-radius: 2px;
  padding: 20px;
  align-items: center;
  max-height: 420px;


  @include respond-to-smaller-than-breakpoint('md') {
    max-height: initial;
  }
}

@include isInDarkMode {
  background-color: $dark-mode-panel-background;
}
