<ng-container *ngFor="let fieldPathKey of listIdentifiersSelectedKey; let i = index">
  <ng-template [ngIf]="fieldPathKey === PATH_PENDING || depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPathKey)">
    <mat-form-field *ngIf="getFormControlIdentifierType(fieldPathKey) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [solidifyTooltip]="tooltipTranslateEnum.depositIdentifierSelector"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.typeOfIdentifier | translate}}</mat-label>
      <mat-select [solidifyValidation]="errors"
                  [formControl]="fd"
                  [required]="formValidationHelper.hasRequiredField(fd)"
                  (selectionChange)="changeTypeOfIdentifier(fieldPathKey, $event, i)"
                  [disabled]="listIdentifiersAvailable.length === 0"
      >
        <mat-option *ngFor="let identifier of getListIdentifiersAvailableWithCurrent(fieldPathKey)"
                    [value]="identifier"
        >
          {{depositFormRuleHelper.getLabel(mainFormGroup, identifier) | translate}}
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <ng-template [ngIf]="getPrefixUrl(fieldPathKey) | isNotNullNorUndefinedNorWhiteString"
                 [ngIfElse]="noPrefix"
    >
      <solidify-url-input-navigator *ngIf="getFormControlIdentifierValue(fieldPathKey) as fd"
                                    [formControl]="fd"
                                    [positionLabel]="positionLabelInputMaterial"
                                    [appearance]="appearanceInputMaterial"
                                    [placeholderToTranslate]="labelTranslateEnum.identifier"
                                    [solidifyTooltip]="getTooltip(fieldPathKey)"
                                    [prefixUrl]="getPrefixUrl(fieldPathKey)"
      >
      </solidify-url-input-navigator>
    </ng-template>
    <ng-template #noPrefix>
      <mat-form-field *ngIf="getFormControlIdentifierValue(fieldPathKey) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      [solidifyTooltip]="getTooltip(fieldPathKey)"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateEnum.identifier | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-template>

    <div class="button-delete-wrapper">
      <button *ngIf="(listIdentifiersSelectedKey.length > 1
      || (getFormControlIdentifierValue(fieldPathKey).value | isNonEmptyString)
      || (getFormControlIdentifierType(fieldPathKey).value | isNonEmptyString))
      && listMandatoryIdentifiers.indexOf(fieldPathKey) === -1"
              class="button-delete"
              type="button"
              (click)="remove(fieldPathKey)"
              mat-icon-button
              aria-label="delete"
              [matTooltip]="labelTranslateEnum.delete | translate"
      >
        <solidify-icon [iconName]="iconNameEnum.delete"
                       class="size-18 icon"
        ></solidify-icon>
      </button>
    </div>

    <div class="button-wrapper"
    >
      <button *ngIf="i === listIdentifiersSelectedKey.length - 1"
              mat-button
              class="button-add"
              color="primary"
              solidifyShortCuts
              (click)="addIdentifier()"
              (onEnter)="addIdentifier()"
              [disabled]="(listIdentifiersAvailable | isNullOrUndefinedOrEmptyArray) || (getFormControlIdentifierType(fieldPathKey) | isNullOrUndefinedOrWhiteString) ||
                  (getFormControlIdentifierValue(fieldPathKey).value | isNullOrUndefinedOrWhiteString) ||
                  fieldPathKey === PATH_PENDING"
      >
        <solidify-icon [iconName]="iconNameEnum.add"></solidify-icon>
        {{labelTranslateEnum.add | translate}}
      </button>
    </div>

  </ng-template>
</ng-container>
