@import "abstracts/abstracts";

:host {
  display: grid;
  grid-template-columns: $width-field-small $width-field-large max-content max-content;
  align-items: center;
  grid-gap: 0 20px;

  .button-delete-wrapper {
    .button-delete {
      margin-bottom: 20px;
    }
  }

  .button-wrapper {
    .button-add {
      margin-bottom: 20px;
    }
  }
}
