@import "../../../../sass/abstracts/variables";
@import "../../../../sass/abstracts/mixins";

:host {
  .center-title {
    ::ng-deep {
      .mat-dialog-title {
        white-space: break-spaces;
        text-align: center;
      }
    }
  }

  .dialog-body {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 20px;

    @include respond-to-smaller-than-breakpoint('md') {
      grid-template-columns: 1fr;
    }

    .left-part {
      .contributor-page-link {
        text-align: center;
        padding-top: 20px;
        display: grid;
        align-items: center;
        grid-template-columns: 24px max-content;
        grid-gap: 5px;
        font-size: 13px;

        @include respond-to-smaller-than-breakpoint('md') {
          justify-content: center;
        }

        .icon {
          color: $text-color;
        }

        > a {
          width: fit-content;
        }
      }
    }

    .wrapper {
      min-height: 150px;
    }

    .form ::ng-deep form > * {
      width: 100%;
    }
  }
}

:host {
  @include isInDarkMode {
    .dialog-body {
      .left-part {
        .contributor-page-link {
          .icon {
            color: $dark-mode-text-color;
          }
        }
      }
    }
  }
}
