<solidify-base-action-dialog [titleToTranslate]="dialogRef.disableClose ? ('app.completeProfileWithStructure' | translate) : (labelTranslateEnum.profile |
translate)"
                             [class.center-title]="dialogRef.disableClose"
>
  <div class="dialog-body">
    <div class="left-part">
      <solidify-avatar-upload-wrapper-container [resId]="personResId"
                                                [resourceFileNameSpace]="userLogoActionNameSpace"
                                                [resourceFileState]="$any(userLogoState)"
                                                [userInfo]="getUser()"
                                                [uploadInstantly]="false"
                                                [isAvatarMissing]="isAvatarPresent() | isFalse"
                                                (logoChange)="logoChange($event)"
      ></solidify-avatar-upload-wrapper-container>
      <div *ngIf="linkToContributorPage"
           class="contributor-page-link"
      >
        <solidify-icon [iconName]="iconNameEnum.contributor"
                       class="icon"
        ></solidify-icon>

        <a [routerLink]="linkToContributorPage"
           (click)="close()"
        >
          {{labelTranslateEnum.seeMyContributorPage | translate}}
        </a>
      </div>
    </div>
    <div class="wrapper"
         [solidifySpinner]="isLoadingPersonObs | async"
    >
      <aou-user-profile-form #formPresentational
                             *ngIf="(isReadyToBeDisplayedObs | async) && (user | isNotNullNorUndefined)"
                             [model]="currentPersonObs | async"
                             [user]="user"
                             [userAuthorizedForDepositActions]="userAuthorizedForDepositActionsObs | async"
                             [selectedValidationRight]="selectedValidationRightObs | async"
                             [selectedStructure]="selectedStructureObs | async"
                             [selectedNotificationType]="selectedNotificationTypeObs | async"
                             [selectedResearchGroup]="selectedResearchGroupsObs | async"
                             [isStructureMandatory]="userAuthorizedForDepositActionsObs | async"
                             (submitChange)="savePersonInfo($event)"
                             (navigate)="navigate($event)"
                             class="form"
      ></aou-user-profile-form>
    </div>
  </div>
</solidify-base-action-dialog>
<div mat-dialog-actions>
  <button *ngIf="!dialogRef.disableClose"
          mat-button
          color="primary"
          [mat-dialog-close]=""
  >{{labelTranslateEnum.close | translate}}
  </button>
  <button *ngIf="userAuthorizedForDepositActionsObs | async"
          mat-flat-button
          color="primary"
          solidifyShortCuts
          (onEnter)="validate()"
          (click)="validate()"
          [disabled]="(formPresentational | isNullOrUndefined) || (formPresentational?.form.invalid || (formPresentational?.form.pristine &&
          formPresentational?.formControlNonPublicMaster.pristine)) && !this.validateEnable"
  >{{labelTranslateEnum.validate | translate}}
  </button>
</div>
