<ul *ngIf="researchGroups | isNonEmptyArray"
    class="research-groups"
>
  <li *ngFor="let researchGroup of researchGroups; let i = index; trackBy: trackByFnWithResId">
    <a *ngIf="(researchGroupLinks | isNonEmptyArray) && (researchGroupLinks[i] | isNotNullNorUndefined); else noLink"
       [routerLink]="'/' + researchGroupLinks[i].path"
       [queryParams]="researchGroupLinks[i].queryParams"
    >
      {{researchGroup.name}} <span *ngIf="researchGroup.code">({{researchGroup.code}})</span>
    </a>
    <ng-template #noLink>{{researchGroup.name}}</ng-template>
  </li>

</ul>