<aou-home-icon-text *ngIf="listContributors | isNonEmptyArray"
                    [labelToTranslate]="labelToTranslate | translate"
                    [icon]="icon"
                    [value]="contributorsValues"
                    [displayButtonShowMore]="true"
                    [showMoreButtonLabelWithNumberToTranslate]="showMoreButtonLabelWithNumberToTranslate | translate: { total: listContributors.length }"
                    [limitHeightShowPx]="limitHeightShowPx"
                    [limitHeightMinusShowPx]="limitHeightMinusShowPx"
></aou-home-icon-text>

<ng-template #contributorsValues>
  <span *ngFor="let contributor of listContributors; let i = index;">
    <span class="term">
      <span *ngIf="contributor['name']; else fullName"
            class="contributor"
      >{{contributor['name']}}</span>
      <ng-template
          #fullName
      >
        <span class="fullname-orcid">
          <a *ngIf="getLink(contributor) as contributorLink; else noLink"
             [routerLink]="'/' + contributorLink.path"
             [queryParams]="contributorLink.queryParams"
             [class.is-unige]="contributor.cnIndividu | isNotNullNorUndefinedNorWhiteString"
             [solidifyOverlayData]="getContributorOverlayData(contributor)"
             [solidifyOverlayComponent]="$any(contributorOverlayComponent)"
             solidifyOverlay
             class="fullname"
          >
            <ng-template [ngTemplateOutletContext]="{contributor: contributor}"
                         [ngTemplateOutlet]="contributorComponent"
            >
            </ng-template>
          </a>
          <ng-template #noLink>
            <span class="fullname">
              <ng-template [ngTemplateOutletContext]="{contributor: contributor}"
                           [ngTemplateOutlet]="contributorComponent"
              >
              </ng-template>
            </span>
          </ng-template>
          <solidify-button-orcid *ngIf="contributor.orcid | isNotNullNorUndefined"
                                 [orcid]="contributor.orcid"
                                 [isImageClickable]="true"
                                 class="image-orcid"
          ></solidify-button-orcid>
        </span>
      </ng-template>
      <ng-template [ngIf]="i < listContributors.length - 1">; </ng-template>
    </span>
  </span>
</ng-template>


<ng-template #contributorComponent
             let-c="contributor"
>
  <ng-container *ngIf="typeIntoPublishedDepositContributor(c) as contributor">
    <span class="lastname">{{contributor.lastName}}</span>
    <ng-template [ngIf]="contributor.firstName | isNotNullNorUndefinedNorWhiteString">, <span class="firstname">{{contributor.firstName}}</span></ng-template>
  </ng-container>
</ng-template>

