@import "abstracts/abstracts";

:host {
  ::ng-deep {
    .value {
      display: flex;
      gap: 0 5px;
      align-items: center;
      flex-wrap: wrap;
    }

    .button-show-more-wrapper {
      margin: 2px 0px 10px 235px;
    }
  }

  .term {
    display: flex;
    align-items: center;
    gap: 0 5px;

    .contributor {

    }

    .fullname-orcid {
      display: flex;
      align-items: center;
      grid-gap: 0 5px;

      .fullname {
        &:not(.is-unige) {
          color: $text-color;
        }

        .firstname {

        }

        .lastname {

        }
      }

      .image-orcid {

      }
    }
  }
}

@include isInDarkMode {
  :host {
    .term {
      .fullname-orcid {
        .fullname {
          &:not(.is-unige) {
            color: $dark-mode-text-color;
          }
        }
      }
    }
  }
}
