@import "solidify-frontend/lib/application/components/routables/abstract-resource/abstract-resource.routable";
@import "abstracts/abstracts";

:host {
  flex: 1;
  $height-toolbar: 300px;

  .toolbar-size-guard {
    height: $height-toolbar;
  }

  .toolbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $height-toolbar;
    background-image: linear-gradient(to right, transparent 0%, transparent 50%, #CF0063A3 50%, #CF0063C7 100%), url("../../../../../../assets/themes/aou/home-image.jpg");
    background-color: $primary-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to-smaller-than-breakpoint('md') {
      background-image: linear-gradient(#CF0063A3 50%, #CF0063C7 100%), url("../../../../../../assets/themes/aou/home-image.jpg")
    }

    .toolbar-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px 10px;
      max-width: 825px;
      padding: 0 20px;
      grid-template-areas:
          "empty right-part"
          "search search";

      @include respond-to-smaller-than-breakpoint('md') {
        grid-template-columns: 1fr;
        grid-template-areas:
          "right-part"
          "search";
        max-width: initial;
        min-width: 90%;
      }

      .right-part {
        grid-area: right-part;
        padding-left: 70px;

        @include respond-to-smaller-than-breakpoint('md') {
          padding-left: 0;
        }

        .title {
          margin-bottom: 20px;

          @include respond-to-smaller-than-breakpoint('md') {
            text-align: center;
          }

          .welcome {
            font-size: 20px;
            color: $white;
            display: block;
          }

          .name {
            display: block;
            font-size: 24px;
            color: $white;
            font-weight: bold;
          }
        }

        .statistic {
          display: grid;
          grid-template-columns: max-content;
          margin-bottom: 10px;

          @include respond-to-smaller-than-breakpoint('md') {
            justify-content: center;
          }

          .name {
            background-color: $white;
            color: $primary-color;
            padding: 0 8px;
            font-weight: bold;
            font-size: 15px;
            text-align: center;
          }

          .number {
            border-left: 3px solid $white;
            padding: 12px 7px;
            color: $white;
            font-size: 26px;
            font-weight: bold;
            letter-spacing: 2px;
          }
        }
      }

      .search-bar {
        grid-area: search;
      }
    }
  }

  .buttons-bar {
    position: relative;
    top: -50px;
  }

  .home-content {
    display: flex;
    gap: 20px;
    @include respond-to-smaller-than-breakpoint('md') {
      flex-wrap: wrap;
    }

    .home-left {
      width: 50%;
      @include respond-to-smaller-than-breakpoint('md') {
        width: 100%;
      }
    }

    .home-right {
      width: 50%;
      @include respond-to-smaller-than-breakpoint('md') {
        width: 100%;
      }
    }
  }

  .last-publications {
    .title {
      margin-left: 145px;
      margin-bottom: 20px;
      margin-top: 20px;

      @include respond-to-smaller-than-breakpoint('md') {
        margin-left: 0;
      }
    }

    .list {
      display: grid;
      grid-gap: 22px 0;

      > li.is-clickable {
        cursor: pointer;
      }
    }
  }

  @include content();
}
