<div class="toolbar-size-guard"></div>

<div class="toolbar-wrapper"
     cdkTrapFocus
     [solidifyFocusFirstElement]="true"
>
  <div class="toolbar-content">
    <div class="right-part">
      <h1 class="title">
        <span class="welcome">{{"home.mainToolbar.welcome" | translate}}</span>
        <span class="name">{{"home.mainToolbar.name" | translate}}</span>
      </h1>

      <div class="statistic">
        <span class="name">{{labelTranslateEnum.publications | translate}}</span>
        <span class="number">{{publicationsNumberObs | async | number}}</span>
      </div>
    </div>
    <aou-home-search-bar [labelToTranslate]="'home.searchbar.placeholder' | translate"
                         [tourAnchor]="tourEnum.mainSearchBar"
                         [value]="searchValueInUrl"
                         (valueChange)="search($event)"
                         [mode]="'validation'"
                         class="search-bar"
    ></aou-home-search-bar>
  </div>
</div>
<aou-home-buttons-bar class="buttons-bar"
                      [logged]="isLoggedObs | async"
                      [userAuthorizedForDepositActions]="userAuthorizedForDepositActionsObs | async"
                      (navigateToSearch)="navigateToSearch()"
                      (navigateToDepositOrLogin)="navigateToDepositOrLogin()"
                      (navigateToBibliographieOrLogin)="navigateToPinboardOrLogin()"
></aou-home-buttons-bar>

<div class="home-content">
  <div class="home-left">
    <div class="last-publications">
      <h1 class="title">{{labelTranslateEnum.latestPublications | translate}}</h1>
      <ul class="list">
        <li *ngFor="let publishedDeposit of (listObs | async); trackBy: trackByFnPublishedDeposit"
            [class.is-clickable]="publishedDeposit.archiveId | isNotNullNorUndefinedNorWhiteString"
            (click)="navigateToPublishedDeposit(publishedDeposit)"
        >
          <aou-home-deposit-line [publishedDeposit]="publishedDeposit"></aou-home-deposit-line>
        </li>
      </ul>
    </div>
  </div>
  <div class="home-right">
    <div [solidifySpinner]="false"
         class="wrapper"
    >
      <aou-home-main-page-content class="main-page-content"
      ></aou-home-main-page-content>
    </div>
  </div>
</div>





