<ng-container *ngIf="depositFormRuleHelper.pathPagesPaging as fieldPath">
  <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
    <div *ngIf="getFormControl(fieldPath) as fd"
         class="field-paging-wrapper"
         [class.with-fix-button]="(fd.value | isNonWhiteString) && isValidationMode"
    >
      <mat-form-field [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [solidifyTooltip]="tooltipTranslateEnum.depositPagesPaging"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      class="page-field"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <div *ngIf="(fd.value | isNonWhiteString) && isValidationMode"
           class="button-wrapper"
      >
        <button (click)="completePageNumber(fd)"
                (onEnter)="completePageNumber(fd)"
                solidifyShortCuts
                mat-button
                color="accent"
                class="button-fix"
        >
          <solidify-icon [iconName]="iconNameEnum.autoFix"
                         class="size-16"
          ></solidify-icon>
          {{labelTranslateEnum.fix | translate}}
        </button>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-container *ngIf="depositFormRuleHelper.pathPagesNumberPagesArticleNumber as fieldPath">
  <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
    <mat-form-field *ngIf="getFormControl(fieldPath) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [solidifyTooltip]="tooltipTranslateEnum.depositPagesNumberPagesArticleNumber"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
    </mat-form-field>
  </ng-template>
</ng-container>
