@import "abstracts/abstracts";

:host {
  display: grid;
  grid-template-columns: max-content $width-field-small;
  grid-gap: 20px;

  .field-paging-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 10px;

    .page-field {
      width: $width-field-small;
    }

    &.with-fix-button {
      grid-template-columns: max-content min-content;
    }

    .button-fix {
      margin-bottom: 20px;
    }
  }
}
