<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
>
  <solidify-detail-presentation [centerTemplate]="centerTemplate"
                                [leftTemplate]="leftTemplate"
                                [rightTemplate]="rightTemplate"
  ></solidify-detail-presentation>

  <ng-template #leftTemplate>
    <solidify-avatar-upload-wrapper-container [resId]="personResId"
                                              [resourceFileNameSpace]="userAvatarActionNameSpace"
                                              [resourceFileState]="$any(userState)"
                                              [userInfo]="getUser()"
                                              [isAvatarMissing]="isAvatarPresent | isFalse"
                                              [uploadInstantly]="false"
                                              [isEditable]="(model | isNullOrUndefined) || editAvailable"
                                              (logoChange)="logoChange($event)"
                                              class="avatar"
    ></solidify-avatar-upload-wrapper-container>
  </ng-template>

  <ng-template #centerTemplate>
    <mat-form-field *ngIf="getFormControl(formDefinition.externalUid) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.externalUid | translate}}</mat-label>
      <input (blur)="checkAvailable(formDefinition.externalUid, fd)"
             [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.firstName) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.firstName | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.lastName) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.lastName | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.homeOrganization) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.homeOrganization | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.email) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.email | translate}}</mat-label>
      <input (blur)="checkAvailable(formDefinition.email, fd)"
             [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <ng-template [ngIf]="(model | isNotNullNorUndefined) && (personResId | isNotNullNorUndefined)">

      <solidify-searchable-multi-select *ngIf="getFormControl(formDefinition.researchGroups) as fd"
                                        [appearance]="appearanceInputMaterial"
                                        [formControl]="fd"
                                        [isWithLink]="true"
                                        [labelKey]="'name'"
                                        [placeholder]="labelTranslateEnum.clickHereToAddAResearchGroup | translate"
                                        [required]="formValidationHelper.hasRequiredField(fd)"
                                        [resourceNameSpace]="sharedResearchGroupActionNameSpace"
                                        [sort]="sharedResearchGroupSort"
                                        [state]="sharedResearchGroupState"
                                        [title]="labelTranslateEnum.researchGroups | translate"
                                        [tooltipNavigateToTranslate]="labelTranslateEnum.seeResearchGroupDetail | translate"
                                        [valueKey]="'resId'"
                                        [labelCallback]="researchGroupLabel"
                                        [closeAfterValueSelected]="true"
                                        [preTreatmentHighlightText]="researchGroupPreTreatmentHighlightText"
                                        [postTreatmentHighlightText]="researchGroupPostTreatmentHighlightText"
                                        (navigate)="navigateToResearchGroup($event)"
                                        aria-label="research group"
                                        solidifyValidation
                                        class="group"
      >
      </solidify-searchable-multi-select>

      <aou-shared-structure-input *ngIf="getFormControl(formDefinition.structures) as fd"
                                  [formControl]="fd"
                                  [readonly]="fd.disabled"
                                  class="structure"
      >
      </aou-shared-structure-input>

      <aou-shared-table-person-structure-sub-type-container *ngIf="getFormArray(formDefinition.validationRight) as fd"
                                                            [formArray]="fd"
                                                            [readonly]="fd.disabled"
      >
      </aou-shared-table-person-structure-sub-type-container>
    </ng-template>
  </ng-template>

  <ng-template #rightTemplate>

    <ng-container *ngIf="getFormControl(formDefinition.person) as fd">
      <mat-form-field *ngIf="fd.value | isNullOrUndefined"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateEnum.person | translate}}</mat-label>
        <mat-select [formControl]="fd"
                    [required]="formValidationHelper.hasRequiredField(fd)"
                    [solidifyValidation]="errors"
        >
          <mat-option [value]="null"></mat-option>
          <mat-option *ngFor="let person of listPersons"
                      [value]="person.resId"
          >
            {{person.fullName}}
          </mat-option>
        </mat-select>
        <button *ngIf="readonly && fd.value"
                [matTooltip]="labelTranslateEnum.seePersonDetail | translate"
                aria-label="Go to person"
                mat-icon-button
                matSuffix
                type="button"
        >
          <solidify-icon [iconName]="iconNameEnum.internalLink"
                         class="size-16"
          ></solidify-icon>
        </button>
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-container>

    <mat-form-field *ngIf="getFormControl(formDefinition.applicationRole) as fd"
                    [appearance]="appearanceInputMaterial"
                    [floatLabel]="positionLabelInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.applicationRole | translate}}</mat-label>
      <mat-select [formControl]="fd"
                  [required]="formValidationHelper.hasRequiredField(fd)"
                  [solidifyValidation]="errors"
      >
        <mat-option *ngFor="let role of applicationRolesNames"
                    [value]="role.key"
        >
          {{role.value | translate}}
        </mat-option>
      </mat-select>
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <div *ngIf="businessRoles | isNonEmptyArray"
         class="roles"
    >
      <mat-label>{{labelTranslateEnum.businessRoles | translate}}</mat-label>
      <mat-checkbox *ngFor="let role of businessRoles"
                    [value]="role.resId"
                    color="primary"
                    [checked]="hasRole(role.resId)"
                    (change)="updateSelectedRoles(role.resId, $event.checked)"
                    [disabled]="form.disabled"
      >
        <mat-label>{{role.labels | backtranslate}}</mat-label>
      </mat-checkbox>
    </div>


    <ng-container *ngIf="getFormControl(formDefinition.person)?.value">
      <mat-form-field *ngIf="getFormControl(formDefinition.orcid) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateEnum.orcid | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <solidify-icon *ngIf="person?.verifiedOrcid && fd.pristine"
                       [iconName]="iconNameEnum.orcid"
                       [matTooltip]="labelTranslateEnum.orcidAuthenticated | translate"
                       (click)="goToOrcid(fd.value)"
                       class="size-16"
                       matSuffix
        >
        </solidify-icon>
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="readonly">
      <mat-form-field *ngIf="getFormControl(formDefinition.lastLoginTime) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{'admin.user.form.lastLoginTime' | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="getFormControl(formDefinition.lastLoginIpAddress) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{'admin.user.form.lastLoginIpAddress' | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-container>

  </ng-template>

  <aou-shared-additional-information-panel-container *ngIf="model | isNotNullNorUndefined"
                                                     [resource]="model"
  >
  </aou-shared-additional-information-panel-container>
</form>
