@import "solidify-frontend/lib/core/components/presentationals/abstract-form/abstract-form.presentational.scss";

:host {
  .role-wrapper {
    .role-checkbox-wrapper {
      display: flex;
      flex-direction: column;
    }
  }

  .structure {
    margin-bottom: 20px;
  }

  .roles {
    margin-bottom: 20px;
  }
}
