<solidify-base-action-dialog [titleToTranslate]="data.titleToTranslate | translate | translatePlural:data.numberDeposit"
                             [solidifyFocusFirstElement]="false"
>
  <p>{{data.messageToTranslate | translate:{number: data.numberDeposit} | translatePlural:data.numberDeposit}}</p>
  <aou-shared-structure-input *ngIf="getFormControl(formDefinition.structureId) as fd"
                              [formControl]="fd"
                              [isMulti]="false"
                              [readonly]="fd.disabled"
                              class="structure"
  >
  </aou-shared-structure-input>
</solidify-base-action-dialog>
<div [solidifyFocusFirstElement]="true"
     cdkTrapFocus
     mat-dialog-actions
>
  <button [color]="'primary'"
          (click)="close()"
          mat-button
  >{{labelTranslateEnum.cancel | translate}}</button>
  <button [disabled]="form.invalid"
          [color]="'primary'"
          (click)="confirm()"
          mat-flat-button
  >{{labelTranslateEnum.confirm | translate}}</button>
</div>
