<span *ngIf="hasDuplicateFile"
      class="error"
>{{labelTranslateEnum.thereAreDuplicateFilesPleaseKeepOnlyOneVersionOfTheFiles | translate}}</span>

<aou-deposit-document-file *ngIf="depositId | isNotNullNorUndefined"
                           #depositDocumentFileContainer
                           [depositId]="depositId"
                           [canEdit]="true"
                           [isValidationMode]="isValidationMode"
                           [listCurrentStatus]="listCurrentStatus"
                           [depositPublicationDate]="publicationDate"
                           [notifyFilesFromExternalSource]="notifyFilesFromExternalSource"
                           (fileDropped)="depositDocumentFileContainer.openModalForFirstFile($event)"
                           solidifyFileDropZone
></aou-deposit-document-file>

<solidify-panel-expandable *ngIf="romeo"
                           [titleToTranslate]="labelTranslateEnum.myPublishersPolicy"
                           [tooltip]="tooltipTranslateEnum.depositPanelMyPublishersPolicy"
                           [isOpen]="true"
                           class="romeo-panel"
>
  <aou-deposit-form-romeo [romeo]="romeo"
                          [darkerPyjama]="true"
  ></aou-deposit-form-romeo>
</solidify-panel-expandable>
