@import "solidify-frontend/lib/core/components/presentationals/abstract-form/abstract-form.presentational";
@import "abstracts/abstracts";

:host {
  padding-top: 20px;
  display: block;

  .error {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: $error;
  }

  .romeo-panel {
    background-color: $orange-extra-light;
    padding: 10px;
    border-radius: 6px;
  }
}

@include isInDarkMode {
  .romeo-panel {
    background-color: $orange-extra-light;
  }
}
