<div class="icon"
     [matTooltip]="labelTranslateEnum.defaultValue | translate"
>
  <solidify-icon [iconName]="iconNameEnum.defaultValue"
                 class="size-16"
  ></solidify-icon>
</div>
