@import "abstracts/abstracts";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .icon {
    display: flex;
    height: 18px;
    width: 18px;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: $white;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 6px;
    border-radius: 25px;
    z-index: 1;
  }
}
