@import "abstracts/abstracts";

:host {
  .general-explain {
    white-space: pre-wrap;
  }

  .explain {
  }

  .list {
    margin-top: 20px;

    > dl {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-gap: 10px;
      align-items: center;
      margin-bottom: 20px;

      .character {
        color: $primary-color;
        font-weight: bold;
        font-size: 16px;
      }

      dd {
        white-space: pre-line;

        &.explain {
          margin: 0;
        }
      }
    }
  }
}
