<solidify-base-info-dialog [titleToTranslate]="'home.detail.help.general.title' | translate">
  <div class="general-explain">
    <div class="explain">{{'home.detail.help.general.explain' | translate}}</div>
  </div>
  <ul class="list">
    <dl *ngFor="let info of helpInfo">
      <dt class="character">
        <aou-shared-access-level [accessLevel]="info.accessLevel"
                                 [withTooltip]="false"
                                 [size]="'size-24'"
        ></aou-shared-access-level>
      </dt>
      <dd class="explain">
        {{info.explain | translate}}
      </dd>
    </dl>
  </ul>
</solidify-base-info-dialog>


