<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
>

  <solidify-detail-presentation [centerTemplate]="centerTemplate"
                                [iconName]="iconNameEnum.indexFieldAliases"
                                [rightTemplate]="rightTemplate"
  ></solidify-detail-presentation>

  <ng-template #centerTemplate>

    <mat-form-field *ngIf="getFormControl(formDefinition.indexName) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.indexName | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.alias) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.alias | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="getFormControl(formDefinition.field) as fd"
                    [appearance]="appearanceInputMaterial"
                    [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                    solidifyTooltipOnEllipsis
    >
      <mat-label>{{labelTranslateEnum.field | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>

    <ng-container *ngFor="let language of languages">
      <mat-form-field *ngIf="getFormControl('label_' + language.resId) as fd"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>Label: {{getLabelTranslate($any(language.code)) | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-container>

    <!-- ============================================================================ -->

    <div class="checkbox-wrapper">
      <mat-checkbox [formControlName]="formDefinition.withDescription"
                    color="primary"
      >{{labelTranslateEnum.isWithDescription | translate }}</mat-checkbox>
    </div>

    <ng-template [ngIf]="getFormControl(formDefinition.withDescription)?.value | isTrue">
      <ng-container *ngFor="let language of languages">
        <solidify-rich-text-editor [formControl]="getFormControl('description_' + language.resId)"
                                   [label]="'Description: '+ (getLabelTranslate($any(language.code)) | translate)"
                                   [withWordCounter]="false"
        >
        </solidify-rich-text-editor>
      </ng-container>
    </ng-template>

  </ng-template>

  <ng-template #rightTemplate>
    <mat-checkbox [formControlName]="formDefinition.system"
                  class="facet-checkbox"
                  color="primary"
    >{{labelTranslateEnum.system | translate }}</mat-checkbox>

    <mat-checkbox [formControlName]="formDefinition.facet"
                  class="facet-checkbox"
                  color="primary"
    >{{labelTranslateEnum.facet | translate }}</mat-checkbox>

    <ng-template [ngIf]="getFormControl(formDefinition.facet).value | isTrue">

      <mat-form-field *ngIf="getFormControl(formDefinition.facetMinCount) as fd"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateEnum.facetMinCount | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
               min="1"
               type="number"
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="getFormControl(formDefinition.facetLimit) as fd"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateEnum.facetLimit | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
               min="1"
               type="number"
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="getFormControl(formDefinition.facetDefaultVisibleValues) as fd"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateEnum.facetDefaultVisibleValues | translate}}</mat-label>
        <input [formControl]="fd"
               [solidifyValidation]="errors"
               matInput
               min="0"
               type="number"
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="getFormControl(formDefinition.facetOrder) as fd"
                      [appearance]="appearanceInputMaterial"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{labelTranslateEnum.facetOrder | translate}}</mat-label>
        <input [formControl]="fd"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
               min="0"
               type="number"
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-template>
  </ng-template>

  <aou-shared-additional-information-panel-container *ngIf="model | isNotNullNorUndefined"
                                                     [resource]="model"
  >
  </aou-shared-additional-information-panel-container>
</form>
