<div class="toolbar">
  <div class="left-part">
    <div class="logo"
         (click)="navigateToHome()"
         [tourAnchor]="tourEnum.mainMenuAvatar"
    >
      <div class="instance-logo-wrapper">
        <img [src]="logo"
             alt="toolbar-header-image"
             class="instance-logo"
        >
      </div>
      <h1 class="title">Archive ouverte UNIGE</h1>
    </div>

    <solidify-search-input *ngIf="showSearchInput"
                           [labelToTranslate]="'home.searchbar.placeholder' | translate"
                           [appearance]="'fill'"
                           [positionLabel]="'auto'"
                           (valueChange)="search($event)"
                           [allowEmptySearch]="true"
                           [iconSearchName]="iconNameEnum.search"
                           [mode]="'validation'"
                           class="search-bar"
    ></solidify-search-input>
  </div>

  <div class="right-part">
    <!-- public menu items -->
    <ng-container *ngFor="let menu of listMenuPublicItems">
      <ul *ngIf="menu.isVisible() | solidifyAsync"
          class="menu"
      >
        <li (click)="menu.click(menu)"
            [class.is-active]="currentPath === menu.rootModulePath"
            [solidifyDataTest]="menu.dataTest"
            [tourAnchor]="menu.tourAnchor"
            class="menu-item"
        >
          <solidify-icon [iconName]="menu.icon"
                         class="size-20 icon"
          ></solidify-icon>
          <span class="text">
          <ng-template [ngIf]="!(menu.badgeCounter | isNullOrUndefined)"
                       [ngIfElse]="simpleIcon"
          >
              <span [matBadge]="menu.badgeCounter()"
                    matBadgeColor="primary"
                    matBadgeSize="small"
                    class="badge"
                    [matBadgeHidden]="menu.badgeHidden()"
                    [matBadgeDescription]="menu.badgeDescription"
              >
                {{menu.labelToTranslate | translate}}
              </span>
          </ng-template>
          <ng-template #simpleIcon>
            {{menu.labelToTranslate | translate}}
          </ng-template>
          </span>
        </li>
      </ul>
    </ng-container>

    <!-- static pages -->
    <ul *ngIf="listStaticPages | isNonEmptyArray"
        class="menu"
    >
      <li [matMenuTriggerFor]="menu"
          class="menu-item"
      >
        <solidify-icon [iconName]="iconNameEnum.menu"
                       class="size-20 icon"
        ></solidify-icon>
        <span class="text">
          {{labelTranslateEnum.documentation | translate}}
        </span>
      </li>
      <mat-menu #menu="matMenu">
        <button *ngFor="let staticMenu of listStaticPages"
                mat-menu-item
                solidifyShortCuts
                (onEnter)="openStaticLink(staticMenu)"
                (click)="openStaticLink(staticMenu)"
        >
          <span>{{staticMenu.labels | backtranslate}}</span>
        </button>
      </mat-menu>
    </ul>

    <div class="separator"></div>

    <!-- Menu items when user is looged in -->
    <ng-container *ngIf="logged">
      <ng-container *ngFor="let menu of listMenuLoggedItems">
        <ul *ngIf="menu.isVisible() | solidifyAsync"
            class="menu"
        >
          <li (click)="menu.click(menu)"
              [class.is-active]="currentPath === menu.rootModulePath"
              [solidifyDataTest]="menu.dataTest"
              [tourAnchor]="menu.tourAnchor"
              class="menu-item"
          >
            <solidify-icon [iconName]="menu.icon"
                           class="size-20 icon"
            ></solidify-icon>
            <span class="text">
            <ng-template [ngIf]="!(menu.badgeCounter | isNullOrUndefined)"
                         [ngIfElse]="simpleIcon"
            >
                <span [matBadge]="menu.badgeCounter()"
                      matBadgeColor="primary"
                      matBadgeSize="small"
                      class="badge"
                      [matBadgeHidden]="menu.badgeHidden()"
                      [matBadgeDescription]="menu.badgeDescription"
                >
                  {{menu.labelToTranslate | translate}}
                </span>
            </ng-template>
            <ng-template #simpleIcon>
              {{menu.labelToTranslate | translate}}
            </ng-template>
            </span>
          </li>
        </ul>
      </ng-container>

      <div class="separator"></div>
    </ng-container>

    <solidify-language-selector [(language)]="language"
                                class="language-selector"
    >
    </solidify-language-selector>

    <ng-template [ngIf]="!logged"
                 [ngIfElse]="loggedOut"
    >
      <div class="login"
           [matTooltip]="labelTranslateEnum.login | translate"
           (click)="login()"
      >
        <solidify-icon [iconName]="iconNameEnum.login"
                       [solidifyDataTest]="dataTestEnum.loginHorizontalInput"
                       class="size-30"

        ></solidify-icon>
      </div>
    </ng-template>

    <ng-template #loggedOut>
      <div class="logout">
        <aou-user-menu [user]="user"
                       [photoUser]="photoUser"
                       [(theme)]="theme"
                       [(darkMode)]="darkMode"
                       [listMenuAdmin]="listMenusAdmin"
                       (logoutChange)="logout()"
                       (userGuideOpen)="openUserGuide()"
                       (navigateChange)="navigate($event)"
                       (validatorGuideOpen)="openValidatorGuide()"
        ></aou-user-menu>
      </div>
    </ng-template>
  </div>
</div>
