@import "solidify-frontend/lib/application/components/routables/abstract-list/abstract-list.routable.scss";

:host {
  ::ng-deep tbody td[data-field="event.publication.title"] > span {
    max-width: 280px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }
}
