@import "solidify-frontend/lib/application/components/routables/abstract-list/abstract-list.routable";
@import "abstracts/abstracts";

:host {
  padding-top: 0;

  .toolbar-wrapper {
    display: grid;
    justify-content: space-between;
    grid-template-columns: max-content max-content;
    grid-gap: 8px;
    align-items: center;

    margin-top: 13px;
    margin-bottom: 5px;

    @include respond-to-smaller-than-breakpoint('md') {
      grid-template-columns: 1fr;
      margin-bottom: 10px;
    }

    .create-button {
      display: inline-block;
      margin-right: 10px;
      padding: 5px 0;

      @include respond-to-smaller-than-breakpoint('md') {
        display: grid;
        grid-template-columns: 1fr max-content;
      }

      .input {
        height: 34px;
        padding: 0 10px;
        border: 1px solid $intermediate-grey;
        border-radius: 4px 0 0 4px;
        border-right: none;
        width: 215px;

        @include respond-to-smaller-than-breakpoint('md') {
          width: initial;
        }

        &::placeholder {
          font-size: 12px;
        }
      }

      .button {
        border-radius: 0 4px 4px 0;
      }
    }

    .selector-created-or-as-contributor {
      display: flex;
      gap: 15px;
    }
  }

  .toolbar {
    padding-bottom: 5px;
  }

  .tabs-container ::ng-deep {

    .tab-header {
      &.tab-in_error {
        .mat-badge-content {
          background-color: $red;
        }
      }
    }
  }

  @include deposit-list;
}

@include isInDarkMode {
  :host {
    .toolbar-wrapper {
      .create-button {
        .input {
          border-color: $dark-mode-line;
          background-color: $dark-mode-background;
          color: $dark-mode-text-color;
        }
      }
    }
  }
}
