<div class="host"
     [solidifyFocusFirstElement]="true"
>
  <div *ngIf="!isValidationMode"
       class="toolbar-wrapper"
  >
    <div class="create-button">
      <input class="input"
             type="text"
             [formControl]="formControlIdentifier"
             [placeholder]="labelTranslateEnum.doiOrPmidLeaveEmptyForManual | translate"
             solidifyShortCuts
             (paste)="trimWhenPasteIdentifier($event)"
             (onEnter)="create()"
      />
      <button class="button"
              mat-button
              mat-flat-button
              color="primary"
              (click)="create()"
      >
        <solidify-icon [iconName]="iconNameEnum.create"></solidify-icon>
        {{KEY_CREATE_BUTTON | translate}}
      </button>
    </div>

    <mat-radio-group *ngIf="!isValidationMode"
                     [value]="showAsContributor"
                     (change)="changeShowAsContributor($event.value)"
                     class="selector-created-or-as-contributor"
                     color="primary"
    >
      <mat-radio-button [value]="false">{{labelTranslateEnum.depositsCreated | translate}}</mat-radio-button>
      <mat-radio-button [value]="true">{{labelTranslateEnum.depositsOfWhichIAmAContributor | translate}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <solidify-button-toolbar-list class="toolbar"
                                [isLoading]="isLoadingObs | async"
                                [createAvailable]="options.canCreate | solidifyAsync"
                                [backAvailable]="options.canGoBack"
                                [keyCreateButtonToTranslate]="KEY_CREATE_BUTTON"
                                [keyBackButtonToTranslate]="KEY_BACK_BUTTON"
                                [listExtraButtons]="options?.listExtraButtons"
                                [typeButtonCreate]="'button'"
                                (navigateChange)="navigateNavigate($event)"
  ></solidify-button-toolbar-list>

  <solidify-tabs-container class="tabs-container"
                           [tabs]="listTabs"
                           [isLoading]="isLoadingObs | async"
                           [suffixUrlMatcher]="suffixUrlMatcher"
                           (tabChange)="setCurrentTab($event)"
  >
    <div class="wrapper">
      <solidify-data-table #dataTablePresentational
                           [columns]="columns"
                           [actions]="actions"
                           [isLoading]="isLoadingObs | async"
                           [displaySpinnerWhenLoading]="true"
                           [data]="listDepositWithMetadataObs | async"
                           [listHighlightingId]="listNewId"
                           [skipInitialQuery]="skipInitialQuery"
                           [columnsSkippedToClear]="columnsSkippedToClear"
                           [queryParameters]="queryParametersObs | async"
                           [isMultiSelectable]="isMultiSelectable"
                           [stickyTopPosition]="0"
                           [bulkActions]="bulkActions"
                           [alwaysDisplayButtonActionsWrapped]="true"
                           [displayActionShowHistory]="displayActionShowHistory"
                           (selectChange)="showDetail($event)"
                           (queryParametersChange)="onQueryParametersEvent($event)"
                           (showHistoryChange)="showHistory($event)"
                           class="table"
      ></solidify-data-table>
    </div>
  </solidify-tabs-container>
</div>
