@import "abstracts/abstracts";

:host {
  .wrapper {
    .link {
      color: $text-color;

      &.is-unige {
        color: $primary-color;
      }

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }
    }

    .image-orcid {
      display: inline;
      padding-left: 4px;
      position: relative;
      top: 3px;
    }
  }
}

@include isInDarkMode {
  :host {
    .wrapper {
      .link:not(.is-unige) {
        color: $dark-mode-text-color;
      }
    }
  }

}