<ng-container *ngFor="let contributorInList of contributorsList; let i = index; trackBy: trackByFn">
  <span class="wrapper">
    <a *ngIf="getLink(contributorInList) as contributorLink; else noLink"
       [routerLink]="'/' + contributorLink.path"
       [queryParams]="contributorLink.queryParams"
       [class.is-unige]="contributorInList.isUnige"
       [solidifyOverlayData]="getContributorOverlayData(contributorInList.publishedDepositContributor)"
       [solidifyOverlayComponent]="$any(contributorOverlayComponent)"
       (click)="preventEvent($event)"
       class="link no-hover-animation"
       solidifyOverlay
    >{{contributorInList.fullName}}</a>
  <ng-template #noLink>
    <span class="fullname">
     {{contributorInList.fullName}}
    </span>
  </ng-template>
  <solidify-button-orcid *ngIf="contributorInList.publishedDepositContributor?.orcid | isNotNullNorUndefined"
                         [orcid]="contributorInList.publishedDepositContributor.orcid"
                         [isImageClickable]="true"
                         (click)="preventEvent($event)"
                         class="image-orcid"
  ></solidify-button-orcid>
  </span>
  <ng-template [ngIf]="i < contributorsList.length - 1 && contributorInList.fullName !== ELLIPSIS_STRING">&nbsp;;&nbsp;</ng-template>
</ng-container>
