@import "solidify-frontend/lib/core/components/presentationals/abstract-form/abstract-form.presentational";
@import "abstracts/abstracts";

:host(:not(.is-edit)) {
  display: block;
  padding-top: 20px;

  .stepper {
    display: none;
  }
}

:host {
  .hide {
    display: none;
  }

  .button-wrapper {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    grid-gap: 20px;
    padding: 10px 0;
  }
}
