<ng-template [ngIf]="form">
  <aou-shared-stepper #stepper
                      [initialStepActiveId]="(model | isNullOrUndefined) ? depositStepEnum.TYPE : undefined"
                      [steps]="steps"
                      [suffixUrlMatcher]="suffixUrlMatcher"
                      (desireGoToStepChange)="move(stepper.currentStepIndex, $event)"
                      class="stepper"
  ></aou-shared-stepper>

  <aou-deposit-form-first-step-type *ngIf="depositMode === depositModeEnum.create"
                                    #depositTypePresentational
                                    [isCreation]="model | isNullOrUndefined"
                                    [isImported]="isImported"
                                    [mainFormGroup]="form"
                                    [formDefinitionDateThesis]="formDefinitionDateThesis"
                                    [listDepositSubtype]="listDepositSubtype"
                                    [listDepositSubSubtype]="listDepositSubSubtype"
                                    [listLanguages]="listLanguages"
                                    (subtypeChange)="subtypeChange($event)"
                                    (navigateChange)="navigate($event)"
                                    (getMetadataFromServiceChange)="getMetadataFromServiceChange($event)"
                                    (dateThesisChange)="dateThesisChange($event)"
  ></aou-deposit-form-first-step-type>

  <aou-deposit-form-second-step-files *ngIf="step === depositStepEnum.FILES"
                                      #depositFilesPresentational
                                      [mainFormGroup]="form"
                                      [depositId]="model?.resId"
                                      [listCurrentStatus]="listCurrentStatus"
                                      [notifyFilesFromExternalSource]="model?.notifyFilesFromExternalSource"
                                      [isValidationMode]="isValidationMode"
                                      [hasDuplicateFile]="documentFileUploadHelper.hasFilesDuplicate(listCurrentStatus)"
                                      [romeo]="romeo"
  ></aou-deposit-form-second-step-files>

  <ng-template [ngIf]="step === depositStepEnum.CONTRIBUTORS">
    <aou-deposit-form-third-step-contributors *ngIf="model | isNotNullNorUndefined"
                                              #depositContributorsPresentational
                                              [mainFormGroup]="form"
                                              [subModel]="depositFormModel?.contributors"
                                              [listStructure]="listStructure"
                                              [defaultData]="defaultData"
                                              [isLoadingStructure]="isLoadingStructure"
                                              [isValidationMode]="isValidationMode"
                                              [defaultContributorRole]="defaultContributorRole"
                                              [userConnected]="userConnected"
                                              [notifyContributorsFromExternalSource]="model?.notifyContributorsFromExternalSource"
    ></aou-deposit-form-third-step-contributors>
  </ng-template>


  <ng-template [ngIf]="step === depositStepEnum.DESCRIPTION">
    <aou-deposit-form-fourth-step-description *ngIf="model | isNotNullNorUndefined"
                                              #depositDescriptionPresentational
                                              [model]="model"
                                              [mainFormGroup]="form"
                                              [listDepositSubtype]="listDepositSubtype"
                                              [listDepositSubSubtype]="listDepositSubSubtype"
                                              [listLanguages]="listLanguages"
                                              [isValidationMode]="isValidationMode"
                                              [isDepositNotBeingUpdated]="isDepositNotBeingUpdated"
                                              [isCorrigendumFilePresent]="isCorrigendumFilePresent"
                                              (subtypeChange)="subtypeChange($event)"
    ></aou-deposit-form-fourth-step-description>
  </ng-template>

  <ng-template [ngIf]="(model | isNotNullNorUndefined) && step === depositStepEnum.SUMMARY">

    <aou-deposit-metadata-differences-panel *ngIf="(listDifferences | isNotNullNorUndefinedNorEmptyObject)"
                                            [listDifferences]="listDifferences"
    ></aou-deposit-metadata-differences-panel>

    <aou-deposit-summary #depositSummaryPresentational
                         [depositId]="model?.resId"
                         [depositFormModel]="convertedFormToDepositFormModelForSummary"
                         [creator]="model?.creator"
                         [lastEditor]="model?.lastEditor"
                         [listCurrentStatus]="listCurrentStatus"
                         [isValidationMode]="isValidationMode"
                         [romeo]="romeo"
                         [depositStatus]="model?.status"
                         (navigateChange)="navigate($event)"
                         (navigateToStepChange)="navigateToStep($event)"
                         (refreshValidationErrorChange)="refreshValidationError()"
    ></aou-deposit-summary>
  </ng-template>

  <aou-deposit-comments-container #depositCommentsContainer
                                  *ngIf="(model | isNotNullNorUndefined) && step !== depositStepEnum.TYPE && depositMode !== depositModeEnum.create"
                                  [depositResId]="model.resId"
                                  [isValidationMode]="isValidationMode"
  ></aou-deposit-comments-container>

  <div class="button-wrapper">
    <button *ngIf="stepper.currentStepIndex > 0"
            mat-button
            color="primary"
            [disabled]="disableNavigation(stepper)"
            (click)="move(stepper.currentStepIndex, targetRoutingAfterSaveEnum.PREVIOUS)"
    >
      <solidify-icon [iconName]="iconNameEnum.back"></solidify-icon>
      <solidify-icon [iconName]="iconNameEnum.save"></solidify-icon>
      {{labelTranslateEnum.previous | translate}}
    </button>

    <button mat-button
            color="primary"
            (click)="exit()"
    >
      <solidify-icon [iconName]="iconNameEnum.close"></solidify-icon>
      {{labelTranslateEnum.exit | translate}}
    </button>

    <button *ngIf="stepper.currentStepIndex >= 0 && stepper.currentStepIndex < stepper.steps?.length - 1"
            mat-button
            color="primary"
            [disabled]="disableNavigation(stepper)"
            (click)="move(stepper.currentStepIndex, targetRoutingAfterSaveEnum.SAVE_FOR_LATER)"
    >
      <solidify-icon [iconName]="iconNameEnum.save"></solidify-icon>
      {{labelTranslateEnum.exit | translate}}
    </button>

    <button *ngIf="stepper.currentStepIndex === stepper.steps?.length - 1"
            mat-button
            color="primary"
            (click)="exit()"
            [disabled]="documentFileUploadHelper.numberFilesPending(listCurrentStatus) > 0
            || documentFileUploadHelper.numberFilesInError(listCurrentStatus) > 0
            || documentFileUploadHelper.numberFilesToBeConfirmed(listCurrentStatus) > 0"
    >
      <solidify-icon [iconName]="iconNameEnum.save"></solidify-icon>
      {{labelTranslateEnum.exit | translate}}
    </button>

    <button *ngIf="(stepper.currentStepIndex < stepper.steps?.length - 1) && (model?.status ===
    depositStatusEnum.FEEDBACK_REQUIRED || model?.status === depositStatusEnum?.IN_EDITION)"
            mat-button
            mat-flat-button
            color="success"
            (click)="saveAndSubmit()"
            [disabled]="disableNavigation(stepper)
            || documentFileUploadHelper.numberFilesPending(listCurrentStatus) > 0
            || documentFileUploadHelper.numberFilesInError(listCurrentStatus) > 0
            || documentFileUploadHelper.numberFilesToBeConfirmed(listCurrentStatus) > 0"
    >
      <solidify-icon [iconName]="iconNameEnum.submit"></solidify-icon>
      {{labelTranslateEnum.submit | translate}}
    </button>

    <button *ngIf="(stepper.currentStepIndex < stepper.steps?.length - 1 && stepper.currentStepIndex >= 0) || (stepper.currentStepIndex === -1 &&
    depositTypePresentational?.displayForm)"
            mat-button
            mat-flat-button
            color="primary"
            [disabled]="disableNavigation(stepper)"
            [solidifyButtonSpinner]="isLoadingOnCreate"
            (click)="move(stepper.currentStepIndex, targetRoutingAfterSaveEnum.NEXT)"
    >
      <solidify-icon [iconName]="iconNameEnum.save"></solidify-icon>
      {{labelTranslateEnum.next | translate}}
      <solidify-icon [iconName]="iconNameEnum.next"></solidify-icon>
    </button>

    <button *ngIf="(stepper.currentStepIndex === stepper.steps?.length - 1) && (model.status === depositStatusEnum.IN_PROGRESS || model.status ===
    depositStatusEnum.FEEDBACK_REQUIRED || model.status === depositStatusEnum.IN_EDITION)"
            mat-button
            mat-flat-button
            color="success"
            (click)="submit()"
            [disabled]="documentFileUploadHelper.numberFilesPending(listCurrentStatus) > 0
            || documentFileUploadHelper.numberFilesInError(listCurrentStatus) > 0
            || documentFileUploadHelper.numberFilesToBeConfirmed(listCurrentStatus) > 0
            || (model.status === depositStatusEnum.IN_EDITION && !hasMetadataUpdate)"
    >
      <solidify-icon [iconName]="iconNameEnum.submit"></solidify-icon>
      {{labelTranslateEnum.submit | translate}}
    </button>
  </div>
</ng-template>
