<ul *ngIf="structuresWithParentsNames | isNonEmptyArray; else notUnigePublication"
    class="structures"
    solidifyTooltipOnEllipsis
>
  <li *ngFor="let structureGroup of structuresWithParentsNames; let i = index"
      solidifyTooltipOnEllipsis
  >
    <ng-template [ngIf]="structureGroup | isNonEmptyArray">
      <ng-container *ngFor="let structure of structureGroup.slice().reverse(); let j = index">
        <a *ngIf="(structureLinks | isNonEmptyArray) && (structureLinks[i][j] | isNotNullNorUndefined); else noLink"
           [routerLink]="'/' + structureLinks[i][j].path"
           [queryParams]="structureLinks[i][j].queryParams"
        >
          {{structure}}
        </a>
        <span *ngIf="j < structureGroup.length - 1"> / </span>
      </ng-container>
      <ng-template #noLink>{{structureGroup.slice().reverse().join(" / ")}}</ng-template>
    </ng-template>
  </li>
</ul>
<ng-template #notUnigePublication>
  {{labelTranslateEnum.notAUnigePublication | translate}}
</ng-template>