<ng-container *ngIf="depositFormRuleHelper.pathSubType as fieldPath">
  <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
    <ng-template [ngIf]="groupSubTypeByType | isNonEmptyArray">
      <solidify-panel-expandable [titleToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath)"
                                 [isOutline]="true"
                                 [isRequired]="true"
                                 class="subtype-panel"
                                 [class.is-invalid]="getFormControl(fieldPath)?.invalid"
                                 [solidifyTooltip]="tooltipTranslateEnum.depositSubType"
      >
        <mat-radio-group *ngIf="getFormControl(fieldPath) as fd"
                         [formControl]="fd"
                         [required]="formValidationHelper.hasRequiredField(getFormControl(fieldPath))"
                         class="radio-group"
                         color="primary"
        >
          <div *ngFor="let subTypeGroup of groupSubTypeByType"
               class="section"
          >
            <span class="title">{{enumUtil.getLabel(depositTypeEnumValues, subTypeGroup.key.resId) | translate}}</span>

            <div class="radio-container">
              <mat-radio-button *ngFor="let subtype of subTypeGroup.value"
                                [value]="subtype.resId"
                                [solidifyTooltip]="subtype.descriptions | backtranslate"
              >
                <span class="name">{{subtype.labels | backtranslate}}</span>
              </mat-radio-button>
            </div>
          </div>
        </mat-radio-group>
      </solidify-panel-expandable>
      <mat-hint class="hint">{{labelTranslateEnum.moveTheMouseOverTheDocumentTypeForDetails | translate}}</mat-hint>
    </ng-template>
  </ng-template>
</ng-container>


<ng-container *ngIf="depositFormRuleHelper.pathSubsubtype as fieldPath">
  <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
    <ng-template [ngIf]="listDepositSubSubtype | isNonEmptyArray">
      <solidify-panel-expandable [titleToTranslate]="depositFormRuleHelper.getLabel(mainFormGroup, fieldPath)"
                                 [isOutline]="true"
                                 [isRequired]="true"
                                 class="subsubtype-panel"
                                 [class.is-invalid]="getFormControl(fieldPath)?.invalid"
                                 [solidifyTooltip]="tooltipTranslateEnum.depositSubsubtype"
      >
        <mat-radio-group *ngIf="getFormControl(fieldPath) as fd"
                         [formControl]="fd"
                         [required]="formValidationHelper.hasRequiredField(getFormControl(fieldPath))"
                         class="radio-group"
                         color="primary"
        >
          <mat-radio-button *ngFor="let depositSubSubtype of listDepositSubSubtype"
                            [value]="depositSubSubtype.resId"
                            [solidifyTooltip]="depositSubSubtype.descriptions | backtranslate"
          >
            {{depositSubSubtype.labels | backtranslate}}
          </mat-radio-button>
        </mat-radio-group>
      </solidify-panel-expandable>
    </ng-template>
  </ng-template>
</ng-container>
