@import "../../../../../../sass/abstracts/abstracts";


:host {
  display: grid;

  .hint {
    font-size: 11px;
    padding-bottom: 10px;
  }

  ::ng-deep {
    .mat-radio-label {
      display: grid;
      grid-template-columns: max-content 1fr;

      .mat-radio-label-content {
        @include truncate-with-ellipsis;
      }
    }
  }

  .subtype-panel,
  .subsubtype-panel {
    &.is-invalid {
      &::ng-deep {
        .header {
          &:before {
            height: 2px;
          }
        }

        .content {
          border: 1px solid $red;
        }
      }
    }
  }

  .subtype-panel ::ng-deep {
    padding-bottom: 0;

    .content {
      padding-top: 15px !important;

      .radio-group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px 10px;

        .section {
          .title {
            font-weight: bold;
          }

          .radio-container {
            display: grid;
          }
        }
      }
    }
  }

  .subsubtype-panel ::ng-deep {
    .radio-group {
      display: grid;
      grid-gap: 0 10px;
      margin: 5px 0;

      @include respond-to-breakpoint-and-bigger('md') {
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, max-content);
      }
    }
  }

  .subtype-panel,
  .subsubtype-panel {
    ::ng-deep {
      .mat-radio-label-content {
        .name {
          white-space: pre-line;
        }
      }
    }
  }

}
