@import "abstracts/abstracts";

:host {
  display: grid;

  .first-row {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 20px;
    align-items: center;

    .type-import {
      .radio-group {
        display: grid;
        grid-gap: 10px;
        padding-bottom: 20px;
        padding-top: 8px;
      }
    }

    .import-identifier-wrapper {
      .identifier-field {
        width: 100%;
        padding-top: 20px;
      }
    }

    .icon-result-wrapper {
      width: 40px;
      height: 40px;
      display: grid;
      justify-content: center;
      align-items: center;
    }
  }

  .error-message-row {
    color: $error;
    text-align: center;
    margin-bottom: 15px;
  }
}

:host(.is-readonly) {
  .first-row {
    grid-template-columns: max-content 1fr max-content;

    .type-import {
      .label {
        color: $label-disable;
      }
    }
  }
}

:host(.success) {
  .first-row {
    .icon-result-wrapper {
      .icon {
        color: $success;
        cursor: pointer;
      }
    }
  }
}

:host(.error) {
  .first-row {
    .icon-result-wrapper {
      .icon {
        color: $red;
      }
    }
  }
}
