<div class="first-row">
  <div class="type-import">
    <mat-label class="label">{{labelTranslateEnum.sourceOfMetadata | translate}}</mat-label>
    <mat-radio-group *ngIf="getFormControl(formDefinition.service) as fd"
                     [formControl]="fd"
                     class="radio-group"
                     color="primary"
    >
      <mat-radio-button *ngFor="let service of listImportService"
                        [value]="service.name"
      >{{service.labelRadioOption | translate}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <ng-container *ngIf="getFormControl(formDefinition.service)?.value as serviceId">
    <div *ngIf="getSelectedService(serviceId) as service"
         class="import-identifier-wrapper"
    >
      <mat-form-field *ngIf="getFormControl(formDefinition.id) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      class="identifier-field"
                      solidifyTooltipOnEllipsis
                      solidifyShortCuts
      >
        <mat-label>{{labelTranslateEnum.identifier | translate}}</mat-label>
        <input [formControl]="fd"
               [placeholder]="((service.exampleIdentifierSuffix | isNonEmptyString) ? service.exampleIdentifierSuffix + ' - ' : '') +
                 (labelTranslateEnum.example | translate) + ': ' + service.exampleIdentifier"
               [required]="formValidationHelper.hasRequiredField(fd)"
               [solidifyValidation]="errors"
               matInput
        >
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </div>
  </ng-container>

  <div *ngIf="readonly"
       [solidifySpinner]="resultPending"
       [solidifySpinnerDiameter]="40"
       class="icon-result-wrapper"
  >
    <solidify-icon *ngIf="!resultPending"
                   [iconName]="resultIcon"
                   [matTooltip]="resultError ? result.error.message : (labelTranslateEnum.seeDeposit | translate)"
                   (click)="seeDeposit()"
                   class="icon size-30"
    >
    </solidify-icon>
  </div>
</div>
<div *ngIf="resultError"
     class="error-message-row"
>
  {{(result.error.message | isNonEmptyString) ? result.error.message : (labelTranslateEnum.unexpectedError | translate)}}
</div>
