<solidify-empty-container solidifyShortCuts
                          (onEscape)="backToList()"
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  [mode]="'create'"
                                  [formPresentational]="formPresentational"
  >
  </solidify-button-toolbar-detail>

  <div class="wrapper"
       [solidifySpinner]="isLoadingWithDependencyObs | async"
       [solidifyFocusFirstElement]="true"
  >
    <aou-admin-user-form #formPresentational
                         *ngIf="isReadyToBeDisplayedInCreateModeObs | async"
                         [listPersons]="listPersonObs | async"
                         (submitChange)="create($event)"
                         (checkAvailableChange)="checkAvailable($event)"
                         (dirtyChange)="updateCanDeactivate($event)"
    ></aou-admin-user-form>
  </div>
</solidify-empty-container>
