<solidify-searchable-tree-multi-select *ngIf="isMulti"
                                       [formControl]="formControl"
                                       [list]="listStructure"
                                       [labelKey]="'name'"
                                       [valueKey]="'resId'"
                                       [parentKey]="'parentStructure'"
                                       [appearance]="appearanceInputMaterial"
                                       [isWithLink]="false"
                                       [placeholder]="labelTranslateEnum.clickHereToAddAStructure | translate"
                                       [required]="formValidationHelper.hasRequiredField(formControl)"
                                       [title]="labelTranslateEnum.structures | translate"
                                       [labelCallback]="structureLabel"
                                       [defaultValueLabel]="labelTranslateEnum.defaultValueAccordingToYourProfile"
                                       [defaultValueToHighlight]="$any(listDefaultStructure)"
                                       [overlayPosition]="overlayPosition"
                                       [closeAfterValueSelected]="closeAfterValueSelected"
                                       [showEmptyRequiredFieldInError]="true"
                                       [solidifySpinner]="isLoading"
                                       [solidifySpinnerDiameter]="24"
                                       [solidifySpinnerStrokeWidth]="2"
                                       [solidifyTooltip]="tooltip"
                                       [hintToTranslate]="hintToTranslate"
                                       [preTreatmentHighlightText]="preTreatmentHighlightText"
                                       [postTreatmentHighlightText]="postTreatmentHighlightText"
                                       (valueChange)="valueChange($event)"
                                       aria-label="structure selector"
                                       class="structures"
                                       solidifyValidation
></solidify-searchable-tree-multi-select>

<solidify-searchable-tree-single-select *ngIf="!isMulti"
                                        [formControl]="formControl"
                                        [list]="listStructure"
                                        [labelKey]="'name'"
                                        [valueKey]="'resId'"
                                        [parentKey]="'parentStructure'"
                                        [appearance]="appearanceInputMaterial"
                                        [isWithLink]="false"
                                        [placeholder]="labelTranslateEnum.clickHereToAddAStructure | translate"
                                        [required]="formValidationHelper.hasRequiredField(formControl)"
                                        [title]="labelTranslateEnum.structures | translate"
                                        [labelCallback]="structureLabel"
                                        [defaultValueLabel]="labelTranslateEnum.defaultValueAccordingToYourProfile"
                                        [defaultValueToHighlight]="$any(listDefaultStructure)"
                                        [overlayPosition]="overlayPosition"
                                        [closeAfterValueSelected]="closeAfterValueSelected"
                                        [showEmptyRequiredFieldInError]="true"
                                        [solidifySpinner]="isLoading"
                                        [solidifySpinnerDiameter]="24"
                                        [solidifySpinnerStrokeWidth]="2"
                                        [solidifyTooltip]="tooltip"
                                        [hintToTranslate]="hintToTranslate"
                                        [preTreatmentHighlightText]="preTreatmentHighlightText"
                                        [postTreatmentHighlightText]="postTreatmentHighlightText"
                                        (valueChange)="valueChange($event)"
                                        aria-label="structure selector"
                                        class="structures"
                                        solidifyValidation
></solidify-searchable-tree-single-select>
