@import "abstracts/abstracts";

:host {
  display: grid;

  .structures {
    ::ng-deep {
      .mat-chip-list {
        .is-obsolete {
          opacity: 0.5;
          text-decoration: line-through;
        }

        .is-historical {
          opacity: 0.5;
        }
      }
    }
  }
}


