<aou-deposit-comment-form #depositCommentFormPresentational
                          [listComments]="listCommentObs | async"
                          [readonly]="false"
                          (commentCreated)="createUpdateComment($event)"
                          (commentDeleted)="deleteComment($event)"
                          [solidifySpinner]="isLoadingCommentObs | async"
                          [class.need-check]="needToCheckComment(listCommentObs | async)"
                          class="comments"
></aou-deposit-comment-form>
<aou-deposit-comment-form *ngIf="isValidationMode"
                          #depositCommentValidatorFormPresentational
                          [listComments]="listCommentValidatorObs | async"
                          [isValidator]="true"
                          [readonly]="false"
                          (commentCreated)="createUpdateCommentValidator($event)"
                          (commentDeleted)="deleteCommentValidator($event)"
                          [solidifySpinner]="isLoadingCommentValidatorObs | async"
></aou-deposit-comment-form>
