@if (startWithPresentedAt) {
  <ng-template [ngTemplateOutlet]="presentedAt"></ng-template>
  <ng-template [ngTemplateOutlet]="publishedIn"></ng-template>
} @else {
  <ng-template [ngTemplateOutlet]="publishedIn"></ng-template>
  <ng-template [ngTemplateOutlet]="presentedAt"></ng-template>
}
<ng-template [ngTemplateOutlet]="pagination"></ng-template>

<ng-template #publishedIn>
  @if (isPublishedIn) {
    <ng-template [ngIf]="publishedInInfo | isNonEmptyArray">
      <aou-home-icon-text [icon]="iconNameEnum.publishedIn"
                          [labelToTranslate]="labelTranslateEnum.publishedIn"
                          [value]="publishedInValues"
      ></aou-home-icon-text>
      <ng-template #publishedInValues>
        <ng-template [ngTemplateOutlet]="containerTitleComponent"
                     [ngTemplateOutletContext]="{listTexts: publishedInInfo}"
        ></ng-template>
      </ng-template>
    </ng-template>
  }
</ng-template>

<ng-template #presentedAt>
  @if (isPresentedAt) {
    <ng-template [ngIf]="presentedAtInfo | isNonEmptyArray">
      <aou-home-icon-text [icon]="iconNameEnum.presentedAt"
                          [labelToTranslate]="labelTranslateEnum.presentedAt"
                          [value]="presentedValues"
      ></aou-home-icon-text>
      <ng-template #presentedValues>
        <ng-template [ngTemplateOutlet]="containerTitleComponent"
                     [ngTemplateOutletContext]="{listTexts: presentedAtInfo}"
        ></ng-template>
      </ng-template>
    </ng-template>
  }
</ng-template>

<ng-template #pagination>
  @if (isPagination) {
    <aou-home-icon-text *ngIf="rawPagesInfo | isNotNullNorUndefinedNorWhiteString"
                        [icon]="iconNameEnum.pagination"
                        [labelToTranslate]="labelTranslateEnum.numberOfPages"
                        [value]="rawPagesInfo"
    ></aou-home-icon-text>
  }
</ng-template>

<ng-template #containerTitleComponent
             let-listTexts="listTexts"
>
  <ng-container *ngIf="typeIntoText(listTexts) as listTexts">
    @for (text of listTexts; track text; let index = $index) {
      @if (text.link | isNotNullNorUndefined) {
        <a [routerLink]="'/' + text.link.path"
           [queryParams]="text.link.queryParams"
        >{{text.value}}</a>
      } @else {
        <span>{{text.value}}</span>
      }
      <span *ngIf="index < listTexts.length - 1">, </span>
    }
  </ng-container>
</ng-template>
