@import "../../../../../../sass/abstracts/abstracts";

:host {
  display: grid;
  padding: 20px;
  grid-gap: 30px 0;
  justify-items: center;

  .header {
    display: grid;
    justify-content: space-around;
    grid-template-columns: max-content max-content;
    padding: 20px;
    width: 100%;

    @include respond-to-smaller-than-breakpoint("md") {
      grid-template-columns: 1fr;
      grid-gap: 25px 0;
    }

    .statistics {
      display: grid;
      padding: 10px;
      background-color: $extra-light-grey;
      width: 300px;
      justify-self: center;
      grid-gap: 6px;
      height: fit-content;

      > * {
        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
        font-size: 20px;
        line-height: 20px;
      }

      .number {
        text-align: end;
      }

      .publications {
        font-weight: bold;
      }

      .views,
      .downloads {
        padding-left: 12px;
        font-size: 16px;
        line-height: 16px;

        .text {
          display: grid;
          align-items: center;
          grid-template-columns: max-content 1fr;
          grid-gap: 0 10px;
        }
      }

      .publications,
      .supervised-works {
        .number {
          font-weight: bold;
        }
      }

      .supervised-works {
        padding-top: 30px;
        color: $text-color;
      }
    }
  }


  .charts-and-publications {
    display: grid;
    padding: 20px;
    grid-gap: 30px 0;
    justify-items: center;
    min-height: 300px;
    width: 100%;

    .charts {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between;
      grid-gap: 20px;
      width: 100%;

      > * {
        justify-self: center;

        @include respond-to-breakpoint-and-bigger('md') {
          max-width: 100%;
        }
      }

      @include respond-to-smaller-than-breakpoint('md') {
        grid-template-columns: 1fr;
      }
    }

    .data-table {
      width: 100%;

      ::ng-deep {
        .header-button-and-pagination {
          display: none;
        }

        th[data-field="downloadNumber"] {
          word-break: break-all;
        }
      }
    }
  }
}

@include isInDarkMode {
  .header {
    .statistics {
      background-color: $dark-mode-toolbar;

      .supervised-works {
        color: $dark-mode-text-color;
      }
    }
  }
}