<div class="header">
  <aou-contributor *ngIf="contributor"
                   [contributor]="contributor"
                   class="contributor"
                   (contactChange)="contactContributor($event)"
  ></aou-contributor>

  <div class="statistics">
    <div class="publications">
      <div class="text">{{labelTranslateEnum.publications | translate}}</div>
      @if (searchDirectorLink) {
        <a class="number"
           [routerLink]="environment.baseHref + searchContributorsPublicationsLink.path"
           [queryParams]="searchContributorsPublicationsLink.queryParams"
        >
          {{publicationNumbers | number}}
        </a>
      } @else {
        <div class="number">{{publicationNumbers | number}}</div>
      }
    </div>
    <div class="views">
      <div class="text">
        <solidify-icon [iconName]="iconNameEnum.viewNumber"
                       class="size-18"
        ></solidify-icon>
        {{labelTranslateEnum.views | translate}}
      </div>
      <div class="number">{{totalNumberOfViews | number}}</div>
    </div>
    <div class="downloads">
      <div class="text">
        <solidify-icon [iconName]="iconNameEnum.download"
                       class="size-18"
        ></solidify-icon>
        {{labelTranslateEnum.downloads | translate}}
      </div>
      <div class="number">{{totalNumberOfDownloads | number}}</div>
    </div>
    <div *ngIf="supervisedWork | isNotNullNorUndefined"
         class="supervised-works"
    >
      <div class="text">{{labelTranslateEnum.supervisedWorks | translate}}</div>
      @if (searchDirectorLink) {
        <a class="number"
           [routerLink]="environment.baseHref + searchDirectorLink.path"
           [queryParams]="searchDirectorLink.queryParams"
        >
          {{supervisedWork | number}}
        </a>
      } @else {
        <div class="number">{{supervisedWork | number}}</div>
      }
    </div>
  </div>
</div>

<div [solidifySpinner]="(isLoadingPublicationStatisticsObs | async) || (isLoadingChartObs | async)"
     class="charts-and-publications"
>
  @if (listPublicationStatisticsObs | async | isNullOrUndefinedOrEmptyArray) {
    <span *ngIf="isLoadingPublicationStatisticsObs | async | isFalse">{{labelTranslateEnum.thisContributorHasNoPublicationsOnTheArchiveOuverte | translate}}</span>
  } @else {
    <div *ngIf="ssrUtil.isBrowser"
         class="charts"
    >
      <div>
        <aou-contributor-pie-chart *ngIf="diffusionChart | isNotNullNorUndefined"
                                   [chart]="diffusionChart"
                                   [darkMode]="darkModeObs | async"
        ></aou-contributor-pie-chart>
      </div>
      <div>
        <aou-contributor-bar-chart *ngIf="diffusionChartByYear | isNotNullNorUndefined"
                                   [chart]="diffusionChartByYear"
                                   [darkMode]="darkModeObs | async"
        ></aou-contributor-bar-chart>
      </div>

      <div>
        <aou-contributor-bar-chart *ngIf="openAccessChart | isNotNullNorUndefined"
                                   [chart]="openAccessChart"
                                   [darkMode]="darkModeObs | async"
        >
        </aou-contributor-bar-chart>
      </div>
    </div>

    <solidify-data-table [columns]="columns"
                         [data]="listPublicationStatisticsObs | async"
                         [focusFirstElement]="false"
                         [isLoading]="isLoadingPublicationStatisticsObs | async"
                         [queryParameters]="queryParametersPublicationStatisticsObs | async"
                         [skipInitialQuery]="true"
                         [stickyTopPosition]="0"
                         [displayActionCopyIdToClipboard]="true"
                         (queryParametersChange)="onQueryParametersEvent($event)"
                         (selectChange)="showDetail($event)"
                         class="data-table"
    ></solidify-data-table>
  }
</div>
