<div class="expand-collapse-button">
  <button mat-icon-button
          (click)="expandAllOrCollapseAll()"
          solidifyShortCuts
          (onEnter)="expandAllOrCollapseAll()"
          [matTooltip]="expandedAll ? ('fileTree.collapseAll' | translate) : ('fileTree.expandAll' | translate)"
  >
    <solidify-icon [iconName]="expandedAll ? iconNameEnum.collapseAll : iconNameEnum.expandAll"
                   class="size-20"
    ></solidify-icon>
  </button>
</div>

<mat-tree *ngIf="dataSource"
          [dataSource]="dataSource"
          [treeControl]="treeControl"
          class="file-tree"
>
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node"
                 matTreeNodePadding
                 class="folder-node"
                 [class.is-select]="isSelected(node)"
  >
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button
            disabled
    >
      <solidify-icon [iconName]="iconNameEnum.structureWithoutChild"
                     class="size-24"
      ></solidify-icon>
    </button>

    <ng-template *ngTemplateOutlet="button; context: {node: node}"></ng-template>

  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                 matTreeNodePadding
                 class="folder-node"
                 [class.is-select]="isSelected(node)"
  >

    <button mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.folderName"
    >
      <solidify-icon [iconName]="treeControl.isExpanded(node) ? iconNameEnum.structureWithChildOpened : iconNameEnum.structureWithChildClosed"
                     class="size-18"
      ></solidify-icon>
    </button>

    <ng-template *ngTemplateOutlet="button; context: {node: node}"></ng-template>

  </mat-tree-node>
</mat-tree>


<ng-template #button
             let-node="node"
>
  <div class="folder-chip"
       [class.is-obsolete]="node.status === status.OBSOLETE"
       [class.is-historical]="node.status === status.HISTORICAL"
       (click)="select(node)"
  >
    <span class="label"
          [innerHTML]="node.name"
    ></span>

    <div class="buttons">
      <button *ngIf="canEdit"
              mat-icon-button
              (click)="editStructure(node, $event)"
              [matTooltip]="labelTranslateEnum.edit | translate"
      >
        <solidify-icon [iconName]="iconNameEnum.edit"
                       class="size-18"
        ></solidify-icon>
      </button>

      <button *ngIf="canDelete"
              mat-icon-button
              (click)="deleteStructure(node, $event)"
              [matTooltip]="labelTranslateEnum.delete | translate"
      >
        <solidify-icon [iconName]="iconNameEnum.delete"
                       class="size-18"
        ></solidify-icon>
      </button>
    </div>
  </div>
</ng-template>
