@import "../../../../../sass/abstracts/abstracts";

:host {
  $line-item-size: 30px;
  $max-width: 260px;

  display: grid;
  grid-template-columns: max-content max-content;

  .mat-icon-button {
    height: $line-item-size;
    width: $line-item-size;
    line-height: $line-item-size;
  }

  .expand-collapse-button {
    display: flex;
  }

  .file-tree {
    max-width: $max-width;
    background: none;
    @include respond-to-smaller-than-breakpoint('md') {
      max-width: 100%;
    }

    .folder-node {
      min-height: $line-item-size;
      color: $text-color;
      border-radius: $line-item-size;

      .mat-icon-button {
        &[disabled="true"] {
          color: $text-color !important;
        }
      }

      .folder-chip {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        justify-content: space-between;
        border-radius: 30px;

        &.is-obsolete {
          opacity: 0.5;
          text-decoration: line-through;
        }

        &.is-historical {
          opacity: 0.5;
        }

        .label {
          width: 100%;
          min-width: 10px;
          line-height: 30px;
          padding: 0 10px;
          cursor: pointer;
          @include truncate-with-ellipsis;
        }

        .buttons {
          display: grid;
          grid-auto-flow: column;

          > * {
            visibility: hidden;
          }

          .is-selected-role {
            visibility: initial;
          }
        }

        &:hover {
          .buttons {
            > * {
              visibility: initial;
            }
          }
        }
      }

      &.is-select,
      &.is-active {
        .folder-chip {
          color: $white;
          background-color: $primary-color-lighter;
          cursor: initial;
        }
      }

      &:not(.is-select),
      &:not(.is-active) {
        .folder-chip:hover {
          background-color: $primary-color-lighter;
        }
      }
    }
  }
}

.cdk-drop-list-dragging {
  &:not(.is-active) {
    .folder-chip {
      background-color: #e8e8e8 !important;
      color: $text-color !important;
      border-radius: 100px;
      cursor: pointer;
    }
  }
}

.file-tree {
  .folder-node ::ng-deep .cdk-drag-placeholder {
    display: none;
  }
}

@include isInDarkMode {
  .file-tree {
    .folder-node {
      color: $dark-mode-text-color;

      .mat-icon-button {
        &[disabled="true"] {
          color: $dark-mode-text-color !important;
        }
      }
    }
  }
}
