@import "abstracts/abstracts";

:host {
  @include spinner-wrapper;

  .hide {
    display: none;
  }

  .wrapper {
    min-height: 150px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;

    ::ng-deep {
      .header-button-and-pagination {
        display: none !important;
      }
    }
  }

  .upload-button-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 15px;
    border: 6px dashed transparent;
  }

  .file-in-progress {
    padding-bottom: 30px;
    padding-top: 10px;
  }

  .no-file {
    text-align: center;
    padding: 20px;
  }

  .document-file-data-table ::ng-deep .data-table .table tbody tr.is-highlighting td {
    color: $red !important;
  }
}

:host(.file-over) {
  .upload-button-wrapper {
    border-color: $medium-light-grey;
  }
}
