<div [solidifySpinner]="isLoadingDocumentFileObs | async"
     class="wrapper"
>
  <solidify-data-table #dataTablePresentational
                       *ngIf="columns"
                       [columns]="columns"
                       [isLoading]="isLoadingDocumentFileObs | async"
                       [skipInitialQuery]="true"
                       [isClickable]="!isReadonly"
                       [data]="listDocumentFileObs | async"
                       [queryParameters]="queryParametersObs | async"
                       (queryParametersChange)="onQueryParametersEvent($event)"
                       (queryParametersWithoutRefreshChange)="onQueryParametersEvent($event, false)"
                       (selectChange)="openDetailFile($event)"
                       (dragEndSendData)="sendSortedData($event)"
                       [actions]="actions"
                       [stickyTopPosition]="40"
                       [focusFirstElement]="false"
                       [isDraggable]="!isReadonly"
                       [isDroppable]="!isReadonly"
                       [draggablePreviewColumn]="'fileName'"
                       [draggablePreviewMatIcon]="iconNameEnum.file"
                       [alwaysDisplayButtonActionsWrapped]="true"
                       [isHighlightCondition]="highlightLicenseNotSure"
                       [lineTooltipCallback]="lineTooltipCallback"
                       class="document-file-data-table"
  >
  </solidify-data-table>
</div>

<div *ngIf="canEdit"
     class="upload-button-wrapper"
>
  <button solidifyAlternativeButton
          color="primary"
          type="button"
          solidifyShortCuts
          (onEnter)="fileInput.click()"
          (click)="fileInput.click()"
  >
    <solidify-icon [iconName]="iconNameEnum.uploadFile"></solidify-icon>
    {{labelTranslateEnum.uploadAFile | translate}}
    <input id="file-upload"
           #fileInput
           class="hide"
           type="file"
           (change)="onFileChange($any($event)); fileInput.value = ''"
    />
  </button>
</div>

<solidify-data-files-upload-in-progress [listFilesUploading]="uploadStatusFilteredByCurrentContextObs | async"
                                        (cancelChange)="cancel($event)"
                                        (retryChange)="retry($event)"
                                        class="document-files-upload-in-progress"
></solidify-data-files-upload-in-progress>
