<div class="toolbar">
  <solidify-burger-menu [isOpen]="isOpen"
                        (click)="toggleMenu()"
                        class="burger-menu"
  >
  </solidify-burger-menu>

  <div class="logo">
    <img src="assets/images/unigelogo-white.svg"
         alt="Unige"
         class="unige-logo"
    >
  </div>
</div>

<div *ngIf="isOpen"
     class="menu"
     @menuAnimation
>
  <ul>
    <ng-container *ngFor="let menu of getAllMenusMerged()">
      <li *ngIf="menu.isVisible() | solidifyAsync"
          (click)="menu.click(menu)"
          [class.is-active]="currentPath === menu.rootModulePath"
      >
        <ng-template [ngIf]="!(menu.badgeCounter | isNullOrUndefined)"
                     [ngIfElse]="simpleIcon"
        >
        <span [matBadge]="menu.badgeCounter()"
              matBadgeColor="primary"
              matBadgeSize="small"
              [matBadgeHidden]="menu.badgeHidden()"
              [matBadgeDescription]="menu.badgeDescription"
        >
          {{menu.labelToTranslate | translate}}
        </span>
        </ng-template>
        <ng-template #simpleIcon>
          {{menu.labelToTranslate | translate}}
        </ng-template>
      </li>
    </ng-container>

    <ng-template [ngIf]="!logged"
                 [ngIfElse]="loggedOut"
    >
      <li class="login">
        <a [solidifyDataTest]="dataTestEnum.loginMobileInput"
           (click)="login()"
        >{{labelTranslateEnum.login | translate}}</a>
      </li>
    </ng-template>

    <li *ngIf="listStaticPages | isNonEmptyArray"
        class="statics-pages-selector-line"
    >
      <div [matMenuTriggerFor]="menu">
        {{labelTranslateEnum.documentation | translate}}
      </div>

      <mat-menu #menu="matMenu">
        <button *ngFor="let staticMenu of listStaticPages"
                mat-menu-item
                solidifyShortCuts
                (onEnter)="openStaticLink(staticMenu)"
                (click)="openStaticLink(staticMenu)"
        >
          <span>{{staticMenu.labels | backtranslate}}</span>
        </button>
      </mat-menu>
    </li>

    <li *ngIf="logged"
        (click)="profileInfo()"
    >
      {{labelTranslateEnum.profile | translate}}
    </li>
    <li class="language-selector-line">
      <solidify-language-selector [(language)]="language"></solidify-language-selector>
    </li>

    <li (click)="openUserGuide()">
      <span>{{labelTranslateEnum.userGuide | translate}}</span>
    </li>

    <li (click)="toggleDarkMode()">
      <span>{{(darkMode ? labelTranslateEnum.lightMode : labelTranslateEnum.darkMode) | translate}}</span>
    </li>

    <ng-template #loggedOut>
      <li class="logout">
        <a [solidifyDataTest]="dataTestEnum.logoutMobileInput"
           (click)="logout()"
        >{{labelTranslateEnum.logout | translate}}</a>
      </li>
    </ng-template>

    <li *ngIf="(!isProduction || isDemoMode) && numberThemes > 1"
        class="theme-selector no-clickable"
    >
      <solidify-theme-selector [(theme)]="theme">
      </solidify-theme-selector>
    </li>
  </ul>
</div>
