@import "abstracts/abstracts";

:host {
  background-color: $white;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  border-radius: 4px;
  padding: 15px;
  display: grid;
  grid-gap: 4px;

  .title {
    margin: 0;
  }

  .mail-line,
  .phone-line {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    font-size: 14px;
    align-items: center;
  }

  .office-hour {
    font-size: 10px;
  }
}

@include isInDarkMode {
  :host {
    background-color: $dark-mode-background;
  }
}
