<h3 class="title">{{labelTranslateEnum.feedbackOrQuestion | translate}}</h3>
<div class="mail-line">
  <solidify-icon [iconName]="iconNameEnum.mail"
                 class="size-16"
  ></solidify-icon>
  <a [href]="'mailto:'+email">{{email}}</a>
</div>
<div class="phone-line">
  <solidify-icon [iconName]="iconNameEnum.phone"
                 class="size-16"
  ></solidify-icon>
  <span><a [href]="'tel:'+phoneWithIndicator">{{phone}} </a><span class="office-hour"> ({{labelTranslateEnum.officeHour | translate}})</span></span>
</div>
