<solidify-base-action-dialog [titleToTranslate]="data.titleToTranslate | translate | translatePlural:data.numberDeposit"
                             [solidifyFocusFirstElement]="false"
>
  <p>{{data.messageToTranslate | translate: {number: data.numberDeposit} | translatePlural:data.numberDeposit}}</p>
  <ng-container *ngIf="getFormControl(formDefinition.researchGroupId) as fd">
    <solidify-searchable-single-select [appearance]="appearanceInputMaterial"
                                       [formControl]="fd"
                                       [isWithLink]="false"
                                       [labelKey]="'name'"
                                       [placeholder]="labelTranslateEnum.researchGroup | translate"
                                       [required]="formValidationHelper.hasRequiredField(fd)"
                                       [resourceNameSpace]="sharedResearchGroupActionNameSpace"
                                       [sort]="sharedResearchGroupSort"
                                       [state]="sharedResearchGroupState"
                                       [title]="labelTranslateEnum.researchGroups | translate"
                                       [valueKey]="'resId'"
                                       [labelCallback]="researchGroupLabel"
                                       [solidifyTooltip]="tooltipTranslateEnum.depositGroup"
                                       [preTreatmentHighlightText]="researchGroupPreTreatmentHighlightText"
                                       [postTreatmentHighlightText]="researchGroupPostTreatmentHighlightText"
                                       aria-label="research group"
                                       solidifyValidation
                                       class="group"
    >
    </solidify-searchable-single-select>
  </ng-container>
</solidify-base-action-dialog>
<div [solidifyFocusFirstElement]="true"
     cdkTrapFocus
     mat-dialog-actions
>
  <button [color]="'primary'"
          (click)="close()"
          mat-button
  >{{labelTranslateEnum.cancel | translate}}</button>
  <button [disabled]="form.invalid"
          [color]="'primary'"
          (click)="confirm()"
          mat-flat-button
  >{{labelTranslateEnum.confirm | translate}}</button>
</div>
