<div class="icon-wrapper">
  <solidify-icon [iconName]="iconNameEnum.error"
                 class="size-50"
  ></solidify-icon>
</div>
<solidify-panel-expandable *ngIf="listErrors | isNonEmptyArray"
                           [isPanelCollapsable]="false"
                           [isOpen]="true"
                           [titleToTranslate]="labelTranslateEnum.errorsDetected | translate"
                           class="container-panel validation-errors"
>
  <ul class="list">
    <li *ngFor="let error of listErrors"
        [class.clickable]="isEditAvailable"
        (click)="navigateToForm(error)"
    >
      <span class="field-path">
      [
      <ng-template ngFor
                   let-i="index"
                   let-term
                   [ngForOf]="error.listTermTranslatable"
      >
        <span class="term">{{term | translate}}</span>
        <span *ngIf="i < error.listTermTranslatable.length - 1"
              class="separator"
        >{{SEPARATOR}}</span>
      </ng-template>
      ]:
      </span>
      <ul class="sublist">
        <li *ngFor="let message of error.errorMessages">
          {{message}}
        </li>
      </ul>
    </li>
  </ul>
</solidify-panel-expandable>
