@import "abstracts/abstracts";

:host {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 10px;
  align-items: center;
  border: 3px solid $red;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;

  .icon-wrapper {
    color: $red;
    display: grid;
    align-items: center;
  }

  .validation-errors {
    border: none !important;
    margin: 0;
    padding: 0;

    &::ng-deep {
      .header {
        border-color: $red;
      }
    }

    .list {

      > li {
        list-style-type: disc;
        margin-left: 16px;

        &.clickable {
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .field-path {
          .term {
            font-weight: bold;
          }

          .separator {

          }
        }
      }

      .sublist {
        list-style: none;
        display: inline-grid;
      }
    }
  }
}
