@use "@angular/material" as mat;

@import "solidify-frontend/lib/application/components/routables/abstract-resource/abstract-resource.routable";
@import "abstracts/abstracts";

:host {
  flex: 1;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 300px 1fr;
  @include content();

  @include respond-to-smaller-than-breakpoint('md') {
    grid-template-columns: 1fr;
  }

  .left-part {
  }

  .right-part {
    .header {
      border: 1px solid $primary-color;
      position: relative;
      border-radius: 4px;
      padding: 15px;
      padding-top: 4px;

      .title {
        font-size: 15px;
        color: $primary-color;
        margin: 0;
        top: -16px;
        left: 5px;
        background-color: $white;
        padding: 0 8px;
        position: absolute;
        display: inline-block;
      }

      .toolbar-content {
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-gap: 0 5px;
        align-items: center;
        padding-bottom: 5px;

        @include respond-to-smaller-than-breakpoint('sm') {
          grid-template-rows: min-content min-content;
          grid-template-columns: 1fr;
        }

        .toolbar-left-part {
          display: grid;
          grid-template-columns: 1fr 1fr max-content;
          grid-gap: 25px;
          align-items: center;

          @include respond-to-smaller-than-breakpoint('md') {
            grid-template-columns: 1fr;
          }

          .search-bar {
            &::ng-deep {
              .mat-mdc-form-field {
                .mat-mdc-text-field-wrapper {
                  padding-right: 0;
                  padding-bottom: 5px;
                }

                .mat-mdc-form-field-icon-suffix {
                  margin-right: 0;
                  top: 6px;
                }

                .mat-mdc-form-field-subscript-wrapper {
                  display: none;
                }
              }
            }
          }

          .toggles {
            display: grid;

            > .mat-mdc-slide-toggle {
              overflow: hidden;
              padding: 3px 0;

              ::ng-deep {
                .mdc-switch__ripple {
                  display: none !important;
                }

                .mdc-form-field {
                  display: grid;
                  grid-template-columns: max-content 1fr;

                  .mdc-label {
                    display: grid;

                    .toggle-label {
                      display: block;
                      @include truncate-with-ellipsis;
                    }
                  }
                }
              }

            }


          }

          .result-and-display {
            display: grid;
            grid-template-columns: max-content;
            grid-gap: 10px;
            align-items: center;

            .result-matching {
              font-weight: bold;
              color: $light-grey;

              .number-result {
                color: $primary-color;
              }
            }

            .display-mode {
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-gap: 10px;

              .icon {
                cursor: pointer;

                &.is-active {
                  cursor: initial;
                  color: $primary-color;
                }
              }
            }
          }
        }

        .toolbar-right-part {
          display: grid;
          grid-auto-flow: column;
          grid-gap: 10px;
          align-items: center;
          justify-content: end;

          .button {
            color: $primary-color;
          }
        }
      }

      .button-wrapper {
        margin-top: 20px;
        display: grid;
        grid-template-columns: max-content;
        grid-gap: 10px;
        align-items: center;

        &.with-update {
          grid-template-columns: max-content max-content max-content;
        }
      }
    }

    .wrapper {

      .tile-view {
        .paginator-container {
          display: flex;
          justify-content: flex-end;
        }

        .tiles-container {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          grid-gap: 20px;
        }
      }

      .no-result-container {
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-icon {
          display: flex;
          flex-direction: column;
          align-items: center;

          .icon {
            color: $light-grey;
          }

          .text {
            padding-top: 20px;
            font-size: 16px;
            color: $light-grey;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@include isInDarkMode {
  :host {
    .right-part {
      .header {
        .title {
          background-color: $dark-mode-background;
        }
      }
    }
  }
}
