<div class="left-part">
  <solidify-search-facet [class.closed]="isFacetClosed"
                         [facetsSelectedInit]="facetsSelectedObs | async"
                         [listFacets]="facetsObs | async"
                         [searchFacetProperties]="(systemPropertyObs | async)?.searchFacets"
                         [tourAnchor]="tourEnum.homeSearchFacets"
                         (facetChange)="facetChange($event)"
  ></solidify-search-facet>
</div>
<div class="right-part">
  <div class="header">
    <h2 class="title">{{labelTranslateEnum.search | translate}}</h2>
    <div class="toolbar-content">
      <div class="toolbar-left-part">
        <solidify-search-input [appearance]="'fill'"
                               [labelToTranslate]="undefined"
                               [searchAutoFocus]="isInTourModeObs | async | isFalsy"
                               [tourAnchor]="tourEnum.homeSearchSearchBar"
                               [value]="searchObs | async"
                               (valueChange)="searchChange($event)"
                               class="search-bar"
        ></solidify-search-input>

        <div class="toggles">
          <mat-slide-toggle [checked]="searchWithFulltextObs | async"
                            (change)="searchFulltextChange($event)"
                            [solidifyTooltip]="tooltipTranslateEnum.withFulltextTooltip | translate"
                            color="primary"
          ><span class="toggle-label"
                 solidifyTooltipOnEllipsis
          >{{labelTranslateEnum.withFulltext | translate}}</span></mat-slide-toggle>

          <mat-slide-toggle #withRestrictedAccessMastersToggle
                            [checked]="withRestrictedAccessMastersObs | async"
                            (change)="withRestrictedAccessMastersChange($event)"
                            color="primary"
                            class="slide-toggle-restricted-access-masters"
          ><span class="toggle-label"
                 solidifyTooltipOnEllipsis
          >{{labelTranslateEnum.withRestrictedAccessMasters | translate}}</span></mat-slide-toggle>
        </div>

        <div class="result-and-display">
          <span class="result-matching"><span class="number-result">{{totalObs | async | number}}</span> {{labelTranslateEnum.resultsFound | translate}}</span>
          <div *ngIf="false"
               [tourAnchor]="tourEnum.homeSearchListTiles"
               class="display-mode"
          >
            <solidify-icon (click)="viewModeChange(viewModeTableEnum.list)"
                           [class.is-active]="viewModeTableEnum.list === (viewModeTableEnumObs | async)"
                           [solidifyDataTest]="dataTestEnum.homeButtonViewList"
                           [iconName]="iconNameEnum.listView"
                           [matTooltip]="labelTranslateEnum.listView | translate"
                           class="icon"
            ></solidify-icon>
            <solidify-icon (click)="viewModeChange(viewModeTableEnum.tiles)"
                           [class.is-active]="viewModeTableEnum.tiles === (viewModeTableEnumObs | async)"
                           [solidifyDataTest]="dataTestEnum.homeButtonViewTile"
                           [iconName]="iconNameEnum.tilesView"
                           [matTooltip]="labelTranslateEnum.tilesView | translate"
                           class="icon"
            ></solidify-icon>
          </div>
        </div>
      </div>

      <div class="toolbar-right-part">
        <button [matTooltipPosition]="'left'"
                [matTooltip]="labelTranslateEnum.share | translate"
                (click)="share()"
                class="button"
                mat-icon-button
        >
          <solidify-icon [iconName]="iconNameEnum.share"
                         class="size-18"
          ></solidify-icon>
        </button>
        <aou-home-generate-bibliography-button-container *ngIf="isAlreadySavedSearch"
                                                         [storedSearches]="[searchStored]"
                                                         [iconMode]="true"
                                                         class="button"
        >
        </aou-home-generate-bibliography-button-container>
      </div>
    </div>
    <ng-template [ngIf]="(listAdvancedSearchCriteriaObs | async) | isNonEmptyArray">

      <aou-advanced-search #advancedSearchPresentational
                           [advancedSearchInit]="advancedSearchObs | async"
                           [listCriterias]="listAdvancedSearchCriteriaObs | async"
                           (searchChange)="advancedSearch($event)"
      ></aou-advanced-search>

      <div *ngIf="(isLoggedInObs | async | isTrue)
                && (
                  (searchObs | async | isNotNullNorUndefinedNorWhiteString)
                  || mappingObjectUtil.size(advancedSearchObs | async) > 0
                  || mappingObjectUtil.size(facetsSelectedObs | async) > 0
                )"
           class="button-wrapper"
           [class.with-update]="isAlreadySavedSearch"
      >
        <button mat-button
                color="primary"
                [disabled]="advancedSearchPresentational.formArray.invalid"
                (click)="saveSearch()"
        >
          <solidify-icon [iconName]="iconNameEnum.save"></solidify-icon>
          {{(isAlreadySavedSearch ? labelTranslateEnum.saveAsNewSearch : labelTranslateEnum.saveSearch) | translate}}
        </button>

        <button *ngIf="isAlreadySavedSearch"
                mat-button
                color="primary"
                [disabled]="advancedSearchPresentational.formArray.invalid || !isStoredSearchModified"
                (click)="updateSearch()"
        >
          <solidify-icon [iconName]="iconNameEnum.update"></solidify-icon>
          {{labelTranslateEnum.updateSearch | translate}}
        </button>

        <button *ngIf="isAlreadySavedSearch"
                mat-button
                color="primary"
                [disabled]="advancedSearchPresentational.formArray.invalid || isStoredSearchModified"
                [matTooltip]="isStoredSearchModified ? (tooltipTranslateEnum.advancedSearchGenerateBibliographyDisabled | translate): null"
                (click)="navigateToBibliography()"
        >
          <solidify-icon [iconName]="iconNameEnum.reindex"></solidify-icon>
          {{labelTranslateEnum.generateBibliography | translate}}
        </button>
      </div>
    </ng-template>
  </div>
  <div [solidifySpinner]="(isLoadingObs | async)"
       class="wrapper"
  >
    <ng-template [ngIf]="(viewModeTableEnumObs | async) === viewModeTableEnum.list">
      <solidify-data-table *ngIf="(listObs | async)?.length > 0"
                           [actions]="actions"
                           [columns]="columns"
                           [data]="listObs | async"
                           [solidifyDataTest]="dataTestEnum.homeDataTableSearch"
                           [focusFirstElement]="false"
                           [isLoading]="isLoadingObs | async"
                           [queryParameters]="queryParametersObs | async"
                           [skipInitialQuery]="true"
                           [stickyTopPosition]="0"
                           [displayActionCopyIdToClipboard]="true"
                           (queryParametersChange)="onQueryParametersEvent($event)"
                           (selectChange)="showDetail($event)"
      ></solidify-data-table>
    </ng-template>

    <div *ngIf="(viewModeTableEnumObs | async) === viewModeTableEnum.tiles"
         class="tile-view"
    >
      <div *ngIf="(queryParametersObs | async) as queryParameters"
           class="paginator-container"
      >
        <solidify-paginator #paginator
                            (pageChange)="pageChange($event)"
                            *ngIf="queryParameters && (listObs | async)?.length > 0"
                            [pagingModel]="queryParameters.paging"
                            class="paginator"
        >
        </solidify-paginator>
      </div>
      <div class="tiles-container">
        <aou-home-deposit-tile *ngFor="let publishedDeposit of (listObs | async)"
                               [publishedDeposit]="publishedDeposit"
                               [solidifyDataTest]="dataTestEnum.homeTile"
                               [isNotLogged]="isLoggedInObs | async | isFalsy"
                               (selectChange)="showDetail($event)"
                               mode="home-tiles"
        ></aou-home-deposit-tile>
      </div>
    </div>
    <div *ngIf="(isLoadingObs | async | isFalsy) && (listObs | async)?.length === 0 && !(searchObs | async | isNullOrUndefined) && (searchObs | async |
  isNonEmptyString)"
         class="no-result-container"
    >
      <div class="text-icon">
        <solidify-icon [iconName]="iconNameEnum.archive"
                       class="icon size-30"
        ></solidify-icon>
        <span class="text">{{'home.noResultToDisplay' | translate}}</span>
      </div>
    </div>
  </div>
</div>
