<ng-container *ngIf="getPath(formDefinition.text) as fieldPath">
  <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
    <ng-container *ngIf="getFormControlInCurrentFormGroup(formDefinition.text) as fd">
      <solidify-rich-text-editor *ngIf="isRichText; else standard"
                                 [formControl]="fd"
                                 [label]="((depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | isNonEmptyString) ? depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) : labelToTranslate) | translate"
                                 [withWordCounter]="withWordCounter"
                                 [maxLength]="textareaMaxSize"
                                 [options]="richTextOptions"
                                 class="rich-text-editor"
      >
      </solidify-rich-text-editor>
      <ng-template #standard>
        <mat-form-field [appearance]="appearanceInputMaterial"
                        [floatLabel]="positionLabelInputMaterial"
                        [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                        [solidifyTooltip]="tooltipText"
                        class="mat-form-field"
                        solidifyTooltipOnEllipsis
        >
          <mat-label>{{((depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | isNonEmptyString) ? depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) : labelToTranslate) | translate}}</mat-label>
          <textarea *ngIf="isTextarea; else input"
                    #textAreaElement
                    [formControl]="fd"
                    [attr.maxLength]="(textareaMaxSize| isNumberReal) && textareaMaxSize > 0 ? textareaMaxSize : null"
                    [required]="formValidationHelper.hasRequiredField(fd)"
                    [solidifyValidation]="errors"
                    [cdkAutosizeMaxRows]="textareaMaxRows"
                    [cdkAutosizeMinRows]="textareaMinRows"
                    cdkTextareaAutosize
                    matInput
          >
        </textarea>
          <ng-template #input>
            <input #inputElement
                   [formControl]="fd"
                   [required]="formValidationHelper.hasRequiredField(fd)"
                   [solidifyValidation]="errors"
                   matInput
                   (keydown)="setInitialText(fd.value)"
                   [matAutocomplete]="auto"
            >
            <mat-autocomplete autoActiveFirstOption
                              #auto="matAutocomplete"
                              (optionsScroll)="loadNextChunk()"
                              (optionSelected)="autocompleteOptionSelected($event)"
            >
              <mat-option *ngFor="let option of (filteredOptionsObs | async)"
                          [value]="option"
              >
                {{filteredOptionsCallbackLabel(option)}}
              </mat-option>
            </mat-autocomplete>
            <div *ngIf="(filteredOptionsIsLoadingObs | async) as isLoading"
                 class="spinner-box"
            >
              <div [solidifySpinner]="isLoading"
                   [solidifySpinnerStrokeWidth]="2"
                   [solidifySpinnerDiameter]="24"
                   class="spinner-wrapper"
              ></div>
            </div>
          </ng-template>
          <mat-error #errors
                     solidifyTooltipOnEllipsis
          ></mat-error>
          <mat-hint *ngIf="withWordCounter | isTrue"
                    class="word-counter"
          >{{numberWords}} {{labelTranslateEnum.words | translate}}
          </mat-hint>
          <mat-hint *ngIf="displayInitialText && (initialText | isNotNullNorUndefinedNorWhiteString)">{{initialText}}</mat-hint>
          <ng-container *ngIf="(hintTextToTranslate | translate) as text">
            <mat-hint *ngIf="text | isNotNullNorUndefinedNorWhiteString">{{text}}</mat-hint>
          </ng-container>
        </mat-form-field>
      </ng-template>
    </ng-container>
  </ng-template>
</ng-container>

<ng-template [ngIf]="!hideLanguage">
  <ng-container *ngIf="getPath(formDefinition.lang) as fieldPath">
    <ng-template [ngIf]="depositFormRuleHelper.shouldDisplayField(mainFormGroup, fieldPath)">
      <mat-form-field *ngIf="getFormControlInCurrentFormGroup(formDefinition.lang) as fd"
                      [appearance]="appearanceInputMaterial"
                      [floatLabel]="positionLabelInputMaterial"
                      [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
                      [solidifyTooltip]="tooltipLanguage"
                      class="language"
                      solidifyTooltipOnEllipsis
      >
        <mat-label>{{depositFormRuleHelper.getLabel(mainFormGroup, fieldPath) | translate}}</mat-label>
        <mat-select [formControl]="fd"
                    [required]="formValidationHelper.hasRequiredField(fd)"
                    [solidifyValidation]="errors"
        >
          <mat-option *ngIf="isMandatoryLanguage | isFalse"></mat-option>
          <mat-option *ngFor="let language of listLanguages"
                      [value]="language.resId"
          >
            {{language.labels | backtranslate}}
          </mat-option>
        </mat-select>
        <mat-error #errors
                   solidifyTooltipOnEllipsis
        ></mat-error>
      </mat-form-field>
    </ng-template>
  </ng-container>
</ng-template>
