@import "abstracts/abstracts";

:host {
  display: grid;
  grid-template-columns: 2fr $width-field-small;
  grid-gap: 20px;

  .mat-form-field {
    .spinner-box {
      display: none;
    }

    &.mat-focused {
      position: relative;

      .spinner-box {
        position: absolute;
        right: 0;
        top: 18px;
        display: block;
        width: 25px;
        height: 25px;
      }
    }

    .word-counter {
      margin-left: -12px;
    }
  }

  .language {
    display: block;
  }
}

:host(.hide-language) {
  grid-template-columns: 1fr;
}
