<div class="main"
     *ngIf="publishedDeposit | isNotNullNorUndefined"
>
  <div class="left-part">
    <div class="tags">
      <div class="tags-left-part">
        <div class="type">{{subtypeToTranslate | translate}}</div>
        <div class="type"
             *ngIf="subSubtypeToTranslate | isNotNullNorUndefinedNorWhiteString"
        >{{subSubtypeToTranslate | translate}}
        </div>
        <img *ngIf="isOpenAccess"
             src="assets/images/open-access-badge.svg"
             class="open-access-level"
             [alt]="labelTranslateEnum.openAccess | translate"
        >
      </div>
      <div class="tags-right-part">
        <div *ngFor="let language of publishedDeposit.languages"
             class="language"
        >{{translateLanguage(language) | translate}}
        </div>
        <div *ngIf="publishedDeposit.award | isNotNullNorUndefinedNorWhiteString"
             [matTooltip]="(labelTranslateEnum.award | translate) + ': ' + publishedDeposit.award"
             class="award-wrapper"
        >
          <solidify-icon [iconName]="iconNameEnum.award"
                         class="award"
          ></solidify-icon>
        </div>
      </div>

    </div>

    <div class="title-wrapper">
      <aou-home-pin-button-container [publishedDepositId]="publishedDeposit.resId"
                                     class="pin-button"
      ></aou-home-pin-button-container>
      <h1 class="title"
          [innerHTML]="publishedDeposit.title"
      ></h1>
    </div>

    <aou-home-icon-text *ngIf="publishedDeposit.originalTitle | isNotNullNorUndefinedNorWhiteString"
                        [icon]="iconNameEnum.otherTitle"
                        [labelToTranslate]="labelTranslateEnum.otherTitle"
                        [value]="publishedDeposit.originalTitle"
    ></aou-home-icon-text>

    <aou-home-contributors [contributors]="publishedDeposit.contributors"
                           [roles]="[roleContributorEnum.author]"
                           [includeCollaborations]="true"
                           [icon]="iconNameEnum.author"
                           [labelToTranslate]="labelTranslateEnum.contributors"
                           [showMoreButtonLabelWithNumberToTranslate]="labelTranslateEnum.showAllAuthorsWithTotal"
    ></aou-home-contributors>

    <aou-home-icon-text *ngIf="publishedDeposit.mandator | isNotNullNorUndefinedNorWhiteString"
                        [icon]="iconNameEnum.mandator"
                        [labelToTranslate]="labelTranslateEnum.mandator"
                        [value]="publishedDeposit.mandator"
    ></aou-home-icon-text>

    <aou-home-contributors [contributors]="publishedDeposit.contributors"
                           [roles]="[roleContributorEnum.director]"
                           [icon]="iconNameEnum.director"
                           [labelToTranslate]="labelTranslateEnum.directors"
                           [showMoreButtonLabelWithNumberToTranslate]="labelTranslateEnum.showAllDirectorsWithTotal"
    ></aou-home-contributors>

    <aou-home-contributors [contributors]="publishedDeposit.contributors"
                           [roles]="[roleContributorEnum.editor]"
                           [icon]="iconNameEnum.editor"
                           [labelToTranslate]="labelTranslateEnum.editors"
                           [showMoreButtonLabelWithNumberToTranslate]="labelTranslateEnum.showAllEditorsWithTotal"
    ></aou-home-contributors>

    <aou-home-contributors [contributors]="publishedDeposit.contributors"
                           [roles]="[roleContributorEnum.guest_editor]"
                           [icon]="iconNameEnum.guest_editor"
                           [labelToTranslate]="labelTranslateEnum.guestEditors"
                           [showMoreButtonLabelWithNumberToTranslate]="labelTranslateEnum.showAllGuestEditorsWithTotal"
    ></aou-home-contributors>

    <aou-home-contributors [contributors]="publishedDeposit.contributors"
                           [roles]="[roleContributorEnum.photographer]"
                           [icon]="iconNameEnum.photographer"
                           [labelToTranslate]="labelTranslateEnum.photographers"
                           [showMoreButtonLabelWithNumberToTranslate]="labelTranslateEnum.showAllPhotographersWithTotal"
    ></aou-home-contributors>

    <aou-home-contributors [contributors]="publishedDeposit.contributors"
                           [roles]="[roleContributorEnum.translator]"
                           [icon]="iconNameEnum.translator"
                           [labelToTranslate]="labelTranslateEnum.translators"
                           [showMoreButtonLabelWithNumberToTranslate]="labelTranslateEnum.showAllTranslatorsWithTotal"
    ></aou-home-contributors>

    <aou-home-contributors [contributors]="publishedDeposit.contributors"
                           [roles]="[roleContributorEnum.collaborator]"
                           [icon]="iconNameEnum.collaboration"
                           [labelToTranslate]="labelTranslateEnum.membersOfACollaboration"
                           [showMoreButtonLabelWithNumberToTranslate]="labelTranslateEnum.showAllCollaboratorsWithTotal"
    ></aou-home-contributors>

    <aou-home-special-info [publishedDeposit]="publishedDeposit"
    ></aou-home-special-info>

    <aou-home-icon-text *ngIf="(publishedDeposit.publisherPlace | isNotNullNorUndefinedNorWhiteString) || (publishedDeposit.publisherName | isNotNullNorUndefinedNorWhiteString)"
                        [icon]="iconNameEnum.publisher"
                        [labelToTranslate]="labelTranslateEnum.publisher"
                        [value]="publisherInfo"
    ></aou-home-icon-text>

    <aou-home-icon-text *ngIf="publishedDeposit.edition | isNotNullNorUndefinedNorWhiteString"
                        [icon]="iconNameEnum.edition"
                        [labelToTranslate]="labelTranslateEnum.edition"
                        [value]="publishedDeposit.edition"
    ></aou-home-icon-text>

    <aou-home-icon-text *ngIf="collectionInfo | isNonEmptyArray"
                        [icon]="iconNameEnum.collection"
                        [labelToTranslate]="labelTranslateEnum.collection"
                        [value]="collectionInfo"
    ></aou-home-icon-text>

    <aou-home-icon-text *ngIf="publishedDeposit.discipline | isNotNullNorUndefinedNorWhiteString"
                        [icon]="iconNameEnum.discipline"
                        [labelToTranslate]="labelTranslateEnum.discipline"
                        [value]="publishedDeposit.discipline"
    ></aou-home-icon-text>

    <ng-container *ngFor="let correction of publishedDeposit.corrections">
      <aou-home-icon-text [icon]="iconNameEnum.correction"
                          [labelToTranslate]="labelTranslateEnum.corrections"
                          [value]="correctionValue"
      ></aou-home-icon-text>

      <ng-template #correctionValue>
        <ul>
          <li *ngIf="correction.note | isNotNullNorUndefinedNorWhiteString">{{correction.note}}</li>
          <li *ngIf="correction.doi | isNotNullNorUndefinedNorWhiteString">
            <span>DOI : </span>
            <a class="name"
               target="_blank"
               [href]="environment.doiWebsite + correction.doi"
            >{{correction.doi}}</a>
          </li>
          <li *ngIf="correction.pmid | isNotNullNorUndefinedNorWhiteString">
            <span>PMID : </span>
            <a class="name"
               target="_blank"
               [href]="environment.pmidWebsite + correction.pmid"
            >{{correction.pmid}}</a>
          </li>
        </ul>
      </ng-template>
    </ng-container>

    <div class="dates">
      <aou-home-date [dates]="publishedDeposit.dates"
                     [type]="dateTypesEnum.PUBLICATION"
                     [publishedDeposit]="publishedDeposit"
      ></aou-home-date>

      <aou-home-date [dates]="publishedDeposit.dates"
                     [type]="dateTypesEnum.FIRST_ONLINE"
                     [publishedDeposit]="publishedDeposit"
      ></aou-home-date>

      <aou-home-date [dates]="publishedDeposit.dates"
                     [type]="dateTypesEnum.IMPRIMATUR"
                     [publishedDeposit]="publishedDeposit"
      ></aou-home-date>

      <aou-home-date [dates]="publishedDeposit.dates"
                     [type]="dateTypesEnum.DEFENSE"
                     [publishedDeposit]="publishedDeposit"
      ></aou-home-date>
    </div>

    <div *ngIf="(currentAbstract | isNotNullNorUndefined) || (publishedDeposit.thumbnail | isNotNullNorUndefined)"
         class="thumbnail-abstract"
         [class.with-thumbnail]="(publishedDeposit.thumbnail | isNotNullNorUndefined)"
    >
      <solidify-image-display *ngIf="(publishedDeposit.thumbnail | isNotNullNorUndefined)"
                              [image]="imageArchive"
                              [mode]="imageDisplayModeEnum.IN_CONTRIBUTOR"
                              class="image-wrapper"
      ></solidify-image-display>

      <div class="abstract-wrapper">
        <div class="label">{{labelTranslateEnum.abstract | translate}}</div>

        <aou-home-icon-text *ngIf="currentAbstract | isNotNullNorUndefined"
                            [value]="abstract"
                            [isLabelAboveValue]="true"
                            [displayButtonShowMore]="true"
                            [limitHeightShowPx]="280"
                            [limitHeightMinusShowPx]="15"
        ></aou-home-icon-text>

        <ng-template #abstract>
          <h2 *ngIf="currentAbstract | isNotNullNorUndefined"
              [innerHTML]="currentAbstract.content"
              class="abstract"
          >
          </h2>
        </ng-template>

        <aou-shared-language-select [listAllLanguages]="listAllLanguages"
                                    [listOtherLanguages]="listOtherLanguages"
                                    [currentLanguage]="currentAbstract?.language"
                                    (languageChange)="switchToLanguage($event)"
                                    class="languages"
        ></aou-shared-language-select>
      </div>
    </div>

    <aou-home-icon-text *ngIf="publishedDeposit.keywords | isNonEmptyArray"
                        [icon]="iconNameEnum.keyword"
                        [labelToTranslate]="labelTranslateEnum.keywords"
                        [value]="keywordValues"
                        [displayButtonShowMore]="true"
                        [limitHeightShowPx]="28"
                        class="keywords"
    ></aou-home-icon-text>

    <ng-template #keywordValues>
      <ul class="keywords">
        <li *ngFor="let keyword of publishedDeposit.keywords; let i = index">
          <span *ngIf="keywordLinks | isNonEmptyArray; else noLink"
                [routerLink]="'/' + keywordLinks[i].path"
                [queryParams]="keywordLinks[i].queryParams"
          >
            {{keyword}}
          </span>
          <ng-template #noLink>{{keyword}}</ng-template>
        </li>
      </ul>
    </ng-template>

    <aou-home-icon-text *ngIf="classificationsWithoutDewey | isNonEmptyArray"
                        [icon]="iconNameEnum.classification"
                        [labelToTranslate]="labelTranslateEnum.classification | translate"
                        [value]="classificationsWithoutDewey"
                        [displayButtonShowMore]="true"
                        [limitHeightShowPx]="30"
                        class="classifications"
    ></aou-home-icon-text>

    <aou-home-icon-text *ngIf="publishedDeposit.note | isNotNullNorUndefined"
                        [icon]="iconNameEnum.note"
                        [labelToTranslate]="labelTranslateEnum.note"
                        [value]="publishedDeposit.note"
    ></aou-home-icon-text>

    <aou-home-icon-text [icon]="iconNameEnum.structures"
                        [labelToTranslate]="labelTranslateEnum.structures"
                        [value]="structureValues"
    >
    </aou-home-icon-text>

    <ng-template #structureValues>
      <aou-home-publication-structure-list-container [structures]="publishedDeposit.structures"
                                                     [structuresWithParentsIds]="publishedDeposit.structuresWithParentsIds"
                                                     [structuresWithParentsNames]="publishedDeposit.structuresWithParentsNames"
      ></aou-home-publication-structure-list-container>
    </ng-template>

    <aou-home-icon-text *ngIf="publishedDeposit.researchGroups | isNonEmptyArray"
                        [icon]="iconNameEnum.researchGroup"
                        [labelToTranslate]="labelTranslateEnum.researchGroups"
                        [value]="researchGroupValues"
    ></aou-home-icon-text>

    <ng-template #researchGroupValues>
      <aou-home-research-group-list-container [displayTitle]="false"
                                              [researchGroups]="publishedDeposit.researchGroups"
      ></aou-home-research-group-list-container>
    </ng-template>

    <aou-home-icon-text *ngIf="publishedDeposit.fundings | isNonEmptyArray"
                        [icon]="iconNameEnum.fundingAgencies"
                        [labelToTranslate]="labelTranslateEnum.funding"
                        [value]="fundingsValues"
    ></aou-home-icon-text>

    <ng-template #fundingsValues>
      <ul class="fundings">
        <li *ngFor="let funding of publishedDeposit.fundings; let i = index;">
          <a *ngIf="funding.funder === environment.fundingSnsfName && (funding.code | isNotNullNorUndefinedNorWhiteString); else notSnsfFunding"
             [href]="environment.snsfWebsiteId + funding.code"
             target="_blank"
          >
            <ng-template *ngTemplateOutlet="fundingComponent; context: {funding: funding}"></ng-template>
          </a>
          <ng-template #notSnsfFunding>
            <ng-template *ngTemplateOutlet="fundingComponent; context: {funding: funding}"></ng-template>
          </ng-template>
        </li>
      </ul>
    </ng-template>

    <aou-home-citation [listCitations]="listCitations"></aou-home-citation>

    <div class="buttons">
      <div class="left-button">
        <button (click)="contactAuthor()"
                (onEnter)="contactAuthor()"
                color="primary"
                mat-button
                solidifyShortCuts
        >
          <solidify-icon [iconName]="iconNameEnum.mail"></solidify-icon>
          {{labelTranslateEnum.contactAuthor | translate}}
        </button>

        <button (click)="askCorrection()"
                (onEnter)="askCorrection()"
                color="primary"
                mat-button
                solidifyShortCuts
        >
          <solidify-icon [iconName]="iconNameEnum.requestCorrection"></solidify-icon>
          {{labelTranslateEnum.requestACorrection | translate}}
        </button>

        <button *ngIf="isLoggedIn && (isCreatorOrContributorOrValidator || isAdminOrRoot)"
                (click)="update()"
                (onEnter)="update()"
                color="primary"
                mat-button
                solidifyShortCuts
        >
          <solidify-icon [iconName]="iconNameEnum.edit"></solidify-icon>
          {{labelTranslateEnum.update | translate}}
        </button>

        <button *ngIf="displaySendToOrcid"
                (click)="sendToOrcid()"
                (onEnter)="sendToOrcid()"
                color="primary"
                mat-button
                solidifyShortCuts
        >
          <solidify-icon [iconName]="iconNameEnum.uploadFile"></solidify-icon>
          {{labelTranslateEnum.sendToOrcid | translate}}
        </button>

        <a *ngIf="displaySeeDeposit"
           [routerLink]="depositPath"
           color="primary"
           mat-button
           solidifyShortCuts
        >
          <solidify-icon [iconName]="iconNameEnum.deposit"></solidify-icon>
          {{labelTranslateEnum.seeDeposit | translate}}
        </a>
      </div>

      <div class="buttons-wrapper">
        <button color="primary"
                mat-button
                solidifyShortCuts
                class="share-button"
                [matMenuTriggerFor]="menu"
        >
          <solidify-icon [iconName]="iconNameEnum.share"></solidify-icon>
          {{labelTranslateEnum.share | translate}}
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item
                  solidifyShortCuts
                  (click)="shareFacebook()"
                  (onEnter)="shareFacebook()"
          >
            <solidify-icon [iconName]="iconNameEnum.facebook"
                           ngProjectAs="mat-icon"
            ></solidify-icon>
            <span>Facebook</span>
          </button>
          <button mat-menu-item
                  solidifyShortCuts
                  (click)="shareTwitter()"
                  (onEnter)="shareTwitter()"
          >
            <solidify-icon [iconName]="iconNameEnum.twitter"
                           ngProjectAs="mat-icon"
            ></solidify-icon>
            <span>Twitter</span>
          </button>
          <button mat-menu-item
                  solidifyShortCuts
                  (click)="shareLinkedin()"
                  (onEnter)="shareLinkedin()"
          >
            <solidify-icon [iconName]="iconNameEnum.linkedin"
                           ngProjectAs="mat-icon"
            ></solidify-icon>
            <span>Linkedin</span>
          </button>
          <button mat-menu-item
                  solidifyShortCuts
                  (click)="shareEmail()"
                  (onEnter)="shareEmail()"
          >
            <solidify-icon [iconName]="iconNameEnum.mail"
                           ngProjectAs="mat-icon"
            ></solidify-icon>
            <span>{{labelTranslateEnum.email | translate}}</span>
          </button>
        </mat-menu>

        <solidify-button-id [resource]="publishedDeposit"></solidify-button-id>
      </div>
    </div>

  </div>

  <div class="right-part">
    <div class="complementary-info">

      <aou-home-files #principalFiles
                      [files]="publishedDeposit.files"
                      [fileTypeLevel]="fileTypeLevelEnum.PRINCIPAL"
                      [displayHelp]="true"
                      [isUserUnigeOrHug]="isUserUnigeOrHug"
                      [listUserRoleEnum]="listUserRoleEnum"
                      [isLoggedIn]="isLoggedIn"
                      (downloadChange)="download($event)"
                      (loginChange)="login($event)"
                      (previewChange)="preview($event)"
      ></aou-home-files>

      <aou-home-files #secondaryFiles
                      [files]="publishedDeposit.files"
                      [fileTypeLevel]="fileTypeLevelEnum.SECONDARY"
                      [displayHelp]="principalFiles?.listFiles | isNullOrUndefinedOrEmptyArray"
                      [isOpen]="principalFiles?.listFiles | isNullOrUndefinedOrEmptyArray"
                      [isUserUnigeOrHug]="isUserUnigeOrHug"
                      [listUserRoleEnum]="listUserRoleEnum"
                      [isLoggedIn]="isLoggedIn"
                      (downloadChange)="download($event)"
                      (loginChange)="login($event)"
                      (previewChange)="preview($event)"
      ></aou-home-files>

      <aou-home-files [files]="publishedDeposit.files"
                      [fileTypeLevel]="fileTypeLevelEnum.CORRECTIVE"
                      [displayHelp]="(principalFiles?.listFiles | isNullOrUndefinedOrEmptyArray) && (secondaryFiles?.listFiles | isNullOrUndefinedOrEmptyArray)"
                      [isUserUnigeOrHug]="isUserUnigeOrHug"
                      [listUserRoleEnum]="listUserRoleEnum"
                      [isLoggedIn]="isLoggedIn"
                      (downloadChange)="download($event)"
                      (loginChange)="login($event)"
                      (previewChange)="preview($event)"
      ></aou-home-files>

      <aou-home-icon-text *ngIf="(publishedDeposit.archiveId | isNotNullNorUndefinedNorWhiteString)
                || (publishedDeposit.doi | isNotNullNorUndefinedNorWhiteString)
                || (publishedDeposit.pmid | isNotNullNorUndefinedNorWhiteString)
                || (publishedDeposit.pmcid | isNotNullNorUndefinedNorWhiteString)
                || (publishedDeposit.arxiv | isNotNullNorUndefinedNorWhiteString)
                || (publishedDeposit.urn | isNotNullNorUndefinedNorWhiteString)
                || (publishedDeposit.localNumber | isNotNullNorUndefinedNorWhiteString)"
                          [labelToTranslate]="labelTranslateEnum.identifiers"
                          [icon]="iconNameEnum.identifiers"
                          [value]="identifierValues"
                          [isLabelAboveValue]="true"
      ></aou-home-icon-text>

      <ng-template #identifierValues>
        <ul class="list-identifiers">
          <li *ngIf="(publishedDeposit.archiveId | isNotNullNorUndefinedNorWhiteString)">
            <span>PID : {{publishedDeposit.archiveId}}</span>
          </li>
          <li *ngIf="(publishedDeposit.doi | isNotNullNorUndefinedNorWhiteString)">
            <span>DOI : </span>
            <a class="name"
               target="_blank"
               [href]="environment.doiWebsite + publishedDeposit.doi"
            >{{publishedDeposit.doi}}</a>
          </li>
          <li *ngIf="(publishedDeposit.pmid | isNotNullNorUndefined)">
            <span>PMID : </span>
            <a class="name"
               target="_blank"
               [href]="environment.pmidWebsite + publishedDeposit.pmid"
            >{{publishedDeposit.pmid}}</a>
          </li>
          <li *ngIf="(publishedDeposit.pmcid | isNotNullNorUndefinedNorWhiteString)">
            <span>PMCID : </span>
            <a class="name"
               target="_blank"
               [href]="environment.pmcidWebsiteId + publishedDeposit.pmcid"
            >{{publishedDeposit.pmcid}}</a>
          </li>
          <li *ngIf="(publishedDeposit.arxiv | isNotNullNorUndefinedNorWhiteString)">
            <span>arXiv : </span>
            <a class="name"
               target="_blank"
               [href]="environment.arxivWebsiteId + publishedDeposit.arxiv"
            >{{publishedDeposit.arxiv}}</a>
          </li>
          <li *ngIf="(publishedDeposit.urn | isNotNullNorUndefinedNorWhiteString)">
            <span>URN : {{publishedDeposit.urn}}</span>
          </li>
          <li *ngIf="(publishedDeposit.dblp | isNotNullNorUndefinedNorWhiteString)">
            <span>DBLP : {{publishedDeposit.dblp}}</span>
          </li>
          <li *ngIf="(publishedDeposit.localNumber | isNotNullNorUndefinedNorWhiteString)">
            <span>{{localNumberToTranslate | translate}} : {{publishedDeposit.localNumber}}</span>
          </li>
        </ul>
      </ng-template>

      <aou-home-icon-text *ngIf="publishedDeposit.publisherVersionUrl | isNotNullNorUndefined"
                          [labelToTranslate]="labelTranslateEnum.commercialUrl"
                          [icon]="iconNameEnum.externalLink"
                          [value]="publishedDeposit.publisherVersionUrl"
                          [isLink]="true"
                          [isLabelAboveValue]="true"
                          [truncateValue]="true"
      ></aou-home-icon-text>

      <aou-home-icon-text *ngIf="publishedDeposit.datasets | isNonEmptyArray"
                          [labelToTranslate]="labelTranslateEnum.datasets"
                          [icon]="iconNameEnum.datasets"
                          [value]="publishedDeposit.datasets"
                          [isLink]="true"
                          [isLabelAboveValue]="true"
                          [truncateValue]="true"
      ></aou-home-icon-text>

      <aou-home-icon-text *ngIf="publishedDeposit.issn | isNotNullNorUndefined"
                          [labelToTranslate]="labelTranslateEnum.issnOfTheJournal"
                          [icon]="iconNameEnum.identifiers"
                          [value]="publishedDeposit.issn"
                          [isLabelAboveValue]="true"
      ></aou-home-icon-text>

      <aou-home-icon-text *ngIf="publishedDeposit.isbn | isNotNullNorUndefined"
                          [labelToTranslate]="labelTranslateEnum.isbn"
                          [icon]="iconNameEnum.identifiers"
                          [value]="publishedDeposit.isbn"
                          [isLabelAboveValue]="true"
      ></aou-home-icon-text>

      <!-- TODO INTERNAL LINK when present on deposit -->
      <!-- TODO EXTERNAL LINK when present on deposit -->

      <div class="statistics">
        <div [matTooltipPosition]="'above'"
             [matTooltip]="labelTranslateEnum.viewNumber | translate"
             class="view-number"
        >
          <solidify-icon [iconName]="iconNameEnum.viewNumber"
                         class="icon"
          ></solidify-icon>
          <span class="text">{{publicationStatistics?.viewNumber ?? 0}}</span>
          <span>{{labelTranslateEnum.views | translate | lowercase}}</span>
        </div>
        <div [matTooltipPosition]="'above'"
             [matTooltip]="labelTranslateEnum.downloadNumber | translate"
             class="download-number"
        >
          <solidify-icon [iconName]="iconNameEnum.downloadNumber"
                         class="icon"
          ></solidify-icon>
          <span class="text">{{publicationStatistics?.downloadNumber ?? 0}}</span>
          <span>{{labelTranslateEnum.downloads | translate | lowercase}}</span>
        </div>
      </div>

    </div>

  </div>
</div>

<solidify-panel-expandable *ngIf="(publishedDeposit | isNotNullNorUndefined) && publishedDeposit.technicalInfos"
                           [titleToTranslate]="labelTranslateEnum.technicalInformations | translate"
                           [isOpen]="true"
                           class="technical-infos"
>
  <div class="content">
    <aou-home-icon-text *ngIf="publishedDeposit.technicalInfos.creationTime | isNotNullNorUndefined"
                        [labelToTranslate]="labelTranslateEnum.creation | translate"
                        [value]="$any(publishedDeposit.technicalInfos.creationTime) | datetime"
    ></aou-home-icon-text>

    <aou-home-icon-text *ngIf="publishedDeposit.technicalInfos.firstValidation | isNotNullNorUndefined"
                        [labelToTranslate]="labelTranslateEnum.firstValidation | translate"
                        [value]="$any(publishedDeposit.technicalInfos.firstValidation) | datetime"
    ></aou-home-icon-text>

    <aou-home-icon-text *ngIf="publishedDeposit.technicalInfos.updateTime | isNotNullNorUndefined"
                        [labelToTranslate]="labelTranslateEnum.updateTime | translate"
                        [value]="$any(publishedDeposit.technicalInfos.updateTime) | datetime"
    ></aou-home-icon-text>

    <aou-home-icon-text *ngIf="publishedDeposit.technicalInfos.lastStatusUpdate | isNotNullNorUndefined"
                        [labelToTranslate]="labelTranslateEnum.lastStatusUpdate | translate"
                        [value]="$any(publishedDeposit.technicalInfos.lastStatusUpdate) | datetime"
    ></aou-home-icon-text>

    <aou-home-icon-text *ngIf="publishedDeposit.technicalInfos.lastIndexationDate | isNotNullNorUndefined"
                        [labelToTranslate]="labelTranslateEnum.lastIndexation | translate"
                        [value]="$any(publishedDeposit.technicalInfos.lastIndexationDate) | datetime"
    ></aou-home-icon-text>
  </div>
</solidify-panel-expandable>

<ng-template #fundingComponent
             let-f="funding"
>
  <ng-container *ngIf="typeIntoDepositFormFunding(f) as funding">
  <span *ngIf="funding.funder | isNotNullNorUndefinedNorWhiteString"
        class="funder"
  >{{funding.funder}} - </span>

    <span *ngIf="funding.program | isNotNullNorUndefinedNorWhiteString"
          class="program"
    >{{funding.program}} </span>

    <span *ngIf="funding.name | isNotNullNorUndefinedNorWhiteString"
          class="name"
    >{{funding.name}} </span>

    <span *ngIf="funding.code | isNotNullNorUndefinedNorWhiteString"
          class="code"
    >[{{funding.code}}]</span>
  </ng-container>
</ng-template>
