@import "abstracts/abstracts";

$padding-bottom-desktop: 20px;

:host {
  .main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    margin-top: 10px;

    @include respond-to-smaller-than-breakpoint('md') {
      grid-template-columns: 1fr;
    }

    .left-part {
      position: relative;
      border-right: 1px solid $intermediate-grey;
      padding-right: 20px;

      @include respond-to-smaller-than-breakpoint('md') {
        border-right: none;
        padding-right: 0;
      }

      .tags {
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .tags-left-part,
        .tags-right-part {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .tags-right-part {
          .award-wrapper {
            display: grid;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;

            .award {

            }
          }
        }

        .type,
        .language {
          background-color: $grey;
          color: $white;
          display: inline-block;
          border-radius: 3px;
          padding: 2px 8px;
        }

        .open-access-level {
          height: 24px;
        }

        .tags-left-part {
          .type {

          }
        }

        .tags-right-part {
          .language {
          }
        }
      }

      .title-wrapper {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: 10px;
        align-items: center;
        border-left: 3px solid $primary-color;
        padding: 6px 10px;
        margin: 15px 0;

        .pin-button {
          color: $primary-color;
        }

        .title {
          font-size: 18px;
          line-height: 25px;
          color: $black;
          font-weight: bold;
          margin: 0;
        }
      }

      .dates {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 20px;
      }

      .thumbnail-abstract {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        margin: 10px 0;

        &.with-thumbnail {
          grid-template-columns: max-content 1fr;
        }

        .image-wrapper {
          border: 1px solid $extra-light-grey;
        }

        .abstract-wrapper {
          border: 2px dashed $intermediate-grey;
          border-radius: 10px;
          padding: 15px;

          .label {
            color: $light-grey;
            font-size: 16px;
            padding-bottom: 8px;
          }

          .abstract {
            white-space: initial;
            margin: 0;
            font-size: 13px;
            line-height: 18px;
            overflow: hidden;

            ::ng-deep {
              p {
                margin: 0;
              }
            }
          }

          .languages {
            &::ng-deep {
              .current-language {
                border-radius: 0 10px 0 0;
              }
            }
          }

          &::ng-deep {
            .button-show-more-wrapper {
              margin: 5px 0px 0px 0px;
            }
          }
        }
      }

      .structures {
        > li {
        }
      }

      .keywords {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;

        > li {
          display: inline-block;
          border-radius: 4px;
          padding: 2px 8px;
          background: $intermediate-grey;
          font-size: 12px;
          cursor: pointer;

          &:hover {
            background: $medium-light-grey;
          }
        }

        &::ng-deep {
          .button-show-more-wrapper {
            margin: 5px 0px 10px 235px;
          }
        }
      }

      .classifications {
        &::ng-deep {
          .info {
            ul {
              display: flex;
              flex-wrap: wrap;
              gap: 6px;

              .list-value {
                display: inline-block;
                border-radius: 4px;
                padding: 2px 8px;
                background: $intermediate-grey;
                font-size: 12px;
              }
            }

            .value {
              padding: 0;
            }
          }

          .button-show-more-wrapper {
            margin: 5px 0px 10px 235px;
          }
        }
      }

      .fundings {
        > li {
          .funder {

          }

          .program {

          }

          .name {
            font-style: italic;
          }

          .code {
            font-size: 11px;
          }
        }
      }

      .buttons {
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        grid-gap: 10px;

        @include respond-to-smaller-than-breakpoint('md') {
          grid-template-columns: 1fr;
        }

        .left-button {
          display: grid;
          grid-auto-flow: column;
          grid-gap: 10px;
          align-items: center;

          @include respond-to-smaller-than-breakpoint('md') {

            grid-auto-flow: row;
          }
        }

        .buttons-wrapper {
          display: grid;
          grid-auto-flow: column;
          align-items: center;

          .share-button {
            border: none;
          }
        }
      }
    }

    .right-part {
      .identifiers {
        display: grid;
        grid-template-columns: 24px 1fr;
        grid-gap: 10px;
        align-items: start;
        padding: 5px 0;

        .values {
          .label {
            color: $light-grey;
          }
        }
      }

      .statistics {
        display: grid;
        grid-template-columns: max-content max-content;
        justify-content: center;
        align-items: center;
        border: 2px dashed $intermediate-grey;
        border-radius: 10px;
        grid-gap: 0 30px;
        margin-top: 30px;
        padding: 10px;

        .view-number,
        .download-number {
          display: grid;
          grid-template-columns: max-content max-content max-content;
          grid-gap: 8px;
          align-items: center;
          justify-content: center;
        }

        .icon {
          color: $light-grey;
        }

        .text {
          color: $primary-color;
          font-weight: bold;
        }
      }
    }
  }

  .technical-infos {
    margin-top: 20px;

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0 20px;

      @include respond-to-breakpoint('md') {
        grid-template-columns: 1fr 1fr;
      }

      @include respond-to-smaller-than-breakpoint('md') {
        grid-template-columns: 1fr;
      }
    }
  }
}

@include isInDarkMode {
  :host {
    .main {
      .left-part {
        border-color: $dark-mode-line;

        .title-wrapper {
          .title {
            color: $dark-mode-text-color;
          }
        }

        .thumbnail-abstract {
          .image-wrapper {
            border-color: $dark-mode-line;
          }

          .abstract-wrapper {
            border-color: $dark-mode-line;
          }
        }

        .keywords {
          > li {
            background: $dark-mode-line;

            &:hover {
              background-color: $dark-mode-menu-active;
            }
          }
        }

        .classifications {
          &::ng-deep {
            ul {
              .list-value {
                background: $grey;
              }
            }
          }
        }
      }

      .right-part {
        .statistics {
          border-color: $dark-mode-line;
        }
      }
    }
  }
}

