<solidify-empty-container [solidifyFocusFirstElement]="false"
                          solidifyShortCuts
                          (onEscape)="backToList()"
></solidify-empty-container>
<solidify-button-toolbar-detail *ngIf="mode"
                                [backToListNavigate]="backToListNavigate()"
                                [mode]="isImportFinished ? undefined : mode"
                                [listExtraButtons]="listExtraButtons"
                                [saveAvailable]="false"
>
</solidify-button-toolbar-detail>

<div class="wrapper">
  <aou-deposit-multiple-import #depositMultipleImportPresentational
                               [listResult]="listResultObs | async"
                               [isImportLaunched]="isImportLaunched"
                               (openDeposit)="openDeposit($event)"
  ></aou-deposit-multiple-import>
</div>
