<div *ngIf="isOpenedGuideSidebarObs | async"
     @sidebarAnimation
     class="guide-sidebar"
>
  <div class="header">
    <h2 class="title">{{title | translate}}</h2>
    <solidify-icon [iconName]="iconNameEnum.close"
                   class="close"
                   (click)="closeGuideSidebar()"
                   [matTooltip]="tooltipClose | translate"
    ></solidify-icon>
  </div>

  <div class="list"
       [innerHTML]="documentationObs | async"
  ></div>
</div>

<div *ngIf="isOpenedGuideSidebarObs | async"
     @backdropAnimation
     (click)="closeGuideSidebar()"
     class="backdrop-guide-sidebar"
>
</div>
