@import "abstracts/abstracts";

:host {
  display: flex;

  .guide-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    background: white;
    height: 100vh;
    z-index: $z-index-main-toolbar-userguide-sidebar;
    box-shadow: 0 8px 10px -4px #5858582e;
    overflow-y: auto;

    @include respond-to-smaller-than-breakpoint('md') {
      width: 100%;
    }

    .header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      align-items: center;

      .title {
        margin: 0;
        text-align: center;
        width: 100%;
      }
    }

    .close {
      cursor: pointer;
    }

    .list ::ng-deep {
      ul {
        &.sectlevel2 {
          a {
            padding: 0 20px;
          }
        }

        li {
          display: flex;
          flex-direction: column;

          a {
            line-height: 30px;
            font-size: 14px;
            color: $text-color;
            padding: 0 10px;
            @include truncate-with-ellipsis;

            &:hover {
              background-color: $extra-light-grey;
            }

            &:before {
              display: none;
            }
          }
        }
      }
    }
  }

  .backdrop-guide-sidebar {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
    background-color: $black;
    opacity: 0.75;
    top: 0;
    left: 0;
  }

}

:host(.hide) {
  display: none;
}

@include isInDarkMode {
  .guide-sidebar {
    background: $dark-mode-background;

    .list ::ng-deep {
      ul {
        li {
          a {
            color: $dark-mode-text-color;

            &:hover {
              background-color: $dark-mode-menu-active;
            }
          }
        }
      }
    }
  }
}
