@import "solidify-frontend/lib/application/components/routables/abstract-detail-edit-common/abstract-detail-edit-common.routable";

.current-user-admin {
  text-align: center;
  padding: 0 10px 20px;
  color: $warning;
  display: block;
}
