<solidify-empty-container (onEscape)="isEdit ? backToDetail() : backToList()"
                          [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
>
  <solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                  [mode]="isEdit ? 'edit' : 'detail'"
                                  [formPresentational]="formPresentational"
                                  [currentModel]="currentObs | async"
                                  [listExtraButtons]="listExtraButtons"
                                  (editChange)="edit()"
                                  (deleteChange)="delete()"
                                  (backToDetailChange)="backToDetail()"
  >
  </solidify-button-toolbar-detail>

  <div class="wrapper"
       [solidifySpinner]="isLoadingWithDependencyObs | async"
  >
    <aou-admin-user-form #formPresentational
                         *ngIf="isReadyToBeDisplayedObs | async"
                         [currentUser]="currentUserObs | async"
                         [model]="currentObs | async"
                         [listPersons]="listPersonObs | async"
                         [readonly]="!isEdit"
                         [editAvailable]="editAvailable"
                         [selectedStructure]="selectedStructureObs | async"
                         [selectedResearchGroup]="selectedResearchGroupObs | async"
                         [selectedRole]="selectedRoleObs | async"
                         [businessRoles]="businessRolesObs | async"
                         [selectedValidationRight]="selectedValidationRightObs | async"
                         (submitChange)="update($event)"
                         (checkAvailableChange)="checkAvailable($event)"
                         (dirtyChange)="updateCanDeactivate($event)"
                         (navigate)="navigate($event)"
                         (editChange)="edit()"
    ></aou-admin-user-form>
  </div>
</solidify-empty-container>
