<div *ngIf="!readonly && !formArray.disabled && getFormArrayControl?.length >= 2"
     class="button-wrapper"
>
  <button (click)="allUnigeMember()"
          (onEnter)="allUnigeMember()"
          color="primary"
          mat-button
          solidifyShortCuts
          type="button"
  >
    {{labelTranslateEnum.allUnige | translate}}
  </button>
  <button (click)="nobodyUnigeMember()"
          (onEnter)="nobodyUnigeMember()"
          color="primary"
          mat-button
          solidifyShortCuts
          type="button"
  >
    {{labelTranslateEnum.noneUnige | translate}}
  </button>
  <button *ngIf="mode === modeEnum.contributors && formArray.length >= MIN_CONTRIBUTOR_TO_DISPLAY_BUTTON_MOVE_UNIGE_MEMBER_TO_COLLABORATORS"
          (click)="changeAllContributorIntoCollaborator()"
          (onEnter)="changeAllContributorIntoCollaborator()"
          color="primary"
          mat-button
          solidifyShortCuts
          type="button"
  >
    {{labelTranslateEnum.moveUnigeMemberToCollaborators | translate}}
  </button>
</div>

<table aria-describedby="Contributors list of the publication">
  <thead>
  <tr>
    <th class="type">{{labelTranslateEnum.unigeMember | translate}}</th>
    <th class="orcid"></th>
    <th class="lastname">{{labelTranslateEnum.nameLabel | translate}}</th>
    <th class="firstname">{{labelTranslateEnum.firstName | translate}}</th>
    <th *ngIf="mode === modeEnum.contributors"
        class="function"
    >{{labelTranslateEnum.function | translate}}
    </th>
    <th *ngIf="!readonly"
        class="sort"
    ></th>
    <th *ngIf="!readonly"
        class="action"
    ></th>
    <th class="validation-status"></th>
  </tr>
  </thead>
  <tbody (cdkDropListDropped)="dropToSort($event)"
         cdkDropList
         [class.is-dragging]="isDragging"
  >
  <ng-container *ngFor="let f of getFormArrayControl; let i = index; trackBy: trackByFn">

    <div *cdkDragPreview>
      {{formValidationHelper.getFormControl(f, formDefinition.lastname).value}} {{formValidationHelper.getFormControl(f, formDefinition.firstname).value}}
    </div>

    <tr [class.grey]="i % 2 === 0"
        [class.is-unige]="formValidationHelper.getFormControl(f, formDefinition.cnIndividu)?.value | isNonEmptyString"
        [solidifyFormControlElementRef]="f"
        (cdkDragDropped)="refreshLastnameFirstnameInput()"
        (cdkDragEnded)="endDragging()"
        (cdkDragExited)="endDragging()"
        cdkDrag
        class="line-draggable"
    >
      <td *cdkDragPlaceholder
          class="drag-placeholder"
          [attr.colspan]="2 + (isCollaboration(f) ? 2 : 1) + (!isCollaboration(f) ? 1 : 0) + (mode === modeEnum.contributors ? 1 : 0) + (!readonly ? 2 : 0) + 1"
      ></td>

      <td class="member-cell">
        <ng-container *ngIf="formValidationHelper.getFormControl(f, formDefinition.type) as fd">
          <ng-template [ngIf]="fd.value === typeEnum.collaboration"
                       [ngIfElse]="person"
          >
            {{labelTranslateEnum.collaboration | translate}}
          </ng-template>
          <ng-template #person>
            <mat-slide-toggle [checked]="fd.value === typeEnum.unige"
                              (change)="toggleUnigeMember($event, fd, f)"
                              [solidifyTooltip]="tooltipTranslateEnum.depositContributorsType"
                              color="primary"
            >{{(fd.value === typeEnum.unige ? labelTranslateEnum.yes : labelTranslateEnum.no) | translate}}
            </mat-slide-toggle>
          </ng-template>
        </ng-container>
      </td>
      <td class="orcid-cell">
        <ng-container *ngIf="formValidationHelper.getFormControl(f, formDefinition.orcid) as fd">
          <solidify-icon *ngIf="fd.value | isNonEmptyString"
                         [iconName]="iconNameEnum.orcid"
                         [matTooltip]="fd.value"
                         (click)="goToOrcid(fd.value)"
                         class="size-16 orcid"
          >
          </solidify-icon>
        </ng-container>
      </td>
      <td [attr.colspan]="isCollaboration(f) ? 2 : 1"
          class="lastname-cell"
      >
        <ng-template [ngIf]="displayLastNameFirstName">
          <ng-container *ngIf="formValidationHelper.getFormControl(f, formDefinition.lastname) as fd">
            <mat-form-field [class.is-readonly]="formValidationHelper.getFormControl(f, formDefinition.cnIndividu)?.value | isNonEmptyString"
                            solidifyTooltipOnEllipsis
                            [appearance]="appearanceInputMaterial"
                            [solidifyTooltip]="isCollaboration(f) ? tooltipTranslateEnum.depositContributorsCollaborationName :
                          tooltipTranslateEnum.depositContributorsLastName"
                            [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
            >
              <!-- Use ng_model instead of form_control to avoid problem when delete then search and confirm unige member (see AOU-877)-->
              <input [readonly]="formValidationHelper.getFormControl(f, formDefinition.cnIndividu)?.value | isNonEmptyString"
                     [required]="formValidationHelper.hasRequiredField(fd)"
                     [placeholder]="(isCollaboration(f) ? labelTranslateEnum.collaborationName : labelTranslateEnum.lastName) | translate"
                     matInput
                     (ngModelChange)="fd.setValue($event)"
                     [ngModel]="fd.value"
              >

            </mat-form-field>
            <ng-container *ngIf="fd.errors?.[ERROR_FROM_BACKEND] as errors">
              <div *ngIf="errors | isNotNullNorUndefinedNorEmptyArray"
                   class="field-errors"
              >
                <mat-error *ngFor="let error of errors"
                           solidifyTooltipOnEllipsis
                >
                  {{error}}
                </mat-error>
              </div>
            </ng-container>
          </ng-container>
        </ng-template>
      </td>
      <td *ngIf="!isCollaboration(f)"
          class="firstname-cell"
      >
        <ng-template [ngIf]="displayLastNameFirstName">
          <ng-container *ngIf="formValidationHelper.getFormControl(f, formDefinition.firstname) as fd">
            <mat-form-field [class.is-readonly]="formValidationHelper.getFormControl(f, formDefinition.cnIndividu)?.value | isNonEmptyString"
                            solidifyTooltipOnEllipsis
                            [appearance]="appearanceInputMaterial"
                            [solidifyTooltip]="tooltipTranslateEnum.depositContributorsFirstName"
                            [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
            >
              <!-- Use ng_model instead of form_control to avoid problem when delete then search and confirm unige member (see AOU-877)-->
              <input [readonly]="formValidationHelper.getFormControl(f, formDefinition.cnIndividu)?.value | isNonEmptyString"
                     matInput
                     [placeholder]="labelTranslateEnum.firstName | translate"
                     (ngModelChange)="fd.setValue($event)"
                     [ngModel]="fd.value"
                     [solidifyValidation]="errors"
              >
              <mat-error #errors></mat-error>
            </mat-form-field>
            <ng-container *ngIf="fd.errors?.[ERROR_FROM_BACKEND] as errors">
              <div *ngIf="errors | isNotNullNorUndefinedNorEmptyArray"
                   class="field-errors"
              >
                <mat-error *ngFor="let error of errors"
                           solidifyTooltipOnEllipsis
                >
                  {{error}}
                </mat-error>
              </div>
            </ng-container>
          </ng-container>
        </ng-template>
      </td>
      <td *ngIf="mode === modeEnum.contributors"
          class="role-cell"
      >
        <ng-template [ngIf]="!isCollaboration(f)">
          <ng-template [ngIf]="contributorRoleDisplayMode === 'dropdown'"
                       [ngIfElse]="radioDisplay"
          >
            <mat-form-field *ngIf="formValidationHelper.getFormControl(f, formDefinition.role) as fd"
                            [appearance]="appearanceInputMaterial"
                            [solidifyTooltip]="tooltipTranslateEnum.depositContributorsRole"
                            [class.mat-form-field-invalid]="(formValidationHelper.hasRequiredField(fd) && (fd.value | isNullOrUndefinedOrWhiteString)) || fd.invalid"
            >
              <mat-select [formControl]="fd">
                <mat-option *ngFor="let role of listContributorRoles"
                            [value]="role.value"
                >
                  {{role.labels | backtranslate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-template>
          <ng-template #radioDisplay>
            <mat-radio-group *ngIf="formValidationHelper.getFormControl(f, formDefinition.role) as fd"
                             [formControl]="fd"
                             class="radio-vertical"
                             color="primary"
                             [solidifyTooltip]="tooltipTranslateEnum.depositContributorsRole"
            >
              <mat-radio-button *ngFor="let role of listContributorRoles"
                                [value]="role.value"
              >
                {{role.labels | backtranslate}}
              </mat-radio-button>
            </mat-radio-group>
          </ng-template>
        </ng-template>
      </td>

      <td *ngIf="!readonly"
          cdkDragHandle
          (mousedown)="startDragging()"
          (mouseup)="endDragging()"
          (touchstart)="startDragging()"
          (touchend)="endDragging()"
          class="sort-cell"
      >
        <div class="sortable-icon">
          <solidify-icon [iconName]="iconNameEnum.dragToSort"></solidify-icon>
        </div>
      </td>
      <td *ngIf="!readonly">
        <button (click)="delete(i)"
                (onEnter)="delete(i)"
                [disabled]="f.disabled"
                [matTooltipPosition]="'left'"
                [matTooltip]="labelTranslateEnum.delete | translate"
                class="trash"
                mat-icon-button
                solidifyShortCuts
                type="button"
        >
          <solidify-icon [iconName]="iconNameEnum.delete"></solidify-icon>
        </button>
      </td>
      <td [class.invalid-cell]="f.invalid">
        <div *ngIf="f.invalid"
             [matTooltip]="labelTranslateEnum.pleaseCheckYourEntry | translate"
             class="icon-wrapper"
        >
          <solidify-icon [iconName]="iconNameEnum.error"
                         class="icon"
          ></solidify-icon>
        </div>
      </td>
    </tr>
    <tr *ngIf="displayAdditionalPersonInfo(f)"
        [class.grey]="i % 2 === 0"
        [class.is-unige]="getCnIndividu(f) | isNonEmptyString"
        class="additional-person-info"
        [class.with-line-result]="displaySearchLine(f) || getDepositTableContributorSearchContainer(f)?.isLoading"
    >
      <td><!-- TYPE --></td>
      <td><!-- ORCID --></td>
      <td [attr.colspan]="2">
        <div *ngIf="(getPotentiallyUnige(f) | isTrue)">
          {{
                labelTranslateEnum.contributorAffiliationFound | translate: {institution: getInstitution(f)}
          }}
        </div>
        <div *ngIf="(getStructure(f) | isNonEmptyString)">
          {{getStructure(f)}}
        </div>
      </td>
      <td><!-- ROLE --></td>
      <td><!-- MOVE --></td>
      <td><!-- SPINNER --></td>
      <td [class.invalid-cell]="f.invalid"><!-- INVALID BAR INDICATOR --></td>
    </tr>
    <ng-template [ngIf]="!readonly">
      <tr [class.grey]="i % 2 === 0"
          [class.is-unige]="getCnIndividu(f) | isNonEmptyString"
          [class.is-visible]="displaySearchLine(f) || getDepositTableContributorSearchContainer(f)?.isLoading"
          class="line-result"
      >
        <td><!-- TYPE --></td>
        <td><!-- ORCID --></td>
        <td [attr.colspan]="mode === modeEnum.contributors ? 3 : 2"
            class="contributor-unige-cell"
        >
          <aou-deposit-table-contributor-search-container *ngIf="displaySearchLine(f)"
                                                          #depositTableContributorSearchContainer
                                                          [firstName]="getFirstName(f)"
                                                          [lastName]="getLastName(f)"
                                                          [cnIndividu]="getCnIndividu(f)"
                                                          (init)="registerDepositTableContributorSearchContainer(f, depositTableContributorSearchContainer)"
                                                          (valueChange)="contributorUnigeValueSelected(f, $event)"
          ></aou-deposit-table-contributor-search-container>
        </td>
        <td><!-- MOVE --></td>
        <td>
          <div [solidifySpinnerDiameter]="24"
               [solidifySpinnerStrokeWidth]="2"
               [solidifySpinner]="getDepositTableContributorSearchContainer(f)?.isLoading"
          >
          </div>
        </td>
        <td [class.invalid-cell]="f.invalid"><!-- INVALID BAR INDICATOR --></td>
      </tr>
    </ng-template>
  </ng-container>
  </tbody>
</table>
<p *ngIf="formArray?.controls?.length === 0"
   class="no-item"
>{{getNobodySelectedMessage() | translate}}</p>

<ul class="errors">
  <li *ngIf="checkAtLeastOneDirector && !atLeastTheRole(roleContributorEnum.director)">
    {{labelTranslateEnum.atLeastOneDirectorMustBeDefined | translate}}
  </li>

  <li *ngIf="checkAtLeastOneAuthor && !atLeastTheRole(roleContributorEnum.author)">
    {{labelTranslateEnum.atLeastOneAuthorMustBeDefined | translate}}
  </li>
</ul>

<div class="button-add-wrapper">
  <button (click)="addContributor()"
          (onEnter)="addContributor()"
          *ngIf="!readonly && !formArray.disabled"
          color="primary"
          mat-button
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.addPerson"></solidify-icon>
    {{labelTranslateEnum.addAPerson | translate}}
  </button>


  <button (click)="addCollaboration()"
          (onEnter)="addCollaboration()"
          *ngIf="!readonly && !formArray.disabled && mode === modeEnum.contributors"
          color="primary"
          mat-button
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.addCollaboration"></solidify-icon>
    {{labelTranslateEnum.addACollaboration | translate}}
  </button>

  <button (click)="addMeAsAuthor()"
          (onEnter)="addMeAsAuthor()"
          *ngIf="!readonly && !formArray.disabled && !isPersonConnectedAlreadyAdded()"
          color="primary"
          mat-button
          solidifyShortCuts
          type="button"
  >
    <solidify-icon [iconName]="iconNameEnum.addPerson"></solidify-icon>
    {{labelTranslateEnum.addMe | translate}}
  </button>
</div>
