@import "abstracts/abstracts";


@mixin line-style {
  > td {
    .radio-vertical {
      display: grid;
      grid-template-columns: 1fr;
    }

    &.member-cell {
      padding: 10px;
    }

    &.orcid-cell {
      .orcid {
        cursor: pointer;
        margin: 0 10px;
      }
    }

    &.lastname-cell,
    &.firstname-cell,
    &.role-cell {
      padding: 5px;
      font-size: 17px;

      > * {
        width: 100%;
      }

      ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }

      .is-readonly {
        &::ng-deep {
          .mat-form-field-underline {
            display: none;
          }
        }
      }
    }

    &.corresponding-author-cell {
      text-align: center;
    }

    &.sort-cell {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }

      .sortable-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        color: $medium-light-grey;
      }
    }

    &.invalid-cell {
      background-color: $error;

      .icon-wrapper {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;

        .icon {
          color: $white
        }
      }

    }
  }
}

:host(.disabled) {
  .no-item {
    color: $value-disable;
  }
}

:host {
  padding-top: 10px;

  .button-wrapper {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-gap: 5px;
    padding-bottom: 10px;
  }

  table {
    width: 100%;
    border-spacing: 0;
    padding-bottom: 10px;

    thead {
      background-color: $primary-color;
      color: $white;

      tr > th {
        text-align: left;
        padding: 4px 8px;

        &.type {
          width: 105px;
        }

        &.lastname,
        &.firstname,
        &.function {
          width: 24%;
        }

        &.action {
          width: 40px;
        }

        &.validation-status {
          width: 4px;
        }
      }
    }

    tbody {
      background-color: $medium-light-grey;

      tr {
        background-color: $extra-light-grey;

        td {
          &.lastname-cell,
          &.firstname-cell,
          &.role-cell {
            ::ng-deep {
              .mat-form-field-infix {
                padding: 5px 0 13px 0;
              }
            }
          }
        }

        &.additional-person-info {
          > td {
            padding: 5px 0;
            border-bottom: 1px solid $medium-light-grey;
          }

          &.with-line-result {
            > td {
              border-bottom: none;
            }
          }

          background-color: $pink-light;
        }

        &.line-draggable:not(.cdk-drag-placeholder) {
          transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }

        &.is-unige {
          background-color: $pink-light;
        }

        &.grey {
          background-color: $background-grey;

          &.additional-person-info {
            background-color: $pink-light-grey;
          }

          &.is-unige {
            background-color: $pink-light-grey;
          }
        }

        &.line-result {
          &:not(.is-visible) {
            display: none;
          }

          &.is-visible {
            height: 25px;
          }
        }

        @include line-style;
      }

      &.is-dragging {
        tr:not(.line-draggable) {
          display: none;
        }
      }
    }
  }

  .drag-placeholder {
    height: 2px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .no-item {
    padding-top: 10px;
    text-align: center;
    color: $light-grey;
    font-size: 16px;
  }

  .field-errors {
    display: grid;
  }

  .errors {
    margin-top: 20px;
  }

  .field-errors,
  .errors {
    color: $red;
    text-align: center;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .button-add-wrapper {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-gap: 10px;
  }
}

::ng-deep {
  .cdk-drag-preview {
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px $outline;
    background-color: $white !important;
    display: table;
    @include line-style;
  }
}

@include isInDarkMode {
  :host(.disabled) {
    .no-item {
      color: $dark-mode-text-color;
    }
  }

  :host {
    table {
      tbody {
        background-color: $dark-mode-background;

        tr {
          background-color: $dark-mode-background;

          &.additional-person-info {
            background-color: $pink-light;
            color: $text-color;

            > td {
              border-color: $medium-light-grey;
            }
          }

          &.is-unige {
            background-color: $pink-light;
            color: $text-color;
          }

          &.grey {
            background-color: $dark-mode-menu-active;

            &.additional-person-info {
              background-color: $pink-light-grey;
            }

            &.is-unige {
              background-color: $pink-light-grey;
            }
          }
        }
      }
    }
  }
}
