<solidify-empty-container [solidifyFocusFirstElement]="true"
                          solidifyShortCuts
                          (onEscape)="backToList()"
></solidify-empty-container>
<solidify-button-toolbar-detail [backToListNavigate]="backToListNavigate()"
                                [mode]="'create'"
                                [formPresentational]="formPresentational"
>
</solidify-button-toolbar-detail>

<div class="wrapper"
     [solidifySpinner]="isLoadingWithDependencyObs | async"
>
  <aou-admin-global-banner-form #formPresentational
                                *ngIf="isReadyToBeDisplayedInCreateModeObs | async"
                                [solidifyFocusFirstElement]="true"
                                (submitChange)="create($event)"
                                (checkAvailableChange)="checkAvailable($event)"
                                (dirtyChange)="updateCanDeactivate($event)"
  ></aou-admin-global-banner-form>
</div>
