<solidify-base-action-dialog [titleToTranslate]="data.titleToTranslate">

  <ng-template [ngIf]="data.messageToTranslate | isNonEmptyString">
      <p>{{data.messageToTranslate | translate}}</p>
  </ng-template>

  <form [formGroup]="form"
        class="form"
  >
    <mat-form-field *ngIf="getFormControl(formDefinition.text) as fd"
                    [appearance]="appearanceInputMaterial"
    >
      <mat-label *ngIf="data.inputLabelToTranslate | isNonEmptyString">{{data.inputLabelToTranslate | translate}}</mat-label>
      <input [formControl]="fd"
             [required]="formValidationHelper.hasRequiredField(fd)"
             [solidifyValidation]="errors"
             solidifyAutoFocus
             matInput
      >
      <mat-error #errors
                 solidifyTooltipOnEllipsis
      ></mat-error>
    </mat-form-field>
    <mat-checkbox *ngIf="getFormControl(formDefinition.usedForBibliography) as fd"
                  [formControl]="fd"
                  color="primary"
    >{{data.checkboxLabel | translate }}</mat-checkbox>
  </form>
</solidify-base-action-dialog>
<div [solidifyFocusFirstElement]="true"
     cdkTrapFocus
     mat-dialog-actions
>
  <button *ngIf="data.cancelButtonToTranslate | isNonEmptyString"
          [mat-dialog-close]=""
          mat-button
          [color]="colorCancel"

  >{{data.cancelButtonToTranslate | translate}}</button>
  <button *ngIf="data.confirmButtonToTranslate | isNonEmptyString"
          (click)="confirm()"
          [disabled]="form.invalid"
          [color]="colorConfirm"
          [solidifyMatButtonTheme]=""
          mat-flat-button
  >{{data.confirmButtonToTranslate | translate}}</button>
</div>
