<div class="avatar-wrapper"
     [matMenuTriggerFor]="menu"
>
  <solidify-avatar [photoUser]="photoUser"
                   [userInfo]="user"
                   class="avatar"
  ></solidify-avatar>
  <solidify-icon [iconName]="iconNameEnum.down"
                 class="size-16 icon"
  ></solidify-icon>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item
          [disabled]="!user"
          solidifyShortCuts
          (onEnter)="profileInfo()"
          (click)="profileInfo()"
  >
    <solidify-icon [iconName]="iconNameEnum.profile"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateEnum.profile | translate}}</span>
  </button>
  <ng-container *ngFor="let menu of listMenuAdmin">
    <a (click)="navigate(menu.path())"
       (onEnter)="navigate(menu.path())"
       [solidifyDataTest]="menu.dataTest"
       [routerLink]="menu.path()"
       mat-menu-item
       solidifyShortCuts
    >
      <solidify-icon [iconName]="menu.icon"
                     ngProjectAs="mat-icon"
      ></solidify-icon>
      <span>{{menu.labelToTranslate | translate}}</span>
    </a>
  </ng-container>
  <button *ngIf="isUserGuideDefined | isTrue"
          mat-menu-item
          solidifyShortCuts
          (onEnter)="openUserGuide()"
          (click)="openUserGuide()"
  >
    <solidify-icon [iconName]="iconNameEnum.docUser"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateEnum.userGuide | translate}}</span>
  </button>
  <button *ngIf="(isValidatorGuideDefined | isTrue) && (securityService.canAccessToValidateDepositMenuObs() | async)"
          mat-menu-item
          solidifyShortCuts
          (onEnter)="openValidatorGuide()"
          (click)="openValidatorGuide()"
  >
    <solidify-icon [iconName]="iconNameEnum.docValidator"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateEnum.validatorGuide | translate}}</span>
  </button>
  <button mat-menu-item
          solidifyShortCuts
          (onEnter)="displayToken()"
          (click)="displayToken()"
  >
    <solidify-icon [iconName]="iconNameEnum.token"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateEnum.token | translate}}</span>
  </button>
  <button *ngIf="(!isProduction || isDemoMode) && numberThemes > 1"
          mat-menu-item
          solidifyShortCuts
          [matMenuTriggerFor]="themeSelector.menu"
  >
    <solidify-icon [iconName]="iconNameEnum.theme"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateEnum.themes | translate}}</span>
  </button>
  <!--  <button mat-menu-item-->
  <!--          solidifyShortCuts-->
  <!--          [matMenuTriggerFor]="guidedTour.menu"-->
  <!--  >-->
  <!--    <solidify-icon [iconName]="iconNameEnum.guidedTour"
                   ngProjectAs="mat-icon"
           ></solidify-icon>-->
  <!--    <span>{{labelTranslateEnum.guidedTour | translate}}</span>-->
  <!--  </button>-->
  <button mat-menu-item
          solidifyShortCuts
          (onEnter)="toggleDarkMode()"
          (click)="toggleDarkMode()"
  >
    <solidify-icon [iconName]="darkMode ? iconNameEnum.lightMode : iconNameEnum.darkMode"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{(darkMode ? labelTranslateEnum.lightMode : labelTranslateEnum.darkMode) | translate}}</span>
  </button>
  <button mat-menu-item
          (click)="logout()"
  >
    <solidify-icon [iconName]="iconNameEnum.logout"
                   ngProjectAs="mat-icon"
    ></solidify-icon>
    <span>{{labelTranslateEnum.logout | translate}}</span>
  </button>
</mat-menu>

<solidify-theme-selector-menu #themeSelector="menuTheme"
                              [(theme)]="theme"
></solidify-theme-selector-menu>

<aou-guided-tour-menu #guidedTour="menuGuidedTour"></aou-guided-tour-menu>
