<div class="thumbnail-wrapper">
  <solidify-image-display [image]="imageArchive"
                          class="image-wrapper"
                          [mode]="imageDisplayModeEnum.IN_LINE"
                          [hideFallbackImage]="true"
                          *ngIf="(publishedDeposit.thumbnail | isNotNullNorUndefined)"
  ></solidify-image-display>

  <div class="no-thumbnail"
       *ngIf="(publishedDeposit.thumbnail | isNullOrUndefined)"
  ></div>
</div>

<div class="infos">
  <div class="title"
       solidifyTooltipOnEllipsis
       [innerHTML]="publishedDeposit.title"
  ></div>
  <div class="creator"
       solidifyTooltipOnEllipsis
  >
    <ng-container *ngFor="let contributor of publishedDeposit.contributors; let i = index">
      <span>{{(contributor.lastName | isNotNullNorUndefinedNorWhiteString) ? contributor.lastName : contributor.name}}</span>
      <ng-template [ngIf]="contributor.firstName | isNotNullNorUndefinedNorWhiteString">, <span>{{contributor.firstName}}</span></ng-template>
      <ng-template [ngIf]="i < publishedDeposit.contributors.length - 1">;&nbsp;</ng-template>
    </ng-container>
  </div>
  <div class="date"
       solidifyTooltipOnEllipsis
  >{{publicationDate}}
  </div>
  <div *ngIf="structures | isNotNullNorUndefinedNorWhiteString"
       class="structures"
       solidifyTooltipOnEllipsis
  >{{structures}}
  </div>
</div>
