@import "../../../../../../sass/abstracts/abstracts";

$size-image: 125px;

:host {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-gap: 20px;
  grid-template-columns: max-content 1fr;

  @include respond-to-smaller-than-breakpoint('md') {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .thumbnail-wrapper {
    .no-thumbnail {
      width: 125px;
    }

    @include respond-to-smaller-than-breakpoint('md') {
      order: 1;
    }
  }

  .infos {
    @include respond-to-smaller-than-breakpoint('md') {
      order: 0;
    }

    .title {
      color: $primary-color;
      font-size: 15px;
      border-left: 3px solid $primary-color;
      padding-left: 5px;
      margin-bottom: 4px;
    }

    .creator {
      font-size: 13px;
      line-height: 18px;
    }

    .date {
      color: $grey;
      font-size: 12px;
      opacity: 0.7;
    }

    .structures {
      font-size: 11px;
      line-height: 11px;
      margin-top: 3px;
    }
  }
}

@include isInDarkMode {
  .infos {
    .date {
      color: $dark-mode-text-color;
    }
  }
}
