@import "../../../../../../sass/abstracts/abstracts";

@mixin abstract-container-style {
  .container {
    display: grid;
    grid-gap: 0 20px;
    align-items: center;
  }
}

:host {
  @include abstract-container-style;
}

::ng-deep {
  .cdk-drag-preview {
    @include abstract-container-style;
  }
}
