<div class="icon-wrapper">
  <solidify-icon [iconName]="iconNameEnum.warning"
                 class="size-50"
  ></solidify-icon>
</div>
<solidify-panel-expandable *ngIf="errorMessage.text | isNotNullNorUndefinedNorWhiteString"
                           [isPanelCollapsable]="false"
                           [isOpen]="true"
                           [titleToTranslate]="labelTranslateEnum.publicationPotentialDuplicate | translate"
                           class="container-panel duplicate-errors"
>
  <span class="errorMessage"> {{errorMessage.text}}:
    @if (isInternalLink) {
      <a (click)="navigate()">
        {{labelTranslateEnum.seeAnotherPotentialDuplicate | translate}}
      </a>
    } @else {
      <a [href]="errorMessage.url"
         target="_blank"
      >
        {{labelTranslateEnum.seeAnotherPotentialDuplicate | translate}}
      </a>
    }
  </span>
</solidify-panel-expandable>
