@import "abstracts/abstracts";

:host {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 10px;
  align-items: center;
  border: 3px solid $warning-dark;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 5px;

  .icon-wrapper {
    color: $warning-dark;
    display: grid;
    align-items: center;
  }

  .duplicate-errors {
    border: none !important;
    margin: 0;
    padding: 0;

    &::ng-deep {
      .header {
        color: $warning-dark;
        border-color: $warning-dark;
      }
    }

    .errorMessage {
      font-weight: normal;

      a {
        color: $warning-dark;
        margin-left: 6px;
        font-weight: bold;
        text-decoration: none;
      }
    }

  }
}
